<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.title {
	font-size:3em; 
	line-height:2em; 
	margin-top:20px;
	padding-bottom:20px;
	text-align:center;
}
.userLink {
	color:red;
}
</style>

<div class="container">
<p class="title">Listing Messages</h1>

<table>
  <tr>
    <th>Sender</th>
	<th>Recipient</th>
	<th>Message #</th>
  </tr>

<% @messages.each do |f| %>

  <tr>
	<td><% if !(f.sender_deleted)%>
	<%=link_to User.find(f.sender_id).username, User.find(f.sender_id)%>
	<% else %>
	<a class="userLink" href="/users/<%=f.sender_id%>"><%= User.find(f.sender_id).username%></a>
	<% end %></td>
	
	
	<td>
	<% if !(f.recipient_deleted)%>
	<%=link_to User.find(f.recipient_id).username, User.find(f.recipient_id)%>
	<% else %>
	<a class="userLink" href="/users/<%=f.recipient_id%>"><%= User.find(f.recipient_id).username%></a>
	<% end %>
	</td>
	<td><%=f.id%></td>
  </tr>

<% end %>

</table>
</div>