<p style="font-size:3em; line-height:2em; margin-top:20px;padding-bottom:20px;text-align:center; ">Listing Messages</h1>

<table>
  <tr>
    <th>Sender</th>
	<th>Recipient</th>
	<th>Message #</th>
  </tr>

<% @messages.each do |f| %>

  <tr>
	<td><% if !(f.sender_deleted)%>
	<%=f.sender_id%>
	<% else %>
	<font style="color:red"><%=f.sender_id%></font>
	<% end %></td>
	
	
	<td>
	<% if !(f.recipient_deleted)%>
	<%=f.recipient_id%>
	<% else %>
	<font style="color:red"><%=f.recipient_id%></font>
	<% end %>
	</td>
	
	
	<td><%=f.id%></td>
  </tr>

<% end %>

</table>
