<% if user_signed_in? && current_user.admin?%>

<div class="container">
	<div class="row">
		<div class="twelve columns">
<p align="center"><font style="font-size:3.5em; line-height:1.5em;">Listing messages</font></p><br />

<table>
  <tr>
	<th style="width:15%">Recipient ID</th>
	<th style="width:15%">Sender ID</th>
	<th style="width:10%;">Created At</th>
    <th style="width:40%;">Truncated Body</th>
	<th style="width:5%">SD?</th>
    <th style="width:5%">View?</th>
    <th style="width:7%;">Destroy?</th>
  </tr>

<% @messages.each do |message| %>

  <tr>
	<td><%= message.recipient_id%></td>
	<td><%= message.sender_id%></td>
	<td><p style="color:blue"><%= message.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
	<td><%= truncate(message.body, :length => 100, :omission => "...").html_safe%></td>
	<td><%= message.sender_deleted %></td>
    <td><%= link_to 'View', message %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>
</div>
<% else %>
Oops! This page is only for admins
<% end %>
