<%= javascript_include_tag "/assets/jquery.js"%>
<p id="notice"><%= notice %></p>

<h3>Your Message:</h3>

<b>To: <%=User.find(@message.recipient_id).username%>
	<br \>
From: <%=User.find(@message.sender_id).username%></b>
	<br \>
	<br \>

<b>Subject</b> <br \>
<%= (Message.read_message(@message.id, current_user)).subject%>
<br \>
<br \>

<b>Body</b>
<br \>
<%= (Message.read_message(@message.id, current_user)).body%>
<br \>
<br \>

<% if @message.sender_id != current_user.id %>
<p><%= link_to "Reply", :controller => "messages", :action => "create", :recipient_id => @message.sender_id %></p>
<% end %>

<br \>

<%= link_to 'Back to your messages', messages_path %> | 
<%= link_to 'Send New Message', new_message_path %>
