<%= javascript_include_tag "/assets/jquery.js"%>
<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="twelve columns" style="text-align:center">

		<%= image_tag "/assets/AreYouSure.png"%>
		
		
<div style="text-align:center; margin-top:75px">		
<%= link_to (image_tag "/assets/DontTerminateButton.png"), "/pages/profile"%>
<%= button_to " ", user_registration_path, :method => :delete%>
<%= image_tag "/assets/ConfirmTerminationButton.png", :style => "cursor:pointer; margin-top:-15px"%>
</div>
</div>
</div>
</div>