<%= javascript_include_tag "/assets/jquery.js"%>

<div class="container">
	<% flash.each do |key, value| %>
	  <div class="flash <%=key%>">
	<%= pluralize value.length, "errors"%> prevented your program from being created:<br />
		<% value.each do |f|%>
			* <%=f%><br />
		<% end %>
	  </div>
	<% end %>
</div>

<div class="container" style="color:#575758">
	<div class="row">
					<div id="edit-box" class="six columns" style="margin:auto; margin-top:50px; width:700px;float:center">
						<p style="font-size:3em; font-family:museoSlab500Regular; line-height:1.5em; margin-bottom:20px" align="center">My Account</p>
						<%= form_for @user, :url => registration_path(@user), :html => { :method => :put } do |f| %>
						<div class="six columns" style="width:250px; margin-left:95px">

							<p style="margin:10px; font-size:1.3em; font-family:architectsDaughterRegular">My Info</p>

						  <div><%= f.label "Registered Email Address" %>
						  <%= f.email_field :email, :style => "height:20px; width:198px" %></div><br />
						<div>
		<%= f.label :country %>
						  <div style="position:absolute;top:127px; height:30px; width:198px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
							 <select style="position:absolute; border:1px solid #575758; left:-5px; width:225px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" id="user_country" name="user[country]">
									<% THECOUNTRIES.keys.each do |f| %>
									<option value="<%=f%>"><%= THECOUNTRIES[f]%></option>
									<% end %>
							</select>
						</div>
						 <image style="position:absolute; height:25px; top:170px; left:-2px; display:none" id="checkBefore" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" onclick="$(beforeCheck()); $('#user_profile_show').attr('checked', false)">
							<div style="background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); background-repeat:no-repeat; margin-top:55px; padding-bottom:5px;" >
							<%= f.check_box :profile_show, :onchange => "$(beforeCheck())", :style => "display:block; opacity:0;filter: alpha(opacity=0);margin-left:0px; height:15px; width:15px"%></div><div style="margin-left:33px; margin-top:-26px; font-size:.85em"> Hide my age/country on my profile</div><br />

							<image style="position:absolute; height:25px; top:203px; left:-2px;display:none" id="checkMessages" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" onclick="$(messagesCheck());$('#user_messages_show').attr('checked', false)">
							<div style="background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); background-repeat:no-repeat;margin-top:0px; padding-bottom:5px;" >
							<%= f.check_box :messages_show, :onchange => "$(messagesCheck())", :style => "display:block; opacity:0;filter: alpha(opacity=0);margin-left:0px; height:15px; width:15px"%></div><div style="margin-left:33px; margin-top:-34px; font-size:.85em"> Do not allow others to send me<br />messages</div><br />

						</div>

						</div>
						<div class="five columns" style="padding-left:30px; width:300px">

							<p style="margin:10px; font-family:architectsDaughterRegular; font-size:1.3em">My Password</p>

						  <div><%= f.label :password %>
						  <%= f.password_field :password, :autocomplete => "off", :style =>"height:20px; width:198px"%></div><br />

						  <div><%= f.label :password_confirmation %>
						  <%= f.password_field :password_confirmation, :style =>"height:20px; width:198px"%></div><br />

						  <div><%= f.label "Current Password (needed for change)"%>
						  <%= f.password_field :current_password, :style =>"height:20px; width:198px" %></div>

												<div style="height:205px; width:1px; top:15px; background-color: #575758; position:absolute; left:-20px"></div>

					</div>
				</div>
			</div>
				<div class="row">
					<div class="six columns" style="margin:auto; margin-top:50px; width:700px;float:center">
					<div class="six columns" style="width:250px; margin-left:95px; font-family:architectsDaughterRegular; font-size:1.3em; text-align:left">My Profile Pic:</div>
					<div id="upload-box" class="five columns" style="padding-left:30px; width:300px">
						  <div style=" display:block;"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/UploadPhotoButton.png" style="height:40px;margin-top:0px; margin-left:20px; cursor:pointer" onclick = "$(clickReviewPhoto())" onmousedown="this.className = 'shadowed'" onmouseup="this.className='nothing'"><input id="filename" type="textbox" style="height:25px; width:100px; position:relative; top:-35px; left:120px; background:none; border:none" disabled="true" value="no file selected">
							  <%= f.hidden_field :crops, :value => true%>
							  <%= f.file_field :photo, :id => "user_photo", :style => "display:none", :onchange => "$(nameFile())"%></div>
							<p style="text-align:center; color:#6aaeba; font-size:.8em; margin-top:-20px">**Max photo width: 700 pixels</p>

					</div>
					</div>
					<div class="twelve columns" style="text-align:center; margin-top:50px">
						<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>
					</div>
			<% end %>
				</div>
			</div>
			

			<script type="text/javascript">
			function beforeCheck() {
				$('#checkBefore').toggle();
			}

			function messagesCheck() {
				$('#checkMessages').toggle();
			}
			</script>