<%= javascript_include_tag "/assets/jquery.js"%>

<style>
#loginBoxContainer {
	float:center; 
	text-align:left; 
	margin:auto;
	margin-top:90px; 
	border-left:1px solid #e67b5a; 
	border-right:1px solid #e67b5a;
}
.title {
	font-family:ArchitectsDaughterRegular; 
	font-size:2.1em; 
	text-align:center; 
	color:#62acbd;
}
.loginEmailContainer {
	margin-top:35px; 
	margin-left:15%; 
	margin-bottom:5px;
}
.label {
	font-size:1.3em; 
	margin-bottom:10px;
}
.field {
	height:20px; 
	width:200px;
}
.loginPasswordContainer {
	margin-top:25px; 
	margin-bottom:5px; 
	margin-left:15%;
}
.checkMark {
	position:absolute; 
	top:192px; 
	height:25px; 
	left:67px;
	display:none;
}
.checkBox {
	background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); 
	background-repeat:no-repeat; 
	margin-left:56px; 
	margin-top:20px; 
	padding-bottom:5px; 
	margin-left:15%;
}
.checkBoxHidden {
	opacity:0;
	height:20px; 
	width:20px;
}
.rememberMeLabel {
	margin-left:22%; 
	margin-top:-26px; 
	font-size:1.1em;
}
.forgotPasswordLinkContainer {
	margin-left:15%;
}
a.forgotPasswordLink:hover {
	color:#e67b5a;
}
.submitContainer {
	margin-top:30px; 
	text-align:center;
}
</style>

<div class="container" align="center">
	<% flash.each do |key, value| %>
	  <%= content_tag(:div, value, :class => "flash #{key}") %>
	<% end %>
	<div class="row">
	<div class="six columns" id="loginBoxContainer">
	<p class="title">Login</p>
	<%= form_for(resource, :as => resource_name, :id => "sign_in", :url => session_path(resource_name)) do |f| %>
	<p  class="loginEmailContainer"><label class="label">Email or Username</label>
			  <%= f.text_field :login, :class => "field" %></p>

			  <p  class="loginPasswordContainer"><label class="label">Password</label>
			  <%= f.password_field :password, :class => "field" %></p>

			<image class="checkMark" id="checkBefore5" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png">
			<div class="checkBox" >
			<%= f.check_box :remember_me, :class =>"checkBoxHidden", :onclick => "$(beforeCheck5())"%></div><div class="rememberMeLabel"> Remember me</div><br />
			
	<p class="forgotPasswordLinkContainer"><%= link_to "Forgot your password?", new_password_path(resource), :id => "forgotPasswordLink" %></p>
	  <div class="submitContainer"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/login.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div>
	<br />
	<% end %>
</div>
</div>
</div>

<script type="text/javascript">

//Check actual (hidden) box when image checkbox is clicked
function beforeCheck5() {
	$("#checkBefore5").toggle();
}

</script>
