<!-- this partial dictates the appearance of each blog_post on /blog_posts (the #index method) -->

<%= javascript_include_tag "/assets/jquery.js"%>
<style>

.blogPost { /* container for entire blog post */
	color:#575758;
	float:right;
	width:100%;
}
.blogPostImage { /* image attached to blog post */
	float:right; 
	margin-top:20px; 
	padding-left:10px; 
	height:100px
}
.blogPostTitle { /* blog post's title */
font-size:2.2em; 
line-height:1.2em;
}
a.blogPostUserLink { /* link to admin's profile who created the blog post */
color:#e67b5a;
}
a.blogPostUserLink:hover { 
	color:white;
}
.blogPostDate { /* date blog post was published */
	color:#68c2d8;
}
.blogPostBody { /* actual text of blog post */
	font-size:1.1em; 
	margin-top:10px;
}
.lineBeforeComments { /* line separating each blog post from the comments */
	width:100%;
	height:1px;
	background-color:#575758;
	margin-top:30px;
}
</style>

<div class="blogPost">
	<!-- blog post image (if it exists) -->
	<% if blog_post.image.url.present?%>
	<%= image_tag blog_post.square_image.url, :class => "blogPostImage" %>
	<% end %><!-- end blog image -->

	<!-- title of blog post -->
	<p class="blogPostTitle">
		<%= link_to(h(blog_post.title), blog_post) %>
		<% if !blog_post.published? %>
		[Draft]
		<% end %>	
	</p><!-- end blog post title -->

	<!-- blog post date posted & admin who posted it -->
	<p class="blogPostPostedAt">
		Posted
		By <span class="blogPoster">
			<a class="blogPostUserLink" href="/users/<%=User.find(blog_post.user_id).id%>">
			<%= User.find(blog_post.user_id).username %>
			</a>
			</span>
		on 
		<span class="blogPostDate"><%= blog_post.updated_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></span>
	</p><!-- end posted by & date posted -->

	<!-- body (text) of blog post -->
	<div class="blogPostBody">
		<%= blog_post.body.html_safe %> 
	</div><!-- end blog post body -->
	
	<br />
	<br />
	
	<!-- blog post footer (comment count & admin links) -->
	<p class="blogFooter">
		<ul class="blogList">
			
			<!-- comment count -->
			<li class="blogListFirst">
			<%=pluralize(blog_post.blog_comments.count, 'comment') %>
			</li><!-- end comment count -->

			<% if user_signed_in? && current_user.admin? %>
			<li><%= link_to('Edit Post', edit_blog_post_path(blog_post))%></li>
			
			<!-- the following line is for sending admin to correct place after delete -->
			<% @location = request.path.split("/")[2]%>
			
			<li><%= link_to 'Delete', :controller => "blog_posts", :action => "destroy", :id => blog_post.id, :location => @location %></li>
			<% end %>
		</ul>
	</p><!-- end blog post footer -->
	
	<!-- blog post comments -->
		<!-- note: blog_post comments are defined in blog_posts/comments -->
	<% if !(defined?(show_comments))%>
	<div class="lineBeforeComments"></div><br />
	<% end %>

	<% if defined?(show_comments) %>
	<%= render :partial => 'blog_posts/comments' %>
	<%= render :partial => 'blog_comments/new_blog_comment', :locals => {:blog_comment => @blog_comment} %>
	<% end %><!-- end blog post comments-->
	
	<!-- the following line ensures the next blog post will be on a new, separate line -->
	<br style="clear: both;" />
</div><!-- end blogPost -->

