<%= javascript_include_tag "/assets/jquery.js"%>

<style>
	#blogTitleImage {
		text-align:center;
		margin-top:40px;
	}
	.spacer {
		height:20px;
	}
	.container {
		color:#575758;
	}
	.title {
		font-size:1.5em;
	}
	.message {
		font-size:1.2em;
	}
</style>
<div class="container">
	<div class="row">
<p id = "blogTitleImage"><%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/volunteervoiceBlog.png"%></p>

<%= render :partial => 'admin_links' %>
<div class="spacer"> </div>
</div>
</div>
<div class="container">
	<div class="row">
		<div class="twelve columns">

<% self.respond_to?(:title) && title(@index_title) -%>
<% @show_title = false -%>
<%= stylesheet_link_tag 'blog_kit' %>
<%= stylesheet_link_tag 'syntax/' + (BlogKit.instance.settings['theme'] || 'mac_classic') %>
<%= auto_discovery_link_tag :atom, blog_posts_path(:format => :atom) %>

<% if @blog_posts.size == 0 && !params[:page] %>
	<div class="blogPost">
		<p class="title">No Blog Posts</p>
		<p class="message">There are currently no blog posts, please check back shortly.</p>
	</div>
<% else %>
	<% if @tag %>
		<h1>Tag: <%= @tag %></h1>
	<% end %>
	<%= render :collection => @blog_posts, :partial => 'blog_post' %>
<% end %>

<div class="blogPages">
	<%= will_paginate @blog_posts %>
</div>
</div>
</div>
</div>
