
<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

<%= javascript_include_tag "/assets/jquery.js"%>

<%= javascript_include_tag "/assets/smartpaginatorRight.js"%>
<style>
.blogPostContainer {
	padding: 30px;
	padding-bottom:20px;
}
a.blogPostLink {
	font-size:2.2em; 
	color:#62acbd;
}
a.blogPostLink:hover {
	color:#68c2d8;
}
span.postType {
	font-size:1.5em;
	color:#575758;
}
span.blogPostTags {
	font-size:1.3em;
}
.postBody {
	line-height:1.1em;
	margin-top:15px;
}
</style>

<style>
.top {
	margin-top:25px;
}
#blogSearchBox {
	width:90%; 
	float:center;
	margin:auto; 
	background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/resourcesTexture.png);
}
#blogSearchBoxBlurb {
	margin-left:15px; 
	padding-top:15px; 
	padding-bottom:15px; 
	font-family:ArchitectsDaughterRegular; 
	font-size:1.2em; 
	color:white; 
	line-height:1.8em; 
	width:50%;
}
#blogSearchBarContainer {
	margin-top: 51px; 
	margin-right:-8px; 
	width:44%; 
	padding-left:0;
}
.blogSearchButtonContainer {
	float:right; 
	margin-right:20px; 
	margin-left:10px;
}
.blogSearchButtonContainer input {
	height:28px;
}
.blogSearchBar {
	width:80%;
	float:right;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
 	border: 0;
	height:30px;
}
#blogSearchResultsCounterContainer {
	margin-left:5%; 
	width:95%;
	margin-top:15px; 
	font-family:architectsDaughterRegular; 
	color:#e67b5a; 
	font-size:1.2em;
}
#showWhichTypeCheckboxContainer {
	z-index: 999;
}
#showWhichTypeCheckboxContainerInner {
	margin-top:10px; 
	margin-bottom:10px; 
	margin-left:5%;
	width:90%; 
	color:#575758;
}
#blogSearchResultsContainer {
	width:90%; 
	float:center; 
	margin:auto;
}
#article, #ours, #both {
	margin-top:0;
	width:100%;
	margin-bottom:50px;
}
#divarticles, #divours, #divboths {
	border:1px solid #e67b5a; 
	width:100%;
	margin: 10;
    font: verdana;
    font-size: 14px;
    background-color: white;
}
#article_pager, #our_pager, #both_pager {
	margin-top:-40px;
	width:100px;
	float:right;
	margin-right:5%;
}
.noSearchResultsContainer {
	border:1px solid #e67b5a; 
	height:200px; 
	background-color:white; 
	width:100%; 
	float:center;
	margin:auto;
}
.noSearchResultsInnerContainer {
	margin:25px;
}
.weveGotNothinContainer {
	border-top:1px solid #68c2d8; 
	height:150px; 
	border-bottom:1px solid #68c2d8;
}
p.weveGotNothinBlurb {
	text-align:center; 
	margin-top:50px; 
	font-family:architectsDaughterRegular;
	font-size:3em; 
	color: #68c2d8;
}

.pager {
	margin-left:65%;
}
.pager span {
	float:right;
}
.contents
{
    width: 91%; 
    margin: 0;
}
</style>



<div class="container top">
	<div class="row" id="blogSearchBox">
		<div class="six columns" id="blogSearchBoxBlurb">
					Here there will be a paragraph. It will probably have something to do with the blog. Here there will be a paragraph. Yay for the blog. More text about the blog. I wonder what this will say

		</div>
		<div class="six columns" id="blogSearchBarContainer">
			<form accept-charset="UTF-8" action="/blog_posts/blog_search" method="get">
				<input name="utf8" type="hidden" value="&#x2713;" />
				<div class="blogSearchButtonContainer">
					<input id="searchbutton" value="search" type="image" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/magGlassSmaller.png" alt="Search Button" onmousedown="this.className = 'shadowed'" onmouseup="this.className='nothing'">
				</div>
				<input id="searchfield" name="search" class="blogSearchBar" type="text" />
			</form>
		</div>
	</div>
	<br />
	<div class="row">
		<div class=" twelve columns" id="blogSearchResultsCounterContainer">
			You've got <%=pluralize @results.count, "search result"%> :
		</div>
	</div>
	<br />

	<div class="row" id="showWhichTypeCheckboxContainer">
		<div class="twelve columns" id="showWhichTypeCheckboxContainerInner">
			<input checked="checked" id="both-check" name="both-check" type="checkbox" value="check" onclick='$(hideAll()); $("#both").fadeIn(300); $(this).attr("checked", true );'  /> Show All (<%= @results.count %>)&nbsp;&nbsp;
			<input id="article-check" name="article-check" type="checkbox" value="check" onclick='$(hideAll()); $("#article").fadeIn(300);  $(this).attr("checked", true );'  /> Only Articles (<%= @interesting.count %>) &nbsp;&nbsp;
			<input id="vv-check" name="vv-check" type="checkbox" value="check" onclick='$(hideAll()); $("#ours").fadeToggle(300);  $(this).attr("checked", true );'  /> Only VolunteerVoice Blog (<%= @our_blog.count %>)
		</div>
	</div>



	<div class="row" id="blogSearchResultsContainer">
		<div id = "article" class="contents">
			<% if !(@interesting.empty?)%>
				<div id="article_pager"></div>
				<div id="divarticles">
					<% @interesting.each do |f|%>
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
				</div>
			<%else%>
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div id = "ours" class="contents">
			<% if !(@our_blog.empty?)%>
				<div id="our_pager"></div>
				<div id="divours">
					<% @our_blog.each do |f|%>
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
					<br />
				</div>
			<%else%>
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>								
						</div>
					</div>
				</div>
			<% end %>
		</div>


		<div id = "both" class="contents">
			<% if !(@results.empty?)%>
				<div id="both_pager"></div>
				<div id="divboths">
					<% @results.each do |f|%>
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
					<br />
				</div>
			<%else%>
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>								
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>



<script type="text/javascript">

$(document).ready(function() {
	//hide "only our blog posts" and "only article posts" divs
		//show "both our blog and article posts" div
	$('#ours').hide();
	$('#article').hide();
	$('#both').show();
	
	
	//Initialize the "only article posts" smartpaginator pagination on 'divarticles'
		//article_pager will be contain "1-1 of 4", ">", etc.
	$('#article_pager').smartpaginator({ totalrecords: <%=@interesting.count%>, recordsperpage: 15, datacontainer: 'divarticles', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

	//Initialize the "only our blog posts" smartpaginator pagination on 'divours'
		//our_pager will be contain "1-1 of 4", ">", etc.
    $('#our_pager').smartpaginator({ totalrecords: <%=@our_blog.count%>, recordsperpage: 15, datacontainer: 'divours', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

	//Initialize the "both types of posts" smartpaginator pagination on 'divboths'
		//both_pager will be contain "1-1 of 4", ">", etc.
    $('#both_pager').smartpaginator({ totalrecords: <%=@results.count%>, recordsperpage: 15, datacontainer: 'divboths', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
	
});


//hides all search results
	// called before showing search results of a new type of post to ensure that no two "type of post" divs are showing at the same time
function hideAll(){
	$("#both").hide();
	$("#ours").hide();
	$("#article").hide();
	$("#both-check").attr("checked", false);
	$("#article-check").attr("checked", false );
	$("#vv-check").attr("checked", false);
}
</script>
