<!-- This is the blog_post search results page. It houses a search bar, 
		and results from both vvi's posts and article posts -->
<%= stylesheet_link_tag "/assets/smartpaginator.css"%>
<%= javascript_include_tag "/assets/jquery.js"%>
<%= javascript_include_tag "/assets/smartpaginatorRight.js"%>

<style>
.top { /* gives space at the top of an object */
	margin-top:25px;
}
/********************/
/* Blog Search Bar */
/*******************/
#blogSearchContainer { /* contains the entire blue search bar box */
	width:90%; 
	float:center; 
	background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/resourcestextureblue.png);
	margin:auto;
}
#blogSearchBlurbContainer { /* contains the right hand side blurb describing blog search */
	margin-left:15px; 
	padding-top:15px; 
	padding-bottom:15px; 
	font-family:ArchitectsDaughterRegular; 
	font-size:1.2em; 
	color:white; 
	line-height:1.8em; 
	width:50%;
}
#blogSearchFieldContainer { /* contains the blog search bar */
	margin-top: 51px; 
	margin-right:-8px; 
	width:44%; 
	padding-left:0;
}
.blogSearchField { /* actual blog search bar */
	width:80%;
	float:right;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 0;
	height:30px;
}
.blogSearchMagGlassContainer { /* contains the magnifying-glass submit button */
	float:right; 
	margin-right:20px; 
	margin-left:10px;
}
#blogSearchMagGlassButton { /* actual magnifying-glass submit button */
	height:28px;
}



/***********************/
/* Blog Search Results */
/***********************/
#blogSearchResultsCounterContainer { /* contains the search resutls count */
	margin-left:5%; 
	width:95%;
	margin-top:15px; 
	font-family:architectsDaughterRegular; 
	color:#e67b5a; 
	font-size:1.2em;
}
#showWhichTypeCheckboxContainer { /* contains the checkboxes that indicate which type of blog post is showing */
	z-index: 999;
}
#showWhichTypeCheckboxContainerInner { /* an inner container for the checkboxes */
	margin-top:10px; 
	margin-bottom:10px; 
	margin-left:5%;
	width:90%; 
	color:#575758;
}
#blogSearchResultsContainer { /* contains all the search results from the user's search */
	width:90%; 
	float:center; 
	margin:auto;
}
#article, #ours, #both { /* each contains a all their respective blog posts and their pager */
	margin-top:0;
	width:100%;
	margin-bottom:50px;
}
#divarticles, #divours, #divboths { /* contains all their respective blog posts */
	border:1px solid #e67b5a; 
	width:100%;
	margin: 10;
    font: verdana;
    font-size: 14px;
    background-color: white;
}
#article_pager, #our_pager, #both_pager { /* pager for respective type of blog post search result */
	margin-top:-40px;
	width:100px;
	float:right;
	margin-right:5%;
}




/*********************/
/* No Search Results */
/********************/
.noSearchResultsContainer { /* container for "no search results" message and box */
	border:1px solid #e67b5a; 
	height:200px; 
	background-color:white; 
	width:100%; 
	float:center;
	margin:auto;
}
.noSearchResultsInnerContainer {
	margin:25px;
}
.weveGotNothinContainer { /* blue lines surrounding "we've got nothin" message */
	border-top:1px solid #68c2d8; 
	height:150px; 
	border-bottom:1px solid #68c2d8;
}
p.weveGotNothinBlurb { /* actual "we've got nothin" message inside box */
	text-align:center; 
	margin-top:50px; 
	font-family:architectsDaughterRegular;
	font-size:3em; 
	color: #68c2d8;
}


/********************/
/* Smart Paginator */
/*******************/
/* smartpaginator's pager class */
.pager { 
	margin-left:65%;
}
.pager span { 
	float:right;
}

/* class for container of all three types of search results */
.contents
{
    width: 91%; 
    margin: 0;
}
</style>



<div class="container top">
	<!-- Begin BLOG SEARCH -->
	<div class="row" id="blogSearchContainer">

		<!-- blog search blurb -->
		<div class="six columns" id="blogSearchBlurbContainer">
			A little research can go a long way in helping you make the most of your volunteer experience.  Use this section to find websites, articles, and blog posts on cool, useful stuff.

		</div><!-- end blog search blurb -->

		<!-- blog search form (search bar) -->
		<div class="six columns" id="blogSearchFieldContainer">
			<form accept-charset="UTF-8" action="/blog_posts/blog_search" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
				<!-- blog search button (mag glass) -->
				<div class="blogSearchMagGlassContainer">
					<input id="searchbutton" value="search" type="image" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/magGlassSmaller.png" id="blogSearchMagGlassButton" alt="Search Button" onmousedown="this.className = 'shadowed'" onmouseup="this.className='nothing'">
				</div><!-- end blog search button (mag glass) -->

				<!-- blog search bar -->
				<input id="searchfield" name="search" type="text" class="blogSearchField" />
				<!-- end blog search bar -->

			</form><!-- end blog search form -->
		</div>
	</div><!-- END BLOG SEARCH -->
	<br />
	
	<!-- blog search results counter -->
	<div class="row">
		<div class=" twelve columns" id="blogSearchResultsCounterContainer">
			You've got <%=pluralize @results.count, "search result"%> :
		</div>
	</div><!-- end blog search results counter -->
	<br />


	<!-- checkboxes that indicate which type of blog search result is showing -->
	<div class="row" id="showWhichTypeCheckboxContainer">
		<div class="twelve columns" id="showWhichTypeCheckboxContainerInner">
			
			<!-- "show all" -->
			<input checked="checked" id="both-check" name="both-check" type="checkbox" value="check" onclick='$(hideAll()); $("#both").fadeIn(300); $(this).attr("checked", true );'  /> Show All (<%= @results.count %>)&nbsp;&nbsp;<!-- end "show all" -->
			
			<!-- "show articles" -->
			<input id="article-check" name="article-check" type="checkbox" value="check" onclick='$(hideAll()); $("#article").fadeIn(300);  $(this).attr("checked", true );'  /> Only Articles (<%= @interesting.count %>) &nbsp;&nbsp;<!-- end "show articles" -->
			
			<!-- "show VVI posts" -->
			<input id="vv-check" name="vv-check" type="checkbox" value="check" onclick='$(hideAll()); $("#ours").fadeToggle(300);  $(this).attr("checked", true );'  /> Only VolunteerVoice Blog (<%= @our_blog.count %>)
			<!-- end "show VVI posts" -->
		</div>
	</div><!-- end showWhichTypeCheckboxContainer -->



	<!-- BEGIN BLOG SEARCH RESULTS -->
	<div class="row" id="blogSearchResultsContainer">
		<!-- article search results -->
		<div id = "article" class="contents">
			<% if !(@interesting.empty?)%>
				<!-- pager for article results -->
				<div id="article_pager"></div><!-- end pager -->
				<div id="divarticles">
					<% @interesting.each do |f|%>
						<!-- render a result -->
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
				</div>
			<%else%><!-- if there are no article posts that match the search -->
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>
						</div>
					</div>
				</div><!-- end noSearchResultsContainer -->
			<% end %>
		</div><!-- end article search results -->


		<!-- vvi posts search results -->
		<div id = "ours" class="contents">
			<% if !(@our_blog.empty?)%>
				<!-- pager for vvi post results -->
				<div id="our_pager"></div><!-- end pager -->
				<div id="divours">
					<% @our_blog.each do |f|%>
						<!-- render a result -->
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
					<br />
				</div>
			<%else%><!-- if there are no vvi posts that match the search -->
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>								
						</div>
					</div>
				</div><!-- end noSearchResultsContainer -->
			<% end %>
		</div><!-- end vvi post search results -->


		<!-- both posts search results -->
		<div id = "both" class="contents">
			<% if !(@results.empty?)%>
				<!-- pager for vvi post results -->
				<div id="both_pager"></div><!-- end pager -->
				<div id="divboths">
					<% @results.each do |f|%>
						<!-- render a result -->
						<%= render :partial => "blog_post_result", :locals => { :f => f }%>
					<% end %>
					<br />
				</div>
			<%else%><!-- if there are no posts of either type that match the search -->
				<div class="noSearchResultsContainer">
					<div class="noSearchResultsInnerContainer">
						<div class="weveGotNothinContainer">
							<p class="weveGotNothinBlurb">We've got nothin'</p>								
						</div>
					</div>
				</div><!-- end noSearchResultsContainer -->
			<% end %>
		</div><!-- end both post search results -->

	</div><!-- END BLOG SEARCH RESULTS -->
</div><!-- end container -->



<script type="text/javascript">

$(document).ready(function() {
	//hide "only our blog posts" and "only article posts" divs
		//show "both our blog and article posts" div
	$('#ours').hide();
	$('#article').hide();
	$('#both').show();
	
	
	//Initialize the "only article posts" smartpaginator pagination on 'divarticles'
		//article_pager will be contain "1-1 of 4", ">", etc.
	$('#article_pager').smartpaginator({ totalrecords: <%=@interesting.count%>, recordsperpage: 15, datacontainer: 'divarticles', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

	//Initialize the "only our blog posts" smartpaginator pagination on 'divours'
		//our_pager will be contain "1-1 of 4", ">", etc.
    $('#our_pager').smartpaginator({ totalrecords: <%=@our_blog.count%>, recordsperpage: 15, datacontainer: 'divours', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

	//Initialize the "both types of posts" smartpaginator pagination on 'divboths'
		//both_pager will be contain "1-1 of 4", ">", etc.
    $('#both_pager').smartpaginator({ totalrecords: <%=@results.count%>, recordsperpage: 15, datacontainer: 'divboths', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
	
});


//hides all search results
	// called before showing search results of a new type of post to ensure that no two "type of post" divs are showing at the same time
function hideAll(){
	$("#both").hide();
	$("#ours").hide();
	$("#article").hide();
	$("#both-check").attr("checked", false);
	$("#article-check").attr("checked", false );
	$("#vv-check").attr("checked", false);
}
</script>
