<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" type="text/css" />

<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn-history/r3882/trunk/themes/base/jquery.ui.autocomplete.css" type="text/css" />

<script type="text/javascript" src="/assets/jquery.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">
$(function() {
	var availableTags = [
		<% Program.where(:organization_id => @organization.id).each do |f| %>
		"<%=f.name%>",
		<% end %>
		];
	$( "#tags" ).autocomplete({
		source: availableTags
	});
});
	</script>

<div class="container" style="margin-left:5%; margin-top:30px; margin-right:5%">

        <div class="row">
			<div class="eleven columns">
			<p style="border-top:1px solid #e67b5a; border-bottom:1px solid #e67b5a; height:30px"></p>
			</div>
		</div>
		<div class="row" style="margin-top:40px">
			<div class="three columns" style="float:left; height:115px; width:115px; overflow:hidden">
				<% if !(@organization.image.url.nil?)%>
			<%=image_tag @organization.square_image.url, :style => "height:100px; width:100px"%>
				<% else %>
				
				<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/noImage.png"%>
				<% end %>
				
			</div>
	<div class= "eight columns" style="margin-left:15px; margin-top:-32px">
<p style="font-size:2em; line-height:1.7em"><%= @organization.name %><font style="font-size:0.5em"> <%= link_to "-- edit profile", @organization%></font></p>
</div>
	<div class="four columns" style="margin-top:10px;float:left; margin-left:15px; padding:5px; padding-right:10px; padding-left:10px; border:1px solid #e67b5a;">
		<p style="font-size:1.4em; line-height:1.6em; padding-bottom:10px">
Country: <%= @theCountries[@organization_account.country] %><br />
Primary: <%= @organization_account.first_name%>&nbsp;<%= @organization_account.last_name%>
<br />
</p>
</div>
<div class="four columns" style="float:right">
<p style="margin-top:-40px;"><%= render :partial => "bigStar", :locals => {:star => @organization.roundup(@overall)}%></p>
<br />

<p style="font-family:ArchitectsDaughterRegular; font-size:1.1em; color:#e67b5a; line-height:1.3em; margin-left:5px">Based on <%= pluralize @reviews.count, "reviews"%></p>
</p>
</div>
</div>
</div>
</div>

<div class="container" style="margin-left:5%; margin-top:20px; margin-right:5%">
	<div class="row">
		<div class="ten columns">
			<p style="font-family:architectsDaughterRegular; font-size:1.2em; color:#e67b5a;"> You have <%= pluralize @organization.programs.count, "Active Program"%></p>
		</div>
		<div class="ten columns" style="margin-top:20px">
			<div class="four columns">
				<%= button_to "New Program", "/programs/new"%>
			</div>
			<div class="five columns">
				<input type="text" id="tags" value="Type to search..." style="width:300px;height:20px; font-size:1.1em; font-style:italic;" onfocus="if (this.value == 'Type to search...') {this.value = ''}; this.style.fontStyle = 'normal'">
			</div>
			<div class="one columns" style="float:left">
				<%= button_to "View/Edit", "/"%>
			</div>
			<div class="one columns" style="float:left">
				<%= button_to "Delete", "/"%>
			</div>
		</div>
		<div class="ten columns" style="margin-top:30px; float:left">
			<table style="width:100%; border-top:1px solid #575758; border-left:1px solid #575758; border-right:1px solid #575758">
				<% @organization.programs.each do |f| %>
					<tr style="border-bottom:1px solid #575758">
						<td>
							<font style="font-weight:600">Program Name: </font>
								<%= f.name%><br />
							<font style="font-weight:600">Country: </font> 
								<%= @theCountries[f.location]%><br />
							<font style="font-weight:600">Description: </font>
								<div style="margin-left:15px;"><%= f.truncated_description100.html_safe%></div>
						</td>
						<td>
							<p style="margin-top:5px;"><a style="color:#68c2d8" href="/programs/<%=f.id%>">View/Edit</a></p>
							<p style="margin-top:15px;"><a style="color:#e67b5a" href="/">Delete</a></p>
						</td>
					</tr>
				<% end %>
			</table>
			
		</div>
	</div>
</div>
































