
<%@photos = [] %>
  <%@photos << f.photo unless f.photo.blank?%>
  <%@photos << f.photo2 unless f.photo2.blank?%>
  <%@photos << f.photo3 unless f.photo3.blank?%>
 <% @photos << f.photo4 unless f.photo4.blank?%>
 <% @photos << f.photo5 unless f.photo5.blank?%>
 <% @photos << f.photo6 unless f.photo6.blank?%>
 <% @photos << f.photo7 unless f.photo7.blank?%>
 <% @photos << f.photo8 unless f.photo8.blank?%>
 <% @photos << f.photo9 unless f.photo9.blank?%>
 <% @photos << f.photo10 unless f.photo10.blank?%>
	
	

	<p align="right" style="color:#e67b5a; font-size:1.1em; line-height:1.5em; margin-right:40px">Written <%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p>
		<table cellspacing="0" style="border:1px solid #e67b5a; float:center; background-color:#E9ECE9; margin-left:40px;margin-right:40px" cellpadding="0">
			<% if f.flag_show == false%>
			<tr><td>This review has been flagged for removal</td></tr>
			<% else %>
			<tr style="background-color:#E9ECE9" height="30px">
				<td style="width:40%"><p  style="margin-top:5px; font-size:1.1em;color:#575758" >	Program: <font style="font-family:architectsDaughterRegular"> <%=Program.find(f.program_id).name%></font></p></td>
				<td style="width:30%"><p  style="margin-top:5px; font-size:1.1em;" >Trip Was: <font style="font-family:architectsDaughterRegular"> <%=f.time_frame%></font></p></td>
				<td style="width:28%"><p align="right" style="width:150px"><%=render :partial => 'star', :locals => {:star => f.overall}%></p></td>
			</tr>
			<tr style="background-color:#E9ECE9">
				<td colspan="3"><p style="color:#575758"><%= f.truncated200.html_safe%> <a href="#review-box<%=f.id%>" class="review-window" style="font-style:italic">See full review</a></p></td>
			</tr>
			<tr style="margin:0;padding:0; background-color:#E9ECE9;">
				<td style="width:54%">
				<% @photos.each do |photo| %>
			  		  <a class="single" href="<%=photo.url%>" rel="lightbox[plants]"><img src="<%=photo.url%>" style="height:30px"/></a>
			    <% end %> 
			  	</td>
				<td style="width:1%"></td>
				<td style="width:45%;margin:0;padding:0"><p style="margin-top:-10px; text-align:left; "><a style="color:#62acbd; font-family:architectsDaughterRegular" href="<%=User.find(f.user_id)%>"> --<%=User.find(f.user_id).username%></a></p><p style="margin-top:-15px; float:right"><a href="#flag-box" class="flag-window" id="flag-link<%=f.id%>" onclick="$('#poster_id').val(<%=f.user_id%>); $('#review_id').val(<%=f.id%>)"><%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/flag.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></a></p></td>
			</tr>
			<% end %>
		</table>

		
		<table id="review-box<%=f.id%>" class="review-popup">
			<tr style="background-color:#D9DEDA"><td colspan="5"><font style="font-size:1.1em">Program: </font><font style="font-family:architectsDaughterRegular; font-size:1.1em"><%=(Program.find(f.program_id)).name%></font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size:1.1em">Length of Trip: </font><font style="font-family:architectsDaughterRegular; font-size:1.1em"><%=f.time_frame%></font><p style="margin-top:-19px; text-align:right">Written: <%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td></tr>
			<tr style="background-color:#D9DEDA"><td colspan="5"><%=f.body.html_safe%></td></tr>
			<tr style="background-color:#D9DEDA"><td></td>
				<td></td><td colspan="3"><p style="text-align:right; font-family:architectsDaughterRegular; color:#6aaeba; margin-right:30px">-<%=User.find(f.user_id).username%>&nbsp;&nbsp;&nbsp;&nbsp;
			<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/flag.png", :onclick => "removePopup();$('#flag-link#{f.id}').click();", :style => "float:right"%></p></td></tr>
			<tr style="background-color:#D9DEDA"><td colspan="5">	<% @photos.each do |photo| %>
			  		  <a class="single" href="<%=photo.url%>" rel="lightbox[plants]"><img src="<%=photo.url%>" style="height:30px"/></a>
			    <% end %></td></tr>
			<tr style="border-top:1px solid #575758; background-color:#D9DEDA">
				<td style="width:20%"><p style="text-align:center">Preparation/Orientation</p></td>
				<td style="width:20%"><p style="text-align:center">Support</p></td>
				<td style="width:20%"><p style="text-align:center">Project Impact</p></td>
				<td style="width:20%"><p style="text-align:center">Structure/Sustainability</p></td>
				<td style="width:20%"><p style="text-align:center">Overall</p></td>
			</tr>
			<tr style="background-color:#D9DEDA">
				<td style="width:20%"><p style="width:90px; text-align:center; margin-top:-15px"><%=render :partial => "star", :locals => {:star => f.preparation}%></p></td>
				<td style="width:20%"><p style="width:90px; text-align:center; margin-top:-15px"><%=render :partial => "star", :locals => {:star => f.support}%></p></td>
				<td style="width:20%"><p style="width:90px; text-align:center; margin-top:-15px"><%=render :partial => "star", :locals => {:star => f.impact}%></p></td>
				<td style="width:20%"><p style="width:90px; text-align:center; margin-top:-15px"><%=render :partial => "star", :locals => {:star => f.structure}%></p></td>
				<td style="width:20%"><p style="width:90px; text-align:center; margin-top:-15px"><%=render :partial => "star", :locals => {:star => f.overall}%></p></td>
			</tr>
				
				
			
		</table>
		<br />
		<br />
