
    <% @nums = Array.new%>
	<% @progNums = Array.new%>
    <% @countries_with_programs.each do |f|%>
	<% @progNums << Program.where(:location => f).count unless f == ""%>
    <% @nums << ALLCOUNTRIES.index(f) unless (ALLCOUNTRIES.index(f).nil?)%>
    <% end %>
	
	<style>
	.ui-tabs {
		font-size:1.6em;
	}
	.ui-widget{
		width:90%;
		margin:auto;
	}
	</style>
	<%= stylesheet_link_tag "/assets/jquery-ui-1.8.22.custom.css"%>
	<%= javascript_include_tag "/assets/jquery.js"%>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"%>


	<p style="text-align:center; margin-top:40px">
    <%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/whereGo.png"%></p>

    <!-- MAP!!!!! -->

     <head>
		 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		      <script type="text/javascript">
		    var numbers = <%= escape_javascript(@nums.to_json)%>;
			var programNumbers = <%= array_or_string_for_javascript(@progNums)%>;
		    var countries = <%= array_or_string_for_javascript(ALLCOUNTRIES)%>;
			var names = <%= array_or_string_for_javascript(ALLCOUNTRYNAMES)%>



		    google.load("visualization", "1", {"packages": ["geochart"]});
		    google.setOnLoadCallback(drawRegionsMap);
		        function drawRegionsMap() {
		            var data = new google.visualization.DataTable();
		            data.addRows(numbers.length);
		            data.addColumn("string", "CountryID");
		            data.addColumn("string", "Country");
		            data.addColumn("number", "Programs");
					data.addColumn({type:'string', role:'tooltip'});

		            for (var i=0; i<numbers.length; i++) {
		                data.setValue(i, 0, countries[numbers[i]]);
		                data.setValue(i, 1, names[numbers[i]]);
		                data.setValue(i, 2, 200);
						data.setValue(i, 3, "Programs: "+programNumbers[i].toString());
		            }

		            var options = {width: 1.4*556, height: 1.4*347, backgroundColor: "#E3E6D5", datalessRegionColor:"#BCDFC3", colors:["#FC8767", "#FC8767"], legend:"none"};
		            var container = document.getElementById("visualization");
		            var geochart = new google.visualization.GeoChart(container);
		           google.visualization.events.addListener(geochart, "error", function errorHandler(e) {
		                google.visualization.errors.removeError(e.id);
		            });
		            google.visualization.events.addListener(geochart, "regionClick", 
		            function(eventData) 
		                  { 
		                    document.location = "http://girlpowerproject.herokuapp.com/searches/"+eventData.region+"/create"; 
		                  });

		            geochart.draw(data, options);
		    };

		      </script>
		    </head>

		    <body>
		        <br />
		        <br />
		        <br />
		        <br />
		        <div class="row">
		            <div class="eleven columns" align="center" style="width:80%">
		      <div style="margin-left:6.5%" id="visualization" ></div>
		            </div>
		        <div class="one columns" style="float:right; min-width:90px; text-align:center; line-height:2em; margin-top:200px; font-family:architectsDaughterRegular; color:#62acbd; width:13%">
		            Click a region or country to see which organizations can get you there!
		            </div>
		        </div>



<!-- TABULAR COUNTRIES -->


<br />
<br />



    <div class="container">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Americas</a></li>
			<li><a href="#tabs-2">Europe</a></li>
			<li><a href="#tabs-3">Africa</a></li>
			<li><a href="#tabs-4">Asia</a></li>
			<li><a href="#tabs-5">Oceania</a></li>
		</ul>
		<div id="tabs-1">
			        <div class="six columns" style="width:45%">
			        <% THEREGIONS[10].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        <% THEREGIONS[11].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
					</div>
					<div class="six columns" style="width:45%">
			        <% THEREGIONS[12].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        <% THEREGIONS[13].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
					</div>
		</div>
		
		
		
		<div id="tabs-2">
			<div class="six columns" style="width:45%">
		        <% THEREGIONS[6].each do |f|%>
		                                    <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[7].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		     </div>
			<div class="six columns" style="width:45%">
		        <% THEREGIONS[8].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[9].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		           </div>
		</div>
		<div id="tabs-3">
			<div class="six columns" style="width:45%">			    
		        <% THEREGIONS[1].each do |f|%>
		            <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[2].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[3].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        </div>
				<div class="six columns" style="width:45%">
		        <% THEREGIONS[4].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[5].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		       </div>
		</div>
		<div id="tabs-4">
			<div class="six columns" style="width:45%">
			        <% THEREGIONS[14].each do |f|%>
			                                   <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        <% THEREGIONS[15].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        <% THEREGIONS[16].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        <% THEREGIONS[17].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			        </div>
					<div class="six columns" style="width:45%">
			        <% THEREGIONS[18].each do |f|%>
			                        <% if !(Program.where(:location => f).empty?) %>
			                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
			            <%end%>
			        <% end %>
			       </div>
		</div>
		<div id="tabs-5">
		      <div class="six columns" style="width:45%">
		        <% THEREGIONS[19].each do |f|%>
		                                   <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		        <% THEREGIONS[20].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		                <% THEREGIONS[21].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
				</div>
				<div class="six columns" style="width:45%">
		        <% THEREGIONS[22].each do |f|%>
		                        <% if !(Program.where(:location => f).empty?) %>
		                        <a style="font-size:1.2em" href="/searches/<%=f%>/create"><%=THECOUNTRIES[f]%></a><br>
		            <%end%>
		        <% end %>
		    </div>
		</div>
	</div> <!-- END TABS -->



	<div align="center" style="font-family:architectsDaughterRegular; margin-top:60px;color:#e67b5a; margin-bottom:30px; min-width:960px">
	    Note: if the country you want to visit isn't listed, we have not yet profiled a company with programs there.
	    </div>
	</div>
		<script>
			$(function() {
				$( "#tabs" ).tabs();
			});
		</script>

</div>




</body>
</html>