
    <% @nums = Array.new%>
	<% @progNums = Array.new%>
    <% @countries_with_programs.each do |f|%>
	<% @progNums << Program.where(:location => f).count unless f == ""%>
    <% @nums << ALLCOUNTRIES.index(f) unless (ALLCOUNTRIES.index(f).nil?)%>
    <% end %>
	
	<style>
	
	.ui-tabs {
		font-size:1.2em;
	}
	.ui-tabs-nav {
		text-align:center;
	}
	.ui-tabs-nav li { 
		width:17%;
	} 
	.ui-widget {
		width:70%;
		margin:auto;
	}
	.ui-widget-content {
		padding-bottom:10px;
	}
	
	a.country-name{
		color:#575758;
	}
	a.country-name:hover{
		color:white;
	}
	</style>
	<%= stylesheet_link_tag "/assets/jquery-ui-1.8.22.custom.css"%>
	<%= javascript_include_tag "/assets/jquery.js"%>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"%>

<div class="container">
	<div class="row">
	<p style="text-align:center; margin-top:40px">
    <%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/whereGo.png"%></p>
	<p style="margin-top:20px; text-align:center; font-family:architectsDaughterRegular; font-size:1.3em; color: #575758; display:none" id="android-message">Our map does not work on the native android browser. Sorry!</p>
	</div>
</div>
    <!-- MAP!!!!! -->

     <head>
		 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		      <script type="text/javascript">
		    var numbers = <%= escape_javascript(@nums.to_json)%>;
			var programNumbers = <%= array_or_string_for_javascript(@progNums)%>;
		    var countries = <%= array_or_string_for_javascript(ALLCOUNTRIES)%>;
			var names = <%= array_or_string_for_javascript(ALLCOUNTRYNAMES)%>



		    google.load("visualization", "1", {"packages": ["geochart"]});
		    google.setOnLoadCallback(drawRegionsMap);
		        function drawRegionsMap() {
		            var data = new google.visualization.DataTable();
		            data.addRows(numbers.length);
		            data.addColumn("string", "CountryID");
		            data.addColumn("string", "Country");
		            data.addColumn("number", "Programs");
					data.addColumn({type:'string', role:'tooltip'});

		            for (var i=0; i<numbers.length; i++) {
		                data.setValue(i, 0, countries[numbers[i]]);
		                data.setValue(i, 1, names[numbers[i]]);
		                data.setValue(i, 2, 200);
						data.setValue(i, 3, "Programs: "+programNumbers[i].toString());
		            }

		            var options = {width: 1.4*556, height: 1.4*347, backgroundColor: "#E3E6D5", datalessRegionColor:"#BCDFC3", colors:["#FC8767", "#FC8767"], legend:"none"};
		            var container = document.getElementById("visualization");
		            var geochart = new google.visualization.GeoChart(container);
		           google.visualization.events.addListener(geochart, "error", function errorHandler(e) {
		                google.visualization.errors.removeError(e.id);
		            });
		            google.visualization.events.addListener(geochart, "regionClick", 
		            function(eventData) 
		                  { 
		                    document.location = "http://girlpowerproject.herokuapp.com/searches/"+eventData.region+"/create"; 
		                  });

		            geochart.draw(data, options);
		    };

		      </script>
		    </head>

		    <body>
		        <br />
		        <br />
		        <br />
		        <br />
		        <div class="row">
		            <div class="eleven columns" align="center" style="width:80%">
		      <div style="margin-left:6.5%" id="visualization" ></div>
		            </div>
		        <div class="one columns" style="float:right; min-width:110px; text-align:center; line-height:2em; margin-top:200px; font-family:architectsDaughterRegular; color:#62acbd;width:13%">
		            Click a region or country to see which organizations can get you there!
		            </div>
		        </div>



<!-- TABULAR COUNTRIES -->


<br />
<br />
<% @americas = Hash.new%>
<% THEREGIONS[10].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@americas[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[11].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@americas[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[12].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@americas[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[13].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@americas[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>



<% @europe = Hash.new %>
<% THEREGIONS[6].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@europe[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[7].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@europe[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[8].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@europe[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[9].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@europe[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>




<% @africa = Hash.new %>
<% THEREGIONS[1].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@africa[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[2].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@africa[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[3].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@africa[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[4].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@africa[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[5].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@africa[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>




<% @asia = Hash.new %>
<% THEREGIONS[14].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@asia[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[15].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@asia[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[16].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@asia[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[17].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@asia[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[18].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@asia[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>




<% @oceania = Hash.new %>
<% THEREGIONS[19].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@oceania[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[20].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@oceania[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[21].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@oceania[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>
<% THEREGIONS[22].each do |f|%>
	<% if !(Program.where(:location => f).empty?) %>
		<%@oceania[f] = THECOUNTRIES[f]%>
	<% end %>
<% end %>



<% @americas = @americas.sort_by { |country| country[1] } %>
<% @europe = @europe.sort_by { |country| country[1] } %>
<% @africa = @africa.sort_by { |country| country[1] } %>
<% @asia = @asia.sort_by { |country| country[1] } %>
<% @oceania = @oceania.sort_by { |country| country[1] } %>

<% @americas_count = (@americas.count / 4).round %>
<% @europe_count = (@europe.count / 4).round %>
<% @africa_count = (@africa.count / 4).round %>
<% @asia_count = (@asia.count / 4).round %>
<% @oceania_count = (@oceania.count / 4).round %>


    <div class="container">
	<div id="tabs">
		<ul>
			<li onclick="americas.click();" style="cursor:pointer"><a id="americas" href="#tabs-1">Americas</a></li>
			<li onclick="europe.click();" style="cursor:pointer"><a id="europe" href="#tabs-2">Europe</a></li>
			<li onclick="africa.click();" style="cursor:pointer"><a id="africa" href="#tabs-3">Africa</a></li>
			<li onclick="asia.click();" style="cursor:pointer"><a id="asia" href="#tabs-4">Asia</a></li>
			<li onclick="oceania.click();" style="cursor:pointer"><a id="oceania" href="#tabs-5">Oceania</a></li>
		</ul>
		<div id="tabs-1">
			<% @americas.each do |f|%> 
			
				<a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br />

			<% end %>
		</div>
		<div id="tabs-2">
			<% @europe.each do |f|%> 
			
				<a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br />

			<% end %>
		</div>
		<div id="tabs-3">
			<% @africa.each do |f|%> 
			
				<a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br />

			<% end %>
		</div>
		<div id="tabs-4">
			<% @asia.each do |f|%> 
			
				<a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br />

			<% end %>
		</div>
		<div id="tabs-5">
			<table style="width:22%">
		      <% @oceania[0..@oceania_count].each do |f|%>
			  <tr>
				<td><a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br /></td>
			  </tr>				
			<% end %>
			</table>
			
			<table style="width:22%">
			  <% @oceania[@oceania_count..@oceania_count*2].each do |f|%>
				<tr>
				<td><a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br /></td>
			  </tr>		
			<% end %>
			</table>
			
			<table style="width:22%">
			  <% @oceania[@oceania_count*2..@oceania_count*3].each do |f|%>
				<tr>
				<td><a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br /></td>
			  </tr>
			<% end %>
			</table>
			
			<table style="width:22%">
			  <% @oceania[@oceania_count*3..@oceania.count].each do |f|%>
				<tr>
				<td><a href="/searches/<%=f[0]%>/create" class="country-name"><%= f[1] %></a><br /></td>
			  </tr>
			<% end %>
		    </table>
		
		</div>
	</div> <!-- END TABS -->



	<div align="center" style="font-family:architectsDaughterRegular; margin-top:60px;color:#e67b5a; margin-bottom:30px; min-width:960px">
	    Note: if the country you want to visit isn't listed, we have not yet profiled a company with programs there.
	    </div>
	</div>
		<script>
			$(function() {
				$( "#tabs" ).tabs();
			});
			
			$(document).ready(function() {
					var ua = navigator.userAgent.toLowerCase();
					var isAndroid = ua.indexOf("android") > -1;
					if (isAndroid) {
						$("#android-message").show();
					}
			});
		</script>

</div>




</body>
</html>