
<head>


	<link rel="stylesheet" href="/assetslightbox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	<script src="/assets/jquery.smooth-scroll.min.js"></script>
	<script src="/assets/lightbox.js"></script>
	
	

		<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

		<%= javascript_include_tag "/assets/smartpaginator.js"%>



	<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
	<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>
	<script src='http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/documentation.js' type="text/javascript"></script>
	
	<style>
	.dateWritten {
		color:#e67b5a; 
		font-size:1.1em; 
		line-height:1.5em;
	}
	.reviewTable {
		border:1px solid #e67b5a; 
		width:970px; 
		margin:auto; 
		background-color:#E9ECE9;
	}
	.reviewProgramLabel {
		margin-top:5px; 
		font-size:1.1em;
		color:#575758;
	}
	.reviewHeaderProgram {
		font-family:architectsDaughterRegular;
	}
	.programData {
		width:45%;
	}
	.tripWasData {
		width:30%;
	}
	.starData {
		width:24%;
	}
	.tripWasLabel {
		margin-top:5px; 
		font-size:1.1em;
	}
	.reviewStarContainer {
		width:150px;
	}
	.reviewBodyContainer {
		color:#575758;
	}
	a.review-window {
		font-style:italic;
	}
	.reviewPhotos, .reviewSignature {
		margin:0;
		padding:0;
	}
	.usernameContainer {
		margin-top:-10px; 
		text-align:right;
		margin-right:75px; 
	}
	.usernameLink {
		color:#62acbd; 
		font-family:architectsDaughterRegular;
	}
	.flagContainer {
		margin-top:-15px; 
		float:right;
	}
	tr, td {
		background-color:#E9ECE9;
	}
	.reviewPopupCloseButton {
		text-align:right;
	}
	.reviewPopupCloseImage {
		height:30px;
		width:30px;
		margin-right:-5px;
		margin-top:-19px;
	}
	.reviewPopupLabel {
		font-size:1.1em;
	}
	.reviewPopupProgram, .reviewPopupTimeFrame {
		font-family:architectsDaughterRegular; 
		font-size:1.1em;
	}
	.reviewPopupDateWritten {
		margin-top:-19px; 
		text-align:right;
	}
	.reviewPopupUsername {
		text-align:right; 
		font-family:architectsDaughterRegular; 
		color:#6aaeba; 
		margin-right:30px;
	}
	.reviewPopupPhotos {
		height:30px;
	}
	.reviewPopupFooter {
		border-top:1px solid #575758;
	}
	.reviewPopupStarLabel {
		text-align:left;
	}
	.reviewPopupStarContainer { 
		margin-top:-15px;
		width:95px;
		max-width:95px;
	}
	.reviewPopupStar {
		width:90px;
		max-width:90px;
		text-align:center;
	}
	</style>
	
	
	
		<style>
		/* Mask for background, by default is not display */
		#mask {
			display: none;
			background: #000; 
			position: fixed; left: 0; top: 0; 
			z-index: 10;
			width: 100%; height: 100%;
			opacity: 0.8;
			z-index: 999;
		}

		/* You can customize to your needs  */
		.price-range-box{
			display:none;
			background: #D9DEDA;
			padding: 10px; 	
			border: 2px solid #ddd;
			float: left;
			color: black;
			max-height:300px;
			width:auto;
			position: fixed;
			top: 50%; left: 50%;
			z-index: 99999;
			box-shadow: 0px 0px 20px #999; /* CSS3 */
		        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
			border-radius:3px 3px 3px 3px;
		        -moz-border-radius: 3px; /* Firefox */
		        -webkit-border-radius: 3px; /* Safari, Chrome */
		}

		/* You can customize to your needs  */
		.flag-popup{
			display:none;
			background: #D9DEDA;
			padding: 10px; 	
			border: 2px solid #575758;
			float: left;
			color:#6aaeba;
			font-size: 1.1em;
			position: fixed;
			top: 50%; left: 50%;
			z-index: 99999;
			box-shadow: 0px 0px 20px #999; /* CSS3 */
		        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
			border-radius:3px 3px 3px 3px;
		        -moz-border-radius: 3px; /* Firefox */
		        -webkit-border-radius: 3px; /* Safari, Chrome */
			max-height:300px;
		}


		.review-popup{
			display:none;
			background: #E9ECE9;
			padding: 10px; 	
			border: 2px solid #ddd;
			max-width:600px;
			float: left;
			color: black;
			position: fixed;
			width: 650px;
			top: 50%; left: 50%;
			z-index: 99999;
			box-shadow: 0px 0px 20px #999; /* CSS3 */
		        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
			border-radius:3px 3px 3px 3px;
		        -moz-border-radius: 3px; /* Firefox */
		        -webkit-border-radius: 3px; /* Safari, Chrome */
			max-height:300px;
		}


		/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
		div.rating-cancel,div.star-rating{float:left;width:25px;height:25px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
		div.rating-cancel,div.rating-cancel a{background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/delete.gif) no-repeat 0 -16px}
		div.star-rating,div.star-rating a{background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/starsWorking.png) no-repeat 0 0px}
		div.rating-cancel a,div.star-rating a{display:block;width:30px;height:100%;background-position:0 0px;border:0}
		div.star-rating-on a{background-position:0 -25px!important}
		div.star-rating-hover a{background-position:0 -32px}
		/* Read Only CSS */
		div.star-rating-readonly a{cursor:default !important}
		/* Partial Star CSS */
		div.star-rating{background:transparent!important;overflow:hidden!important}
		/* END jQuery.Rating Plugin CSS */


	#orgLink:active{color:#68c2d8}
	#orgLink:visited{color:#68c2d8}
	#orgLink:link{color:#68c2d8}
	#orgLink:hover{color:white; background:none}

	a.price-range-window:active{color:#68c2d8}
	a.price-range-window:visited{color:#68c2d8}
	a.price-range-window:link{color:#68c2d8}
	a.price-range-window:hover{color:#e67b5a; background:none}

	a.review-window:active{color:#68c2d8}
	a.review-window:visited{color:#68c2d8}
	a.review-window:link{color:#68c2d8}
	a.review-window:hover{color:#e67b5a; background:none}

	a.organization_url:active{color:#68c2d8}
	a.organization_url:visited{color:#68c2d8}
	a.organization_url:link{color:#68c2d8}
	a.organization_url:hover{color:white; background:none}

	</style>


<style>
.backToLinkContainer {
	margin-top:20px; 
	margin-left:20px;
}
a.backToLink {
	font-family:architectsDaughterRegular; 
	color:#575758;
}
a.backToLink:hover { 
	color:white;
}
#programContentBox {
	margin:auto; 
	margin-top:50px; 
	width:900px; 
	float:center; 
	border:1px solid #575758; 
	background-color:#E9ECE9; 
	color:#575758;
}
#innerProgramContentBox {
	width:95%;
}
#progSquareImageContainer {
	margin:0;
	padding:0; 
	margin-top:20px; 
	width:14%; 
	padding-left:20px;
}
#squareImage {
	width:100px;
	height:100px;
}
#progNameContainerOuter {
	width:53%; 
	text-align:left; 
	margin:0; 
	padding:0; 
	margin-top:20px;
}
#progNameContainer {
	font-size:3em; 
	line-height:1em;
	color:#e67b5a;
}
a.organization_url {
	font-size:1.2em;
}
#progRatingContainer {
	text-align:center; 
	margin:0; 
	padding:0; 
	width:28%;
}
.programRatingTitle {
	font-family:ArchitectsDaughterRegular; 
	font-size:1.2em; 
	color:#575758; 
	line-height:2em; 
	margin-top:20px;
}
.basedOnReviewsContainer {
	font-family:ArchitectsDaughterRegular; 
	font-size:.9em; 
	color:#e67b5a; 
	line-height:1.3em;
}
#orgNameContainer {
	margin-bottom:25px;
	margin-left:4%; 
	margin-top:30px;
}
#orgNameLabel {
	color:#575758;
}
#orgName {
	font-size:1.6em; 
	color:#e67b5a; 
	line-height:1em;
}
.detailsLabelContainer {
	margin-left:4%;
}
#detailsLabel {
	font-size:1.6em; 
	line-height:2em;
}
#leftColumnContainer {
	border:1px solid #575758; 
	margin-left:4%; 
	padding-bottom:2%; 
	padding-right:1%;
}
#innerLeftColumnContainer {
	margin-left:2%; 
	margin-top:2%;
}
.detailLabel {
	font-weight:600;
}
#rightColumnContainer {
	width:45%; 
	margin-left:2%; 
	margin-top:2%; 
	padding-left:2%; 
	border-left: 1px solid #e67b5a;
}
#descriptionLabelContainer {
	margin-left:4%; 
}
#programDescriptionLabel {
	font-size:1.6em; 
	line-height:2em;
}
#programDescriptionContainer {
	border:1px solid #575758; 
	margin-left:4%; 
	padding-bottom:2%; 
	padding-right:1%;
	margin-bottom:20px;
}
#programDescription {
	margin-left:20px; 
	padding-top:2%; 
	margin-right:2%;
}
#buttonsContainer {
	margin-left:4%; 
	width:48%; 
	margin-top:3px; 
	padding-bottom:7px;
}
#reviewProgramButton {
	margin-left:125px; 
	margin-top:-62px;
}
#addToFavoritesContainer {
	float:right; 
	margin-right:5px; 
	margin-top:10px; 
	margin-bottom:-30px;
}
#reviewsContainer {
	height:100%; 
	color:#575758;
}
#reviewsCount {
	font-size:1.4em; 
	line-height:2em; 
	margin-left:20px;
}

</style>


<style>
.infoNotDisclosedTitle {
	font-size:2em; 
	line-height:2em; 
	text-align:center; 
	color:#575758; 
	margin-top:-15px;
}
.infoNotDisclosedBlurb {
	font-family:JosefinSlabRegular; 
	font-size:1.1em; 
	line-height:1.2em; 
	color:#6aaeba; 
	margin-left:10px; 
	margin-right:10px; 
	text-align:center;
}
th {
	width:150px; text-align:center;
}
.priceRangeCost, .priceRangeNumWeeks {
	width:150px; text-align:center;
}
.flagPopupTitle {
	text-align:center; 
	font-size:1.2em; 
	font-family:cabinRegular; 
	margin-bottom:20px; 
	color:#575758;
}
.flagBody {
	height:115px; 
	font-size:0.9em; 
	font-style:italic; 
	margin:auto;
}
.flagSubmitContainer {
	text-align:center; 
	padding-top:15px;
}
a.basedOnReviewsLink {
	color:#e67b5a;
}
a.basedOnReviewsLink:hover {
	color:#9bce6c;
}

</style>

<% reviews_count = @presenter.results.count %>



<div class="backToLinkContainer">
<%if request.referrer %>
	<%if (URI(request.referrer).path.split('/')[1] == 'searches')%>
				<a href="<%=URI(request.referrer).path%>" class="backToLink">&lt; Back to Search Results</a>
	<% end %>
	<%if (URI(request.referrer).path.split('/')[1] == 'organizations')%>
				<a href="<%=URI(request.referrer).path%>" class="backToLink">&lt; Back to Organization Profile</a>
	<% end %>
<% end %>
</div>
<div class="container" id="programContentBox">
	<div class="row" id="innerProgramContentBox">
		<div class="two columns" id="progSquareImageContainer">
			<%= image_tag @presenter.this_program.square_image.url, :id => "squareImage"%>
		</div>
		<div class="seven columns" id="progNameContainerOuter">
			<br />
			<p id="progNameContainer"> <%= @presenter.this_program.name%></p>

		</div>
		<div class="two columns"  id="progRatingContainer">

			<p class="programRatingTitle">Program Rating: </p>
			<%= render :partial => "bigStar", :locals => {:stars => (@presenter.this_program.roundup(@presenter.overall))}%>
			<br />

			<p class="basedOnReviewsContainer"><a class="basedOnReviewsLink" href="#results">Based on <%= @presenter.results.count%> reviews</a></p> 
			<br />
			<% if !(current_user.nil?) && current_user.admin? %>
			<%= link_to "edit", "/programs/#{@presenter.this_program.id}/edit"%> <br /><br /><br />
			<%= button_to "Delete", program_path(@presenter.this_program.id), :method => :delete %>
			<% end %>
		</div>
	</div>
	<div class="row">

	<div class="ten columns" id="orgNameContainer">
		<p id="orgName"><span id="orgNameLabel"><u>Organization:</u> </span><a href="/organizations/<%=@presenter.this_program.organization_id%>" id="orgLink"><%= Organization.find(@presenter.this_program.organization_id).name%></a></p>
	</div>
	<div class="ten columns" id="descriptionLabelContainer">
		<p id="programDescriptionLabel"><u>Description:</u></p>
	</div>
		<div class="eleven columns" id="programDescriptionContainer">

		<div id="programDescription">	<%=@presenter.this_program.description.html_safe if @presenter.this_program.description.present?%></div>

	</div>
	
	
	<div class="ten columns" class="detailsLabelContainer">
		<p id="detailsLabel"><u>Details:</u></p>
	</div>
	
	<div class="eleven columns" id="leftColumnContainer">
		<div class="six columns" id="innerLeftColumnContainer">
		<span class="detailLabel">Subjects: </span>
		<% @all_program_subjects = @presenter.this_program.program_subjects.map{|prog| prog.subject}%>
		<%= @all_program_subjects[0..(@presenter.this_program.program_subjects.count - 1)].join(", ")%><br /><br />
		<span class="detailLabel">Country: </span><%= THECOUNTRIES[@presenter.this_program.location]%><br /><br />
		<span class="detailLabel">Location: </span><%= @presenter.this_program.specific_location%><br /><br />
		<span class="detailLabel">Program Started: </span> <%=@presenter.this_program.program_started%><br /><br />
		<span class="detailLabel">Lengths of Program: </span>
		<%= @presenter.this_program.lengths_of_program%><br /><br />
		<span class="detailLabel">Start Dates: </span><%= @presenter.this_program.start_dates%><br /><br />
		<span class="detailLabel">Program Requirements: </span><%= @presenter.this_program.program_requirements%><br /><br />
		<span class="detailLabel">Program Structure: </span><%= @presenter.this_program.program_structure.html_safe if @presenter.this_program.program_structure.present?%><br /><br />
		<span class="detailLabel">Partnered Local Organizations: </span><%= @presenter.this_program.partnered_local_organizations%><br /><br />
		<span class="detailLabel">Group Sizes: </span>
		<% @presenter.this_program.program_sizes = @presenter.this_program.program_sizes.map{|prog| prog.size}%>
		<%= @presenter.this_program.program_sizes[0..(@presenter.this_program.program_sizes.count - 2)].join(", ")%>
		
		<br /><br />
	<span class="detailLabel">	Accommodations: </span><%= @presenter.this_program.accommodations.html_safe if @presenter.this_program.accommodations.present?%><br />
		
	<span class="detailLabel">	Food Situation: </span><%= @presenter.this_program.food_situation%><br />
		<br /><br /><br />
	</div>
	
	<div class="six columns" id="rightColumnContainer">
		<span class="detailLabel">	Program Cost Chart: </span><a href="#price-range-popup" class="price-range-window">Click here to view</a><br /><br /> 
		<span class="detailLabel">Program Cost Breakdown: </span><%= @presenter.this_program.program_cost_breakdown.html_safe if @presenter.this_program.program_cost_breakdown.present?%><br />
	<span class="detailLabel">	-Includes: </span><%= @presenter.this_program.cost_includes.html_safe if @presenter.this_program.cost_includes.present?%><br />
	<span class="detailLabel">	-Doesn't Include: </span><%= @presenter.this_program.cost_doesnt_include.html_safe if @presenter.this_program.cost_doesnt_include.present?%><br />
	</div>
</div>

	<div class="six columns" id="buttonsContainer">
		<br />
		<a href="<%=@presenter.this_program.check_it_out%>" target = "_blank"> <%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/LearnMore.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%> </a>
		<p id="reviewProgramButton"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/ReviewThisProg.png"), :controller => "reviews", :action => "new", :organization_id => @presenter.this_program.organization_id, :program_id => @presenter.this_program.id, :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p>
		<br />
	</div>
	<div class="four columns" align="right" id="addToFavoritesContainer">
		<br />
		<% if !(current_user.nil?)%>

		<% @favorite = Favorite.find(:first, :conditions => {:user_id => current_user.id, :program_id => @presenter.this_program.id}) %>

		<% if !(@favorite.nil?) %>
		<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/removeFromFavorites.png"), :controller => "favorites", :action => "destroy", :id =>@favorite.id, :the_place => @presenter.this_program.id %>
		<% else %>
		<p><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/addFavs.png"), :controller => "favorites", :action => "create", :program_id => @presenter.this_program.id %></p>
		<% end %>
		<% end %>
		<br />
		<br />
		<br />
	</div>
	</div>
</div>
	
<div class="container" id="reviewsContainer">
	<div class="row">
		<br />
		<br />
		<p id="reviewsCount"><%=@presenter.results.count%> Reviews</p>
		
	</div>
	
	<div class="row">
		<div class="eleven columns" class="contents">
		<div id="results">
			<% @presenter.results.each do |f| %>
			<div>
				<%= render :partial => "results", :locals => {:f => f, :program => @presenter.this_program}%>
			</div>
			<% end %>
		</div>
		
		
	</div>
		
</div>				
	
		
		
		

		


</div>
</div>
<div class = "container">
<div class = "row">
	<div id="reviews_pager">
	</div>
</div>
</div>




<!--- POPUP PLUGIN -->


  	<div id="price-range-popup" class="price-range-box">
		<a href="#" class="close"><div class="close_image"></div></a>
		<div class="overflow">
	<% if @presenter.this_program.program_cost_length_maps.empty?%>
		<p class="infoNotDisclosedTitle">Information not disclosed</p>
		<p style="infoNotDisclosedBlurb">If we don't have this info, we weren't able to obtain it yet from the organization.  But we are still trying!</p>
	<% else %>
	  			<table>
					<thead>
					<tr>
						<th>Time</th>
						<th>Cost</th>
					</tr>
					</thead>
					<tbody>
					<% @presenter.entries.each do |f|%>
					<tr>
						<td class="priceRangeNumWeeks">
						
						<% if f[0] > 12 %>
							<% @months = ""+(f[0] / 4).floor+"months"%>
							<% if (f[0] % 4) != 0 %>
								<% @months += (", "+(f[0]%4)+"weeks") %>
							<% end %>
							<%= @months %>
						<% else %>
							<%= "" + f[0] + "weeks"%>
						<% end %>
						
						</td>
						<td class="priceRangeCost"><%= "$#{number_with_precision(f[1].to_d, :precision => 2)}"%></td>
					</tr>
					<% end %>
					</tbody>
				</table>
	<% end %>
	</div>
	</div>
	
	
	<div id="flag-box" class="flag-popup" align="center">
		<a href="#" class="close"><div class="close_image"></div></a>
		<% if user_signed_in? %>
	  	<%= form_for @flag do |g| %>

		<tr><td colspan="2">
		    <p class="flagPopupTitle">Report this review for <br />inappropriate content</p></td></tr>

			<tr><td colspan="2">
		<%=g.text_area :body, :class => "flagBody", :onclick => "if (this.value == 'Please describe.') {this.value = ''}; this.style.fontStyle = ('normal');", :value => "Please describe."%>

		    <%=g.hidden_field :flagger_id, :value => current_user.id %>

		    <%=g.hidden_field :poster_id, :id => "poster_id" %>

		    <%=g.hidden_field :review_id, :id => "review_id" %>
			</td></tr>

			<tr><td colspan="2">
		    <p class="flagSubmitContainer"><%= image_submit_tag ("/assets/submitToVVI.png"), :height => "50px"%></p></td></tr>
			<% end %>
		<% else %>
		<tr><td>You must be signed in to flag a review.</td></tr>
		<% end %>
	</div>

<script>

//scroll function for the lightbox2 popup plugin
  jQuery(document).ready(function($) {
      $('a').smoothScroll({
        speed: 1000,
        easing: 'easeInOutCubic'
      });
  });



//removes "show full review" popup and mask
	//called when user clicks "flag" from within the "show full review" popup
function removePopup() {
	$('#mask').fadeOut(300);
	$('.review-popup').fadeOut(300);
	$('#mask').remove();  
	return false;
}



	$(document).ready(function() {
		//for review pagination. initialized the smartpaginator plugin on the "results" div
			//the "reviews_pager" div contains the 1-10 of 40 --- < 1 2 3 >
			$('#reviews_pager').smartpaginator({ totalrecords: <%=reviews_count%>, recordsperpage: 10, datacontainer: 'results', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

			//jQuery for the "Price Ranges" popup
		$('a.price-range-window').click(function() {

	                //Getting the variable's value from a link 
			var popupBox = $(this).attr('href');

			//Fade in the Popup
			$(popupBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(popupBox).height() + 24) / 2; 
			var popMargLeft = ($(popupBox).width() + 24) / 2; 

			$(popupBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .price-range-box').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});


		//jQuery for the "flag a review" popup
		$('a.flag-window').click(function() {

	                //Getting the variable's value from a link 
			var flagBox = $(this).attr('href');

			//Fade in the Popup
			$(flagBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(flagBox).height() + 24) / 2; 
			var popMargLeft = ($(flagBox).width() + 24) / 2; 

			$(flagBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .flag-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
		
		
		//jQuery for the "see full review" popup
		$('a.review-window').click(function() {

		            //Getting the variable's value from a link 
			var reviewBox = $(this).attr('href');

			//Fade in the Popup
			$(reviewBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(reviewBox).height() + 24) / 2; 
			var popMargLeft = ($(reviewBox).width() + 24) / 2; 

			$(reviewBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .review-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
		

	});


</script>
