<table class="messageTable" cellspacing="0" border="0" cellpadding="0" width="80%" href="#message-box<%=m.id%>">
	<tr>
		<td width="25%"><b>
			<% if User.where(:id => m.sender_id).empty? %>
			<span class="username">???</span>
			<% else %>
			<a href= "/users/<%=m.sender_id%>" class="usernameLink"> <%=User.find(m.sender_id).username%></a>
			<% end %>
			</td>
		<td width="12%"><p class="messageDateCreated"><%= m.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
		<td width="43%"><p class="messageSubject"><%=truncate m.subject, :length => 100%></p></td>
		<td width="9%"><p class="messageDeleteX" align="center">
		<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/favoritesX.png"), "#delete-box#{m.id}", :class => "delete-window", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'delete-window'"%>
		</p></td>
</tr>
<br />
</table>

<table id="message-box<%=m.id%>" class="m-popup">
	<tr><td>
		<span class="mPopupFrom">From: 
		<% if @presenter.user_ids.include?(m.sender_id)%>	
		<%= User.find(m.sender_id).username%>
		<% else %>
		<%= "???" %>
		<% end %>
		</span>
		<a href="#" class="close"><span class="close_image"></span></a>
		</td></tr>
	  
	    <tr><td><span class="mPopupSubject">Subject: <%= m.subject%></span></td></tr>
	
		<tr><td><span class="mPopupBody"><%= m.body.html_safe%></span ></td></tr>

		<% if @presenter.user_ids.include?(m.sender_id)%>
		<tr><td><p class="mPopupReplyButton">
<image id="messageReplyButton" data-sender = "<%= m.sender_id%>" data-subject = "<%= m.subject%>" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/reply.png"> </p></td></tr>
		<% else %>
		<tr><td><span class="userDeletedProfileMessage">This user has deleted their profile</span ></td></tr>
		<% end %>
</table>

<table id="delete-box<%=m.id%>" class="delete-popup">
		<tr><td colspan="2"><p class="deletePopupAreYouSure">Are you sure?</p></td></tr>
		<tr>
			<td><a class="close-delete-pop"> <%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/noKeepIt.png" %></a></td>
			<td>

			<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/RealDeleteReviewButton.png"), "/messages/#{m.id}/mark_deleted", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>

	</td></tr>
</table>
