<div>
<table class="sentTable" cellspacing="0" border="0" cellpadding="0" width="80%" href="#sent-box<%=m.id%>">
	<tr>
		<td width="25%"><b>
			<% if User.where(:id => m.recipient_id).empty? %>
			???
			<% else %>
			 <a href="/users/<%=m.recipient_id%>" class="usernameLink"><%=User.find(m.recipient_id).username%></a>
			<% end %>
			</td>
		<td width="12%"><p class="sentMessageDate"><%= m.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
		<td width="43%"><p class="sentMessageSubject"><%=truncate m.subject, :length => 100%></p></td>
		<td width="9%"><p class="sentMessageDeleteX" align="center">
		<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/favoritesX.png"), "#delete-box-sent#{m.id}", :class => "delete-window", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'delete-window'"%>
		</p></td>
</tr>
<br />
</table>

<table id="sent-box<%=m.id%>" class="sent-popup">
	<tr><td>
		<span class="sentPopupTo">To: 
		<% if presenter.user_ids.include?(m.recipient_id)%>	
		<%= User.find(m.recipient_id).username%>
		<% else %>
		<%= "???" %>
		<% end %>
		</span>
			<a href="#" class="close"><span class="close_image"></span></a>
		</td></tr>
	  
	    <tr><td><span class="sentPopupSubject">Subject: <%= m.subject%></span></td></tr>
	
		<tr><td><span class="sentPopupBody"><%= m.body.html_safe%></span></td></tr>

</table>

<table id="delete-box-sent<%=m.id%>" class="delete-popup">
		<tr><td colspan="2"><p class="sentDeleteAreYouSure">Are you sure?</p></td></tr>
		<tr>
			<td><a class="close-delete-pop"> <%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/noKeepIt.png" %></a></td>
			<td>

			<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/RealDeleteReviewButton.png"), "/messages/#{m.id}/mark_deleted", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>

	</td></tr>
</table>


</div>