<div> 
<% @photos = [] %>
<% @photos << f.photo unless f.photo.blank? %>
<% @photos << f.photo2 unless f.photo2.blank? %>
<% @photos << f.photo3 unless f.photo3.blank? %>
<% @photos << f.photo4 unless f.photo4.blank? %>
<% @photos << f.photo5 unless f.photo5.blank? %>
<% @photos << f.photo6 unless f.photo6.blank? %>
<% @photos << f.photo7 unless f.photo7.blank? %>
<% @photos << f.photo8 unless f.photo8.blank? %>
<% @photos << f.photo9 unless f.photo9.blank? %>
<% @photos << f.photo10 unless f.photo10.blank? %>


	<br />
	<p class="whosReview"><%=User.find(f.user_id).username%>'s Review of <a class="reviewOrgLink" href="/organizations/<%=Program.find(f.program_id).organization_id%>"> <%=Organization.find(Program.find(f.program_id).organization_id).name%></a></p>
<p class="reviewWrittenDate"><%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p>
	
<table cellspacing="0" border="0" cellpadding="0" width="100%" class="reviewBox">		
	<tr>
		<td width="40%"><p class="reviewProgramName">Program: <%= truncate Program.find(f.program_id).name, :length => 25 %></td>
		<td width="30%"><p class="reviewTripWas">Trip Was: <%= f.time_frame %></td>
		<td ><p align="right" class="reviewStars"><%=render :partial => 'star', :locals => {:star => f.overall}%></p></td>
</tr>
<tr>
	<td colspan="3"><p class="review-pannel"><%= breaking_word_wrap(f.body.gsub("</p>", "<br />").gsub("<p>", ""), 125).html_safe %>
		<% if !(user_signed_in? && current_user.id == @presenter.this_user.id)%>
		<a href="#flag-box" class="flag-window" id="flag-link<%=f.id%>" onclick="$('#poster_id').val(<%=f.user_id%>); $('#review_id').val(<%=f.id%>)"><%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/flag.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'" %></a>
		<% end %>
		</td>
</p></tr>
<tr>
	<td colspan="3">
		<% @photos.each do |photo| %>
	  		  <a class="single" href="<%=photo.url%>" rel="lightbox[review<%=f.id%>]"><img src="<%=photo.url%>" class="reviewPhoto"/></a>
	    <% end %>
	</td>
</tr>
</table>

<% if user_signed_in? && @presenter.this_user.id == current_user.id %>
	<p class="reviewEditDeleteContainer"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/editDelete.png"), :controller => "reviews", :action => "edit", :id => f.id, :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>  </p>
<% end %>
	
</div>

