<%= javascript_include_tag "/assets/jquery.js"%>
<% if current_user.admin?%>
<div class="container">
	<div class="row">
		<div class="twelve columns">
<p style="font-size:3em; text-align:center; line-height:2em; margin-top:20px; margin-bottom:20px">Users:</p>
<p>
</p>
<% if @users.empty? %>
<b>There are not yet any users </b>
<% else %>

<table>
	<tr>
		<th width="5%">Admin?</td>
		<th width="12%">Date Joined</th>
		<th widht="10%">User</th>
		<th width="13%">Email</th>
		<th width="7%">Age</th>
		<th width="15%">Country</th>
		<th width="10%">Photo</th>
		<th width="4%">Confirmed</th>
		<th width="5%">Edit</th>
		<th width="7%">Delete</th>
	</tr>
	<% @users = @users.sort_by(&:created_at).reverse%>

<% @users.each do |user|%>
	<tr>
		<td><% if user.admin? %>
			<font style="font-size:1.2em; color:purple; font-weight:600">ADMIN</font>
			<% else %>
			<%= button_to "Make Admin", "/users/#{user.id}/make_admin" %>
			<% end %></td>
		<td><p style="color:blue"><%= user.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
		<td><%= link_to user.username, user %></td>
		<td><%= user.email %></td>
		<td><% @now = Time.now.utc.to_date%>
		<%= @now.year - user.dob.year - ((@now.month > user.dob.month || (@now.month == user.dob.month && @now.day >= user.dob.day)) ? 0 : 1) %></td>
		<td><%= @theCountries[user.country] %></td>
		<td><%= image_tag user.square_image.url, :style => "height:30px" %></td>
		<td><% if user.confirmed? %>
			<font style="font-weight:600;color:green">Yes</font>
			<% else %>
			<font style="font-weight:600;color:red">No</font>
			<% end %>
		</td>
		<td><%= link_to "Edit", user_registration_path(user.id), :controller => "registrations", :action => "edit"%></td>
		<td><%= button_to "Delete", "/users/#{user.id}", method: :delete%></td>
	</tr>
<% end %>
</table>
<% end %>
</div>
</div>
<div class="row">
	<div class="twelve columns">
		<p style="font-size:1.5em; line-height:2em">Copy Emails Below</p>
		<% @user_emails = User.where(:notify => true).map(&:email)%>
		<% count = 1%>
		<%@user_emails.each do |f|%>
		<%= f%><%=", " unless (count == @user_emails.count)%>
		<% count = count + 1%>
		<% end %>
	</div>
</div>
</div>

<% else %>
Sorry, only admins can view this page.
<br />
<%= link_to "Home", root_path%>
<% end %>


