<% if @user.messages_show.nil?%>
<% @user.messages_show = false%>
<% @user.save%>
<% end %>

<% if @user.profile_show.nil?%>
<% @user.profile_show = false%>
<% @user.save%>
<% end %>




<link rel="stylesheet" href="/assetslightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<script src="/assets/jquery.smooth-scroll.min.js"></script>
<script src="/assets/lightbox.js"></script>

<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

<%= javascript_include_tag "/assets/smartpaginator.js"%>


<style>
a.reviewOrgLink:link{color:#6aaeba}
a.reviewOrgLink:active{color:#6aaeba}
a.reviewOrgLink:visited{color:#6aaeba}
a.reviewOrgLink:hover{color:#e67b5a}
</style>



<style>
/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.send-message-popup{
	display:none;
	background: #D9DEDA;
	padding: 10px; 	
	border: 3px solid #6aaeba;
	float: left;
	color:#6aaeba;
	font-size: 1.1em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

/* You can customize to your needs  */
.flag-popup{
	display:none;
	background: #D9DEDA;
	padding: 10px; 	
	border: 2px solid #575758;
	float: left;
	color:#6aaeba;
	font-size: 1.1em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}


</style>

<style>
.whosReview {
	margin-left:50px; 
	font-size:1.1em;
}
.reviewWrittenDate {
	text-align:right; 
	font-size:1.1em; 
	margin-top:-15px;
}
table.reviewBox {
	margin-left:20px; 
	background-color:#E0EEEE; 
	margin-top:5px;
}
table.reviewBox tr, table.reviewBox td {
	background-color:#E0EEEE;
}
.reviewProgramName {
	font-size:1.2em; 
	margin-left:50px;
}
.reviewTripWas {
	font-size:1.2em;
}
.reviewStars {
	margin-top:-5px; 
	margin-right:10px;
}
.review-pannel {
	margin-left:10px; 
	font-size:1.05em;
	margin-top:-10px;
	height:100px; 
	width:96.5%; 
	margin-left:2%; 
	overflow:auto;
}
.single {
	height:30px;
}
img.reviewPhoto {
	height:30px;
}
a.flag-window {
	float:right;
	margin-right:50px;
	margin-top:5px;
}
.reviewEditDeleteContainer {
	float:right; 
	text-align:right; 
	margin-right:30px; 
	margin-top:5px;
}
</style>

<style>
    #wrapper
    {

        width:100%;

    }
	
    .contents
    {
		height: 290px;
        width: 98%; /*height: 150px;*/
        margin: 0;

    }
    .contents > p
    {
        padding: 8px;
    }

	.table
    {
        width: 100%;
        border-right: solid 1px #5f9000;
    }
    .table th, .table td
    {
        width: 16%;
        height: 20px;
        padding: 4px;
        text-align: left;
    }
    .table th
    {
        border-left: solid 1px #5f9000;
    }
    .table td
    {
        border-left: solid 1px #5f9000;
        border-bottom: solid 1px #5f9000;
    }
    #divreviews
    {
        margin: 10;
        height: 100%;
        font: verdana;
        font-size: 14px;
        background-color: White;
    }
    #divreviews > div
    {
        width: 98%;

    }
    #divreviews > div p
    {
        width: 95%;

    }
</style>

<style>
#top {
	margin-left:5%; 
	margin-top:30px; 
	margin-right:5%;
}
.userLines {
	border-top:1px solid #e67b5a; 
	border-bottom:1px solid #F5825A; 
	height:30px;
}
#secondTop {
	margin-top:25px;
}
/*#userSquareImageContainer {
	float:left; 
	height:200px; 
	width:200px; 
	overflow:hidden;
} 
#squareImage {
	height:168px; 
	width:168px;
}
#userInfoBox {
	margin-left:15px; 
	margin-top:-10px; 
}
#username {
	font-size:3em; 
	line-height:1.7em;
}
#ageCountryBox {
	margin-top:-5px;
	float:left; 
	margin-left:15px; 
	padding:5px; 
	padding-right:10px; 
	padding-left:10px; 
	border:1px solid #e67b5a;
}
#userAgeCountry {
	font-size:1.2em; 
	line-height:1.6em; 
	padding-bottom:5px;*/
}
.send-messages-window {
	margin-top:10px; 
	margin-left:0px;
}
#middle {
	margin-top:20px;
}
#userReviewsContainer {
	background-color:white;  
	padding-top:50px; 
	margin-left:2%; 
	height:360px; 
	border:1px solid #e67b5a;
}
#reviewsByTitle {
	font-family:architectsDaughterRegular; 
	color:#575758; 
	margin-left:20px; 
	font-size:2em;
}
#reviewsInnerContainer {
	border-top:1px solid #e67b5a; 
	width:100%; 
	margin-top:10px;
}
#reviews-contents {
	margin-top:25px;
}
#reviewsCount {
	font-family:architectsDaughterRegular; 
	color: #e67b5a; 
	margin-right:55px; 
	margin-top:-15px;
}
#divreviews {
	overflow:hidden;
}
#noReviewsMessage {
	margin-left:35px; 
	margin-top:25px; 
	color:#575758;
}
#reviews {
	margin-top:-50px; 
	margin-left:5px;
}
#newMessageTitle {
	font-family:josefinSlabRegular; 
	font-size:2em;
	padding:10px; 
	text-align:center;
}
.popupMessageLabel {
	font-size:1.2em; 
	color:#575758; 
	margin-left:25px; 
	line-height:1.2em;
}
#popupMessageSubjectField {
	width:380px; 
	height:25px; 
	margin-left:20px; 
	margin-right:20px;
}
#popupMessageBodyField {
	height:100px;
	width:380px; 
	margin-left:20px; 
	margin-right:20px; 
	overflow:auto;
}
#sendButtonContainer {
	margin-top:30px; 
	text-align:center;
}
#flag-box tr, #flag-box td {
	background-color:#D9DEDA;
}
#flagPopupTitle {
	text-align:center; 
	font-size:1.5em; 
	font-family:cabinRegular; 
	margin-bottom:20px; 
	color:#575758;
}
#flagBody {
	height:115px; 
	font-size:0.9em; 
	font-style:italic; 
	margin:auto;
	overflow:auto;
}
#submitFlagContainer {
	text-align:center; 
	padding-top:15px;
}

</style>

	<div class="container" id="top">
	        <div class="row">
				<div class="twelve columns">
				<p class="userLines">  </p>
				</div>
			</div>
			<div class="row" id="secondTop">
				<!--<div class="three columns" id="userSquareImageContainer">
					<%# if !(@user.square_image.url.nil?)%>
				<img src="<%#=@user.square_image.url%>" id = "squareImage" onerror = "$(this).attr('src', '<%#= @user.photo.url %>')">
					<%# else %>
					<%#= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/noImage.png"%>
					<%# end %>
				</div>-->
		<div class= "eight columns" id="userInfoBox">
	<!--<p id="username"><%= @user.username %> </p>-->
	</div>
		<div class="four columns" id="ageCountryBox">
			<p id="userAgeCountry">
<% if !(@user.profile_show)%> 
	<%if @user.dob != nil%>
	Age:
	<% @now = Time.now.utc.to_date%>
	<%= @now.year - @user.dob.year - ((@now.month > @user.dob.month || (@now.month == @user.dob.month && @now.day >= @user.dob.day)) ? 0 : 1) %>
	<%end%>
	<br />
	Country: <%= THECOUNTRIES[@user.country] %>
	
	<br />
<% else%>
	This user has hidden<br />
	their age and country
<% end %>
	</p>
	
	<div id="messagesBox">
		<% if user_signed_in? %>
	<a href="#send-message-box" class = "send-message-window"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/sendMessage.png"></a>
		<% end %>
	</div>
	
	</div>
	</div>
	</div>



	<div class= "container" id="middle">
		<div class="row">
			<div class="eleven columns" id="userReviewsContainer">

    <div id="wrapper">
		<p id="reviewsByTitle">Reviews by <%=@user.username%></p>

		<div id="reviewsInnerContainer">

        <div id="reviews-contents" class="contents" >
	<div align="right" id="reviewsCount">
		<%=@reviews.count%> Reviews
		</div>
            <div id="divreviews">
                <% if @reviews.count != 0 %>
                <% @reviews.each do |f|%>

                  <%= render :partial => "review", :locals => { :f => f } %>

                  <%end%>
				<% else %>
					<p id="noReviewsMessage"><%=@user.username%> has not yet added reviewed any programs.</p>
					<% end %>
                
            </div>
            <div id="reviews"></div>
            </div>
			</div>





<div id="send-message-box" class="send-message-popup">
	<a href="#" class="close"><div class="close_image"></div></a>
	<% if @user.messages_show == false %>
	<p id="newMessageTitle">New Message</p>

	<%= form_for(@message) do |f| %>
	<% if user_signed_in?%>
	<%= f.hidden_field :sender_id, :value => current_user.id %>
	<% end %>
	<%= f.hidden_field :recipient_id, :value => @user.id %>
	  <div class="field">
	    <p class="popupMessageLabel">Subject:</p>
	    <%= f.text_field :subject, :id => "popupMessageSubjectField" %>
	  </div>
	<br />
	  <div class="field">
	    <p class="popupMessageLabel">Body:</p>
	    <%= f.text_area :body, :id => "popupMessageBodyField" %>
	  </div>

	  <div class="actions" id="sendButtonContainer">
	    <%= image_submit_tag "/assets/sendTheMessage.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'" %>
	  </div>
	<% end %>

<% else %>
	<%=@user.username%>'s messaging system is disabled
<% end %>


</div>

<div id="flag-box" class="flag-popup">
	<a href="#" class="close"><div class="close_image"></div></a>
	<% if user_signed_in? %>
  	<%= form_for @flag do |g| %>
	<table>
	<tr><td colspan="2">
	    <p id="flagPopupTitle">Report this review for <br />inappropriate content</p></td></tr>

		<tr><td colspan="2">
	<%=g.text_area :body, :id => "flagBody", :onclick => "if (this.value == 'Please describe.') {this.value = ''}; this.style.fontStyle = ('normal');", :value => "Please describe."%>

	    <%=g.hidden_field :flagger_id, :value => current_user.id %>

	    <%=g.hidden_field :poster_id, :id => "poster_id" %>

	    <%=g.hidden_field :review_id, :id => "review_id" %>
		</td></tr>

		<tr><td colspan="2">
	    <p id="submitFlagContainer"><%= image_submit_tag ("/assets/submitToVVI.png"), :height => "50px", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p></td></tr>
		<% end %>
	<% else %>
	<tr><td>You must be signed in to flag a review.</td></tr>
	<% end %>
</table>

</div>
</div>

<script>
  jQuery(document).ready(function($) {
      $('a').smoothScroll({
        speed: 1000,
        easing: 'easeInOutCubic'
      });
  });

</script>



<script type="text/javascript">


$(document).ready(function() {
	
	
	$('a.send-message-window').click(function() {

                //Getting the variable's value from a link 
		var popupBox = $(this).attr('href');

		//Fade in the Popup
		$(popupBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(popupBox).height() + 24) / 2; 
		var popMargLeft = ($(popupBox).width() + 24) / 2; 

		$(popupBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:0.5"></div>');
		$('#mask').fadeIn(300)

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .send-message-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
	$('a.flag-window').click(function() {

                //Getting the variable's value from a link 
		var flagBox = $(this).attr('href');

		//Fade in the Popup
		$(flagBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(flagBox).height() + 24) / 2; 
		var popMargLeft = ($(flagBox).width() + 24) / 2; 

		$(flagBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:.5"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .flag-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});

});


</script>

   <script type="text/javascript">

       $(document).ready(function () {
			/*
			if (<%=# (@user.profile_show).to_s %> == true)
			{
				$("#ageCountryBox").hide();
			}
			if (<%=# (@user.messages_show).to_s %> == true)
			{
				$("#messagesBox").hide();
			} */
			

			$('#reviews').smartpaginator({ totalrecords: <%=@user.reviews.count%>, recordsperpage: 1, datacontainer: 'divreviews', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
			
			
		});

</script>

<script type="text/javascript">
$("#btnPrev").click(function() { currentPage = parseInt(list.find('li a.active').text()) - 1; navigate(currentPage); }).addClass('btn');

$("#btnNext").click(function() { currentPage = parseInt(list.find('li a.active').text()); navigate(currentPage); }).addClass('btn');
</script>

<script type="text/javascript">
function beforeCheck() {
	$('#checkBefore').toggle();
}
</script>
