<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.top {
	margin-top:80px;
}
.title {
	font-size:2em; 
	font-family:architectsDaughterRegular; 
	color:#62acbd; 
	text-align:center;
}
.resetPasswordBoxContainer {
	margin-top:20px;
}
.resetPasswordBox {
	background-color:white; 
	padding:30px; 
	margin-left:15%; 
	margin-right:15%; 
	border:1px solid #e67b5a; 
	height:250px;  
	background-color:#E9ECE9;
}
.label {
	line-height:1.5em; 
	font-size:1.3em; 
	margin-bottom:5px;
}
.field {
	height:23px; 
	width:190px; 
	background-color:white;
}
.blurb {
	margin-left: 42%;
	font-family:architectsDaughterRegular; 
	margin-top:-126px;
	color: #e67b5a; 
	line-height:1.8em;
}
.submitContainer {
	 margin-top:140px;
}
</style>


  <%= devise_error_messages! %>

<div class="container" style="color:#575758">
	<div class="row">
		<div class="twelve columns top">
<p class="title">Change your Password</p>
	</div>
	</div>
	<div class="row">
	<div class="twelve columns resetPasswordBoxContainer">
		<div class="resetPasswordBox">

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= f.hidden_field :reset_password_token %>

			  <div class="ten columns"><div><p class="label"> New password: </p>
			   <input id="user_password" class="field" name="user[password]" size="30" type="password" /></div><br />

			  <div><p style="line-height:1.5em; font-size:1.3em; margin-bottom:5px">Confirm new password:</p>
			  <input id="user_password_confirmation" name="user[password_confirmation]" class="field" size="30" type="password" /></div></div>
			
			<div class="seven columns" class="blurb">You will need this password the next time that you log in.  So don’t do anything silly like forget it . . . again.</div>

<br />
<br />

  <div align="center" class="submitContainer"><%=image_submit_tag ("https://s3-us-west-1.amazonaws.com/volunteervoice/images/ChangeButton.png"), :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div>
<% end %>


</div>
</div>
</div>
</div>
