<%= javascript_include_tag "/assets/jquery.js"%>
<%= devise_error_messages! %>
<div class="container" style="color:#575758">
	<div class="row">
		<div class="twelve columns" style="margin-top:80px">
<p style="font-size:2em; font-family:architectsDaughterRegular; color:#62acbd; text-align:center;">Forgot your password?</p>
	</div>
	</div>
	<div class="row">
	<div class="twelve columns" style="margin-top:20px;">
		<div style=" background-color:#E9ECE9; padding-top:30px; padding-left:10px; margin-top:20px; margin-left:15%; margin-right:15%; border:1px solid #e67b5a; height:250px; margin-top:20px">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <div class="three columns"><p style="font-size:1.3em; margin-bottom:10px"> Email or Username: </p>
  <%= f.email_field :login, :style=>"height:23px; width:190px; background-color:white;" %></div>

<div class="seven columns" style=" margin-left: 14%;font-family:architectsDaughterRegular; color: #e67b5a; line-height:1.8em">Enter your registered email here.  We will send you a top secret message that will allow you to change your password.</div>

<br />
<br />

  <div align="center" style="margin-top:125px;">
<%= image_submit_tag ("https://s3-us-west-1.amazonaws.com/volunteervoice/images/sendInfo2.png") %>
	
	</div>
<% end %>


</div>
</div>
</div>
</div>