<div>
<table style="margin-left:175px;" cellspacing="0" border="0" cellpadding="0" width="80%">
	<tr>
		<td width="18%"><b>
			<% if User.where(:id => m.sender_id).empty? %>
			<a style="margin-left:-5px; font-size:1.4em; font-family:chunkFiveRegular; color:#68c2d8" href= "#message-box<%=m.id%>" class="message-window">???</a>
			<% else %>
			<a style="margin-left:-5px; font-size:1.4em; font-family:chunkFiveRegular; color:#68c2d8" href= "#message-box<%=m.id%>" class="message-window"> <%=User.find(m.sender_id).username%></a>
			<% end %>
			</td>
		<td width="12%"><p style="font-size:1.2em;margin-left:20px; color:#575758"><%= m.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
		<td width="50%"><p style="font-size:1.2em;margin-left:20px; color:#575758"><%=m.subject%></p></td>
		<td width="9%"><p style="margin-right:25px;margin-top:-5px" align="center">
		<p style="margin-top:7px"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/favoritesX.png"), "#delete-box#{m.id}", :class => "delete-window"%></p>
		</p></td>
</tr>
<br />
</table>

<table id="message-box<%=m.id%>" class="m-popup">
	<tr style="background-color:#E9ECE9"><td>
	<%= form_for(@message) do |f| %>

	<%= f.hidden_field :sender_id, :value => current_user.id%>
	<%= f.hidden_field :recipient_id, :value => m.sender_id%>
		<font style="font-size:1.4em; color:#575758; line-height:2em;">From: 
		<% if @user_ids.include?(m.sender_id)%>	
		<%= User.find(m.sender_id).username%>
		<% else %>
		<%= "???" %>
		<% end %>
		</font></td></tr>
	  
	    <tr style="background-color:#E9ECE9"><td><font style="font-size:1.4em; color:#575758; line-height:2em;">Subject: <%= m.subject%></font></td></tr>
	
		<tr style="background-color:#E9ECE9"><td><font style="color:#575758; line-height:1.1em;font-size:1.1em"><%= m.body.html_safe%></font></td></tr>


		<% if @user_ids.include?(m.sender_id)%>	
		
		<tr style="background-color:#E9ECE9"><td>
	    <p style="font-size:1.2em; color:#575758; margin-left:25px;line-height:2em;font-style:italic">Reply:</p>
	    <%= f.text_area :body, :style => "height:75px;width:380px; margin-left:20px; margin-right:20px; overflow:auto" %></td></tr>


	  <tr style="background-color:#E9ECE9"><td style="text-align:right">
	    <%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/sendTheMessage.png" %>
	  </td></tr>
		<% else %>
		<tr style="background-color:#E9ECE9"><td><em>This user has deleted their account </em></td></tr>
		<% end %>
	<% end %>
	
</table>

<table id="delete-box<%=m.id%>" class="delete-popup">
		<tr><td colspan="2"><p style="font-size:2em; color:#575758; text-align:center">Are you sure?</p></td></tr>
		<tr style="background-color:#E9ECE9">
			<td><a class="close-delete-pop" style="cursor:pointer"> <%=image_tag "/assets/noKeepIt.png" %></a></td>
			<td>

			<%= link_to (image_tag "/assets/RealDeleteReviewButton.png"), "/messages/#{m.id}/mark_deleted" %>

	</td></tr>
</table>

</div>