<div >
<table style="margin-left:10px;" cellspacing="0" border="0" cellpadding="0" width="100%">
	<tr>
		<td width="18%"><b>
			<a style="margin-left:-5px; font-size:2.5em; font-family:chunkFiveRegular; color:#68c2d8" href= "/users/<%=User.find(m.recipient_id)%>"> <%=User.find(m.sender_id).username%></a>
			</td>
		<td width="12%"><p style="font-size:1.2em;margin-left:20px; color:#575758"><%= m.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
		<td width="50%"><p style="font-size:1.2em;margin-left:20px; color:#575758"><%=m.subject%></p></td>
		<td width="9%"><p style="margin-right:25px;margin-top:-5px" align="center"><%= button_to "", "/messages/#{m.id}", :method => :delete, :id => "deleteMessage"%>
		<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/favoritesX.png", :onclick => "$('#deleteMessage').click();"%>
		</p></td>
</tr>
<br />
</table>
</div>
