

<%@photos = [] %>
 <%@photos << f.photo unless f.photo.blank?%>
 <%@photos << f.photo2 unless f.photo2.blank?%>
 <%@photos << f.photo3 unless f.photo3.blank?%>
<% @photos << f.photo4 unless f.photo4.blank?%>
<% @photos << f.photo5 unless f.photo5.blank?%>
<% @photos << f.photo6 unless f.photo6.blank?%>
<% @photos << f.photo7 unless f.photo7.blank?%>
<% @photos << f.photo8 unless f.photo8.blank?%>
<% @photos << f.photo9 unless f.photo9.blank?%>
<% @photos << f.photo10 unless f.photo10.blank?%>

<div> 
	<br />
	<p style="margin-left:50px; font-size:1.1em;">Your Review of <a class="reviewOrgLink" href="/organizations/<%=Organization.find(f.organization_id).id%>"> <%=  Organization.find(Program.find(f.program_id).organization_id).name%></a></p>
<p style="text-align:right; font-size:1.1em; margin-top:-15px"><%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p>
	
<table cellspacing="0" border="0" cellpadding="0" width="100%" style="margin-left:20px; margin-right:20px; background-color:#E0EEEE; margin-top:5px">		
	<tr style="background-color:#E0EEEE">
		<td width="50%"><p style="font-size:1.2em; margin-left:50px;">Program: <%= Program.find(f.program_id).name %></td>
		<td width="20%"><p style="font-size:1.2em;">Trip Was: <%= Program.find(f.program_id).length %></td>
		<td ><p align="right" style="margin-top:-5px; margin-right:10px"><%=render :partial => 'star', :locals => {:star => f.overall}%></p></td>
</tr>
<tr style="background-color:#E0EEEE;">
	<td colspan="3"><p style="height:100px; overflow:auto; margin-left:10px; font-size:1.05em;margin-top:-10px; width:96.5%; margin-left:2%;"><%= f.body.gsub("</p>", "<br />").gsub("<p>", "").html_safe %></p></td>
</tr>
<tr style="background-color:#E0EEEE">
	<td colspan="3">
		<% @photos.each do |photo| %>
	  		  <a class="single" href="<%=photo.url%>" rel="lightbox[plants]"><img src="<%=photo.url%>" style="height:30px"/></a>
	    <% end %>
	</td>
</tr>
</table>

	<p style="float:right; text-align:right; margin-right:30px; margin-top:5px"><%= link_to (image_tag "/assets/editDelete.png"), :controller => "reviews", :action => "edit", :id => f.id %>  </p>

	
</div>
	