<%= javascript_include_tag "/assets/jquery.js"%>

<style>
#top {
	margin-right:30px;
}
#innerTopContainer {
	margin-top:30px;
}
#innermostContainer {
	margin:25px;
}
.imageTitleContainer {
	padding:15px; 
	padding-left:0; 
	padding-bottom:0;
}
#whoWeAreContainer {
	margin-top:15px; 
	margin-left:30px; 
	width:95%;
}
.whoWeAreTitleContainer {
	padding:15px; 
	padding-left:30px;
}
table, tr, td {
	background-color:#E3E6D5;
}
.founderImage {
	height:100px;
}
#bottomSectionContainer {
	margin-top:15px;
}
.howHelpContainer {
	padding-left:25px;
}
.howHelpTopBlurb {
	margin-left:25px;
}
li {
	margin-left:25px; 
	padding:5px;
}
</style>



<div class="container" id="top">
	<div class="row" id="innerTopContainer">
		<div class="twelve columns" id="innermostContainer">

<p class="imageTitleContainer"><%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/whatWeDo.png"%></p><br />

VolunteerVoice Intl. is a nonprofit start-up headquartered in Oakland, California.  We think that people who are willing to donate their time and resources for a good cause are amazing.  We also think that volunteer organizations are a great way to connect those amazing people with amazing projects.  Still, there are a lot of organizations out there, and not nearly enough information on who they are, what they do, or exactly where volunteer contributions fit in.<br /><br />

Our mission is to promote effective volunteerism, and to help volunteers connect with great organizations, by making information about all kinds of programs more organized, more honest, and a lot easier to find.  This process is a three-parter:  (1) Conduct our own research and post the important stuff, a lot of which can’t be found on for-profit volunteer sites, in an organized and searchable manner (2) Create a space where Users can post their own content and share their know-how in the form of reviews, questions, and conversations, (3) Build presence for International Volunteer Organizations so that they can interact with and learn from what our Users have to say.  <br /><br />

The big picture? To build a culture of transparency that increases the efficiency and effectiveness of global volunteer programs, in service to their causes, and to the individuals that dedicate precious time and resources to those causes.<br /><br />

Also good to know, our organization does not partner with individual companies, offer adspace to high bidders, or exchange any payment for services with the organizations on this site.  All organizations get equal presence. We also do our very best to keep our information accurate, and keep the culture of this site based on exploration, growth, and respect.<br /><br />

We hope it serves you well.<br /> <br />

-Alyssa Ely, Founder/President


<br />

</div>
</div>
<div class="row">
	<div class="tweleve columns" id="whoWeAreContainer">

<p class="whoWeAreTitleContainer"><%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/whoAre.png"%></p>

<table cellspacing="0" border="0" cellpadding="10">
  <tr>
    <td width ="13%"> <%=image_tag User.find(1).square_image.url, :class => "founderImage"%></td>
    <td width ="35%"> Alyssa Ely is the founder and Executive Director of VolunteerVoice.  She is a recent Berkeley graduate and wannabe change-maker living in Oakland, California.  Once an outrageously charming social butterfly, Alyssa now spends all of her time scouring the internet, feverishly researching volunteer programs, dog breed personalities, and how to get people onto her website (gotcha!).  Her days are decorated with brief breaks to taunt the Canadian geese around Lake Merritt. </td>
    <td width="13%"> <%= image_tag User.find(1).square_image.url, :class => "founderImage" %></td>
    <td width ="35%"> Sajad Shaterian is the co-founder and VP of VolunteerVoice.  Also a Berkeley graduate, his extensive experience in running businesses, teams, and backwards has made him an MVP player on the VVI team.  If you want him to play for your own team, you absolutely must acknowledge  his fame in the culinary world for coining the phrase “Let’s just freeze it!”.  </td>
  </tr>

  <tr>
    <td width ="13%"> <%=image_tag User.find(1).square_image.url, :class => "founderImage"%></td>
    <td width ="35%">Sarah Adams lives in San Francisco and attended Berkeley for computer science and electrical engineering.  Sarah may look like a normal girl, but she is actually only a small part human.  Her hyper-intelligent programming skills and intuitive connection with computers can be explained only by her half human, half machine makeup.  In Sarah, VolunteerVoice has found both a superhuman computer whiz, and a fetchingly human audience to our jokes.   </td>
    <td width="13%"> <%= image_tag User.find(1).square_image.url, :class => "founderImage" %></td>
    <td width ="35%"> Anna Smith is a freelance web designer/programmer stationed in Portland.  We say “stationed” literally, in reference to her impressive base of operations, constructed entirely from reclaimed warships and an extensive network of telephone wires (telepathic receptors).  When commanding from her cushy base chair, Anna can sense and recreate with amazing exaction her client’s aesthetic visions and conceptual needs.  And all without peeking into any bizarre,  humiliating areas of your mind. Or so she says.</td>
  </tr>

</table>
</div>
</div>
<br />
<div class="row">
<div class="twelve columns" id="bottomSectionContainer">


<p class="howHelpContainer"><%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/howHelp.png"%></p><br />
<p class="howHelpTopBlurb">
VolunteerVoice is a small organization, and user input is an essential resource in expanding our website’s reach. There are lots of ways that you can help make this website better for everyone:</p><br /><br />

<li>	Write a Review.  If you volunteered with an organization that we don’t have registered on the site, then DEFINITELY write a review. We will happily use your review to build a profile for that organization.  This is hands down the easiest/fastest way for us to keep up with user needs and make the site more informative.</li>

<li>		Donate! If you like what we do, and you have some extra cash money, we would so appreciate you throwing a little our way.  Even the smallest contributions make a huge difference in keeping our small operation online and kicking.  We are in the midst of becoming a 501(c)3 operation, which means that all of your donations, even those given RIGHT NOW, will be tax deductible.  High five!</li>

<li>		Give us your feedback! If we can make this website more simple, accessible, or efficient in any way, please tell us.  Select the “Contact Us” link at the bottom of any page, and send us an message with your thoughts on how to make this website better for you and other users.  We would really appreciate it.  </li>

<li>		Flag suspicious or inappropriate reviews and comments.  This website is a safe space that is supposed to encourage honest information flow.  If a review or comment uses inappropriate, disrespectful or suspicious language, please “Flag” it so that we can take a look.  (Note: When we say “suspicious”, we mean if a review looks like an advertisement for a company, a weird infomercial product, etc.)  We are hoping to have so many things to do and so much site content that we couldn’t POSSIBLY monitor it all on our own....and we are hoping that you will help us out here. </li>


</div>
</div>
</div>