<!-- PROBLEM WITH FOOTER IS IN SECOND COUNTRY-BOX-->
	
	<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

	<%= javascript_include_tag "/assets/smartpaginator.js"%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>
<link href='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.css' type="text/css" rel="stylesheet"/>
<script src='http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/documentation.js' type="text/javascript"></script>

<link href='/assets/mega-pull-out-menu-styles.css' type="text/css" rel="stylesheet"/>

<% @resulting_ids = []%>
<% @results.each do |f| %>
<% @resulting_ids << f.id%>
<% end %>

<% @resultsO = []%>
<% @results.each do |f|%>
<% @resultsO << Organization.find(f.organization_id) unless @resultsO.include?(Organization.find(f.organization_id))%>
<% end %>

<script type="text/javascript" src="/assets/mega-pull-out-menu-1.0.js"></script>
<script type="text/javascript">
$(function() { 

$('#programCountries').pullOut({
  position: 'right',
  top: '280px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'world',
  color: 'lightblue'
});	
	
$('#programSubjects').pullOut({
  position: 'right',
  top: '200px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'folder',
  color: 'lightblue'
});

$('#lengthOfTrip').pullOut({
  position: 'right',
  top: '360px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'clock',
  color: 'lightblue'
});

$('#groupSize').pullOut({
  position: 'right',
  top: '440px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'man',
  color: 'lightblue'
});

$('#priceRange').pullOut({
  position: 'right',
  top: '520px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'piggy',
  color: 'lightblue'
});

$('#search').pullOut({
  position: 'right',
  top: '600px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'magnifyingglass',
  color: 'green'
});

});
</script>

<script type="text/javascript">


$(document).ready(function() {
	$('a.window').click(function() {

                //Getting the variable's value from a link 
		var box = $(this).attr('href');

		//Fade in the Popup
		$(box).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(box).height() + 24) / 2; 
		var popMargLeft = ($(box).width() + 24) / 2; 

		$(box).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask"></div>')
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
		$('a.country-window').click(function() {

	                //Getting the variable's value from a link 
			var box = $(this).attr('href');

			//Fade in the Popup
			$(box).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(box).height() + 24) / 2; 
			var popMargLeft = ($(box).width() + 24) / 2; 

			$(box).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask"></div>')
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
});


</script>

<script type="text/javascript">

$(document).ready(function() {

	$('#organizations-contents').hide();
	$('#organizations-contents1').hide();
	$('#sortByToggleO').hide();
	
	$('#program').smartpaginator({ totalrecords: <%=@results.count%>, recordsperpage: 5, datacontainer: 'divProgram', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: '#575758' });

	$('#organization').smartpaginator({ totalrecords: <%=@resultsO.count%>, recordsperpage: 5, datacontainer: 'divOrganization', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: '#575758' });
	
	
});

function toggleDisplay(){
		$("#programs-contents").toggle();
		$('#organizations-contents').toggle();
		$("#programs-contents1").toggle();
		$('#organizations-contents1').toggle();
		$("#sortByToggleO").toggle();
		$('#sortByToggleP').toggle();
}


</script>








<div class="container">
<div style="text-align:center; width:100%; margin-top:50px" id="programs-contents1">	
<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/volunteerPrograms.png"%><br /><br />
	<p align="left" style="margin-left:50px; font-family:architectsDaughterRegular; color:#62acbd; font-size:1.3em"> Your search has <%=@results.length%> matches:</p>

	<br />
	<br />

</div>
<div style="text-align:center; width:100%; margin-top:50px" id ="organizations-contents1">
	<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/volunteerOrganizations.png"%><br /><br />
	<p align="left" style="margin-left:50px; font-family:architectsDaughterRegular; color:#62acbd; font-size:1.3em"> Your search has <%=@resultsO.length%> matches:</p>
	
	<br />
	<br />
</div>
</div>
<div class = "container">
	<div class= "row">
		<div class="five columns">
		<p style="font-size:1.5em; color:#575758; line-height:1.1em"> 	Display:</p>
		<div style="position:absolute; left:21%;top:-4px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
			<select id="display" name="display" style="position:absolute; left:-5px; width:255px; height:30px; border: 1px solid #575758; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="$(toggleDisplay())"><option selected='selected'>Programs</option><option>Organizations</option></select>
		</div>
		</div>
		
	<div id= "sortByToggleP">
	<div class="fivecolumns">
	<p style="font-size:1.5em; color:#575758; line-height:1.1em"> List By:</p>	
	
		<form accept-charset="UTF-8" action="sorted_results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
			<div style="position:absolute; left:47%;top:333px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
		<select id="sort" name="sort"  style="border:1px solid #575758; position:absolute; left:-5px; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="this.form.submit()"><option value="ratinghigh">Rating - High</option>
		<option value="ratinglow">Rating - Low</option>
		<option value="alphabetical">Alphabetical</option>
		<option value="pricelow">Price - Low</option>
		<option value="pricehigh">Price - High</option></select>
						<input id="resulting_ids" name="resulting_ids" type="hidden" value="2 3" />
						<input id="type" name="type" type="hidden" value="Program" />
						</div>
		</form>
	</div>
</div>
<div class="container">
		<div id= "sortByToggleO">
			<div class="five columns">
				<p style="font-size:1.5em; color:#575758; line-height:1.1em"> List By:</p>
				<form accept-charset="UTF-8" action="sorted_results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
		<div style="position:absolute; left:19.2%;top:-4px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
		<select id="sort" name="sort" style="position:absolute; left:-5px; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="this.form.submit()">	<option value="ratinghigh">Rating - High</option>
			<option value="ratinglow">Rating - Low</option>
			<option value="alphabetical">Alphabetical</option>
			<option value="pricelow">Price - Low</option>
			<option value="pricehigh">Price - High</option></select>
										<input id="resulting_ids" name="resulting_ids" type="hidden" value="2 3" />
										<input id="type" name="type" type="hidden" value="Organization" />
				</div>
				</form>

			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="container">
	<div class="row">	
<div class="eleven columns">
<div id="programs-contents" class="contents" style="margin-left:10px; margin-top:60px;">
			<% if !(@results.empty?)%>
	<div id="divProgram" style="width:100%; border-top:1px solid #575758; border-left:1px solid #575758; border-right:1px solid #575758s">
		<% @results.each do |f|%>	
		<%= render :partial => "programs_results", :locals => {:f => f}%>
		<% end %>
	</div>
	<div id="program" style="position: relative; top:20px">
			</div>
			</div>
		<% else %>
		<div style="border:1px solid #e67b5a; height:200px; background-color:white; margin-left:25px;">
		<div style="margin:25px">
		<div style="border-top:1px solid #68c2d8; height:150px; border-bottom:1px solid #68c2d8">
			<p style="text-align:center; margin-top:50px; font-family:architectsDaughterRegular;font-size:3em; color: #68c2d8">We've got nothin'</p>
		</div>
		</div>
		</div>
		</div>
		<% end %>
		




	
<div id="organizations-contents" class="contents" style="margin-left:30px; margin-top:60px;">
			<% if !(@resultsO.empty?)%>
	<div id="divOrganization" style="width:100%; border-top:1px solid #575758; border-left:1px solid #575758; border-right:1px solid #575758">

		<% @resultsO.each do |f|%>	
	<%= render :partial => "organizations_results", :locals => {:f => f}%>
	<% end %>
	</div>
	<div id="organization" style="position: relative; top:20px">
		
	</div>
	</div>
	<% else %>
	<div style="border:1px solid #e67b5a; height:200px; background-color:white; margin-left:25px;">
	<div style="margin:25px">
	<div style="border-top:1px solid #68c2d8; height:150px; border-bottom:1px solid #68c2d8">
		<p style="text-align:center; margin-top:50px; font-family:architectsDaughterRegular;font-size:3em; color: #68c2d8">We've got nothin'</p>
	</div>
	</div>
	</div>
	<% end %>

</div>

</div>


</div>
</div>
</div>
</div>
</div>

<form action="/pages/search_machine_results" method="get">

<div id="programSubjects" style="width:600px; padding-bottom:20px; color:#575758">
	
	<div class="six columns" style="width:45%">
		<input onClick='toggleBoxes1(this)'value="false" id='any' name='subject' type='checkbox' checked><font style="font-size:1.2em; color:#575758">Any</font><br />
		<input onclick='toggleBoxes1(this)' value='Agriculture' id='Agriculture2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Agriculture</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Organic Farming' id='OrganicFarming2 ' name='subject[]' type='checkbox'>Organic Farming<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Sustainable Development' id='SustainableDevelopment2 ' name='subject[]' type='checkbox'>Sustainable Development<br />
		
		<input onclick='toggleBoxes1(this)' value='Animal Care' id='AnimalCare2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Animal Care</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Animal Rights' id='AnimalRights2 ' name='subject[]' type='checkbox'>Animal Rights<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Wildlife Conservation' id='WildlifeConservation2 ' name='subject[]' type='checkbox'>Wildlife Conservation<br />
		
		<input onclick='toggleBoxes1(this)' value='Caregiving' id='Caregiving2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Caregiving</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Elder Care' id='ElderCare2 ' name='subject[]' type='checkbox'>Elder Care<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Child/Orphan Care' id='ChildOrphanCare2 ' name='subject[]' type='checkbox'>Child/Orphan Care<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Disabled Care' id='DisabledCare2 ' name='subject[]' type='checkbox'>Disabled Care<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Feed the Homeless' id='FeedtheHomeless2 ' name='subject[]' type='checkbox'>Feed the Homeless<br />
		
		<input onclick='toggleBoxes1(this)' value='Community Development' id='CommunityDevelopment2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Community Development</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Youth Development and Outreach' id='YouthDevelopmentandOutreach2 ' name='subject[]' type='checkbox'>Youth Development and Outreach<br />
		
		<input onclick='toggleBoxes1(this)' value='Construction' id='Construction2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Construction</font><br />
		
		<input onclick='toggleBoxes1(this)' value='Culture and Community' id='CultureandCommunity2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Culture and Community</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Performing Arts' id='PerformingArts2 ' name='subject[]' type='checkbox'>Performing Arts<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Fashion' id='Fashion2 ' name='subject[]' type='checkbox'>Fashion<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Music' id='Music2 ' name='subject[]' type='checkbox'>Music<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Sports & Recreation' id='SportsRecreation2 ' name='subject[]' type='checkbox'>Sports & Recreation<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Journalism' id='Journalism2 ' name='subject[]' type='checkbox'>Journalism<br />
		
		<input onclick='toggleBoxes1(this)' value='Disaster Relief' id='DisasterRelief2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Disaster Relied</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Economics' id='Economics2 ' name='subject[]' type='checkbox'>Economics<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Microfinance' id='Microfinance2 ' name='subject[]' type='checkbox'>Microfinance<br />
		
		<input onclick='toggleBoxes1(this)' value='Education' id='Education2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Education</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Teaching English' id='TeachingEnglish2 ' name='subject[]' type='checkbox'>Teaching English<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Teaching Buddhist Monks' id='TeachingBuddhistMonks2 ' name='subject[]' type='checkbox'>Teaching Buddhist Monks<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Teaching Children' id='TeachingChildren2 ' name='subject[]' type='checkbox'>Teaching Children<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Teaching Computer Literacy' id='Teaching_Computer_Literacy2 ' name='subject[]' type='checkbox'>Teaching Computer Literacy<br /><br />
		</div>
		
		
		<div class="six columns" style="width:45%">
		<input onclick='toggleBoxes1(this)' value='Engineering and Infrastructure' id='EngineeringandInfrastructure2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Engineering and Infrastructure</font><br />
		
		<input onclick='toggleBoxes1(this)' value='Environmental' id='Environmental2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Environmental</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Ecological Conservation' id='EcologicalConservation2 ' name='subject[]' type='checkbox'>Ecological Conservation<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Sustainable Development' id='Sustainable_Development2 ' name='subject[]' type='checkbox'>Sustainable Development<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Wildlife Conservation' id='Wildlife_Conservation2 ' name='subject[]' type='checkbox'>Wildlife Conservation<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Habitat Restoration' id='HabitatRestoration2 ' name='subject[]' type='checkbox'>Habitat Restoration<br />
		
		<input onclick='toggleBoxes1(this)' value='Health and Medicine' id='HealthandMedicine2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Health and Medicine</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='HIV/AIDS' id='HIVAIDS2 ' name='subject[]' type='checkbox'>HIV/AIDS<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Nutrition' id='Nutrition2 ' name='subject[]' type='checkbox'>Nutrition<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Family Planning' id='FamilyPlanning2 ' name='subject[]' type='checkbox'>Family Planning<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Veterinary Medicine' id='VeterinaryMedicine2 ' name='subject[]' type='checkbox'>Veterinary Medicine<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Clinical Work' id='ClinicalWork2 ' name='subject[]' type='checkbox'>Clinical Work<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Dental Work' id='DentalWork2 ' name='subject[]' type='checkbox'>Dental Work<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Medical Research' id='MedicalResearch2 ' name='subject[]' type='checkbox'>Medical Research<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Health Education' id='HealthEducation2 ' name='subject[]' type='checkbox'>Health Education<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Public Health' id='PublicHealth2 ' name='subject[]' type='checkbox'>Public Health<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Hospital Care-giving' id='HospitalCaregiving2 ' name='subject[]' type='checkbox'>Hospital Care-giving<br />
		
		<input onclick='toggleBoxes1(this)' value='Human Rights' id='HumanRights2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Human Rights</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Womens Initiatives' id='WomensInitiatives2 ' name='subject[]' type='checkbox'>Women's Initiatives<br />
		
		<input onclick='toggleBoxes1(this)' value='International Work Camp' id='InternationalWorkCamp2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">International Work Camp</font><br />
		
		<input onclick='toggleBoxes1(this)' value='Recreation' id='Recreation2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Recreation</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Adventure Travel' id='AdventureTravel2 ' name='subject[]' type='checkbox'>Adventure Travel<br />
		
		<input onclick='toggleBoxes1(this)' value='Scientific Research' id='ScientificResearch2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Scientific Research</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Archaeology' id='Archaeology2 ' name='subject[]' type='checkbox'>Archaeology<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Environmental Biology' id='EnvironmentalBiology2 ' name='subject[]' type='checkbox'>Environmental Biology<br />
		
		<input onclick='toggleBoxes1(this)' value='Technology' id='Technology2 ' name='subject[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Technology</font><br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Teaching Computer Literacy' id='TeachingComputerLiteracy2 ' name='subject[]' type='checkbox'>Teaching Computer Literacy<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<input onclick='toggleBoxes1(this)' value='Media, Marketing, and Graphic Design' id='MediaMarketingandGraphicDesign2' name='subject[]' type='checkbox'>Media, Marketing, and Graphic Design<br />
	</div>
	
</div>


<div id="lengthOfTrip" style="width:300px; padding-bottom:20px; color:#575758">
	<div class="six columns" style="width:45%">
	<input onClick='toggleBoxes2(this)'value="false" id='any2' name='length' type='checkbox' checked>Any <br />
    <input onclick='toggleBoxes2(this)' value='1 week or less' id='1_length' name='length[]' type='checkbox'>1 week or less<br />
	<input onclick='toggleBoxes2(this)' value='2-4 weeks' id='2_length' name='length[]' type='checkbox'>2-4 weeks<br />
	<input onclick='toggleBoxes2(this)' value='5-8 weeks' id='3_length' name='length[]' type='checkbox'>5-8 weeks<br />
	<input onclick='toggleBoxes2(this)' value='9-12 weeks' id='4_length' name='length[]' type='checkbox'>9-12 weeks<br /><br />
	</div>
	<div class="six columns" style="width:45%">
	<input onclick='toggleBoxes2(this)' value='3-6 months' id='5_length' name='length[]' type='checkbox'>3-6 months<br />
	<input onclick='toggleBoxes2(this)' value='6-12 months' id='6_length' name='length[]' type='checkbox'>6-12 months<br />
	<input onclick='toggleBoxes2(this)' value='1-2 years' id='7_length' name='length[]' type='checkbox'>1-2 years<br />
	<input onclick='toggleBoxes2(this)' value='2+ years' id='8_length' name='length[]' type='checkbox'>2+ years<br />
	</div>
</div>


<div id="groupSize" style="width:350px; padding-bottom:20px; color:#575758">
	<div class="six columns" style="width:45%">
	 <input onClick='toggleBoxes3(this)'value="false" id='any3' name='group_size' type='checkbox' checked>Any<br />
        <input onclick='toggleBoxes3(this)' value='Individual' id='1_group' name='group_size[]' type='checkbox'>Individual<br />
		<input onclick='toggleBoxes3(this)' value='Small Groups (2-3)' id='2_group' name='group_size[]' type='checkbox'>Small Groups (2-3)<br /><br />
		</div>
		<div class="six columns" style="width:45%">
		<input onclick='toggleBoxes3(this)' value='Medium Groups (4-10)' id='3_group' name='group_size[]' type='checkbox'>Medium Groups (4-10)<br />
		<input onclick='toggleBoxes3(this)' value='Large Gropus (15+)' id='4_group' name='group_size[]' type='checkbox'>Large Gropus (15+)<br /></div>
</div>



<div id="priceRange" style="color:#575758">
<br />
    Min: <input type="number" value= 0 name="price_min" id= "price_min" style="background:white; width:150px"/>
    Max: <input type="number" value= 999 name="price_max" id = "price_max" style="background:white; margin-top:5px; width:150px"/><br /><br />

</div>



<div id="programCountries" style="color:#575758; width:800px">
	<div class="three columns" style="width:20%">
	
	<input onclick='toggleBoxes(this);toggleAfrica(this)' value='Africa' id='anyAfrica' name='countries[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Africa</font>
	<input onclick='toggleBoxes(this)' value='DZ' id='DZ2' name='countries[]' type='checkbox'> Algeria<br />
	<input onclick='toggleBoxes(this)' value='EG' id='EG2' name='countries[]' type='checkbox'> Egypt<br />
	<input onclick='toggleBoxes(this)' value='LY' id='LY2' name='countries[]' type='checkbox'> Libya<br />
	<input onclick='toggleBoxes(this)' value='MA' id='MA2' name='countries[]' type='checkbox'> Morocco<br />
	<input onclick='toggleBoxes(this)' value='SD' id='SD2' name='countries[]' type='checkbox'> Sudan<br />
	<input onclick='toggleBoxes(this)' value='TN' id='TN2' name='countries[]' type='checkbox'> Tunisia<br />
	<input onclick='toggleBoxes(this)' value='EH' id='EH2' name='countries[]' type='checkbox'> Western Sahara<br />
	<input onclick='toggleBoxes(this)' value='BJ' id='BJ2' name='countries[]' type='checkbox'> Benin<br />
	<input onclick='toggleBoxes(this)' value='BF' id='BF2' name='countries[]' type='checkbox'> Burkina Faso<br />
	<input onclick='toggleBoxes(this)' value='CV' id='CV2' name='countries[]' type='checkbox'> Cape Verde<br />
	<input onclick='toggleBoxes(this)' value='CI' id='CI2' name='countries[]' type='checkbox'> Côte d'Ivoire<br />
	<input onclick='toggleBoxes(this)' value='GM' id='GM2' name='countries[]' type='checkbox'> Gambia<br />
	<input onclick='toggleBoxes(this)' value='GH' id='GH2' name='countries[]' type='checkbox'> Ghana<br />
	<input onclick='toggleBoxes(this)' value='GN' id='GN2' name='countries[]' type='checkbox'> Guinea<br />
	<input onclick='toggleBoxes(this)' value='GW' id='GW2' name='countries[]' type='checkbox'> Guinea-Bissau<br />
	<input onclick='toggleBoxes(this)' value='LR' id='LR2' name='countries[]' type='checkbox'> Liberia<br />
	<input onclick='toggleBoxes(this)' value='ML' id='ML2' name='countries[]' type='checkbox'> Mali<br />
	<input onclick='toggleBoxes(this)' value='MR' id='MR2' name='countries[]' type='checkbox'> Mauritania<br />
	<input onclick='toggleBoxes(this)' value='NE' id='NE2' name='countries[]' type='checkbox'> Niger<br />
	<input onclick='toggleBoxes(this)' value='NG' id='NG2' name='countries[]' type='checkbox'> Nigeria<br />
	<input onclick='toggleBoxes(this)' value='SH' id='SH2' name='countries[]' type='checkbox'> Saint Helena, Ascension and Tristan da Cunha<br />
	<input onclick='toggleBoxes(this)' value='SN' id='SN2' name='countries[]' type='checkbox'> Senegal<br />
	<input onclick='toggleBoxes(this)' value='SL' id='SL2' name='countries[]' type='checkbox'> Sierra Leone<br />
	<input onclick='toggleBoxes(this)' value='TG' id='TG2' name='countries[]' type='checkbox'> Togo<br />
	<input onclick='toggleBoxes(this)' value='AO' id='AO2' name='countries[]' type='checkbox'> Angola<br />
	<input onclick='toggleBoxes(this)' value='CM' id='CM2' name='countries[]' type='checkbox'> Cameroon<br />
	<input onclick='toggleBoxes(this)' value='CF' id='CF2' name='countries[]' type='checkbox'> Central African Republic<br />
	<input onclick='toggleBoxes(this)' value='TD' id='TD2' name='countries[]' type='checkbox'> Chad<br />
	<input onclick='toggleBoxes(this)' value='CG' id='CG2' name='countries[]' type='checkbox'> Congo<br />
	<input onclick='toggleBoxes(this)' value='CD' id='CD2' name='countries[]' type='checkbox'> Congo, the Democratic Republic of the<br />
	<input onclick='toggleBoxes(this)' value='GQ' id='GQ2' name='countries[]' type='checkbox'> Equatorial Guinea<br />
	<input onclick='toggleBoxes(this)' value='GA' id='GA2' name='countries[]' type='checkbox'> Gabon<br />
	<input onclick='toggleBoxes(this)' value='ST' id='ST2' name='countries[]' type='checkbox'> Sao Tome and Principe<br />
	<input onclick='toggleBoxes(this)' value='BI' id='BI2' name='countries[]' type='checkbox'> Burundi<br />
	<input onclick='toggleBoxes(this)' value='KM' id='KM2' name='countries[]' type='checkbox'> Comoros<br />
	<input onclick='toggleBoxes(this)' value='DJ' id='DJ2' name='countries[]' type='checkbox'> Djibouti<br />
	<input onclick='toggleBoxes(this)' value='ER' id='ER2' name='countries[]' type='checkbox'> Eritrea<br />
	<input onclick='toggleBoxes(this)' value='ET' id='ET2' name='countries[]' type='checkbox'> Ethiopia<br />
	<input onclick='toggleBoxes(this)' value='KE' id='KE2' name='countries[]' type='checkbox'> Kenya<br />
	<input onclick='toggleBoxes(this)' value='MG' id='MG2' name='countries[]' type='checkbox'> Madagascar<br />
	<input onclick='toggleBoxes(this)' value='MW' id='MW2' name='countries[]' type='checkbox'> Malawi<br />
	<input onclick='toggleBoxes(this)' value='MU' id='MU2' name='countries[]' type='checkbox'> Mauritius<br />
	<input onclick='toggleBoxes(this)' value='YT' id='YT2' name='countries[]' type='checkbox'> Mayotte<br />
	<input onclick='toggleBoxes(this)' value='MZ' id='MZ2' name='countries[]' type='checkbox'> Mozambique<br />
	<input onclick='toggleBoxes(this)' value='RE' id='RE2' name='countries[]' type='checkbox'> Réunion<br />
	<input onclick='toggleBoxes(this)' value='RW' id='RW2' name='countries[]' type='checkbox'> Rwanda<br />
	<input onclick='toggleBoxes(this)' value='SC' id='SC2' name='countries[]' type='checkbox'> Seychelles<br />
	<input onclick='toggleBoxes(this)' value='SO' id='SO2' name='countries[]' type='checkbox'> Somalia<br />
	<input onclick='toggleBoxes(this)' value='TZ' id='TZ2' name='countries[]' type='checkbox'> Tanzania, United Republic of<br />
	<input onclick='toggleBoxes(this)' value='UG' id='UG2' name='countries[]' type='checkbox'> Uganda<br />
	<input onclick='toggleBoxes(this)' value='ZM' id='ZM2' name='countries[]' type='checkbox'> Zambia<br />
	<input onclick='toggleBoxes(this)' value='ZW' id='ZW2' name='countries[]' type='checkbox'> Zimbabwe<br />
	<input onclick='toggleBoxes(this)' value='BW' id='BW2' name='countries[]' type='checkbox'> Botswana<br />
	<input onclick='toggleBoxes(this)' value='LS' id='LS2' name='countries[]' type='checkbox'> Lesotho<br />
	<input onclick='toggleBoxes(this)' value='NA' id='NA2' name='countries[]' type='checkbox'> Namibia<br />
	<input onclick='toggleBoxes(this)' value='ZA' id='ZA2' name='countries[]' type='checkbox'> South Africa<br />
	<input onclick='toggleBoxes(this)' value='SZ' id='SZ2' name='countries[]' type='checkbox'> Swaziland<br />
	</div>
	
	
	
	<div class="three columns" style="width:20%">
		
	<input onclick='toggleBoxes(this);toggleEurope(this)' value='Europe' id='anyEurope' name='countries[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Europe</font>	
	<input onclick='toggleBoxes(this)' value='AX' id='AX2' name='countries[]' type='checkbox'> Åland Islands<br />
	<input onclick='toggleBoxes(this)' value='DK' id='DK2' name='countries[]' type='checkbox'> Denmark<br />
	<input onclick='toggleBoxes(this)' value='EE' id='EE2' name='countries[]' type='checkbox'> Estonia<br />
	<input onclick='toggleBoxes(this)' value='FO' id='FO2' name='countries[]' type='checkbox'> Faroe Islands<br />
	<input onclick='toggleBoxes(this)' value='FI' id='FI2' name='countries[]' type='checkbox'> Finland<br />
	<input onclick='toggleBoxes(this)' value='GG' id='GG2' name='countries[]' type='checkbox'> Guernsey<br />
	<input onclick='toggleBoxes(this)' value='IS' id='IS2' name='countries[]' type='checkbox'> Iceland<br />
	<input onclick='toggleBoxes(this)' value='IE' id='IE2' name='countries[]' type='checkbox'> Ireland<br />
	<input onclick='toggleBoxes(this)' value='IM' id='IM2' name='countries[]' type='checkbox'> Isle of Man<br />
	<input onclick='toggleBoxes(this)' value='JE' id='JE2' name='countries[]' type='checkbox'> Jersey<br />
	<input onclick='toggleBoxes(this)' value='LV' id='LV2' name='countries[]' type='checkbox'> Latvia<br />
	<input onclick='toggleBoxes(this)' value='LT' id='LT2' name='countries[]' type='checkbox'> Lithuania<br />
	<input onclick='toggleBoxes(this)' value='NO' id='NO2' name='countries[]' type='checkbox'> Norway<br />
	<input onclick='toggleBoxes(this)' value='SJ' id='SJ2' name='countries[]' type='checkbox'> Svalbard and Jan Mayen<br />
	<input onclick='toggleBoxes(this)' value='SE' id='SE2' name='countries[]' type='checkbox'> Sweden<br />
	<input onclick='toggleBoxes(this)' value='GB' id='GB2' name='countries[]' type='checkbox'> United Kingdom<br />
	<input onclick='toggleBoxes(this)' value='AT' id='AT2' name='countries[]' type='checkbox'> Austria<br />
	<input onclick='toggleBoxes(this)' value='BE' id='BE2' name='countries[]' type='checkbox'> Belgium<br />
	<input onclick='toggleBoxes(this)' value='FR' id='FR2' name='countries[]' type='checkbox'> France<br />
	<input onclick='toggleBoxes(this)' value='DE' id='DE2' name='countries[]' type='checkbox'> Germany<br />
	<input onclick='toggleBoxes(this)' value='LI' id='LI2' name='countries[]' type='checkbox'> Liechtenstein<br />
	<input onclick='toggleBoxes(this)' value='LU' id='LU2' name='countries[]' type='checkbox'> Luxembourg<br />
	<input onclick='toggleBoxes(this)' value='MC' id='MC2' name='countries[]' type='checkbox'> Monaco<br />
	<input onclick='toggleBoxes(this)' value='NL' id='NL2' name='countries[]' type='checkbox'> Netherlands<br />
	<input onclick='toggleBoxes(this)' value='CH' id='CH2' name='countries[]' type='checkbox'> Switzerland<br />
	<input onclick='toggleBoxes(this)' value='BY' id='BY2' name='countries[]' type='checkbox'> Belarus<br />
	<input onclick='toggleBoxes(this)' value='BG' id='BG2' name='countries[]' type='checkbox'> Bulgaria<br />
	<input onclick='toggleBoxes(this)' value='CZ' id='CZ2' name='countries[]' type='checkbox'> Czech Republic<br />
	<input onclick='toggleBoxes(this)' value='HU' id='HU2' name='countries[]' type='checkbox'> Hungary<br />
	<input onclick='toggleBoxes(this)' value='MD' id='MD2' name='countries[]' type='checkbox'> Moldova, Republic of<br />
	<input onclick='toggleBoxes(this)' value='PL' id='PL2' name='countries[]' type='checkbox'> Poland<br />
	<input onclick='toggleBoxes(this)' value='RO' id='RO2' name='countries[]' type='checkbox'> Romania<br />
	<input onclick='toggleBoxes(this)' value='RU' id='RU2' name='countries[]' type='checkbox'> Russian Federation<br />
	<input onclick='toggleBoxes(this)' value='SK' id='SK2' name='countries[]' type='checkbox'> Slovakia<br />
	<input onclick='toggleBoxes(this)' value='UA' id='UA2' name='countries[]' type='checkbox'> Ukraine<br />
	<input onclick='toggleBoxes(this)' value='AL' id='AL2' name='countries[]' type='checkbox'> Albania<br />
	<input onclick='toggleBoxes(this)' value='AD' id='AD2' name='countries[]' type='checkbox'> Andorra<br />
	<input onclick='toggleBoxes(this)' value='BA' id='BA2' name='countries[]' type='checkbox'> Bosnia and Herzegovina<br />
	<input onclick='toggleBoxes(this)' value='HR' id='HR2' name='countries[]' type='checkbox'> Croatia<br />
	<input onclick='toggleBoxes(this)' value='GI' id='GI2' name='countries[]' type='checkbox'> Gibraltar<br />
	<input onclick='toggleBoxes(this)' value='GR' id='GR2' name='countries[]' type='checkbox'> Greece<br />
	<input onclick='toggleBoxes(this)' value='VA' id='VA2' name='countries[]' type='checkbox'> Holy See (Vatican City State)<br />
	<input onclick='toggleBoxes(this)' value='IT' id='IT2' name='countries[]' type='checkbox'> Italy<br />
	<input onclick='toggleBoxes(this)' value='MK' id='MK2' name='countries[]' type='checkbox'> Macedonia, the former Yugoslav Republic of<br />
	<input onclick='toggleBoxes(this)' value='MT' id='MT2' name='countries[]' type='checkbox'> Malta<br />
	<input onclick='toggleBoxes(this)' value='ME' id='ME2' name='countries[]' type='checkbox'> Montenegro<br />
	<input onclick='toggleBoxes(this)' value='PT' id='PT2' name='countries[]' type='checkbox'> Portugal<br />
	<input onclick='toggleBoxes(this)' value='SM' id='SM2' name='countries[]' type='checkbox'> San Marino<br />
	<input onclick='toggleBoxes(this)' value='RS' id='RS2' name='countries[]' type='checkbox'> Serbia<br />
	<input onclick='toggleBoxes(this)' value='SI' id='SI2' name='countries[]' type='checkbox'> Slovenia<br />
	<input onclick='toggleBoxes(this)' value='ES' id='ES2' name='countries[]' type='checkbox'> Spain<br /><br />
	
	
	<input onclick='toggleBoxes(this);toggleAmericas(this)' value='Americas' id='anyAmericas' name='countries[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Americas</font>
	<input onclick='toggleBoxes(this)' value='BM' id='BM2' name='countries[]' type='checkbox'> Bermuda<br />
	<input onclick='toggleBoxes(this)' value='CA' id='CA2' name='countries[]' type='checkbox'> Canada<br />
	<input onclick='toggleBoxes(this)' value='GL' id='GL2' name='countries[]' type='checkbox'> Greenland<br />
	<input onclick='toggleBoxes(this)' value='PM' id='PM2' name='countries[]' type='checkbox'> Saint Pierre and Miquelon<br />
	<input onclick='toggleBoxes(this)' value='US' id='US2' name='countries[]' type='checkbox'> United States<br />
	<input onclick='toggleBoxes(this)' value='AI' id='AI2' name='countries[]' type='checkbox'> Anguilla<br />
	<input onclick='toggleBoxes(this)' value='AG' id='AG2' name='countries[]' type='checkbox'> Antigua and Barbuda<br />
	<input onclick='toggleBoxes(this)' value='AW' id='AW2' name='countries[]' type='checkbox'> Aruba<br />
	<input onclick='toggleBoxes(this)' value='BS' id='BS2' name='countries[]' type='checkbox'> Bahamas<br />
	<input onclick='toggleBoxes(this)' value='BB' id='BB2' name='countries[]' type='checkbox'> Barbados<br />
	<input onclick='toggleBoxes(this)' value='KY' id='KY2' name='countries[]' type='checkbox'> Cayman Islands<br />
	<input onclick='toggleBoxes(this)' value='CU' id='CU2' name='countries[]' type='checkbox'> Cuba<br />
	<input onclick='toggleBoxes(this)' value='DM' id='DM2' name='countries[]' type='checkbox'> Dominica<br />
	<input onclick='toggleBoxes(this)' value='DO' id='DO2' name='countries[]' type='checkbox'> Dominican Republic<br />
	<input onclick='toggleBoxes(this)' value='GD' id='GD2' name='countries[]' type='checkbox'> Grenada<br />
	<input onclick='toggleBoxes(this)' value='GP' id='GP2' name='countries[]' type='checkbox'> Guadeloupe<br />
	<input onclick='toggleBoxes(this)' value='HT' id='HT2' name='countries[]' type='checkbox'> Haiti<br />
	<input onclick='toggleBoxes(this)' value='JM' id='JM2' name='countries[]' type='checkbox'> Jamaica<br />
	<input onclick='toggleBoxes(this)' value='MQ' id='MQ2' name='countries[]' type='checkbox'> Martinique<br />
	<input onclick='toggleBoxes(this)' value='MS' id='MS2' name='countries[]' type='checkbox'> Montserrat<br />
	<input onclick='toggleBoxes(this)' value='PR' id='PR2' name='countries[]' type='checkbox'> Puerto Rico<br />
	<input onclick='toggleBoxes(this)' value='BL' id='BL2' name='countries[]' type='checkbox'> Saint Barthélemy<br />
	<input onclick='toggleBoxes(this)' value='KN' id='KN2' name='countries[]' type='checkbox'> Saint Kitts and Nevis<br />
	<input onclick='toggleBoxes(this)' value='LC' id='LC2' name='countries[]' type='checkbox'> Saint Lucia<br />
	<input onclick='toggleBoxes(this)' value='MF' id='MF2' name='countries[]' type='checkbox'> Saint Martin (French part)<br />
	<input onclick='toggleBoxes(this)' value='VC' id='VC2' name='countries[]' type='checkbox'> Saint Vincent and the Grenadines<br />
	<input onclick='toggleBoxes(this)' value='TT' id='TT2' name='countries[]' type='checkbox'> Trinidad and Tobago<br />
	<input onclick='toggleBoxes(this)' value='TC' id='TC2' name='countries[]' type='checkbox'> Turks and Caicos Islands<br />
	<input onclick='toggleBoxes(this)' value='VG' id='VG2' name='countries[]' type='checkbox'> Virgin Islands, British<br />
	<input onclick='toggleBoxes(this)' value='VI' id='VI2' name='countries[]' type='checkbox'> Virgin Islands, U.S.<br />
	<input onclick='toggleBoxes(this)' value='BZ' id='BZ2' name='countries[]' type='checkbox'> Belize<br />
	<input onclick='toggleBoxes(this)' value='CR' id='CR2' name='countries[]' type='checkbox'> Costa Rica<br />
	<input onclick='toggleBoxes(this)' value='SV' id='SV2' name='countries[]' type='checkbox'> El Salvador<br />
	<input onclick='toggleBoxes(this)' value='GT' id='GT2' name='countries[]' type='checkbox'> Guatemala<br />
	<input onclick='toggleBoxes(this)' value='HN' id='HN2' name='countries[]' type='checkbox'> Honduras<br />
	<input onclick='toggleBoxes(this)' value='MX' id='MX2' name='countries[]' type='checkbox'> Mexico<br />
	<input onclick='toggleBoxes(this)' value='NI' id='NI2' name='countries[]' type='checkbox'> Nicaragua<br />
	<input onclick='toggleBoxes(this)' value='PA' id='PA2' name='countries[]' type='checkbox'> Panama<br />
	<input onclick='toggleBoxes(this)' value='AR' id='AR2' name='countries[]' type='checkbox'> Argentina<br />
	<input onclick='toggleBoxes(this)' value='BO' id='BO2' name='countries[]' type='checkbox'> Bolivia, Plurinational State of<br />
	<input onclick='toggleBoxes(this)' value='BR' id='BR2' name='countries[]' type='checkbox'> Brazil<br />
	<input onclick='toggleBoxes(this)' value='CL' id='CL2' name='countries[]' type='checkbox'> Chile<br />
	<input onclick='toggleBoxes(this)' value='CO' id='CO2' name='countries[]' type='checkbox'> Colombia<br />
	<input onclick='toggleBoxes(this)' value='EC' id='EC2' name='countries[]' type='checkbox'> Ecuador<br />
	<input onclick='toggleBoxes(this)' value='FK' id='FK2' name='countries[]' type='checkbox'> Falkland Islands (Malvinas)<br />
	<input onclick='toggleBoxes(this)' value='GF' id='GF2' name='countries[]' type='checkbox'> French Guiana<br />
	<input onclick='toggleBoxes(this)' value='GY' id='GY2' name='countries[]' type='checkbox'> Guyana<br />
	<input onclick='toggleBoxes(this)' value='PY' id='PY2' name='countries[]' type='checkbox'> Paraguay<br />
	<input onclick='toggleBoxes(this)' value='PE' id='PE2' name='countries[]' type='checkbox'> Peru<br />
	<input onclick='toggleBoxes(this)' value='SR' id='SR2' name='countries[]' type='checkbox'> Suriname<br />
	<input onclick='toggleBoxes(this)' value='UY' id='UY2' name='countries[]' type='checkbox'> Uruguay<br />
	<input onclick='toggleBoxes(this)' value='VE' id='VE2' name='countries[]' type='checkbox'> Venezuela, Bolivarian Republic of<br /><br />
	</div>
	
	
	
	<div class="three columns" style="width:20%">
	<input onclick='toggleBoxes(this);toggleAsia(this)' value='Asia' id='anyAsia' name='countries[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Asia</font>
	<input onclick='toggleBoxes(this)' value='KZ' id='KZ2' name='countries[]' type='checkbox'> Kazakhstan<br />
	<input onclick='toggleBoxes(this)' value='KG' id='KG2' name='countries[]' type='checkbox'> Kyrgyzstan<br />
	<input onclick='toggleBoxes(this)' value='TJ' id='TJ2' name='countries[]' type='checkbox'> Tajikistan<br />
	<input onclick='toggleBoxes(this)' value='TM' id='TM2' name='countries[]' type='checkbox'> Turkmenistan<br />
	<input onclick='toggleBoxes(this)' value='UZ' id='UZ2' name='countries[]' type='checkbox'> Uzbekistan<br />
	<input onclick='toggleBoxes(this)' value='CN' id='CN2' name='countries[]' type='checkbox'> China<br />
	<input onclick='toggleBoxes(this)' value='HK' id='HK2' name='countries[]' type='checkbox'> Hong Kong<br />
	<input onclick='toggleBoxes(this)' value='JP' id='JP2' name='countries[]' type='checkbox'> Japan<br />
	<input onclick='toggleBoxes(this)' value='KP' id='KP2' name='countries[]' type='checkbox'> Korea, Democratic People's Republic of<br />
	<input onclick='toggleBoxes(this)' value='KR' id='KR2' name='countries[]' type='checkbox'> Korea, Republic of<br />
	<input onclick='toggleBoxes(this)' value='MO' id='MO2' name='countries[]' type='checkbox'> Macao<br />
	<input onclick='toggleBoxes(this)' value='MN' id='MN2' name='countries[]' type='checkbox'> Mongolia<br />
	<input onclick='toggleBoxes(this)' value='TW' id='TW2' name='countries[]' type='checkbox'> Taiwan, Province of China<br />
	<input onclick='toggleBoxes(this)' value='AF' id='AF2' name='countries[]' type='checkbox'> Afghanistan<br />
	<input onclick='toggleBoxes(this)' value='BD' id='BD2' name='countries[]' type='checkbox'> Bangladesh<br />
	<input onclick='toggleBoxes(this)' value='BT' id='BT2' name='countries[]' type='checkbox'> Bhutan<br />
	<input onclick='toggleBoxes(this)' value='IN' id='IN2' name='countries[]' type='checkbox'> India<br />
	<input onclick='toggleBoxes(this)' value='IR' id='IR2' name='countries[]' type='checkbox'> Iran, Islamic Republic of<br />
	<input onclick='toggleBoxes(this)' value='MV' id='MV2' name='countries[]' type='checkbox'> Maldives<br />
	<input onclick='toggleBoxes(this)' value='NP' id='NP2' name='countries[]' type='checkbox'> Nepal<br />
	<input onclick='toggleBoxes(this)' value='PK' id='PK2' name='countries[]' type='checkbox'> Pakistan<br />
	<input onclick='toggleBoxes(this)' value='LK' id='LK2' name='countries[]' type='checkbox'> Sri Lanka<br />
	<input onclick='toggleBoxes(this)' value='BN' id='BN2' name='countries[]' type='checkbox'> Brunei Darussalam<br />
	<input onclick='toggleBoxes(this)' value='KH' id='KH2' name='countries[]' type='checkbox'> Cambodia<br />
	<input onclick='toggleBoxes(this)' value='ID' id='ID2' name='countries[]' type='checkbox'> Indonesia<br />
	<input onclick='toggleBoxes(this)' value='LA' id='LA2' name='countries[]' type='checkbox'> Lao People's Democratic Republic<br />
	<input onclick='toggleBoxes(this)' value='MY' id='MY2' name='countries[]' type='checkbox'> Malaysia<br />
	<input onclick='toggleBoxes(this)' value='MM' id='MM2' name='countries[]' type='checkbox'> Myanmar<br />
	<input onclick='toggleBoxes(this)' value='PH' id='PH2' name='countries[]' type='checkbox'> Philippines<br />
	<input onclick='toggleBoxes(this)' value='SG' id='SG2' name='countries[]' type='checkbox'> Singapore<br />
	<input onclick='toggleBoxes(this)' value='TH' id='TH2' name='countries[]' type='checkbox'> Thailand<br />
	<input onclick='toggleBoxes(this)' value='TL' id='TL2' name='countries[]' type='checkbox'> Timor-Leste<br />
	<input onclick='toggleBoxes(this)' value='VN' id='VN2' name='countries[]' type='checkbox'> Viet Nam<br />
	<input onclick='toggleBoxes(this)' value='AM' id='AM2' name='countries[]' type='checkbox'> Armenia<br />
	<input onclick='toggleBoxes(this)' value='AZ' id='AZ2' name='countries[]' type='checkbox'> Azerbaijan<br />
	<input onclick='toggleBoxes(this)' value='BH' id='BH2' name='countries[]' type='checkbox'> Bahrain<br />
	<input onclick='toggleBoxes(this)' value='CY' id='CY2' name='countries[]' type='checkbox'> Cyprus<br />
	<input onclick='toggleBoxes(this)' value='GE' id='GE2' name='countries[]' type='checkbox'> Georgia<br />
	<input onclick='toggleBoxes(this)' value='IQ' id='IQ2' name='countries[]' type='checkbox'> Iraq<br />
	<input onclick='toggleBoxes(this)' value='IL' id='IL2' name='countries[]' type='checkbox'> Israel<br />
	<input onclick='toggleBoxes(this)' value='JO' id='JO2' name='countries[]' type='checkbox'> Jordan<br />
	<input onclick='toggleBoxes(this)' value='KW' id='KW2' name='countries[]' type='checkbox'> Kuwait<br />
	<input onclick='toggleBoxes(this)' value='LB' id='LB2' name='countries[]' type='checkbox'> Lebanon<br />
	<input onclick='toggleBoxes(this)' value='OM' id='OM2' name='countries[]' type='checkbox'> Oman<br />
	<input onclick='toggleBoxes(this)' value='PS' id='PS2' name='countries[]' type='checkbox'> Palestinian Territory, Occupied<br />
	<input onclick='toggleBoxes(this)' value='QA' id='QA2' name='countries[]' type='checkbox'> Qatar<br />
	<input onclick='toggleBoxes(this)' value='SA' id='SA2' name='countries[]' type='checkbox'> Saudi Arabia<br />
	<input onclick='toggleBoxes(this)' value='SY' id='SY2' name='countries[]' type='checkbox'> Syrian Arab Republic<br />
	<input onclick='toggleBoxes(this)' value='TR' id='TR2' name='countries[]' type='checkbox'> Turkey<br />
	<input onclick='toggleBoxes(this)' value='AE' id='AE2' name='countries[]' type='checkbox'> United Arab Emirates<br />
	<input onclick='toggleBoxes(this)' value='YE' id='YE2' name='countries[]' type='checkbox'> Yemen<br />
	</div>
	
	
	
	<div class="three columns" style="width:20%">
	<input onclick='toggleBoxes(this)' value='Oceania' id='anyOceania' name='countries[]' type='checkbox'><font style="font-size:1.2em; color:#575758">Oceania</font>
	<input onclick='toggleBoxes(this)' value='AU' id='AU2' name='countries[]' type='checkbox'> Australia<br />
	<input onclick='toggleBoxes(this)' value='NZ' id='NZ2' name='countries[]' type='checkbox'> New Zealand<br />
	<input onclick='toggleBoxes(this)' value='NF' id='NF2' name='countries[]' type='checkbox'> Norfolk Island<br />
	<input onclick='toggleBoxes(this)' value='FJ' id='FJ2' name='countries[]' type='checkbox'> Fiji<br />
	<input onclick='toggleBoxes(this)' value='NC' id='NC2' name='countries[]' type='checkbox'> New Caledonia<br />
	<input onclick='toggleBoxes(this)' value='PG' id='PG2' name='countries[]' type='checkbox'> Papua New Guinea<br />
	<input onclick='toggleBoxes(this)' value='SB' id='SB2' name='countries[]' type='checkbox'> Solomon Islands<br />
	<input onclick='toggleBoxes(this)' value='VU' id='VU2' name='countries[]' type='checkbox'> Vanuatu<br />
	<input onclick='toggleBoxes(this)' value='GU' id='GU2' name='countries[]' type='checkbox'> Guam<br />
	<input onclick='toggleBoxes(this)' value='KI' id='KI2' name='countries[]' type='checkbox'> Kiribati<br />
	<input onclick='toggleBoxes(this)' value='MH' id='MH2' name='countries[]' type='checkbox'> Marshall Islands<br />
	<input onclick='toggleBoxes(this)' value='FM' id='FM2' name='countries[]' type='checkbox'> Micronesia, Federated States of<br />
	<input onclick='toggleBoxes(this)' value='NR' id='NR2' name='countries[]' type='checkbox'> Nauru<br />
	<input onclick='toggleBoxes(this)' value='MP' id='MP2' name='countries[]' type='checkbox'> Northern Mariana Islands<br />
	<input onclick='toggleBoxes(this)' value='PW' id='PW2' name='countries[]' type='checkbox'> Palau<br />
	<input onclick='toggleBoxes(this)' value='AS' id='AS2' name='countries[]' type='checkbox'> American Samoa<br />
	<input onclick='toggleBoxes(this)' value='CK' id='CK2' name='countries[]' type='checkbox'> Cook Islands<br />
	<input onclick='toggleBoxes(this)' value='PF' id='PF2' name='countries[]' type='checkbox'> French Polynesia<br />
	<input onclick='toggleBoxes(this)' value='NU' id='NU2' name='countries[]' type='checkbox'> Niue<br />
	<input onclick='toggleBoxes(this)' value='PN' id='PN2' name='countries[]' type='checkbox'> Pitcairn<br />
	<input onclick='toggleBoxes(this)' value='WS' id='WS2' name='countries[]' type='checkbox'> Samoa<br />
	<input onclick='toggleBoxes(this)' value='TK' id='TK2' name='countries[]' type='checkbox'> Tokelau<br />
	<input onclick='toggleBoxes(this)' value='TO' id='TO2' name='countries[]' type='checkbox'> Tonga<br />
	<input onclick='toggleBoxes(this)' value='TV' id='TV2' name='countries[]' type='checkbox'> Tuvalu<br />
	<input onclick='toggleBoxes(this)' value='WF' id='WF2' name='countries[]' type='checkbox'> Wallis and Futuna<br />
	</div>

</div>

<div id="search"><br /><input type="button" value="submit"><br /><br /></div>
</form>

<script type='text/javascript'>


   var locations6 = new Array('AQ2', 
	'BQ2', 
	'BV2', 
	'IO2', 
	'CX2', 
	'CC2', 
	'CW2', 
	'TF2', 
	'HM2', 
	'SX2', 
	'GS2', 
	'SS2', 
	'UM2', 
	'DZ2', 
	'EG2', 
	'LY2', 
	'MA2', 
	'SD2', 
	'TN2', 
	'EH2', 
	'BJ2', 
	'BF2', 
	'CV2', 
	'CI2', 
	'GM2', 
	'GH2', 
	'GN2', 
	'GW2', 
	'LR2', 
	'ML2', 
	'MR2', 
	'NE2', 
	'NG2', 
	'SH2', 
	'SN2', 
	'SL2', 
	'TG2', 
	'AO2', 
	'CM2', 
	'CF2', 
	'TD2', 
	'CG2', 
	'CD2', 
	'GQ2', 
	'GA2', 
	'ST2', 
	'BI2', 
	'KM2', 
	'DJ2', 
	'ER2', 
	'ET2', 
	'KE2', 
	'MG2', 
	'MW2', 
	'MU2', 
	'YT2', 
	'MZ2', 
	'RE2', 
	'RW2', 
	'SC2', 
	'SO2', 
	'TZ2', 
	'UG2', 
	'ZM2', 
	'ZW2', 
	'BW2', 
	'LS2', 
	'NA2', 
	'ZA2', 
	'SZ2', 
	'AX2', 
	'DK2', 
	'EE2', 
	'FO2', 
	'FI2', 
	'GG2', 
	'IS2', 
	'IE2', 
	'IM2', 
	'JE2', 
	'LV2', 
	'LT2', 
	'NO2', 
	'SJ2', 
	'SE2', 
	'GB2', 
	'AT2', 
	'BE2', 
	'FR2', 
	'DE2', 
	'LI2', 
	'LU2', 
	'MC2', 
	'NL2', 
	'CH2', 
	'BY2', 
	'BG2', 
	'CZ2', 
	'HU2', 
	'MD2', 
	'PL2', 
	'RO2', 
	'RU2', 
	'SK2', 
	'UA2', 
	'AL2', 
	'AD2', 
	'BA2', 
	'HR2', 
	'GI2', 
	'GR2', 
	'VA2', 
	'IT2', 
	'MK2', 
	'MT2', 
	'ME2', 
	'PT2', 
	'SM2', 
	'RS2', 
	'SI2', 
	'ES2', 
	'BM2', 
	'CA2', 
	'GL2', 
	'PM2', 
	'US2', 
	'AI2', 
	'AG2', 
	'AW2', 
	'BS2', 
	'BB2', 
	'KY2', 
	'CU2', 
	'DM2', 
	'DO2', 
	'GD2', 
	'GP2', 
	'HT2', 
	'JM2', 
	'MQ2', 
	'MS2', 
	'PR2', 
	'BL2', 
	'KN2', 
	'LC2', 
	'MF2', 
	'VC2', 
	'TT2', 
	'TC2', 
	'VG2', 
	'VI2', 
	'BZ2', 
	'CR2', 
	'SV2', 
	'GT2', 
	'HN2', 
	'MX2', 
	'NI2', 
	'PA2', 
	'AR2', 
	'BO2', 
	'BR2', 
	'CL2', 
	'CO2', 
	'EC2', 
	'FK2', 
	'GF2', 
	'GY2', 
	'PY2', 
	'PE2', 
	'SR2', 
	'UY2', 
	'VE2', 
	'KZ2', 
	'KG2', 
	'TJ2', 
	'TM2', 
	'UZ2', 
	'CN2', 
	'HK2', 
	'JP2', 
	'KP2', 
	'KR2', 
	'MO2', 
	'MN2', 
	'TW2', 
	'AF2', 
	'BD2', 
	'BT2', 
	'IN2', 
	'IR2', 
	'MV2', 
	'NP2', 
	'PK2', 
	'LK2', 
	'BN2', 
	'KH2', 
	'ID2', 
	'LA2', 
	'MY2', 
	'MM2', 
	'PH2', 
	'SG2', 
	'TH2', 
	'TL2', 
	'VN2', 
	'AM2', 
	'AZ2', 
	'BH2', 
	'CY2', 
	'GE2', 
	'IQ2', 
	'IL2', 
	'JO2', 
	'KW2', 
	'LB2', 
	'OM2', 
	'PS2', 
	'QA2', 
	'SA2', 
	'SY2', 
	'TR2', 
	'AE2', 
	'YE2', 
	'AU2', 
	'NZ2', 
	'NF2', 
	'FJ2', 
	'NC2', 
	'PG2', 
	'SB2', 
	'VU2', 
	'GU2', 
	'KI2', 
	'MH2', 'anyAfrica', 'anyEurope', 'anyAmericas', 'anyAsia', 'anyOceania');

    var anyId6 = 'any6';
    
    function toggleBoxes( el ) {
        var i;
        if ( el.id == anyId6 ) {
            for( i = 0; i < locations6.length; i++ ){
                var cb = document.getElementById(locations6[i]);
                cb.checked = false;
            }
        } else {
            var cb = document.getElementById(anyId6);
            cb.checked = false; 
        }
    }    

        var locations2 = new Array('Agriculture2', 
		'OrganicFarming2', 
		'SustainableDevelopment2', 
		'AnimalCare2', 
		'AnimalRights2', 
		'WildlifeConservation2', 
		'Caregiving2', 
		'ElderCare2', 
		'ChildOrphanCare2', 
		'DisabledCare2', 
		'FeedtheHomeless2', 
		'CommunityDevelopment2', 
		'YouthDevelopmentandOutreach2', 
		'Construction2', 
		'CultureandCommunity2', 
		'PerformingArts2', 
		'Fashion2', 
		'Music2', 
		'SportsRecreation2', 
		'Journalism2', 
		'DisasterRelief2', 
		'Economics2', 
		'Microfinance2', 
		'Education2', 
		'TeachingEnglish2', 
		'TeachingBuddhistMonks2', 
		'TeachingChildren2', 
		'TeachingComputerLiteracy2', 
		'EngineeringandInfrastructure2', 
		'Environmental2', 
		'EcologicalConservation2', 
		'SustainableDevelopment2', 
		'WildlifeConservation2', 
		'HabitatRestoration2', 
		'HealthandMedicine2', 
		'HIVAIDS2', 
		'Nutrition2', 
		'FamilyPlanning2', 
		'VeterinaryMedicine2', 
		'ClinicalWork2', 
		'DentalWork2', 
		'MedicalResearch2', 
		'HealthEducation2', 
		'PublicHealth2', 
		'HospitalCaregiving2', 
		'HumanRights2', 
		'WomensInitiatives2', 
		'InternationalWorkCamp2', 
		'Recreation2', 
		'AdventureTravel2', 
		'ScientificResearch2', 
		'Archaeology2', 
		'EnvironmentalBiology2', 
		'Technology2', 
		'TeachingComputerLiteracy2', 
		'MediaMarketingandGraphicDesign2');

        var anyId2 = 'any';

        function toggleBoxes1( el ) {
            var i;
            if ( el.id == anyId2 ) {
                for( i = 0; i < locations2.length; i++ ){
                    var cb = document.getElementById(locations2[i]);
                    cb.checked = false;
                }
            } else {
                var cb = document.getElementById(anyId2);
                cb.checked = false; 
            }
        }    
        </script>
    
        <script type='text/javascript'>
            var locations3 = new Array('1_length', '2_length', '3_length', '4_length', '5_length', '6_length', '7_length', '8_length');

            var anyId3 = 'any2';

            function toggleBoxes2( el ) {
                var i;
                if ( el.id == anyId3 ) {
                    for( i = 0; i < locations3.length; i++ ){
                        var cb = document.getElementById(locations3[i]);
                        cb.checked = false;
                    }
                } else {
                    var cb = document.getElementById(anyId3);
                    cb.checked = false; 
                }
            }    
            </script>



    <script type='text/javascript'>
        var locations4 = new Array('1_group', '2_group', '3_group', '4_group');

        var anyId4 = 'any3';

        function toggleBoxes3( el ) {
            var i;
            if ( el.id == anyId4 ) {
                for( i = 0; i < locations4.length; i++ ){
                    var cb = document.getElementById(locations4[i]);
                    cb.checked = false;
                }
            } else {
                var cb = document.getElementById(anyId4);
                cb.checked = false; 
            }
        }    
        </script>
    



<!-- This is to uncheck the regions/subjects if their super is checked, and uncheck super if child is checked -->
<script type="text/javascript">
var locationsAgriculture = new Array('OrganicFarming2', 'SustainableDevelopment2');

var anyAgriculture = 'Agriculture2';

function toggleAgriculture( el ) {
    var i;
    if ( el.id == anyAgriculture ) {
        for( i = 0; i < locationsAgriculture.length; i++ ){
            var cb = document.getElementById(locationsAgriculture[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyAgriculture);
        cb.checked = false; 
    }
}

var locationsAnimalCare = new Array('AnimalRights2', 'WildlifeConservation2');

var anyAnimalCare = 'AnimalCare2';

function toggleAnimalCare( el ) {
    var i;
    if ( el.id == anyAnimalCare ) {
        for( i = 0; i < locationsAnimalCare.length; i++ ){
            var cb = document.getElementById(locationsAnimalCare[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyAnimalCare);
        cb.checked = false; 
    }
}


var locationsCaregiving = new Array('ElderCare2', 'ChildOrphanCare2', 'DisabledCare2', 'FeedtheHomeless2');

var anyCaregiving = 'Caregiving2';

function toggleCaregiving( el ) {
    var i;
    if ( el.id == anyCaregiving ) {
        for( i = 0; i < locationsCaregiving.length; i++ ){
            var cb = document.getElementById(locationsCaregiving[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyCaregiving);
        cb.checked = false; 
    }
}



var locationsCommunityDevelopment = new Array('YouthDevelopmentandOutreach2');

var anyCommunityDevelopment = 'CommunityDevelopment2';

function toggleCommunityDevelopment( el ) {
    var i;
    if ( el.id == anyCommunityDevelopment ) {
        for( i = 0; i < locationsCommunityDevelopment.length; i++ ){
            var cb = document.getElementById(locationsCommunityDevelopment[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyCommunityDevelopment);
        cb.checked = false; 
    }
}



var locationsCultureandCommunity = new Array('PerformingArts2', 'Fashion2', 'Music2', 'SportsRecreation2', 'Journalism2');

var anyCultureandCommunity = 'CultureandCommunity2';

function toggleCultureandCommunity( el ) {
    var i;
    if ( el.id == anyCultureandCommunity ) {
        for( i = 0; i < locationsCultureandCommunity.length; i++ ){
            var cb = document.getElementById(locationsCultureandCommunity[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyCultureandCommunity);
        cb.checked = false; 
    }
}


var locationsDisasterRelief = new Array('Economics2', 'Microfinance2');

var anyDisasterRelief = 'DisasterRelief2';

function toggleDisasterRelief( el ) {
    var i;
    if ( el.id == anyDisasterRelief ) {
        for( i = 0; i < locationsDisasterRelief.length; i++ ){
            var cb = document.getElementById(locationsDisasterRelief[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyDisasterRelief);
        cb.checked = false; 
    }
}



var locationsEducation = new Array('TeachingEnglish2', 'TeachingBuddhistMonks2', 'TeachingChildren2', 'TeachingComputerLiteracy2');

var anyEducation = 'Education2';

function toggleEducation( el ) {
    var i;
    if ( el.id == anyEducation ) {
        for( i = 0; i < locationsEducation.length; i++ ){
            var cb = document.getElementById(locationsEducation[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyEducation);
        cb.checked = false; 
    }
}





var locationsEnvironmental = new Array('EcologicalConservation2', 'Sustainable_Development2', 'Wildlife_Conservation2', 'HabitatRestoration2');

var anyEnvironmental = 'Environmental2';

function toggleEnvironmental( el ) {
    var i;
    if ( el.id == anyEnvironmental ) {
        for( i = 0; i < locationsEnvironmental.length; i++ ){
            var cb = document.getElementById(locationsEnvironmental[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyEnvironmental);
        cb.checked = false; 
    }
}





var locationsHealthandMedicine = new Array('HIVAIDS2', 'Nutrition2', 'FamilyPlanning2', 'VeterinaryMedicine2', 'ClinicalWork2', 'DentalWork2', 'MedicalResearch2', 'HealthEducation2', 'PublicHealth2', 'HospitalCaregiving2');

var anyHealthandMedicine = 'HealthandMedicine2';

function toggleHealthandMedicine( el ) {
    var i;
    if ( el.id == anyHealthandMedicine ) {
        for( i = 0; i < locationsHealthandMedicine.length; i++ ){
            var cb = document.getElementById(locationsHealthandMedicine[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyHealthandMedicine);
        cb.checked = false; 
    }
}





var locationsHumanRights = new Array('WomensInitiatives2');

var anyHumanRights = 'HumanRights2';

function toggleHumanRights( el ) {
    var i;
    if ( el.id == anyHumanRights ) {
        for( i = 0; i < locationsHumanRights.length; i++ ){
            var cb = document.getElementById(locationsHumanRights[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyHumanRights);
        cb.checked = false; 
    }
}




var locationsRecreation = new Array('AdventureTravel2');

var anyRecreation = 'Recreation2';

function toggleRecreation( el ) {
    var i;
    if ( el.id == anyRecreation ) {
        for( i = 0; i < locationsRecreation.length; i++ ){
            var cb = document.getElementById(locationsRecreation[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyRecreation);
        cb.checked = false; 
    }
}




var locationsScientificResearch = new Array('Archaeology2', 'EnvironmentalBiology2');

var anyScientificResearch = 'ScientificResearch2';

function toggleScientificResearch( el ) {
    var i;
    if ( el.id == anyScientificResearch ) {
        for( i = 0; i < locationsScientificResearch.length; i++ ){
            var cb = document.getElementById(locationsScientificResearch[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyScientificResearch);
        cb.checked = false; 
    }
}
	



var locationsTechnology = new Array('Teaching_Computer_Literacy2', 'MediaMarketingandGraphicDesign2');

var anyTechnology = 'Technology2';

function toggleTechnology( el ) {
    var i;
    if ( el.id == anyTechnology ) {
        for( i = 0; i < locationsTechnology.length; i++ ){
            var cb = document.getElementById(locationsTechnology[i]);
            cb.checked = false;
        }
    } else {
        var cb = document.getElementById(anyTechnology);
        cb.checked = false; 
    }
}
	


	

	


</script>
	
		
		
		
		
			<!--- POPUP PLUGIN -->
				
			

					<style type="text/css">

				        .header
				        {
				            background-color: #4f7305;
				            color: White;
				        }
				        #divProgram
				        {
				            margin: 10;
				            font: verdana;
				            font-size: 14px;
				            background-color: White;
				        }
				        #divProgram > div
				        {
				            width: 98%;
				            padding: 8px;
				        }
				        #divProgram > div p
				        {
				            width: 95%;
				            padding: 8px;
				        }
						#divOrganization
				        {
				            margin: 10;
				            font: verdana;
				            font-size: 14px;
				            background-color: White;
				        }
				        #divOrganization> div
				        {
				            width: 98%;
				            padding: 8px;
				        }
				        #divOrganization > div p
				        {
				            width: 95%;
				            padding: 8px;
				        }
			</style>

			<style>

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
				    /* display: none; <- Crashes Chrome on hover */
				    -webkit-appearance: none;
				    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}
				
				input[type="checkbox"] {
					margin-right:4px;
				}
				
				input[type="number"] {
					width:150px;
				}
			</style>			
				
