<!-- PROBLEM WITH FOOTER IS IN SECOND COUNTRY-BOX-->
	
	<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

	<%= javascript_include_tag "/assets/smartpaginator.js"%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>
<link href='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.css' type="text/css" rel="stylesheet"/>
<script src='http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/documentation.js' type="text/javascript"></script>

<link href='/assets/mega-pull-out-menu-styles.css' type="text/css" rel="stylesheet"/>

<% @resulting_ids = []%>
<% @results.each do |f| %>
<% @resulting_ids << f.id%>
<% end %>

<% @resultsO = []%>
<% @results.each do |f|%>
<% @resultsO << Organization.find(f.organization_id) unless @resultsO.include?(Organization.find(f.organization_id))%>
<% end %>

<script type="text/javascript" src="/assets/mega-pull-out-menu-1.0.js"></script>
<script type="text/javascript">
$(function() { 
$('#programSubjects').pullOut({
  position: 'right',
  top: '200px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'subjects',
  color: 'lightblue'
});

$('#lengthOfTrip').pullOut({
  position: 'right',
  top: '280px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'schedule64',
  color: 'lightblue'
});

$('#groupSize').pullOut({
  position: 'right',
  top: '360px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'organization64',
  color: 'lightblue'
});

$('#priceRange').pullOut({
  position: 'right',
  top: '440px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'earning-statements128',
  color: 'lightblue'
});

$('#programCountries').pullOut({
  position: 'right',
  top: '520px',
  showOn: 'click',
  slideSpeed: 'normal',
  scrollWithContent: false,
  button: 'map128',
  color: 'lightblue'
});

});
</script>

<script type="text/javascript">


$(document).ready(function() {
	$('a.window').click(function() {

                //Getting the variable's value from a link 
		var box = $(this).attr('href');

		//Fade in the Popup
		$(box).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(box).height() + 24) / 2; 
		var popMargLeft = ($(box).width() + 24) / 2; 

		$(box).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask"></div>')
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
		$('a.country-window').click(function() {

	                //Getting the variable's value from a link 
			var box = $(this).attr('href');

			//Fade in the Popup
			$(box).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(box).height() + 24) / 2; 
			var popMargLeft = ($(box).width() + 24) / 2; 

			$(box).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask"></div>')
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
});


</script>

<script type="text/javascript">

$(document).ready(function() {

	$('#organizations-contents').hide();
	$('#organizations-contents1').hide();
	$('#sortByToggleO').hide();
	
	$('#program').smartpaginator({ totalrecords: <%=@results.count%>, recordsperpage: 5, datacontainer: 'divProgram', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: '#575758' });

	$('#organization').smartpaginator({ totalrecords: <%=@resultsO.count%>, recordsperpage: 5, datacontainer: 'divOrganization', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: '#575758' });
	
	
});

function toggleDisplay(){
		$("#programs-contents").toggle();
		$('#organizations-contents').toggle();
		$("#programs-contents1").toggle();
		$('#organizations-contents1').toggle();
		$("#sortByToggleO").toggle();
		$('#sortByToggleP').toggle();
}


</script>








<div class="container">
<div style="text-align:center; width:100%; margin-top:50px" id="programs-contents1">	
<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/volunteerPrograms.png"%><br /><br />
	<p align="left" style="margin-left:50px; font-family:architectsDaughterRegular; color:#62acbd; font-size:1.3em"> Your search has <%=@results.length%> matches:</p>

	<br />
	<br />

</div>
<div style="text-align:center; width:100%; margin-top:50px" id ="organizations-contents1">
	<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/volunteerOrganizations.png"%><br /><br />
	<p align="left" style="margin-left:50px; font-family:architectsDaughterRegular; color:#62acbd; font-size:1.3em"> Your search has <%=@resultsO.length%> matches:</p>
	
	<br />
	<br />
</div>
</div>
<div class = "container">
	<div class= "row">
		<div class="five columns">
		<p style="font-size:1.5em; color:#575758; line-height:1.1em"> 	Display:</p>
		<div style="position:absolute; left:21%;top:-4px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
			<select id="display" name="display" style="position:absolute; left:-5px; width:255px; height:30px; border: 1px solid #575758; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="$(toggleDisplay())"><option selected='selected'>Programs</option><option>Organizations</option></select>
		</div>
		</div>
		
	<div id= "sortByToggleP">
	<div class="fivecolumns">
	<p style="font-size:1.5em; color:#575758; line-height:1.1em"> List By:</p>	
	
		<form accept-charset="UTF-8" action="sorted_results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
			<div style="position:absolute; left:47%;top:333px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
		<select id="sort" name="sort"  style="border:1px solid #575758; position:absolute; left:-5px; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="this.form.submit()"><option value="ratinghigh">Rating - High</option>
		<option value="ratinglow">Rating - Low</option>
		<option value="alphabetical">Alphabetical</option>
		<option value="pricelow">Price - Low</option>
		<option value="pricehigh">Price - High</option></select>
						<input id="resulting_ids" name="resulting_ids" type="hidden" value="2 3" />
						<input id="type" name="type" type="hidden" value="Program" />
						</div>
		</form>
	</div>
</div>
<div class="container">
		<div id= "sortByToggleO">
			<div class="five columns">
				<p style="font-size:1.5em; color:#575758; line-height:1.1em"> List By:</p>
				<form accept-charset="UTF-8" action="sorted_results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
		<div style="position:absolute; left:19.2%;top:-4px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
		<select id="sort" name="sort" style="position:absolute; left:-5px; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; background-color:white;" onchange="this.form.submit()">	<option value="ratinghigh">Rating - High</option>
			<option value="ratinglow">Rating - Low</option>
			<option value="alphabetical">Alphabetical</option>
			<option value="pricelow">Price - Low</option>
			<option value="pricehigh">Price - High</option></select>
										<input id="resulting_ids" name="resulting_ids" type="hidden" value="2 3" />
										<input id="type" name="type" type="hidden" value="Organization" />
				</div>
				</form>

			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="container">
	<div class="row">	
<div class="eleven columns">
<div id="programs-contents" class="contents" style="margin-left:10px; margin-top:60px;">
			<% if !(@results.empty?)%>
	<div id="divProgram" style="width:100%; border-top:1px solid #575758; border-left:1px solid #575758; border-right:1px solid #575758s">
		<% @results.each do |f|%>	
		<%= render :partial => "programs_results", :locals => {:f => f}%>
		<% end %>
	</div>
	<div id="program" style="position: relative; top:20px">
			</div>
			</div>
		<% else %>
		<div style="border:1px solid #e67b5a; height:200px; background-color:white; margin-left:25px;">
		<div style="margin:25px">
		<div style="border-top:1px solid #68c2d8; height:150px; border-bottom:1px solid #68c2d8">
			<p style="text-align:center; margin-top:50px; font-family:architectsDaughterRegular;font-size:3em; color: #68c2d8">We've got nothin'</p>
		</div>
		</div>
		</div>
		</div>
		<% end %>
		




	
<div id="organizations-contents" class="contents" style="margin-left:30px; margin-top:60px;">
			<% if !(@resultsO.empty?)%>
	<div id="divOrganization" style="width:100%; border-top:1px solid #575758; border-left:1px solid #575758; border-right:1px solid #575758">

		<% @resultsO.each do |f|%>	
	<%= render :partial => "organizations_results", :locals => {:f => f}%>
	<% end %>
	</div>
	<div id="organization" style="position: relative; top:20px">
		
	</div>
	</div>
	<% else %>
	<div style="border:1px solid #e67b5a; height:200px; background-color:white; margin-left:25px;">
	<div style="margin:25px">
	<div style="border-top:1px solid #68c2d8; height:150px; border-bottom:1px solid #68c2d8">
		<p style="text-align:center; margin-top:50px; font-family:architectsDaughterRegular;font-size:3em; color: #68c2d8">We've got nothin'</p>
	</div>
	</div>
	</div>
	<% end %>

</div>

</div>


</div>
</div>
</div>
</div>
</div>

<div id="programSubjects">
	<input onclick='toggleBoxes1(this)' value='Agriculture' id='Agriculture2 ' name='subject[]' type='checkbox'>Agriculture
	<input onclick='toggleBoxes1(this)' value='Organic Farming' id='OrganicFarming2 ' name='subject[]' type='checkbox'>Organic Farming
	<input onclick='toggleBoxes1(this)' value='Sustainable Development' id='SustainableDevelopment2 ' name='subject[]' type='checkbox'>Sustainable Development
	<input onclick='toggleBoxes1(this)' value='Animal Care' id='AnimalCare2 ' name='subject[]' type='checkbox'>Animal Care
	<input onclick='toggleBoxes1(this)' value='Animal Rights' id='AnimalRights2 ' name='subject[]' type='checkbox'>Animal Rights
	<input onclick='toggleBoxes1(this)' value='Wildlife Conservation' id='WildlifeConservation2 ' name='subject[]' type='checkbox'>Wildlife Conservation
	<input onclick='toggleBoxes1(this)' value='Caregiving' id='Caregiving2 ' name='subject[]' type='checkbox'>Caregiving
	<input onclick='toggleBoxes1(this)' value='Elder Care' id='ElderCare2 ' name='subject[]' type='checkbox'>Elder Care
	<input onclick='toggleBoxes1(this)' value='Child/Orphan Care' id='ChildOrphanCare2 ' name='subject[]' type='checkbox'>Child/Orphan Care
	<input onclick='toggleBoxes1(this)' value='Disabled Care' id='DisabledCare2 ' name='subject[]' type='checkbox'>Disabled Care
	<input onclick='toggleBoxes1(this)' value='Feed the Homeless' id='FeedtheHomeless2 ' name='subject[]' type='checkbox'>Feed the Homeless
	<input onclick='toggleBoxes1(this)' value='Community Development' id='CommunityDevelopment2 ' name='subject[]' type='checkbox'>Community Development
	<input onclick='toggleBoxes1(this)' value='Youth Development and Outreach' id='YouthDevelopmentandOutreach2 ' name='subject[]' type='checkbox'>Youth Development and Outreach
	<input onclick='toggleBoxes1(this)' value='Construction' id='Construction2 ' name='subject[]' type='checkbox'>Construction
	<input onclick='toggleBoxes1(this)' value='Culture and Community' id='CultureandCommunity2 ' name='subject[]' type='checkbox'>Culture and Community
	<input onclick='toggleBoxes1(this)' value='Performing Arts' id='PerformingArts2 ' name='subject[]' type='checkbox'>Performing Arts
	<input onclick='toggleBoxes1(this)' value='Fashion' id='Fashion2 ' name='subject[]' type='checkbox'>Fashion
	<input onclick='toggleBoxes1(this)' value='Music' id='Music2 ' name='subject[]' type='checkbox'>Music
	<input onclick='toggleBoxes1(this)' value='Sports & Recreation' id='SportsRecreation2 ' name='subject[]' type='checkbox'>Sports & Recreation
	<input onclick='toggleBoxes1(this)' value='Journalism' id='Journalism2 ' name='subject[]' type='checkbox'>Journalism
	<input onclick='toggleBoxes1(this)' value='Disaster Relief' id='DisasterRelief2 ' name='subject[]' type='checkbox'>Disaster Relief
	<input onclick='toggleBoxes1(this)' value='Economics' id='Economics2 ' name='subject[]' type='checkbox'>Economics
	<input onclick='toggleBoxes1(this)' value='Microfinance' id='Microfinance2 ' name='subject[]' type='checkbox'>Microfinance
	<input onclick='toggleBoxes1(this)' value='Education' id='Education2 ' name='subject[]' type='checkbox'>Education
	<input onclick='toggleBoxes1(this)' value='Teaching English' id='TeachingEnglish2 ' name='subject[]' type='checkbox'>Teaching English
	<input onclick='toggleBoxes1(this)' value='Teaching Buddhist Monks' id='TeachingBuddhistMonks2 ' name='subject[]' type='checkbox'>Teaching Buddhist Monks
	<input onclick='toggleBoxes1(this)' value='Teaching Children' id='TeachingChildren2 ' name='subject[]' type='checkbox'>Teaching Children
	<input onclick='toggleBoxes1(this)' value='Teaching Computer Literacy' id='Teaching_Computer_Literacy2 ' name='subject[]' type='checkbox'>Teaching Computer Literacy
	<input onclick='toggleBoxes1(this)' value='Engineering and Infrastructure' id='EngineeringandInfrastructure2 ' name='subject[]' type='checkbox'>Engineering and Infrastructure
	<input onclick='toggleBoxes1(this)' value='Environmental' id='Environmental2 ' name='subject[]' type='checkbox'>Environmental
	<input onclick='toggleBoxes1(this)' value='Ecological Conservation' id='EcologicalConservation2 ' name='subject[]' type='checkbox'>Ecological Conservation
	<input onclick='toggleBoxes1(this)' value='Sustainable Development' id='Sustainable_Development2 ' name='subject[]' type='checkbox'>Sustainable Development
	<input onclick='toggleBoxes1(this)' value='Wildlife Conservation' id='Wildlife_Conservation2 ' name='subject[]' type='checkbox'>Wildlife Conservation
	<input onclick='toggleBoxes1(this)' value='Habitat Restoration' id='HabitatRestoration2 ' name='subject[]' type='checkbox'>Habitat Restoration
	<input onclick='toggleBoxes1(this)' value='Health and Medicine' id='HealthandMedicine2 ' name='subject[]' type='checkbox'>Health and Medicine
	<input onclick='toggleBoxes1(this)' value='HIV/AIDS' id='HIVAIDS2 ' name='subject[]' type='checkbox'>HIV/AIDS
	<input onclick='toggleBoxes1(this)' value='Nutrition' id='Nutrition2 ' name='subject[]' type='checkbox'>Nutrition
	<input onclick='toggleBoxes1(this)' value='Family Planning' id='FamilyPlanning2 ' name='subject[]' type='checkbox'>Family Planning
	<input onclick='toggleBoxes1(this)' value='Veterinary Medicine' id='VeterinaryMedicine2 ' name='subject[]' type='checkbox'>Veterinary Medicine
	<input onclick='toggleBoxes1(this)' value='Clinical Work' id='ClinicalWork2 ' name='subject[]' type='checkbox'>Clinical Work
	<input onclick='toggleBoxes1(this)' value='Dental Work' id='DentalWork2 ' name='subject[]' type='checkbox'>Dental Work
	<input onclick='toggleBoxes1(this)' value='Medical Research' id='MedicalResearch2 ' name='subject[]' type='checkbox'>Medical Research
	<input onclick='toggleBoxes1(this)' value='Health Education' id='HealthEducation2 ' name='subject[]' type='checkbox'>Health Education
	<input onclick='toggleBoxes1(this)' value='Public Health' id='PublicHealth2 ' name='subject[]' type='checkbox'>Public Health
	<input onclick='toggleBoxes1(this)' value='Hospital Care-giving' id='HospitalCaregiving2 ' name='subject[]' type='checkbox'>Hospital Care-giving
	<input onclick='toggleBoxes1(this)' value='Human Rights' id='HumanRights2 ' name='subject[]' type='checkbox'>Human Rights
	<input onclick='toggleBoxes1(this)' value='Women's Initiatives' id='WomensInitiatives2 ' name='subject[]' type='checkbox'>Women's Initiatives
	<input onclick='toggleBoxes1(this)' value='International Work Camp' id='InternationalWorkCamp2 ' name='subject[]' type='checkbox'>International Work Camp
	<input onclick='toggleBoxes1(this)' value='Recreation' id='Recreation2 ' name='subject[]' type='checkbox'>Recreation
	<input onclick='toggleBoxes1(this)' value='Adventure Travel' id='AdventureTravel2 ' name='subject[]' type='checkbox'>Adventure Travel
	<input onclick='toggleBoxes1(this)' value='Scientific Research' id='ScientificResearch2 ' name='subject[]' type='checkbox'>Scientific Research
	<input onclick='toggleBoxes1(this)' value='Archaeology' id='Archaeology2 ' name='subject[]' type='checkbox'>Archaeology
	<input onclick='toggleBoxes1(this)' value='Environmental Biology' id='EnvironmentalBiology2 ' name='subject[]' type='checkbox'>Environmental Biology
	<input onclick='toggleBoxes1(this)' value='Technology' id='Technology2 ' name='subject[]' type='checkbox'>Technology
	<input onclick='toggleBoxes1(this)' value='Teaching Computer Literacy' id='TeachingComputerLiteracy2 ' name='subject[]' type='checkbox'>Teaching Computer Literacy
	<input onclick='toggleBoxes1(this)' value='Media, Marketing, and Graphic Design' id='MediaMarketingandGraphicDesign2' name='subject[]' type='checkbox'>Media, Marketing, and Graphic Design
	
</div>


<div id="lengthOfTrip">
	
	<input onClick='toggleBoxes2(this)'value="false" id='any2' name='length' type='checkbox' checked>Any <br />
<div class="six columns" style="width:45%">
    <input onclick='toggleBoxes2(this)' value='1 week or less' id='1_length' name='length[]' type='checkbox'>1 week or less<br />
	<input onclick='toggleBoxes2(this)' value='2-4 weeks' id='2_length' name='length[]' type='checkbox'>2-4 weeks<br />
	<input onclick='toggleBoxes2(this)' value='5-8 weeks' id='3_length' name='length[]' type='checkbox'>5-8 weeks<br />
	<input onclick='toggleBoxes2(this)' value='9-12 weeks' id='4_length' name='length[]' type='checkbox'>9-12 weeks<br />
	</div>
	<div class="six columns" style="width:45%">
	<input onclick='toggleBoxes2(this)' value='3-6 months' id='5_length' name='length[]' type='checkbox'>3-6 months<br />
	<input onclick='toggleBoxes2(this)' value='6-12 months' id='6_length' name='length[]' type='checkbox'>6-12 months<br />
	<input onclick='toggleBoxes2(this)' value='1-2 years' id='7_length' name='length[]' type='checkbox'>1-2 years<br />
	<input onclick='toggleBoxes2(this)' value='2+ years' id='8_length' name='length[]' type='checkbox'>2+ years<br />
	</div>
</div>


<div id="groupSize">
	 <input onClick='toggleBoxes3(this)'value="false" id='any3' name='group_size' type='checkbox' checked>Any<br />
		<div class="six columns" style="width:45%">
        <input onclick='toggleBoxes3(this)' value='Individual' id='1_group' name='group_size[]' type='checkbox'>Individual<br />
		<input onclick='toggleBoxes3(this)' value='Small Groups (2-3)' id='2_group' name='group_size[]' type='checkbox'>Small Groups (2-3)<br />
		</div>
		<div class="six columns" style="width:45%">
		<input onclick='toggleBoxes3(this)' value='Medium Groups (4-10)' id='3_group' name='group_size[]' type='checkbox'>Medium Groups (4-10)<br />
		<input onclick='toggleBoxes3(this)' value='Large Gropus (15+)' id='4_group' name='group_size[]' type='checkbox'>Large Gropus (15+)<br /></div>
</div>



<div id="priceRange">

    Min: <input type="number" value= 0 name="price_min" id= "price_min" />
    Max: <input type="number" value= 999 name="price_max" id = "price_max" />

</div>



<div id="programCountries">
	
	<input onclick='toggleBoxes(this)' value='BQ' id='BQ2' name='countries[]' type='checkbox'> Bonaire, Sint Eustatius and Saba
	<input onclick='toggleBoxes(this)' value='BV' id='BV2' name='countries[]' type='checkbox'> Bouvet Island
	<input onclick='toggleBoxes(this)' value='IO' id='IO2' name='countries[]' type='checkbox'> British Indian Ocean Territory
	<input onclick='toggleBoxes(this)' value='CX' id='CX2' name='countries[]' type='checkbox'> Christmas Island
	<input onclick='toggleBoxes(this)' value='CC' id='CC2' name='countries[]' type='checkbox'> Cocos (Keeling) Islands
	<input onclick='toggleBoxes(this)' value='CW' id='CW2' name='countries[]' type='checkbox'> Curaçao
	<input onclick='toggleBoxes(this)' value='TF' id='TF2' name='countries[]' type='checkbox'> French Southern Territories
	<input onclick='toggleBoxes(this)' value='HM' id='HM2' name='countries[]' type='checkbox'> Heard Island and McDonald Islands
	<input onclick='toggleBoxes(this)' value='SX' id='SX2' name='countries[]' type='checkbox'> Sint Maarten (Dutch part)
	<input onclick='toggleBoxes(this)' value='GS' id='GS2' name='countries[]' type='checkbox'> South Georgia and the South Sandwich Islands
	<input onclick='toggleBoxes(this)' value='SS' id='SS2' name='countries[]' type='checkbox'> South Sudan
	<input onclick='toggleBoxes(this)' value='UM' id='UM2' name='countries[]' type='checkbox'> United States Minor Outlying Islands
	<input onclick='toggleBoxes(this)' value='DZ' id='DZ2' name='countries[]' type='checkbox'> Algeria
	<input onclick='toggleBoxes(this)' value='EG' id='EG2' name='countries[]' type='checkbox'> Egypt
	<input onclick='toggleBoxes(this)' value='LY' id='LY2' name='countries[]' type='checkbox'> Libya
	<input onclick='toggleBoxes(this)' value='MA' id='MA2' name='countries[]' type='checkbox'> Morocco
	<input onclick='toggleBoxes(this)' value='SD' id='SD2' name='countries[]' type='checkbox'> Sudan
	<input onclick='toggleBoxes(this)' value='TN' id='TN2' name='countries[]' type='checkbox'> Tunisia
	<input onclick='toggleBoxes(this)' value='EH' id='EH2' name='countries[]' type='checkbox'> Western Sahara
	<input onclick='toggleBoxes(this)' value='BJ' id='BJ2' name='countries[]' type='checkbox'> Benin
	<input onclick='toggleBoxes(this)' value='BF' id='BF2' name='countries[]' type='checkbox'> Burkina Faso
	<input onclick='toggleBoxes(this)' value='CV' id='CV2' name='countries[]' type='checkbox'> Cape Verde
	<input onclick='toggleBoxes(this)' value='CI' id='CI2' name='countries[]' type='checkbox'> Côte d'Ivoire
	<input onclick='toggleBoxes(this)' value='GM' id='GM2' name='countries[]' type='checkbox'> Gambia
	<input onclick='toggleBoxes(this)' value='GH' id='GH2' name='countries[]' type='checkbox'> Ghana
	<input onclick='toggleBoxes(this)' value='GN' id='GN2' name='countries[]' type='checkbox'> Guinea
	<input onclick='toggleBoxes(this)' value='GW' id='GW2' name='countries[]' type='checkbox'> Guinea-Bissau
	<input onclick='toggleBoxes(this)' value='LR' id='LR2' name='countries[]' type='checkbox'> Liberia
	<input onclick='toggleBoxes(this)' value='ML' id='ML2' name='countries[]' type='checkbox'> Mali
	<input onclick='toggleBoxes(this)' value='MR' id='MR2' name='countries[]' type='checkbox'> Mauritania
	<input onclick='toggleBoxes(this)' value='NE' id='NE2' name='countries[]' type='checkbox'> Niger
	<input onclick='toggleBoxes(this)' value='NG' id='NG2' name='countries[]' type='checkbox'> Nigeria
	<input onclick='toggleBoxes(this)' value='SH' id='SH2' name='countries[]' type='checkbox'> Saint Helena, Ascension and Tristan da Cunha
	<input onclick='toggleBoxes(this)' value='SN' id='SN2' name='countries[]' type='checkbox'> Senegal
	<input onclick='toggleBoxes(this)' value='SL' id='SL2' name='countries[]' type='checkbox'> Sierra Leone
	<input onclick='toggleBoxes(this)' value='TG' id='TG2' name='countries[]' type='checkbox'> Togo
	<input onclick='toggleBoxes(this)' value='AO' id='AO2' name='countries[]' type='checkbox'> Angola
	<input onclick='toggleBoxes(this)' value='CM' id='CM2' name='countries[]' type='checkbox'> Cameroon
	<input onclick='toggleBoxes(this)' value='CF' id='CF2' name='countries[]' type='checkbox'> Central African Republic
	<input onclick='toggleBoxes(this)' value='TD' id='TD2' name='countries[]' type='checkbox'> Chad
	<input onclick='toggleBoxes(this)' value='CG' id='CG2' name='countries[]' type='checkbox'> Congo
	<input onclick='toggleBoxes(this)' value='CD' id='CD2' name='countries[]' type='checkbox'> Congo, the Democratic Republic of the
	<input onclick='toggleBoxes(this)' value='GQ' id='GQ2' name='countries[]' type='checkbox'> Equatorial Guinea
	<input onclick='toggleBoxes(this)' value='GA' id='GA2' name='countries[]' type='checkbox'> Gabon
	<input onclick='toggleBoxes(this)' value='ST' id='ST2' name='countries[]' type='checkbox'> Sao Tome and Principe
	<input onclick='toggleBoxes(this)' value='BI' id='BI2' name='countries[]' type='checkbox'> Burundi
	<input onclick='toggleBoxes(this)' value='KM' id='KM2' name='countries[]' type='checkbox'> Comoros
	<input onclick='toggleBoxes(this)' value='DJ' id='DJ2' name='countries[]' type='checkbox'> Djibouti
	<input onclick='toggleBoxes(this)' value='ER' id='ER2' name='countries[]' type='checkbox'> Eritrea
	<input onclick='toggleBoxes(this)' value='ET' id='ET2' name='countries[]' type='checkbox'> Ethiopia
	<input onclick='toggleBoxes(this)' value='KE' id='KE2' name='countries[]' type='checkbox'> Kenya
	<input onclick='toggleBoxes(this)' value='MG' id='MG2' name='countries[]' type='checkbox'> Madagascar
	<input onclick='toggleBoxes(this)' value='MW' id='MW2' name='countries[]' type='checkbox'> Malawi
	<input onclick='toggleBoxes(this)' value='MU' id='MU2' name='countries[]' type='checkbox'> Mauritius
	<input onclick='toggleBoxes(this)' value='YT' id='YT2' name='countries[]' type='checkbox'> Mayotte
	<input onclick='toggleBoxes(this)' value='MZ' id='MZ2' name='countries[]' type='checkbox'> Mozambique
	<input onclick='toggleBoxes(this)' value='RE' id='RE2' name='countries[]' type='checkbox'> Réunion
	<input onclick='toggleBoxes(this)' value='RW' id='RW2' name='countries[]' type='checkbox'> Rwanda
	<input onclick='toggleBoxes(this)' value='SC' id='SC2' name='countries[]' type='checkbox'> Seychelles
	<input onclick='toggleBoxes(this)' value='SO' id='SO2' name='countries[]' type='checkbox'> Somalia
	<input onclick='toggleBoxes(this)' value='TZ' id='TZ2' name='countries[]' type='checkbox'> Tanzania, United Republic of
	<input onclick='toggleBoxes(this)' value='UG' id='UG2' name='countries[]' type='checkbox'> Uganda
	<input onclick='toggleBoxes(this)' value='ZM' id='ZM2' name='countries[]' type='checkbox'> Zambia
	<input onclick='toggleBoxes(this)' value='ZW' id='ZW2' name='countries[]' type='checkbox'> Zimbabwe
	<input onclick='toggleBoxes(this)' value='BW' id='BW2' name='countries[]' type='checkbox'> Botswana
	<input onclick='toggleBoxes(this)' value='LS' id='LS2' name='countries[]' type='checkbox'> Lesotho
	<input onclick='toggleBoxes(this)' value='NA' id='NA2' name='countries[]' type='checkbox'> Namibia
	<input onclick='toggleBoxes(this)' value='ZA' id='ZA2' name='countries[]' type='checkbox'> South Africa
	<input onclick='toggleBoxes(this)' value='SZ' id='SZ2' name='countries[]' type='checkbox'> Swaziland
	<input onclick='toggleBoxes(this)' value='AX' id='AX2' name='countries[]' type='checkbox'> Åland Islands
	<input onclick='toggleBoxes(this)' value='DK' id='DK2' name='countries[]' type='checkbox'> Denmark
	<input onclick='toggleBoxes(this)' value='EE' id='EE2' name='countries[]' type='checkbox'> Estonia
	<input onclick='toggleBoxes(this)' value='FO' id='FO2' name='countries[]' type='checkbox'> Faroe Islands
	<input onclick='toggleBoxes(this)' value='FI' id='FI2' name='countries[]' type='checkbox'> Finland
	<input onclick='toggleBoxes(this)' value='GG' id='GG2' name='countries[]' type='checkbox'> Guernsey
	<input onclick='toggleBoxes(this)' value='IS' id='IS2' name='countries[]' type='checkbox'> Iceland
	<input onclick='toggleBoxes(this)' value='IE' id='IE2' name='countries[]' type='checkbox'> Ireland
	<input onclick='toggleBoxes(this)' value='IM' id='IM2' name='countries[]' type='checkbox'> Isle of Man
	<input onclick='toggleBoxes(this)' value='JE' id='JE2' name='countries[]' type='checkbox'> Jersey
	<input onclick='toggleBoxes(this)' value='LV' id='LV2' name='countries[]' type='checkbox'> Latvia
	<input onclick='toggleBoxes(this)' value='LT' id='LT2' name='countries[]' type='checkbox'> Lithuania
	<input onclick='toggleBoxes(this)' value='NO' id='NO2' name='countries[]' type='checkbox'> Norway
	<input onclick='toggleBoxes(this)' value='SJ' id='SJ2' name='countries[]' type='checkbox'> Svalbard and Jan Mayen
	<input onclick='toggleBoxes(this)' value='SE' id='SE2' name='countries[]' type='checkbox'> Sweden
	<input onclick='toggleBoxes(this)' value='GB' id='GB2' name='countries[]' type='checkbox'> United Kingdom
	<input onclick='toggleBoxes(this)' value='AT' id='AT2' name='countries[]' type='checkbox'> Austria
	<input onclick='toggleBoxes(this)' value='BE' id='BE2' name='countries[]' type='checkbox'> Belgium
	<input onclick='toggleBoxes(this)' value='FR' id='FR2' name='countries[]' type='checkbox'> France
	<input onclick='toggleBoxes(this)' value='DE' id='DE2' name='countries[]' type='checkbox'> Germany
	<input onclick='toggleBoxes(this)' value='LI' id='LI2' name='countries[]' type='checkbox'> Liechtenstein
	<input onclick='toggleBoxes(this)' value='LU' id='LU2' name='countries[]' type='checkbox'> Luxembourg
	<input onclick='toggleBoxes(this)' value='MC' id='MC2' name='countries[]' type='checkbox'> Monaco
	<input onclick='toggleBoxes(this)' value='NL' id='NL2' name='countries[]' type='checkbox'> Netherlands
	<input onclick='toggleBoxes(this)' value='CH' id='CH2' name='countries[]' type='checkbox'> Switzerland
	<input onclick='toggleBoxes(this)' value='BY' id='BY2' name='countries[]' type='checkbox'> Belarus
	<input onclick='toggleBoxes(this)' value='BG' id='BG2' name='countries[]' type='checkbox'> Bulgaria
	<input onclick='toggleBoxes(this)' value='CZ' id='CZ2' name='countries[]' type='checkbox'> Czech Republic
	<input onclick='toggleBoxes(this)' value='HU' id='HU2' name='countries[]' type='checkbox'> Hungary
	<input onclick='toggleBoxes(this)' value='MD' id='MD2' name='countries[]' type='checkbox'> Moldova, Republic of
	<input onclick='toggleBoxes(this)' value='PL' id='PL2' name='countries[]' type='checkbox'> Poland
	<input onclick='toggleBoxes(this)' value='RO' id='RO2' name='countries[]' type='checkbox'> Romania
	<input onclick='toggleBoxes(this)' value='RU' id='RU2' name='countries[]' type='checkbox'> Russian Federation
	<input onclick='toggleBoxes(this)' value='SK' id='SK2' name='countries[]' type='checkbox'> Slovakia
	<input onclick='toggleBoxes(this)' value='UA' id='UA2' name='countries[]' type='checkbox'> Ukraine
	<input onclick='toggleBoxes(this)' value='AL' id='AL2' name='countries[]' type='checkbox'> Albania
	<input onclick='toggleBoxes(this)' value='AD' id='AD2' name='countries[]' type='checkbox'> Andorra
	<input onclick='toggleBoxes(this)' value='BA' id='BA2' name='countries[]' type='checkbox'> Bosnia and Herzegovina
	<input onclick='toggleBoxes(this)' value='HR' id='HR2' name='countries[]' type='checkbox'> Croatia
	<input onclick='toggleBoxes(this)' value='GI' id='GI2' name='countries[]' type='checkbox'> Gibraltar
	<input onclick='toggleBoxes(this)' value='GR' id='GR2' name='countries[]' type='checkbox'> Greece
	<input onclick='toggleBoxes(this)' value='VA' id='VA2' name='countries[]' type='checkbox'> Holy See (Vatican City State)
	<input onclick='toggleBoxes(this)' value='IT' id='IT2' name='countries[]' type='checkbox'> Italy
	<input onclick='toggleBoxes(this)' value='MK' id='MK2' name='countries[]' type='checkbox'> Macedonia, the former Yugoslav Republic of
	<input onclick='toggleBoxes(this)' value='MT' id='MT2' name='countries[]' type='checkbox'> Malta
	<input onclick='toggleBoxes(this)' value='ME' id='ME2' name='countries[]' type='checkbox'> Montenegro
	<input onclick='toggleBoxes(this)' value='PT' id='PT2' name='countries[]' type='checkbox'> Portugal
	<input onclick='toggleBoxes(this)' value='SM' id='SM2' name='countries[]' type='checkbox'> San Marino
	<input onclick='toggleBoxes(this)' value='RS' id='RS2' name='countries[]' type='checkbox'> Serbia
	<input onclick='toggleBoxes(this)' value='SI' id='SI2' name='countries[]' type='checkbox'> Slovenia
	<input onclick='toggleBoxes(this)' value='ES' id='ES2' name='countries[]' type='checkbox'> Spain
	<input onclick='toggleBoxes(this)' value='BM' id='BM2' name='countries[]' type='checkbox'> Bermuda
	<input onclick='toggleBoxes(this)' value='CA' id='CA2' name='countries[]' type='checkbox'> Canada
	<input onclick='toggleBoxes(this)' value='GL' id='GL2' name='countries[]' type='checkbox'> Greenland
	<input onclick='toggleBoxes(this)' value='PM' id='PM2' name='countries[]' type='checkbox'> Saint Pierre and Miquelon
	<input onclick='toggleBoxes(this)' value='US' id='US2' name='countries[]' type='checkbox'> United States
	<input onclick='toggleBoxes(this)' value='AI' id='AI2' name='countries[]' type='checkbox'> Anguilla
	<input onclick='toggleBoxes(this)' value='AG' id='AG2' name='countries[]' type='checkbox'> Antigua and Barbuda
	<input onclick='toggleBoxes(this)' value='AW' id='AW2' name='countries[]' type='checkbox'> Aruba
	<input onclick='toggleBoxes(this)' value='BS' id='BS2' name='countries[]' type='checkbox'> Bahamas
	<input onclick='toggleBoxes(this)' value='BB' id='BB2' name='countries[]' type='checkbox'> Barbados
	<input onclick='toggleBoxes(this)' value='KY' id='KY2' name='countries[]' type='checkbox'> Cayman Islands
	<input onclick='toggleBoxes(this)' value='CU' id='CU2' name='countries[]' type='checkbox'> Cuba
	<input onclick='toggleBoxes(this)' value='DM' id='DM2' name='countries[]' type='checkbox'> Dominica
	<input onclick='toggleBoxes(this)' value='DO' id='DO2' name='countries[]' type='checkbox'> Dominican Republic
	<input onclick='toggleBoxes(this)' value='GD' id='GD2' name='countries[]' type='checkbox'> Grenada
	<input onclick='toggleBoxes(this)' value='GP' id='GP2' name='countries[]' type='checkbox'> Guadeloupe
	<input onclick='toggleBoxes(this)' value='HT' id='HT2' name='countries[]' type='checkbox'> Haiti
	<input onclick='toggleBoxes(this)' value='JM' id='JM2' name='countries[]' type='checkbox'> Jamaica
	<input onclick='toggleBoxes(this)' value='MQ' id='MQ2' name='countries[]' type='checkbox'> Martinique
	<input onclick='toggleBoxes(this)' value='MS' id='MS2' name='countries[]' type='checkbox'> Montserrat
	<input onclick='toggleBoxes(this)' value='PR' id='PR2' name='countries[]' type='checkbox'> Puerto Rico
	<input onclick='toggleBoxes(this)' value='BL' id='BL2' name='countries[]' type='checkbox'> Saint Barthélemy
	<input onclick='toggleBoxes(this)' value='KN' id='KN2' name='countries[]' type='checkbox'> Saint Kitts and Nevis
	<input onclick='toggleBoxes(this)' value='LC' id='LC2' name='countries[]' type='checkbox'> Saint Lucia
	<input onclick='toggleBoxes(this)' value='MF' id='MF2' name='countries[]' type='checkbox'> Saint Martin (French part)
	<input onclick='toggleBoxes(this)' value='VC' id='VC2' name='countries[]' type='checkbox'> Saint Vincent and the Grenadines
	<input onclick='toggleBoxes(this)' value='TT' id='TT2' name='countries[]' type='checkbox'> Trinidad and Tobago
	<input onclick='toggleBoxes(this)' value='TC' id='TC2' name='countries[]' type='checkbox'> Turks and Caicos Islands
	<input onclick='toggleBoxes(this)' value='VG' id='VG2' name='countries[]' type='checkbox'> Virgin Islands, British
	<input onclick='toggleBoxes(this)' value='VI' id='VI2' name='countries[]' type='checkbox'> Virgin Islands, U.S.
	<input onclick='toggleBoxes(this)' value='BZ' id='BZ2' name='countries[]' type='checkbox'> Belize
	<input onclick='toggleBoxes(this)' value='CR' id='CR2' name='countries[]' type='checkbox'> Costa Rica
	<input onclick='toggleBoxes(this)' value='SV' id='SV2' name='countries[]' type='checkbox'> El Salvador
	<input onclick='toggleBoxes(this)' value='GT' id='GT2' name='countries[]' type='checkbox'> Guatemala
	<input onclick='toggleBoxes(this)' value='HN' id='HN2' name='countries[]' type='checkbox'> Honduras
	<input onclick='toggleBoxes(this)' value='MX' id='MX2' name='countries[]' type='checkbox'> Mexico
	<input onclick='toggleBoxes(this)' value='NI' id='NI2' name='countries[]' type='checkbox'> Nicaragua
	<input onclick='toggleBoxes(this)' value='PA' id='PA2' name='countries[]' type='checkbox'> Panama
	<input onclick='toggleBoxes(this)' value='AR' id='AR2' name='countries[]' type='checkbox'> Argentina
	<input onclick='toggleBoxes(this)' value='BO' id='BO2' name='countries[]' type='checkbox'> Bolivia, Plurinational State of
	<input onclick='toggleBoxes(this)' value='BR' id='BR2' name='countries[]' type='checkbox'> Brazil
	<input onclick='toggleBoxes(this)' value='CL' id='CL2' name='countries[]' type='checkbox'> Chile
	<input onclick='toggleBoxes(this)' value='CO' id='CO2' name='countries[]' type='checkbox'> Colombia
	<input onclick='toggleBoxes(this)' value='EC' id='EC2' name='countries[]' type='checkbox'> Ecuador
	<input onclick='toggleBoxes(this)' value='FK' id='FK2' name='countries[]' type='checkbox'> Falkland Islands (Malvinas)
	<input onclick='toggleBoxes(this)' value='GF' id='GF2' name='countries[]' type='checkbox'> French Guiana
	<input onclick='toggleBoxes(this)' value='GY' id='GY2' name='countries[]' type='checkbox'> Guyana
	<input onclick='toggleBoxes(this)' value='PY' id='PY2' name='countries[]' type='checkbox'> Paraguay
	<input onclick='toggleBoxes(this)' value='PE' id='PE2' name='countries[]' type='checkbox'> Peru
	<input onclick='toggleBoxes(this)' value='SR' id='SR2' name='countries[]' type='checkbox'> Suriname
	<input onclick='toggleBoxes(this)' value='UY' id='UY2' name='countries[]' type='checkbox'> Uruguay
	<input onclick='toggleBoxes(this)' value='VE' id='VE2' name='countries[]' type='checkbox'> Venezuela, Bolivarian Republic of
	<input onclick='toggleBoxes(this)' value='KZ' id='KZ2' name='countries[]' type='checkbox'> Kazakhstan
	<input onclick='toggleBoxes(this)' value='KG' id='KG2' name='countries[]' type='checkbox'> Kyrgyzstan
	<input onclick='toggleBoxes(this)' value='TJ' id='TJ2' name='countries[]' type='checkbox'> Tajikistan
	<input onclick='toggleBoxes(this)' value='TM' id='TM2' name='countries[]' type='checkbox'> Turkmenistan
	<input onclick='toggleBoxes(this)' value='UZ' id='UZ2' name='countries[]' type='checkbox'> Uzbekistan
	<input onclick='toggleBoxes(this)' value='CN' id='CN2' name='countries[]' type='checkbox'> China
	<input onclick='toggleBoxes(this)' value='HK' id='HK2' name='countries[]' type='checkbox'> Hong Kong
	<input onclick='toggleBoxes(this)' value='JP' id='JP2' name='countries[]' type='checkbox'> Japan
	<input onclick='toggleBoxes(this)' value='KP' id='KP2' name='countries[]' type='checkbox'> Korea, Democratic People's Republic of
	<input onclick='toggleBoxes(this)' value='KR' id='KR2' name='countries[]' type='checkbox'> Korea, Republic of
	<input onclick='toggleBoxes(this)' value='MO' id='MO2' name='countries[]' type='checkbox'> Macao
	<input onclick='toggleBoxes(this)' value='MN' id='MN2' name='countries[]' type='checkbox'> Mongolia
	<input onclick='toggleBoxes(this)' value='TW' id='TW2' name='countries[]' type='checkbox'> Taiwan, Province of China
	<input onclick='toggleBoxes(this)' value='AF' id='AF2' name='countries[]' type='checkbox'> Afghanistan
	<input onclick='toggleBoxes(this)' value='BD' id='BD2' name='countries[]' type='checkbox'> Bangladesh
	<input onclick='toggleBoxes(this)' value='BT' id='BT2' name='countries[]' type='checkbox'> Bhutan
	<input onclick='toggleBoxes(this)' value='IN' id='IN2' name='countries[]' type='checkbox'> India
	<input onclick='toggleBoxes(this)' value='IR' id='IR2' name='countries[]' type='checkbox'> Iran, Islamic Republic of
	<input onclick='toggleBoxes(this)' value='MV' id='MV2' name='countries[]' type='checkbox'> Maldives
	<input onclick='toggleBoxes(this)' value='NP' id='NP2' name='countries[]' type='checkbox'> Nepal
	<input onclick='toggleBoxes(this)' value='PK' id='PK2' name='countries[]' type='checkbox'> Pakistan
	<input onclick='toggleBoxes(this)' value='LK' id='LK2' name='countries[]' type='checkbox'> Sri Lanka
	<input onclick='toggleBoxes(this)' value='BN' id='BN2' name='countries[]' type='checkbox'> Brunei Darussalam
	<input onclick='toggleBoxes(this)' value='KH' id='KH2' name='countries[]' type='checkbox'> Cambodia
	<input onclick='toggleBoxes(this)' value='ID' id='ID2' name='countries[]' type='checkbox'> Indonesia
	<input onclick='toggleBoxes(this)' value='LA' id='LA2' name='countries[]' type='checkbox'> Lao People's Democratic Republic
	<input onclick='toggleBoxes(this)' value='MY' id='MY2' name='countries[]' type='checkbox'> Malaysia
	<input onclick='toggleBoxes(this)' value='MM' id='MM2' name='countries[]' type='checkbox'> Myanmar
	<input onclick='toggleBoxes(this)' value='PH' id='PH2' name='countries[]' type='checkbox'> Philippines
	<input onclick='toggleBoxes(this)' value='SG' id='SG2' name='countries[]' type='checkbox'> Singapore
	<input onclick='toggleBoxes(this)' value='TH' id='TH2' name='countries[]' type='checkbox'> Thailand
	<input onclick='toggleBoxes(this)' value='TL' id='TL2' name='countries[]' type='checkbox'> Timor-Leste
	<input onclick='toggleBoxes(this)' value='VN' id='VN2' name='countries[]' type='checkbox'> Viet Nam
	<input onclick='toggleBoxes(this)' value='AM' id='AM2' name='countries[]' type='checkbox'> Armenia
	<input onclick='toggleBoxes(this)' value='AZ' id='AZ2' name='countries[]' type='checkbox'> Azerbaijan
	<input onclick='toggleBoxes(this)' value='BH' id='BH2' name='countries[]' type='checkbox'> Bahrain
	<input onclick='toggleBoxes(this)' value='CY' id='CY2' name='countries[]' type='checkbox'> Cyprus
	<input onclick='toggleBoxes(this)' value='GE' id='GE2' name='countries[]' type='checkbox'> Georgia
	<input onclick='toggleBoxes(this)' value='IQ' id='IQ2' name='countries[]' type='checkbox'> Iraq
	<input onclick='toggleBoxes(this)' value='IL' id='IL2' name='countries[]' type='checkbox'> Israel
	<input onclick='toggleBoxes(this)' value='JO' id='JO2' name='countries[]' type='checkbox'> Jordan
	<input onclick='toggleBoxes(this)' value='KW' id='KW2' name='countries[]' type='checkbox'> Kuwait
	<input onclick='toggleBoxes(this)' value='LB' id='LB2' name='countries[]' type='checkbox'> Lebanon
	<input onclick='toggleBoxes(this)' value='OM' id='OM2' name='countries[]' type='checkbox'> Oman
	<input onclick='toggleBoxes(this)' value='PS' id='PS2' name='countries[]' type='checkbox'> Palestinian Territory, Occupied
	<input onclick='toggleBoxes(this)' value='QA' id='QA2' name='countries[]' type='checkbox'> Qatar
	<input onclick='toggleBoxes(this)' value='SA' id='SA2' name='countries[]' type='checkbox'> Saudi Arabia
	<input onclick='toggleBoxes(this)' value='SY' id='SY2' name='countries[]' type='checkbox'> Syrian Arab Republic
	<input onclick='toggleBoxes(this)' value='TR' id='TR2' name='countries[]' type='checkbox'> Turkey
	<input onclick='toggleBoxes(this)' value='AE' id='AE2' name='countries[]' type='checkbox'> United Arab Emirates
	<input onclick='toggleBoxes(this)' value='YE' id='YE2' name='countries[]' type='checkbox'> Yemen
	<input onclick='toggleBoxes(this)' value='AU' id='AU2' name='countries[]' type='checkbox'> Australia
	<input onclick='toggleBoxes(this)' value='NZ' id='NZ2' name='countries[]' type='checkbox'> New Zealand
	<input onclick='toggleBoxes(this)' value='NF' id='NF2' name='countries[]' type='checkbox'> Norfolk Island
	<input onclick='toggleBoxes(this)' value='FJ' id='FJ2' name='countries[]' type='checkbox'> Fiji
	<input onclick='toggleBoxes(this)' value='NC' id='NC2' name='countries[]' type='checkbox'> New Caledonia
	<input onclick='toggleBoxes(this)' value='PG' id='PG2' name='countries[]' type='checkbox'> Papua New Guinea
	<input onclick='toggleBoxes(this)' value='SB' id='SB2' name='countries[]' type='checkbox'> Solomon Islands
	<input onclick='toggleBoxes(this)' value='VU' id='VU2' name='countries[]' type='checkbox'> Vanuatu
	<input onclick='toggleBoxes(this)' value='GU' id='GU2' name='countries[]' type='checkbox'> Guam
	<input onclick='toggleBoxes(this)' value='KI' id='KI2' name='countries[]' type='checkbox'> Kiribati
	<input onclick='toggleBoxes(this)' value='MH' id='MH2' name='countries[]' type='checkbox'> Marshall Islands
	<input onclick='toggleBoxes(this)' value='FM' id='FM2' name='countries[]' type='checkbox'> Micronesia, Federated States of
	<input onclick='toggleBoxes(this)' value='NR' id='NR2' name='countries[]' type='checkbox'> Nauru
	<input onclick='toggleBoxes(this)' value='MP' id='MP2' name='countries[]' type='checkbox'> Northern Mariana Islands
	<input onclick='toggleBoxes(this)' value='PW' id='PW2' name='countries[]' type='checkbox'> Palau
	<input onclick='toggleBoxes(this)' value='AS' id='AS2' name='countries[]' type='checkbox'> American Samoa
	<input onclick='toggleBoxes(this)' value='CK' id='CK2' name='countries[]' type='checkbox'> Cook Islands
	<input onclick='toggleBoxes(this)' value='PF' id='PF2' name='countries[]' type='checkbox'> French Polynesia
	<input onclick='toggleBoxes(this)' value='NU' id='NU2' name='countries[]' type='checkbox'> Niue
	<input onclick='toggleBoxes(this)' value='PN' id='PN2' name='countries[]' type='checkbox'> Pitcairn
	<input onclick='toggleBoxes(this)' value='WS' id='WS2' name='countries[]' type='checkbox'> Samoa
	<input onclick='toggleBoxes(this)' value='TK' id='TK2' name='countries[]' type='checkbox'> Tokelau
	<input onclick='toggleBoxes(this)' value='TO' id='TO2' name='countries[]' type='checkbox'> Tonga
	<input onclick='toggleBoxes(this)' value='TV' id='TV2' name='countries[]' type='checkbox'> Tuvalu
	<input onclick='toggleBoxes(this)' value='WF' id='WF2' name='countries[]' type='checkbox'> Wallis and Futuna
	
</div>

<script type='text/javascript'>


    var locations6 = new Array('AF', 'AX', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AQ', 'AG', 'AR', 'AM', 'AW', 'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM', 'BT', 'BO', 'BQ', 'BA', 'BW', 'BV', 'BR', 'IO', 'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'KY', 'CF', 'TD', 'CL', 'CN', 'CX', 'CC', 'CO', 'KM', 'CG', 'CD', 'CK', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF', 'PF', 'TF', 'GA', 'GM', 'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD', 'GP', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT', 'HM', 'VA', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'KI', 'KP', 'KR', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MO', 'MK', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MQ', 'MR', 'MU', 'YT', 'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM', 'NA', 'NR', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NU', 'NF', 'MP', 'NO', 'OM', 'PK', 'PW', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH', 'PN', 'PL', 'PT', 'PR', 'QA', 'RE', 'RO', 'RU', 'RW', 'BL', 'SH', 'KN', 'LC', 'MF', 'PM', 'VC', 'WS', 'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI', 'SB', 'SO', 'ZA', 'GS', 'SS', 'ES', 'LK', 'SD', 'SR', 'SJ', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ', 'TH', 'TL', 'TG', 'TK', 'TO', 'TT', 'TN', 'TR', 'TM', 'TC', 'TV', 'UG', 'UA', 'AE', 'GB', 'US', 'UM', 'UY', 'UZ', 'VU', 'VE', 'VN', 'VG', 'VI', 'WF', 'EH', 'YE', 'ZM', 'ZW');

    var anyId6 = 'any1';
    
    function toggleBoxes( el ) {
        var i;
        if ( el.id == anyId6 ) {
            for( i = 0; i < locations.length6; i++ ){
                var cb = document.getElementById(locations6[i]);
                cb.checked = false;
            }
        } else {
            var cb = document.getElementById(anyId6);
            cb.checked = false; 
        }
    }    

	    var locations2 = new Array('a', 'b', 'c');

	    var anyId2 = 'any';

	    function toggleBoxes1( el ) {
	        var i;
	        if ( el.id == anyId2 ) {
	            for( i = 0; i < locations2.length; i++ ){
	                var cb = document.getElementById(locations2[i]);
	                cb.checked = false;
	            }
	        } else {
	            var cb = document.getElementById(anyId2);
	            cb.checked = false; 
	        }
	    }    
	    </script>
	
		<script type='text/javascript'>
		    var locations3 = new Array('one_length', 'two_length', 'three_length');

		    var anyId3 = 'any2';

		    function toggleBoxes2( el ) {
		        var i;
		        if ( el.id == anyId3 ) {
		            for( i = 0; i < locations3.length; i++ ){
		                var cb = document.getElementById(locations3[i]);
		                cb.checked = false;
		            }
		        } else {
		            var cb = document.getElementById(anyId3);
		            cb.checked = false; 
		        }
		    }    
		    </script>



	<script type='text/javascript'>
	    var locations4 = new Array('one_group', 'two_group', 'three_group');

	    var anyId4 = 'any3';

	    function toggleBoxes3( el ) {
	        var i;
	        if ( el.id == anyId4 ) {
	            for( i = 0; i < locations4.length; i++ ){
	                var cb = document.getElementById(locations4[i]);
	                cb.checked = false;
	            }
	        } else {
	            var cb = document.getElementById(anyId4);
	            cb.checked = false; 
	        }
	    }    
	    </script>
	
		<script type='text/javascript'>
		    var locations5 = new Array('AF', 'AX', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AQ', 'AG', 'AR', 'AM', 'AW', 'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM', 'BT', 'BO', 'BQ', 'BA', 'BW', 'BV', 'BR', 'IO', 'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'KY', 'CF', 'TD', 'CL', 'CN', 'CX', 'CC', 'CO', 'KM', 'CG', 'CD', 'CK', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF', 'PF', 'TF', 'GA', 'GM', 'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD', 'GP', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT', 'HM', 'VA', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'KI', 'KP', 'KR', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MO', 'MK', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MQ', 'MR', 'MU', 'YT', 'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM', 'NA', 'NR', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NU', 'NF', 'MP', 'NO', 'OM', 'PK', 'PW', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH', 'PN', 'PL', 'PT', 'PR', 'QA', 'RE', 'RO', 'RU', 'RW', 'BL', 'SH', 'KN', 'LC', 'MF', 'PM', 'VC', 'WS', 'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI', 'SB', 'SO', 'ZA', 'GS', 'SS', 'ES', 'LK', 'SD', 'SR', 'SJ', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ', 'TH', 'TL', 'TG', 'TK', 'TO', 'TT', 'TN', 'TR', 'TM', 'TC', 'TV', 'UG', 'UA', 'AE', 'GB', 'US', 'UM', 'UY', 'UZ', 'VU', 'VE', 'VN', 'VG', 'VI', 'WF', 'EH', 'YE', 'ZM', 'ZW');

		    var anyId = 'any4';

		    function toggleBoxes4( el ) {
		        var i;
		        if ( el.id == anyId5 ) {
		            for( i = 0; i < locations5.length; i++ ){
		                var cb = document.getElementById(locations5[i]);
		                cb.checked = false;
		            }
		        } else {
		            var cb = document.getElementById(anyId5);
		            cb.checked = false; 
		        }
		    }    
		    </script>
		
		
		
		
			<!--- POPUP PLUGIN -->
				
			

					<style type="text/css">

				        .header
				        {
				            background-color: #4f7305;
				            color: White;
				        }
				        #divProgram
				        {
				            margin: 10;
				            font: verdana;
				            font-size: 14px;
				            background-color: White;
				        }
				        #divProgram > div
				        {
				            width: 98%;
				            padding: 8px;
				        }
				        #divProgram > div p
				        {
				            width: 95%;
				            padding: 8px;
				        }
						#divOrganization
				        {
				            margin: 10;
				            font: verdana;
				            font-size: 14px;
				            background-color: White;
				        }
				        #divOrganization> div
				        {
				            width: 98%;
				            padding: 8px;
				        }
				        #divOrganization > div p
				        {
				            width: 95%;
				            padding: 8px;
				        }
			</style>

			<style>
			input[type="checkbox"] {
				margin-right:4px;
				}


			</style>			
				
