<!-- This is VVIs contact_us page. It houses 3 different ways to contact us, 
"contact us", "for organizations", and "for questions". -->

<%= javascript_include_tag "/assets/jquery.js"%>


<style>


/* Mask background for popup, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* Style for actual popup windows  */
.contact-popup, .questions-popup, .organizations-popup{
	display:none;
	background: #D9DEDA;
	padding: 10px; 	
	height:330px;
	border: 3px solid #575758;
	float: left;
	color:#6aaeba;
	font-size: 1.1em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
}

.title { /* page title */
	font-size:3em;
	margin:40px;
}
.leftHandImage { /* image to the left: drawing of Alyssa, Sajad and Sarah */
	width:47%;
	margin:0; 
	padding:0; 
	margin-top:10px;
}
.rightHandBlurbs { /* each of the blurbs above the buttons that open "contact us" popups */
width:47%;
margin:0; 
padding:0;
}
.box { /* main box that surrouds all three contact_us buttons and blurbs */
	border: 1px solid #575758;
}
.subBox { /* sub box that surrounds just one contact_us button and blurb */
	margin:10px; 
	border-bottom:1px solid #575758;
}
.lastBox { /* last sub box - should not have a bottom border */
	margin:10px;
	margin-bottom:0;
}
.popupLinkContainer { /* container for actual button that opens contact us popup */
	text-align:center;
}

a.popup-window { /* actual link (button) that opens popup */
	text-align:center; 
	color:blue;
}
a.popup-window:hover {
	color:white;
}

/*****************************/
/* Style Inside Popup Boxes */
/****************************/

.popupTitle { /* title at the top of each popup contact us box */
	font-family:JosefinSlabRegular; 
	font-size:2em; 
	color:#68c2d8; 
	line-height:1.5em;
	text-align:center;
}

.popupFieldContainer { /* contains a text field in the contact us popup */
	margin-left:0px;
}
.popupField { /* actual text field in the contact us popup */
	height:20px; 
	width:232px;
}
.popupSubjectField { /* actual subject field in the contact us popup */
	height:20px; 
	width:495px;
}
.popupBodyField { /* actual textarea for body in the contact us popup */
	height:100px; 
	width:500px; 
	font-style:italic;
}
.submitButtonContainer { /* contains the active "send" button in each popup */
text-align:center;
}
.graySubmitButtonContainer { /* contains the inactive "send" button in each popup */
text-align:center;
}
.noSubmitButtonContainer { /* contains the blurb that describes why the contact cannot be submitted yet */
	text-align:center;
	color:#E67B5A;
	margin-top:-50px;
	margin-right:315px;
}
</style>


<!-- ERROR MESSAGES -->
<% if flash.class.name != "String"%>
<% flash.each do |key, value| %>
<% if value.class.name != "String"%>
<div class="flash <%=key%>">
	<%= pluralize value.length, "errors"%> prevented your message from being sent:<br />
	<% value.each do |f|%>
	* <%=f%><br />
	<% end %>
</div>
<% end %>
<% end %>
<% end %><!-- END ERROR MESSAGES -->





<div class="container">
	<div class="row">
		<!-- Page title -->
		<div class="twelve columns title" align="center">
			<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/sayItToOurFace.png"%>
		</div><!-- end page title -->

		<!-- computer-drawn image to left of Alyssa, Sajad, and Sarah -->
		<div class="six columns leftHandImage">
			<image style="margin-top:25px;" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/theTeam2.jpeg" />
		</div><!-- end silly image -->

		<!-- right hand side blurbs and buttons -->
		<div class="six columns rightHandBlurbs">
			<div class="box">
				<!-- first blurb & button: contact us -->
				<div class="subBox">
					Hey! We would really love to hear from you.  If you love the site, if you hate the site, if you have some ideas for the site, if you are in possession of an adorable baby animal pic that you think we really need to see--Whatever your reason is, you can reach us here:
					<br />
					<br />

					<!-- contact us button -->
					<p class="popupLinkContainer">	
						<a href="#contact-box" class="popup-window">
							<image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/general.png" />
						</a>
					</p><!-- end contact us button -->
					<br />
					<br />
				</div><!-- end first blurb & button: contact us -->

				<!-- second blurb & button: for organizations -->
				<div class="subBox">
					If you are an international volunteer organization, we definitely want to hear from you as well.  If you want us to build a profile for you, or have questions/input about the one that we’ve already built, you can get in contact with us here: 
					<br />
					<br />

					<!-- for organizations button -->
					<p class="popupLinkContainer">
						<a href="#organizations-box" class="popup-window">
							<image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/organizations.png" />
						</a>
					</p><!-- end for organizations button -->
					<br />
					<br />
				</div><!-- end second blurb & button: for organizations -->


				<!-- third blurb & button: for questions -->
				<div class="lastBox">
					If you need any help navigating the site or understanding something that we’ve posted, we’d be happy to help.  As we are a brand new site, we also expect there may be some bugs that need catching, so we would really love your help on that front.  Questions go here: 
					<br />
					<br />

					<!-- for organizations button -->
					<p class="popupLinkContainer">	
						<a href="#questions-box" class="popup-window">
							<image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/questions.png" />
						</a>
					</p><!-- end for organizations button -->
					<br />
					<br />
				</div><!-- end third blurb & button: for questions -->
			</div><!-- end box -->
		</div><!-- end rightHandBlurbs -->
	</div><!-- end row -->
</div><!-- end container -->


<!-- BEGIN POPUPS -->

<!-- CONTACT US POPUP -->
<div id="contact-box" class="contact-popup">
	<%= render :partial => "form_popup", :locals => {:contact => @contact, :type => "contact"}%>
</div>	<!-- END CONTACT POPUP -->


<!-- ORGANIZATIONS POPUP -->
<div id="organizations-box" class="organizations-popup">
	<%= render :partial => "form_popup", :locals => {:contact => @contact, :type => "organizations"}%>
</div>	<!-- END ORGANIZATIONS POPUP -->



<!-- QUESTIONS POPUP -->
<div id="questions-box" class="questions-popup">
	<%= render :partial => "form_popup", :locals => {:contact => @contact, :type => "questions"}%>
</div>	<!-- END QUESTIONS POPUP -->

<!-- END POPUPS -->


<script type="text/javascript">

$(document).ready(function () {

	//Hide submit buttons until all required form fields are filled out
	$("#submit-questions").hide();
	$("#submit-organizations").hide();
	$("#submit-contact").hide();


	////////////////////////////////
	// All Contact Popups' JQuery //
	///////////////////////////////
	$('a.popup-window').click(function() {

		//Getting the variable's value from a link 
		var popupBox = $(this).attr('href');

		//Fade in the Popup
		$(popupBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(popupBox).height() + 24) / 2; 
		var popMargLeft = ($(popupBox).width() + 24) / 2; 

		$(popupBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:.5"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
		$('#mask , .contact-popup, .organizations-popup, .questions-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
	}); // end contact's JQuery
	
}); //end $(document).ready


// sets the popup's body field to blank when it is first clicked
function setBodyFieldBlank(bodyField) {
	if (bodyField.value == 'Must be at least 5 characters') 
	{
		bodyField.value = '';
		bodyField.style.fontStyle = 'normal';
	}
}

//Check if the contact_us form has all form fields filled out that are required
function checkFormForSubmit(type) {
	if ($("#email-"+type).attr("value") != ""
		&& $("#email-"+type).attr("value").indexOf("@") > 0
		&& $("#email-"+type).attr("value").indexOf(".") > 0
		&& $("#body-"+type).attr("value") != "Must be at least 5 characters"
		&& $("#body-"+type).attr("value").length >= 5) 
	{
		$("#nosubmit-"+type).hide();
		$("#submit-"+type).show();
	}
}

</script>
