<div class="container" style="color:#575758">
	<div class="row">
		<div class="twelve columns" align="center" style="font-size:3em; margin:40px">
			<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/sayItToOurFace.png", :style => "height:75px"%>
		</div>
		<div class="six columns" style="width:47%;margin:0; padding:0; margin-top:10px;">
			<image style="margin-top:25px;" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/theTeam2.jpeg">
		</div>
		<div class="six columns" style="width:47%; margin:0;padding:0">
			<div style=" border:1px solid #575758">
				<div style="margin:10px; border-bottom:1px solid #575758">
Hey! We would really love to hear from you.  If you love the site, if you hate the site, if you have some ideas for the site, if you are in possession of an adorable baby animal pic that you think we really need to see--Whatever your reason is, you can reach us here: 
					<br />
					<br />
				<p style="text-align:center">	<a href="#contact-box" class="contact-window" style="text-align:center; color:blue;"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/Contact.png"></a></p>
						<br />
						<br />
				</div>
				<div style="margin:10px; border-bottom:1px solid #575758">
					If you are an international volunteer organization, we definitely want to hear from you as well.  If you want us to build a profile for you, or have questions/input about the one that we’ve already built, you can get in contact with us here: 
					
					<br />
					<br />
					<p style="text-align:center"><a href="#organizations-box" class="organizations-window" style="text-align:center; color:blue;"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/organizations.png"></a></p>
						<br />
						<br />
				</div>
				<div style="margin-top:10px; margin-left:10px; margin-right:10px">
					If you need any help navigating the site or understanding something that we’ve posted, we’d be happy to help.  As we are a brand new site, we also expect there may be some bugs that need catching, so we would really love your help on that front.  Questions go here: 
					
					<br />
					<br />
				<p style="text-align:center">	<a href="#questions-box" class="questions-window" style="text-align:center; color:blue;"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/questions.png"></a></p>
						<br />
						<br />
				</div>
			</div>
		</div>
	</div>
</div>




  	<div id="contact-box" class="contact-popup">
		<p style=" font-family:chunkFiveRegular; font-size:3em; color:#68c2d8; line-height:2em;text-align:center">Contact Us</p>
			<%= form_for(@contact) do |f| %>
			<%= f.hidden_field :to_whom, :value => "contact"%>
			<% if user_signed_in?%>
			<%= f.hidden_field :user_id, :value => current_user.id%>
			<% end %>

				<div class="six columns" style="margin-left:0px">
			    <div class="field">
			      Name<br />
			      <%= f.text_field :name, :style => "height:20px; width:235px" %>
			    </div>
				</div>
				<div class="six columns">
			    <div class="field">
			      Email<br />
			      <%= f.text_field :email, :style => "height:20px; width:238px"  %>
			    </div>
				</div>
			    <div class="field">
			      Subject<br />
			      <%= f.text_field :subject, :style => "height:20px; width:500px"  %>
			    </div>

			    <div class="field">
			      <%= f.label :body %>
			      <%= f.text_area :body, :style => "height:200px; width:500px" %>
			    </div>


			  <fieldset class="actions">
			    <p style="text-align:center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitShortLong.png" %></p>
			  </fieldset>
			<% end %>
	
	
	</div>
	
	
	<style>

	
	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 999;
	}

	/* You can customize to your needs  */
	.contact-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

	img.btn_close { Position the close button
		float: right; 
		margin: -28px -28px 0 0;
	}

	fieldset { 
		border:none; 
	}



	.button { 
		background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
		background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
		background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
		border-color:#000; 
		border-width:1px;
	        border-radius:4px 4px 4px 4px;
		-moz-border-radius: 4px;
	        -webkit-border-radius: 4px;
		color:#68c2d8;
		cursor:pointer;
		display:inline-block;
		padding:6px 6px 4px;
		margin-top:10px;
		font:12px; 
		width:214px;
	}
	.button:hover { background:#ddd; }
	
	</style>
	
	<script type="text/javascript">
	
	
	$(document).ready(function() {

		
		
		$('a.contact-window').click(function() {

	                //Getting the variable's value from a link 
			var contactBox = $(this).attr('href');

			//Fade in the Popup
			$(contactBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(contactBox).height() + 24) / 2; 
			var popMargLeft = ($(contactBox).width() + 24) / 2; 

			$(contactBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="opacity:.5"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .contact-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
	});

</script>






  	<div id="organizations-box" class="organizations-popup">
		<p style=" font-family:chunkFiveRegular; font-size:3em; color:#68c2d8; line-height:2em;text-align:center">Contact Us</p>
			<%= form_for(@contact) do |f| %>
			<%= f.hidden_field :to_whom, :value => "organizations"%>
			
			<% if user_signed_in?%>
			<%= f.hidden_field :user_id, :value => current_user.id%>
			<% end %>

				<div class="six columns" style="margin-left:0px">
			    <div class="field">
			      Name<br />
			      <%= f.text_field :name, :style => "height:20px; width:235px" %>
			    </div>
				</div>
				<div class="six columns">
			    <div class="field">
			      Email<br />
			      <%= f.text_field :email, :style => "height:20px; width:238px"  %>
			    </div>
				</div>
			    <div class="field">
			      Subject<br />
			      <%= f.text_field :subject, :style => "height:20px; width:500px"  %>
			    </div>

			    <div class="field">
			      <%= f.label :body %>
			      <%= f.text_area :body, :style => "height:200px; width:500px" %>
			    </div>


			  <fieldset class="actions">
			    <p style="text-align:center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitShortLong.png" %></p>
			  </fieldset>
			<% end %>
	
	</div>
	
	
	<style>

	
	/* Mask for background, by default is not display */


	/* You can customize to your needs  */
	.organizations-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

	
	</style>
	
	<script type="text/javascript">
	
	
	$(document).ready(function() {

		
		
		$('a.organizations-window').click(function() {

	                //Getting the variable's value from a link 
			var organizationsBox = $(this).attr('href');

			//Fade in the Popup
			$(organizationsBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(organizationsBox).height() + 24) / 2; 
			var popMargLeft = ($(organizationsBox).width() + 24) / 2; 

			$(organizationsBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="opacity:.5"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .organizations-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
	});

</script>





  	<div id="questions-box" class="questions-popup">
	<p style=" font-family:chunkFiveRegular; font-size:3em; color:#68c2d8; line-height:2em;text-align:center">Contact Us</p>
		<%= form_for(@contact) do |f| %>
		<%= f.hidden_field :to_whom, :value => "questions"%>

		<% if user_signed_in?%>
		<%= f.hidden_field :user_id, :value => current_user.id%>
		<% end %>

			<div class="six columns" style="margin-left:0px">
		    <div class="field">
		      Name<br />
		      <%= f.text_field :name, :style => "height:20px; width:235px" %>
		    </div>
			</div>
			<div class="six columns">
		    <div class="field">
		      Email<br />
		      <%= f.text_field :email, :style => "height:20px; width:238px"  %>
		    </div>
			</div>
		    <div class="field">
		      Subject<br />
		      <%= f.text_field :subject, :style => "height:20px; width:500px"  %>
		    </div>

		    <div class="field">
		      <%= f.label :body %>
		      <%= f.text_area :body, :style => "height:200px; width:500px" %>
		    </div>


		  <fieldset class="actions">
		    <p style="text-align:center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitShortLong.png" %></p>
		  </fieldset>
		<% end %>
	
	
	</div>
	
	
	<style>


	/* You can customize to your needs  */
	.questions-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

	</style>
	
	<script type="text/javascript">
	
	
	$(document).ready(function() {

		
		
		$('a.questions-window').click(function() {

	                //Getting the variable's value from a link 
			var questionsBox = $(this).attr('href');

			//Fade in the Popup
			$(questionsBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(questionsBox).height() + 24) / 2; 
			var popMargLeft = ($(questionsBox).width() + 24) / 2; 

			$(questionsBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="opacity:.5"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .questions-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
	});

</script>

