	<%= javascript_include_tag "/assets/jquery.js"%>
	
	<script type="text/javascript">

	function checkContactForSubmit() {
		if ($("#email-contact").attr("value") != ""
		 && $("#email-contact").attr("value").indexOf("@") > 0
		 && $("#email-contact").attr("value").indexOf(".") > 0
		 && $("#body-contact").attr("value") != "Must be at least 5 characters"
		 && $("#body-contact").attr("value").length >= 5) {
			$("#nosubmit-contact").hide();
			$("#submit-contact").show();
		}
	}
	
	$(document).ready(function() {
		$("#submit-contact").hide();
		
		$('a.contact-window').click(function() {

	                //Getting the variable's value from a link 
			var contactBox = $(this).attr('href');

			//Fade in the Popup
			$(contactBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(contactBox).height() + 24) / 2; 
			var popMargLeft = ($(contactBox).width() + 24) / 2; 

			$(contactBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="opacity:.5"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .contact-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
	});

</script>

<style>


/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.contact-popup{
	display:none;
	background: #D9DEDA;
	padding: 10px; 	
	border: 3px solid #575758;
	float: left;
	color:#6aaeba;
	font-size: 1.1em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close { Position the close button
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}



.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#68c2d8;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}
.button:hover { background:#ddd; }

input[name="commit"]{
	margin-bottom:-15px;
}

a.contact-window:active{color:#6aaeba}
a.contact-window:link{color:#6aaeba}
a.contact-window:visited{color:#6aaeba}
a.contact-window:hover{color:#9bce6c}

</style>

<div class="container">
	<div class="row">
		<div class="twelve columns" style="text-align:center; margin-top:50px">
<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/Error404.png"><br /><br />
  <div>
    <p style="font-family:JosefinSlabRegular; color:#575758; font-size:1.5em; line-height:1.5em">The page you were looking for doesn't exist! Weird.</p>
    <p style="font-family:JosefinSlabRegular; color:#575758; font-size:1.5em;line-height:1.3em">Please feel free to <a href="#contact-box" class="contact-window">contact us</a> if you are very confused.<br /><br />Or just try searching for something else!</p>
  </div>
<div style="margin-top:50px; padding-bottom:100px">
	<form accept-charset="UTF-8" action="/searches/create" method="post">
	  <input id="keywords" name="search[keywords]" type="text" />
	  <input name="commit" type="image" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/searchButton.png" />
	</form>
</div>
	
</div>
</div>
</div>
</div>

<div id="contact-box" class="contact-popup">
	<a href="#" class="close"><div class="close_image"></div></a>
	<p style=" font-family:JosefinSlabRegular; font-size:3em; color:#68c2d8; line-height:2em;text-align:center">Contact Us</p>
	<% @contact = Contact.new %>
		<%= form_for(@contact) do |f| %>
		<%= f.hidden_field :to_whom, :value => "contact"%>
		<% if user_signed_in?%>
		<%= f.hidden_field :user_id, :value => current_user.id%>
		<% end %>

			<div class="six columns" style="margin-left:0px">
		    <div class="field">
		      Name<br />
		      <%= f.text_field :name, :style => "height:20px; width:232px" %>
		    </div>
			</div>
			<div class="six columns">
		    <div class="field">
		      Email<br />
		      <%= f.text_field :email, :style => "height:20px; width:232px", :id => "email-contact", :onkeyup => "checkContactForSubmit();"  %>
		    </div>
			</div>
		    <div class="field">
		      Subject<br />
		      <%= f.text_field :subject, :style => "height:20px; width:495px"  %>
		    </div>

		    <div class="field">
		      <%= f.label :body %>
		      <%= f.text_area :body, :style => "height:200px; width:500px; font-style:italic", :value => "Must be at least 5 characters", :onfocus => "if (this.value == 'Must be at least 5 characters') {this.value = ''}; this.style.fontStyle = 'normal'", :id => "body-contact", :onkeyup => "checkContactForSubmit();" %>
		    </div>


		  <div id="submit-contact">
		    <p style="text-align:center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitShortLong.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p>
		  </div>
		
		 <div id="nosubmit-contact">
			<p style="text-align:center; color:#E67B5A">Please include both an<br />email and a message<br />before submitting.</p>
		</div>
		<% end %>


</div>