<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.pageTitle {
	font-size:3em; 
	line-height:2em; 
	margin-top:20px;
	padding-bottom:20px;
	text-align:center; 
}
.linkToGo {
	margin-left:11px;
}
.dateTime {
	color:blue;
}
.editFeedback {
	margin-left:11px;
}
</style>

<% if user_signed_in? && current_user.admin?%>
<div class="container">
	<div class="row">
		<div class="twelve columns">
<p class="pageTitle">Listing feedbacks</h1>

<table>
	<thead>
  <tr>
	<th>Date Created</th>
    <th>Username/Email</th>
    <th>Body</th>
    <th>Go to?</th>
    <th>Homepage?</th>
	<th>Edit?</th>
	<th>Delete?</th>
  </tr>
	</thead>
<tdata>
<% @feedbacks.each do |f| %>
  <tr>
	<td width="10%"><p class="dateTime"><%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
	<td width="12%">
	<% if f.user_id.nil?%>
	<%= f.email%>
	<% else %>
	<%= link_to User.find(f.user_id).username, User.find(f.user_id)%>
	<% end %>
	</td>
	
	<td width ="50%"><%= textilized(truncate untextilized(f.body), :length => 100).html_safe %></td>
    <td width="7%"><p class="linkToGo"><%= link_to 'Go', f %></p></td>
	<td width="7%">
	<% if f.show %>
	<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/hideReview.png"), "/feedbacks/#{f.id}/changeShow" %>
	<% else %>
	<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/show_homepage.png"), "/feedbacks/#{f.id}/changeShow" %>
	<% end %>
    <td width="7%"><p class="editFeedback"><%= link_to 'Edit', edit_feedback_path(f) %></p></td>
    <td width="7%"><%= button_to "Delete", feedback_path(f.id), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</tdata>
</table>

<br />
</div>
<% end %>
