<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.title {
	text-align:center; 
	margin-top:50px; 
	margin-bottom:20px; 
	font-family:JosefinSlabRegular; 
	font-size:3em; 
	color:#575758;
}
.label {
	color:#575758;
	text-align:left;
}
.textField {
	width:246px; 
	height:18px;
}
.textArea {
	height:150px; 
	width:250px; 
	border:1px solid gray;
}
.field {
	margin-bottom:15px;
}
.submitContainer {
	text-align:center;
	height:35px;
}
</style>

<!-- ERROR MESSAGES -->
<% flash.each do |key, value| %>
  <div class="flash <%=key%>">
<%= pluralize value.length, "errors"%> prevented your review from being created:<br />
	<% value.each do |f|%>
		* <%=f%><br />
	<% end %>
  </div>
<% end %><!-- END ERROR MESSAGES -->
<div class="container">
	<div class="row">
		<div class="twelve columns" align="center">
<p class="title">Feedback</p>
<%= form_for(@feedback) do |f| %>
  <div class="field">
	<%if user_signed_in?%>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
    <p class= "label">Email </p>
	<%= f.text_field :email, :class => "textField"%>
    
    <% end %>
  </div>
  <div class="field">
    <p class= "label">Message </p>
    <%= f.text_area :body, :class=>"textArea" %>
  </div>

  <div class="actions">
    <p class="submitContainer"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/sayIt.png", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p>
  </div>
<% end %>
</div>
</div>
</div>