
<div class="progResult">
	<table width="100%" onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
			<td width="12%"><p class="progSquareImageContainer"><%=image_tag f.square_image.url, :class => "progSquareImage" %></p></td>
			<td><p class="progSearchLinkContainer"><a id = "prog<%=f.id%>" class="search_link_prog" href="/programs/<%=f.id%>"><%= f.name%></a></p></td>
			<td><p class="progStarsContainer">
				<% if f.reviews.count == 0 %>
					<%=render :partial => 'star', :locals => {:star => 0}%>
				<% else %>
					<%= render :partial => 'star', :locals => {:star => (((f.reviews.sum(:overall) / f.reviews.count).to_f*2).round / 2.0)}%>
				<% end %>
			</p><p class="progBasedOnContainer">Based on <%=f.reviews.count%> reviews</p></td>
		</tr>
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
			<td></td>
			<td colspan="2"><p class="progCategoriesContainer">Category: <span class=" progSubjects">
			<%=f.program_subjects.map{|p| p.subject}.join(", ")%>
				</span></p>
				<p class="progDescription"><%= truncate(untextilized(f.description), :length => 100).html_safe%></p>
			</td>
		</tr>
	</table>


</div>