
<div class="progResult">
	<table width="100%" onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
			<td width="12%"><p class="progSquareImageContainer"><%=image_tag f.square_image.url, :class => "progSquareImage" %></p></td>
			<td><p class="progSearchLinkContainer"><a id = "prog<%=f.id%>" class="search_link_prog" href="/programs/<%=f.id%>"><%= f.name%></a></p></td>
			<td><p class="progStarsContainer"><%=render :partial => 'star', :locals => {:star => f.overall}%></p><p class="progBasedOnContainer">Based on <%=f.reviews.count%> reviews</p></td>
		</tr>
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/programs/<%=f.id%>'">
			<td></td>
			<td colspan="2"><p class="progCategoriesContainer">Category: <span class=" progSubjects">
			<%=f.program_subjects.map{|p| p.subject}.join(", ")%>
				</span></p>
				<p class="progDescription"><%= f.truncated_description100.html_safe%></p>
			</td>
		</tr>
	</table>


</div>