<div class="container">
	<div class="row">
		<div class="twelve columns">
<p style="font-size:3em; text-align:center; margin-bottom:50px;margin-top:50px">Listing Searches</p>
<p style="font-size:1.2em">Search Count: <%= @searches.count%> </p>
<p style="font-size:1.5em"><%= button_to "Clear Old Searches", "/searches/erase_old"%></p>
<br /><br /><br />


<table>
  <tr>
	<th>Count</th>
    <th>Created At</th>
    <th>Updated At</th>
	<th>Will Be Cleared?</th>
    <th></th>
  </tr>
<% @count = @searches.count%>
<% @searches.each do |search| %>
  <tr>
	<td><%= @count %></td>
    <td><%= search.created_at.strftime("%A %B %I:%M %p") %></td>
    <td><%= search.updated_at.strftime("%A %B %I:%M %p")%></td>
	<td>
		<% if search.%>
  </tr>
	<% @count = @count - 1%>
<% end %>
</table>
</div>
</div>
</div>
