<div class="container" style="padding:30px">
	<div class="row">
		<div class="ten columns">

<%= form_for @mad_mimi_email do |f| %>
<% @proms = []%>
<% MadMimi.new('sarahsponda902@gmail.com', "df65cf0a215c2b3028fa7eaf89a6f2ba").promotions.values.first.values.first.each do |f|%>
<% @spot = f.keys.index("name")%>
<% @proms << f.values[@spot]%>
<% end %>
Promotion Name: <%= f.select :promotion_name, @proms%><br />
Email Subject:<%= f.text_field :subject%><br />
From (must be of this format): <%= f.text_field :from, :value => "Leasie <leasie@volunteervoice.org>"%><br />
Recipients: <%= f.select :list_names, [["Users", "users"], ["Admins", "admins"], ["Organizations", "organizations"]]%><br />
<%= f.hidden_field :username, :value => "sarahsponda902@gmail.com"%><br />
<%= f.hidden_field :api_key, :value => "df65cf0a215c2b3028fa7eaf89a6f2ba"%><br />
BCC: <%= f.text_field :bcc%><br />
<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png"%>
<% end %>
</div>
</div>
</div>