<div class="container" style="padding:30px">
	<div class="row">
		<div class="ten columns">

<%= form_for @mad_mimi_email do |f| %>
Promotion Name: <%= f.select :promotion_name, ["VolunteerVoice"]%><br />
Email Subject:<%= f.text_field :subject%><br />
From (must be of this format): <%= f.text_field :from, :value => "Leasie <leasie@volunteervoice.org>"%><br />
<%= f.hidden_field :list_names, :value => "Sarah <sarahsponda902@gmail.com>"%><br />
<%= f.hidden_field :username, :value => "sarahsponda902@gmail.com"%><br />
<%= f.hidden_field :api_key, :value => "df65cf0a215c2b3028fa7eaf89a6f2ba"%><br />
BCC: <%= f.text_field :bcc%><br />
<%= f.submit "Send Email"%>
<% end %>
</div>
</div>
</div>