

<% if user_signed_in? && current_user.admin?%>
<div class="container">
	<div class="row">
		HELPERS:<br />

		* -> bullet point<br />
		# -> numbered bullet point<br />
		_word_ -> italic word<br />
		*word* -> bolded word<br />
		+word+ -> underlined word<br />
		"link text":url -> link to url<br />
		!image url! -> embedded image at url<br />
		p{color:#color-code} paragraph -> paragraph in #color-code color. To exit color, hit 'enter' twice<br /><br />

		For more formatting go to: http://redcloth.org/textile/<br /><br /><br />
		
		
		<div class="six columns">
<%= form_for(@organization) do |f| %>

	<div class = "field">
		<%= f.check_box :show %>
		Show as one of randoms on homepage?
	</div>
	

  <div class="field">
    Organization Name <br />
    <%= f.text_field :name, :value => @organization.name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :value => @organization.description %></div>
  <div class= "field">
	<%= f.label :image %>
	<%= f.file_field :image, :value => @organization.image %></div>
  <div class="field">
	Mission<br />
	<%= f.text_field :mission, :value => @organization.mission %> </div>
  <div class="field">
	Phone (numbers only, 10 digits)<br />
	<%= f.text_field :phone, :value => @organization.phone %></div>
  <div class="field">
    Email<br />
    <%= f.email_field :email, :value => @organization.email %></div>
  <div class="field">
    Operating Since (year)<br />
    <%= f.text_field :operating_since, :value => @organization.operating_since %></div>
  <div class="field">
    Number of Volunteers to Date<br />
    <%= f.number_field :num_vols_date, :value => @organization.num_vols_date %></div>
  <div class="field">
    Number of Volunteers per Year<br />
    <%= f.number_field :num_vols_yr, :value => @organization.num_vols_yr %></div>
  <div class="field">
    <%= f.label :application_process %>
    <%= f.text_area :application_process, :value => @organization.application_process %></div>
  <div class="field">
    <%= f.label :business_model %>
    <%= f.text_area :business_model, :value => @organization.business_model %></div>
  <div class="field">
    <%= f.label :program_model %>
    <%= f.text_area :program_model, :value => @organization.program_model%></div>
</div>
<div class="six columns">
  <div class="field">
    Good To Know<br />
    <%= f.text_area :good_to_know, :value => @organization.good_to_know %></div>
  <div class="field">
    Training Resources<br />
    <%= f.text_area :training_resources, :value => @organization.training_resources %></div>
  <div class="field">
    Average Program Cost (number, in $/year)
    <%= f.number_field :program_costs, :value => @organization.program_costs %></div>
  <div class="field">
    <%= f.label "program costs includes/doesn't" %>
    <%= f.text_field :program_costs_includes, :value => @organization.program_costs_includes %></div>
  <div class="field">
    Program Cost Breakdown<br />
    <%= f.text_area :program_costs_breakdown, :value => @organization.program_costs_breakdown %></div>

  <div class="field">
    Run By<br />
    <%= f.text_area :run_by, :value => @organization.run_by %></div>
  <div class="field">
    <%= f.label :id_number %>
    <%= f.text_field :id_number, :value => @organization.id_number %></div>
  <div class="field">
    <%= f.label :volunteer_program_model%>
    <%= f.text_field :volunteer_program_model, :value => @organization.volunteer_program_model %></div>
  <div class="field">
    Price Ranges<br />
    <%= f.text_area :price_ranges, :value => @organization.price_ranges %></div>


</div>
<div class="twelve columns" style="text-align:center">

  <div class="actions">
    <%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submit.png" %>     
</div>
<% end %>
</div>
</div>
</div>
<% end %>

<style>
textarea {
	width:350px;
	height:200px;
}

</style>
