<%= javascript_include_tag "/assets/jquery.js"%>

<style>
#leftColumn, #rightColumn {
	width:45%;
}
textarea {
	width:350px;
	height:200px;
}
#inviteOrgContainer {
	text-align:center;
	display:none;
}
#editingImageBlurb{
	display:none;
	color:red;
}
#submitEtcContainer {
	text-align:center;
}

</style>
<!-- ERROR MESSAGES -->
<% if @organization.errors.any? %>
<div class="flash alert">
	<%= pluralize value.length, "errors"%> prevented your organization from being created:<br />
	<% @organization.errors.full_messages.each do |e|%>
		* <%=e%><br />
	<% end %>
</div>
<% end %><!-- END ERROR MESSAGES -->

<% if user_signed_in? && current_user.admin?%>
<div class="container">
	<div class="row">
		<div class="twelve columns" align="left">
		HELPERS:<br />

		* -> bullet point<br />
		# -> numbered bullet point<br />
		_word_ -> italic word<br />
		*word* -> bolded word<br />
		+word+ -> underlined word<br />
		"link text":url -> link to url<br />
		!image url! -> embedded image at url<br />
		p{color:#color-code} paragraph -> paragraph in #color-code color. To exit color, hit 'enter' twice<br /><br />

		For more formatting go to: http://redcloth.org/textile/<br /><br /><br />
		
		</div>
		<div class="six columns" id="leftColumn">
<%= form_for @organization, :html => {:multipart => true} do |f| %>

	<div class = "field">
		<%= f.check_box :show %>
		Show as one of randoms on homepage?
	</div>
	

  <div class="field">
    Organization Name <br />
    <%= f.text_field :name, :value => @organization.name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :value => @organization.description %></div>
  <div class= "field">
	<%= f.label :image %>
	<div id="editingImageBlurb">
		If blank, org's photo will not change.
	</div>
	<%= f.file_field :image, :value => @organization.image %></div>
  <div class="field">
	Mission<br />
	<%= f.text_area :misson, :value => @organization.misson %> </div>
  <div class="field">
	Phone [ie. (xxx)-xxx-xxxx]<br />
	<%= f.text_field :phone, :value => @organization.phone %></div>
  <div class="field">
    Email<br />
    <%= f.email_field :email, :value => @organization.email %></div>
  <div class="field">
    Operating Since (year)<br />
    <%= f.text_field :operating_since, :value => @organization.operating_since %></div>
  <div class="field">
    Number of Volunteers to Date<br />
    <%= f.text_field :num_vols_date, :value => @organization.num_vols_date %></div>
  <div class="field">
    Number of Volunteers per Year<br />
    <%= f.text_field :num_vols_yr, :value => @organization.num_vols_yr %></div>
  <div class="field">
    <%= f.label :application_process %>
    <%= f.text_area :application_process, :value => @organization.application_process %></div>
  <div class="field">
    <%= f.label :business_model %>
    <%= f.radio_button :business_model, "Certified Nonprofit" %> Certified Nonprofit<br />
	<%= f.radio_button :business_model, "For Profit Company"%> For Profit Company<br />
  </div>
  <div class="field">
    <%= f.label "Program Model" %>
    <%= f.text_field :program_model_string, :value => @organization.program_model_string%></div>
	<div class="field">
		Types of Programs<br />
		<%= f.text_field :types_of_programs, :value => @organization.types_of_programs%>
	</div>

  <div class="field">
    Run By<br />
    <%= f.text_field :run_by, :value => @organization.run_by %></div>

	  <div class="field">
	    # Full Time Staff<br />
	    <%= f.number_field :full_time_staff, :value => @organization.full_time_staff %></div>
	  <div class="field">
    <%= f.label :id_number %>
    <%= f.text_field :id_number, :value => @organization.id_number %></div>
  <div class="field">
    <%= f.label :url%>
    <%= f.text_field :url, :value => @organization.url %></div>


  <div class="field">
    Program Costs Breakdown<br />
    <%= f.text_area :price_breakdown, :value => @organization.price_breakdown %></div>
</div>

<div class="six columns" id="rightColumn">
  <div class="field">
    Good To Know<br />
    <%= f.text_area :good_to_know, :value => @organization.good_to_know %></div>
  <div class="field">
    Preparation/Orientation<br />
    <%= f.text_area :training_resources, :value => @organization.training_resources %></div>
  <div class="field">
    <%= f.label "program costs includes" %><br />
    <%= f.text_area :program_costs_includes, :value => @organization.program_costs_includes %></div>
  <div class="field">
    <%= f.label "program costs doesn't include" %><br />
    <%= f.text_area :program_costs_doesnt_include, :value => @organization.program_costs_doesnt_include %></div>
	  <div class="field">
	    <%= f.label "Additional Fees" %>
	    <%= f.text_field :additional_fees, :value => @organization.additional_fees%></div>

  <div class = "field">
	<%= f.label "Headquarters address" %><br />
	<%= f.text_area :headquarters_location, :value => @organization.headquarters_location%>
  </div>


</div>

<div class="twelve columns" id="submitEtcContainer">
	<br /><br />
	
	
	<div id="inviteOrgContainer">
	<div class="field">
    <%= f.check_box :will_invite, :value => @organization.will_invite %> Invite organization to create an account?</div>

	<div class="field">
    Email at which to send the invitation:<br />
    <%= f.text_field :invite_email, :value => @organization.invite_email %></div><br />
	</div>
	
	
  <div class="actions">
    <%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png" %>     
</div>
<% end %>
</div>
</div>
</div>
<% end %>

<script>
$(document).ready(function() {
	var actionName = (window.location.pathname).split("/");
	if (actionName[actionName.length - 1] == "new") {
		$("#inviteOrgContainer").show();
	} else {
		$("#editingImageBlurb").show();
	}
});
</script>
