<div class="orgResult">
	<table width="100%" onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/organizations/<%=f.id%>'">
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/organizations/<%=f.id%>'">
			<td width="7%"><p class="orgSquareImageContainer"><%=image_tag f.square_image.url, :class => "orgSquareImage" %></p></td>
			<td><p class="orgSearchLinkContainer"><a id="org<%=f.id%>" class="search_link" href="/organizations/<%=f.id%>"><%= f.name%></a></p></td>
			<td><p class="orgStarsContainer">
			<% if f.reviews.count == 0 %>
				<%=render :partial => 'star', :locals => {:star => 0}%>
			<% else %>
				<% render :partial => 'star', :locals => {:star => (f.sum(&:reviews) / f.reviews.count).to_f}%>
			<% end %>
			</p><p class="orgStarsBasedOn">Based on <%=f.reviews.count%> reviews</p></td>
		</tr>
		<tr onclick="window.location.href = 'http://girlpowerproject.herokuapp.com/organizations/<%=f.id%>'">
			<td></td>
			<td colspan="2" width="60%"><p class="orgProgramsList">
			<% count = 1%>
			<% f.programs.each do |p| %>
				<%=link_to p.name, p, :class => "programLink"%><%=", " unless count == f.programs.count%>
				<% count = count + 1%>
			<% end%>
				</p></td>
		</tr>
	</table>


</div>
