 
  <%@photos = [] %>
    <%@photos << f.photo unless f.photo.blank?%>
    <%@photos << f.photo2 unless f.photo2.blank?%>
    <%@photos << f.photo3 unless f.photo3.blank?%>
   <% @photos << f.photo4 unless f.photo4.blank?%>
   <% @photos << f.photo5 unless f.photo5.blank?%>
   <% @photos << f.photo6 unless f.photo6.blank?%>
   <% @photos << f.photo7 unless f.photo7.blank?%>
   <% @photos << f.photo8 unless f.photo8.blank?%>
   <% @photos << f.photo9 unless f.photo9.blank?%>
   <% @photos << f.photo10 unless f.photo10.blank?%>
	
	
	<div> 
	<p align="right" style="color:#e67b5a; font-size:1.1em; line-height:1.5em; margin-right:40px">Written <%= f.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p>
		<table cellspacing="0" style="border:1px solid #e67b5a; float:center; background-color:#E9ECE9; margin-left:40px;margin-right:40px" cellpadding="0">
			<tr style="background-color:#E9ECE9" height="30px">
				<td style="width:40%"><p  style="margin-top:5px; font-size:1.1em;color:#575758" >	Program: <font style="font-family:architectsDaughterRegular"> <%=Program.find(f.program_id).name%></font></p></td>
				<td style="width:30%"><p  style="margin-top:5px; font-size:1.1em;" >Trip Was: <font style="font-family:architectsDaughterRegular"> <%=Program.find(f.program_id).length%></font></p></td>
				<td style="width:28%"><p align="right" style="width:150px"><%=render :partial => 'star', :locals => {:star => f.overall}%></p></td>
			</tr>
			<tr style="background-color:#E9ECE9">
				<td colspan="3"><p style="color:#575758"><%= f.truncated200.html_safe%></p></td>
			</tr>
			<tr style="margin:0;padding:0; background-color:#E9ECE9;">
				<td style="width:54%">
				<% @photos.each do |photo| %>
			  		  <a class="single" href="<%=photo.url%>" rel="lightbox[plants]"><img src="<%=photo.url%>" style="height:30px"/></a>
			    <% end %> 
			  	</td>
				<td style="width:1%"></td>
				<td style="width:45%;margin:0;padding:0"><p style="margin-top:-10px; text-align:left; "><a style="color:#62acbd; font-family:architectsDaughterRegular" href="<%=User.find(f.user_id)%>"> --<%=User.find(f.user_id).username%></a></p><p style="margin-top:-15px; float:right"><a href="#flag-box<%=f.id%>" class="flag-window"><%= (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/flag.png") %></a></p></td>
			</tr>
		</table>
	
		<table id="flag-box<%=f.id%>" class="flag-popup">
			<% if user_signed_in? %>
		  	<%= form_tag ('/flags') %>


			    <p style="text-align:center; font-size:1.05em; font-family:cabinRegular; padding-bottom:80px; color:#575758">Report this review for<br />inappropriate content</p>

				<tr><td style="width:200px">
			<p style="width:150px; height:100px"><textarea id="body" style="height:115px; font-size:0.7em; font-style:italic" onclick="if (this.value == 'Please describe.') {this.value = ''}; this.style.fontStyle = ('normal');" name="body">Please describe.</textarea></td></tr>

			    <%=hidden_field_tag :flagger_id, :value => current_user.id %>

			    <%=hidden_field_tag :poster_id, :value => f.user_id %>

			    <%=hidden_field_tag :review_id, :value => f.id %>



			    <p style="text-align:center; padding-top:15px"><%= image_submit_tag ("https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitFlag.png"), :height => "50px" %></p>

			<% else %>
			You must be signed in to flag a review.
			<% end %>
		
		</table>
		<br />
		<br />
			</div>