
<div class="container" id="organizationContentBox">
	<div class="row">
		<div class="two columns" id="squareImageContainer">
			<%= image_tag organization.square_image.url, :class =>"squareImage" %>
		</div>
		
		<div class="six columns" id="majorInfoContainer">
			<br />
			<p class="orgNameContainer"> <%= organization.name %></p>
				<% if @can_edit %>
				&#9998;
	<span class="urlContainer"><u><%=best_in_place_if @can_edit, organization, :url, :type => :input, :nil => "Click to edit"%></u></span>
				<% else %>
				<a id="urlCantEdit" class="organization_url" href="<%=organization.url%>" target="_blank"> <u><%= organization.url%></u></a>
				<% end %>

		</div>
		<div class="three columns"  id="orgRatingContainer">

			<br />
			<br />
			<p class="starRating"><%= render :partial => "bigStar", :locals => {:star => organization.roundup(presenter.overall)}%></p>
			<br />

			<p class="starRatingBasedOn">Based on <%= (pluralize @results.count, "reviews") %></p> 
			<br />
			<% if !(current_user.nil?) && current_user.admin? %>
			<%= link_to "edit", "/organizations/#{organization.id}/edit"%>
			<% end %>
		</div>
	</div>



<div class="row infoContainer">
	<div class="nine columns">
		<div class="two columns" id="missionLabelContainer">
				 <% if @can_edit %>
				&#9998;&nbsp;&nbsp;
				<% end %>
				<u><b>Mission:</b></u>
		</div>
		<div class="ten columns" id="missionContainer">
			<%= best_in_place_if @can_edit, organization, :misson, :type => :textarea, :display_as => :textilize_misson, :nil => "Click to Edit"%> 
		</div>

		<div class = "two columns" id="programSubjectsContainer">

			<u><span class="programSubjectsLabel">Program Subjects:</span></u>
		</div>
		<div class="ten columns" id="programSubjectsBox">
			<% if presenter.program_subjects.present?%>
<%= presenter.program_subjects[0..(presenter.program_subjects.count - 2)].join(", ")%>
			<% end %>
		</div>
	</div>
	<div class="three columns" id="hqInfoContainer">
		<p class="hqLabelContainer"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			headquarters address: </p><%= best_in_place_if @can_edit, organization, :headquarters_location, :type => :textarea, :display_as => :textilize_headquarters_location, :nil => "Click to edit"%>
		<br />
		<br />
		
		<p class="hqLabelContainer">
	    <% if @can_edit%>
		&#9998; 
		<% end %>
	    phone:</p> <%=best_in_place_if @can_edit, organization, :phone, :type => :input, :nil => "Click to edit"%>
		<br />
		<br />
		<br />
		
		<p class="hqLabelContainer"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			email: </p><%=best_in_place_if @can_edit, organization, :email, :type => :input, :nil => "Click to edit"%>
		<br />
		<br />
		<br />
		<br />
		
	</div>
</div>
<div class="row">
	<div class="twelve columns" id="detailsBoxLabel">

		<u><b>Details:</b></u>
	</div>
	<div class="eleven columns">
		<div class="six columns" id="leftColumnDetails">
			<br />
			<p class="detailsLabel"> 
				<% if @can_edit%>
				&#9998; 
				<% end %>
				Operating since:</p><%=best_in_place_if @can_edit, organization, :operating_since, :type => :input, :nil => "Click to edit"%><br /><br />
			
			<p class="detailsLabel"> 
				<% if @can_edit%>
				&#9998; 
				<% end %>
				Run by:</p><%=best_in_place_if @can_edit, organization, :run_by, :type => :input, :nil => "Click to edit"%><br /><br />
			<p class="detailsLabel">Full Time Staff: </p><%=best_in_place_if @can_edit, organization, :full_time_staff, :type => :input, :nil => "Click to edit"%><br /><br />
			<p class="detailsLabel"> 
				<% if @can_edit%>
				&#9998; 
				<% end %>
				# Volunteers each year: </p><%=best_in_place_if @can_edit, organization, :num_vols_yr, :type => :input, :nil => "Click to edit"%><br /><br />
			<p class="detailsLabel"> 
				<% if @can_edit%>
				&#9998; 
				<% end %>
				# Volunteers to date: </p><%=best_in_place_if @can_edit, organization, :num_vols_date, :type => :input, :nil => "Click to edit"%><br /><br />
			<p class="detailsLabel"> # Active Programs: </p><%= organization.programs.count%><br /><br />
			<p class="detailsLabel"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			Application Process: </p><%= best_in_place_if @can_edit, organization, :application_process, :type => :textarea, :display_as => :textilize_application_process, :nil => "Click to edit"%><br />
			<p class="detailsLabel">Business Model: </p>
			<% if organization.business_model.present? %>
			<%= organization.business_model.html_safe%>
			<% end %><br /><br />
			
			<p class="detailsLabel">ID number: </p><%=organization.id_number%><br /><br />
			
			<p class="detailsLabel">Volunteer Program Model: </p><%=organization.program_model_string%><br /><br />
			
			<p class="detailsLabel">Types of Programs: </p>
			<%= presenter.types_of_programs%>
			<br /><br />
			<p class="detailsLabel">Group Sizes: </p><%= presenter.group_sizes[0..(presenter.group_sizes.count - 2)].join(", ")%><br /><br />
			<p class="detailsLabel">Program Lengths: </p><%= presenter.program_lengths.first%> - <%= presenter.program_lengths.last %> <br /><br />
			
		</div>
		<div class="six columns" id="rightColumnDetails">
			<br />
			<p><span class="detailsLabel">Price Ranges:</span> <a href="#price-ranges-box" class="price-ranges-window">Click here to view</a> </p><br />
			
			<p class="detailsLabel"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			Price Includes: </p><%= best_in_place_if @can_edit, organization, :program_costs_includes, :type => :textarea, :display_as => :textilize_program_costs_includes, :nil => "Click to edit"%><br />
			<p class="detailsLabel"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			Price Doesn't Include: </p><%= best_in_place_if @can_edit, organization, :program_costs_doesnt_include, :type => :textarea, :display_as => :textilize_program_costs_doesnt_include, :nil => "Click to edit"%><br />
			<p><span class="detailsLabel">Additional Fees: </span><%= organization.additional_fees%></p><br />
			<p><span class="detailsLabel">Price Breakdown: </span>
			<%= organization.price_breakdown.html_safe if organization.price_breakdown.present? %></p><br />
			<p class="detailsLabel"> 
			<% if @can_edit%>
			&#9998; 
			<% end %>
			Preparation/Orientation: </p><%= best_in_place_if @can_edit, organization, :training_resources, :type => :textarea, :display_as => :textilize_training_resources, :nil => "Click to edit"%><br />
			<p class="detailsLabel">Good to know: </p><%=organization.good_to_know.html_safe if organization.good_to_know.present?%><br />
		</div>
	</div>


	<div class="twelve columns">

<br />
<br />
		<p class="reviewOrgButtonContainer">	<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/reviewThisOrg.png"), {:controller => "reviews", :action => "new", :organization_id => organization.id}, :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'", :style =>"height:20px"%></p>


	<p class="getInfoButtonContainer"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/vviInfo.png"), "#info-box", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'info-window'", :class => "info-window"%> </p>

	</div>
</div>
</div>



<script type="text/javascript">
//BestInPlace only appears in the contents partial, so the jQuery is here.
$(document).ready(function() {
  /* Activating Best In Place */
  $(".best_in_place").best_in_place();
});
</script>





