<div class="container" style="margin-left:-15px; border:1px solid #575758; background-color:#E9ECE9; padding:bottom:25px; color:#575758; min-width:900px">
	<div class="row">
		<div class="two columns" style="margin:0;padding:0; width:18%; margin-top:20px; padding-left:20px">
			<%= image_tag organization.square_image.url, :style =>"height:130px;width:130px" %>
		</div>
		
		<div class="six columns" style="width:55%; text-align:left; margin:0; padding:0; margin-top:20px; padding-left:10px;">
			<br />
			<p style="font-size:3.5em; color:#62acbd; line-height:1em;"> <%= organization.name %></p>
			<a style="font-size:1.2em; color:#62acbd;" href="<%=organization.url%>"><u> <%=organization.url%></u></a>

		</div>
		<div class="three columns"  style="text-align:center; margin:0; padding:0; width:25%">

			<br />
			<br />
			<% if organization.overall.nil?%>
			<% organization.overall = 0%>
			<% organization.save %>
			<% end %>
			<p style="margin-top:10px"><%= render :partial => "bigStar", :locals => {:star => organization.roundup(organization.overall)}%></p>
			<br />

			<p style="font-family:ArchitectsDaughterRegular; font-size:1.1em; color:#e67b5a; line-height:1.3em">Based on <%= organization.reviews_count%> reviews</p> 
			<br />
			<% if !(current_user.nil?) && current_user.admin? %>
			<%= link_to "edit", "/programs/#{organization.id}/edit"%>
			<% end %>
		</div>
	</div>



<div class="row" style="margin-top:50px">
	<div class="nine columns">
		<div class="two columns" style="font-size:1.5em; width:20%; padding-left:10px">
			<u><b>Mission:</b></u>
		</div>
		<div class="ten columns" style="border:1px solid #575758; height:130px; width:75%; margin:0;padding:10px">
			<%= organization.misson.html_safe%> 
		</div>

		<div class = "two columns" style="font-size:1.5em; margin:0;padding:0; margin-top:25px; padding-left:10px; width:20%">

			<u><b>Programs:</b></u>
		</div>
		<div class="ten columns" style="border: 1px solid #575758; height:130px; width:75%; margin:0;padding:10px; margin-top:25px; float:left">
			<% @types = []%>
			<% organization.programs.each do |f|%>
				<% @types << f.subject %>
			<% end %>
			<% @types = @types.uniq{|x| x}%>
			<% @count = 1%>
			<% @types.each do |f|%>
				<% @count = @count + 1%>
				<%= f %><%= "," unless @count == @types.count + 1;%>
			<% end %>
		</div>
	</div>
	<div class="three columns" style="float:left;margin-left:10px; padding:10px; background-color:#c1dfdb; height:310.5px">
		<p style="font-weight:600; font-size:1.1em">headquarters address: </p>?? Should I add this to the "create an org" page?
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		
		<p style="font-weight:600; font-size:1.1em">phone:</p> <%= organization.phone%>
		<br />
		<br />
		<br />
		
		<p style="font-weight:600; font-size:1.1em">email: </p><%= organization.email%>
		<br />
		<br />
		<br />
		<br />
		
	</div>
</div>
<div class="row">
	<div class="twelve columns" style="font-size:1.5em; margin-top:25px; width:20%; padding-left:10px">

		<u><b>Details:</b></u>
	</div>
	<div class="twelve columns">
		<div class="six columns" style="border-right:1px solid #e67b5a; font-size:1.1em;">
			<br />
			<p style="font-weight:600">Operating since: </p><%=organization.operating_since%><br />
			
			<p style="font-weight:600">Run by: </p><%=organization.run_by.html_safe%><br />
			
			<p style="font-weight:600"># Volunteers each year: </p><%=organization.num_vols_yr%><br />
			<p style="font-weight:600"># Volunteers to date: </p><%=organization.num_vols_date%><br />
			<p style="font-weight:600">Application process: </p><%=organization.application_process.html_safe%><br />
			<p style="font-weight:600">Business Model: </p><%= organization.business_model.html_safe%><br />
			
			<p style="font-weight:600">ID number: </p><%=organization.id_number%><br />
			
			<p style="font-weight:600">Volunteer Program Model: </p><%=organization.program_model_string%><br />
			
			<% programTypes = []%>
			<% groupSizes = []%>
			<% programLengths = []%>
			<% organization.programs.each do |f|%>
			<% programTypes << f.subject unless programTypes.include?(f.subject)%>
			<% groupSizes << f.group_size unless groupSizes.include?(f.group_size)%>
			<% programLengths << f.length unless programLengths.include?(f.length)%>
			<% end %>
			
			<p style="font-weight:600">Types of Programs: </p><% programTypes.each do |p|%> <%=p%>,<% end %><br />
			
		</div>
		<div class="six columns" style="font-size:1.1em">
			<br />
			<p style="font-weight:600">Price Ranges: </p> <a href="#price-ranges-popup" class="price-ranges-window">Click here to view</a><br />
			
			
			<p style="font-weight:600">Price Includes: </p><%= organization.program_costs_includes.html_safe%><br />
			<p style="font-weight:600">Price Doesn't Includes: </p><%= organization.program_costs_doesnt_include.html_safe%><br />
			<p style="font-weight:600">Price Breakdown: </p><a href="#price-breakdown-popup" class="price-breakdown-window">Click here to view</a><br />
			<p style="font-weight:600">Group Sizes: </p><% groupSizes.each do |f|%><%= f%>,<% end %><br />
			
			
			
			<p style="font-weight:600">Program Lengths: </p><% programLengths.each do |f|%><%=f%>,<%end%><br />
			<p style="font-weight:600">Training Resources: </p><%=organization.training_resources.html_safe%><br />
			<p style="font-weight:600">Good to know: </p><%=organization.good_to_know.html_safe%><br />
		</div>
	</div>


	<div class="twelve columns">

<br />
<br />
		<p style="text-align:center; margin-left:35px"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/reviewThisOrg2.png"), :controller => "reviews", :action => "new", :organization_id => organization.id, :style =>"height:20px"%></p>


	<p style="text-align:right; margin-top:-85px; padding-bottom:20px"><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/vviInfo.png"), "pages/get_info"%> </p>

</div>
</div>
</div>









