<br /><br />
<p style="font-size:3em; text-align:center; line-height:1.3em">Listing organizations</p><br />

<%= link_to 'Create New Organization', new_organization_path %>

<br /><br />
<p style="font-size:2em">Out-of-date Organizations</p><br />
<table align="center">
  <tr>
     <th>Name</th>
	<th>Organization Account</th>
	<th>Account Email</th>
     <th>Last Updated</th>
  </tr>

<% @organizations.each do |organization| %>
<% if organization.updated_at < 1.month.ago %>
  <tr>
  	<td><%= link_to organization.name, organization %></td>
	<td><% if OrganizationAccount.where(:organization_id => organization.id).empty? %>
		<font style="color:red">No Account</font>
		<% else %>
		<%= link_to "Click to View", OrganizationAccount.where(:organization_id => organization.id).first, :style => "color:green"%>
		<% end %>
		</td>
	<td><%= mail_to OrganizationAccount.where(:organization_id => organization.id).first.email %></td>
    <td><%= organization.updated_at %></td>
  </tr>
<% end %>
<% end %>

</table>
<br /><br />
<p style="font-size:2em">All Organizations</p><br />
<table align="center">
  <tr>
     <th>Name</th>
	<th># of Programs</th>
    <th style="width:50%">Description</th>
     <th>Image</th>
	 <th>Show?</th>
    <th>Delete?</th>
    <th>Edit?</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
  	<td><%= link_to organization.name, organization %></td>
	<td><%= organization.programs.count %></td>
    <td><%= organization.description.html_safe %></td>
	<td><%= image_tag organization.square_image.url, :style => "height:100px;width:100px" %></td>
	<td width="7%"><% if f.show %>
	<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/hideReview.png"), "/organizations/#{f.id}/changeShow" %>
	<% else %>
	<%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/show_homepage.png"), "/organizations/#{f.id}/changeShow" %>
	<% end %></td>
	<td><%= button_to "Delete", organization_path(organization.id), :confirm => "Are you sure?", :method => :delete%></td>
	<td><%= link_to "Edit", edit_organization_path(organization) %></td>
  </tr>
<% end %>

</table>
