<%= javascript_include_tag "/assets/jquery.js"%>
<p style="font-size:3em; text-align:center">Listing organizations</p><br />

<%= link_to 'Create New Organization', new_organization_path %>


<table>
  <tr>
     <th>Name</th>
	<th># of Programs</th>
    <th>Description</th>
     <th>Image</th>
    <th>Delete?</th>
    <th>Edit?</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
  	<td><%= link_to organization.name, organization %></td>
	<td><%= organization.programs.count %></td>
    <td><%= organization.description.html_safe %></td>
	<td><%= image_tag organization.square_image.url %></td>
	<td><%= link_to "Delete", organization_path(organization.id), :method => :delete, :remote => true, :confirm => "Are you sure?" %></td>
	<td><%= link_to "Edit", edit_organization_path(organization) %></td>
  </tr>
<% end %>

</table>
