<%= javascript_include_tag "/assets/jquery.js"%>
<h1>Listing organizations</h1>

<%= link_to 'Create an Organization', new_organization_path %>


<table>
  <tr>
     <th>Name</th>
    <th>Description</th>
     <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
  	<td><%= link_to organization.name, organization %></td>
    <td><%= organization.description.html_safe %></td>
	<td><%= image_tag organization.square_image.url %></td>
  </tr>
<% end %>

</table>
