
	<link rel="stylesheet" href="/assets/lightbox.css" type="text/css" media="screen" />
	<%= javascript_include_tag "/assets/jquery.js"%>	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	
	<%= javascript_include_tag "/assets/jquery.purr.js"%>

	<%= javascript_include_tag "/assets/best_in_place.js"%>

	<script src="/assets/jquery.smooth-scroll.min.js"></script>
	<script src="/assets/lightbox.js"></script>
	
	
		<%= stylesheet_link_tag "/assets/smartpaginator.css"%>

		<%= javascript_include_tag "/assets/smartpaginator.js"%>



	<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
	<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>
	<script src='http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/documentation.js' type="text/javascript"></script>


	<style>
	.dateWritten {
		color:#e67b5a; 
		font-size:1.1em; 
		line-height:1.5em;
	}
	.reviewTable {
		border:1px solid #e67b5a; 
		width:970px; 
		margin:auto; 
		margin-left:-30px; 
		background-color:#E9ECE9;
	}
	.reviewProgramLabel {
		margin-top:5px; 
		font-size:1.1em;
		color:#575758;
	}
	.reviewHeaderProgram {
		font-family:architectsDaughterRegular;
	}
	.programData {
		width:45%;
	}
	.tripWasData {
		width:30%;
	}
	.starData {
		width:24%;
	}
	.tripWasLabel {
		margin-top:5px; 
		font-size:1.1em;
	}
	.reviewStarContainer {
		width:150px;
	}
	.reviewBodyContainer {
		color:#575758;
	}
	a.review-window {
		font-style:italic;
	}
	.reviewPhotos, .reviewSignature {
		margin:0;
		padding:0;
	}
	.usernameContainer {
		margin-top:-10px; 
		text-align:right;
		margin-right:75px; 
	}
	.usernameLink {
		color:#62acbd; 
		font-family:architectsDaughterRegular;
	}
	.flagContainer {
		margin-top:-15px; 
		float:right;
	}
	tr, td {
		background-color:#E9ECE9;
	}
	.reviewPopupCloseButton {
		text-align:right;
	}
	.reviewPopupCloseImage {
		height:30px;
		width:30px;
		margin-right:-5px;
		margin-top:-19px;
	}
	.reviewPopupLabel {
		font-size:1.1em;
	}
	.reviewPopupProgram, .reviewPopupTimeFrame {
		font-family:architectsDaughterRegular; 
		font-size:1.1em;
	}
	.reviewPopupDateWritten {
		margin-top:-19px; 
		text-align:right;
	}
	.reviewPopupUsername {
		text-align:right; 
		font-family:architectsDaughterRegular; 
		color:#6aaeba; 
		margin-right:30px;
	}
	.reviewPopupPhotos {
		height:30px;
	}
	.reviewPopupFooter {
		border-top:1px solid #575758;
	}
	.reviewPopupStarLabel {
		text-align:left;
	}
	.reviewPopupStarContainer { 
		margin-top:-15px;
		width:95px;
		max-width:95px;
	}
	.reviewPopupStar {
		width:90px;
		max-width:90px;
		text-align:center;
	}
	</style>
	
	<style>
	a.organization_url:active{color:#68c2d8}
	a.organization_url:visited{color:#68c2d8}
	a.organization_url:link{color:#68c2d8}
	a.organization_url:hover{color:white; background:none}

	#organizationContentBox {
		border:1px solid #575758; 
		background-color:#E9ECE9; 
		padding:bottom:25px; 
		color:#575758; 
		width:950px; 
		margin-top:50px;
	}
	#squareImageContainer {
		margin:0;
		padding:0; 
		width:18%; 
		margin-top:20px; 
		padding-left:20px;
	}
	.squareImage {
		height:130px;
		width:130px;
	}
	#majorInfoContainer {
		width:53%; 
		text-align:left; 
		margin:0; 
		padding:0; 
		margin-top:-25px; 
		padding-left:10px;
	}
	.orgNameContainer {
		font-size:3.5em; 
		color:#62acbd; 
		line-height:1.3em;
	}
	.urlContainer {
		color:#68c2d8;
	}
	a#urlCantEdit {
		font-size:1.2em;
	}
	#orgRatingContainer {
		text-align:right; 
		margin-top:-95px; 
		padding:0; 
		width:23%; 
		float:right;
		margin-right:25px;
	}
	.starRating {
		margin-top:-25px;
	}
	.starRatingBasedOn {
		font-family:ArchitectsDaughterRegular; 
		font-size:1.1em; 
		color:#e67b5a; 
		line-height:1.3em;
	}
	.infoContainer {
		margin-top:50px;
	}
	#missionLabelContainer {
		font-size:1.5em; 
		width:20%; 
		padding-left:10px;
	}
	#missionContainer {
		border:1px solid #575758; 
		height:130px; 
		width:75%; 
		overflow:auto; 
		margin:0;
		padding:10px;
	}
	#programSubjectsContainer {
		font-size:1.5em; 
		margin:0;
		padding:0; 
		margin-top:25px; 
		padding-left:10px; 
		width:20%;
	}
	.programSubjectsLabel {
		line-height:1.2em;
	}
	#programSubjectsBox {
		border: 1px solid #575758; 
		height:130px; 
		overflow:auto; 
		width:75%; 
		margin:0;
		padding:10px; 
		margin-top:25px; 
		float:left;
	}
	#hqInfoContainer {
		float:left;
		margin-left:10px; 
		padding:10px; 
		height:295px; 
		background-color:#c1dfdb; 
		height:310.5px; 
		overflow:auto;
	}
	.hqLabelContainer {
		font-weight:600; 
		font-size:1.1em;
	}
	#detailsBoxLabel {
		font-size:1.5em; 
		margin-top:25px; 
		width:20%; 
		padding-left:10px;
	}
	#leftColumnDetails {
		font-size:1.1em;
	}
	.detailsLabel {
		font-weight:600;
	}
	#rightColumnDetails {
		width:45%; 
		border-left:1px solid #e67b5a; 
		font-size:1.1em; 
		padding-left:2%;
	}
	.reviewOrgButtonContainer {
		text-align:center; 
		margin-left:35px;
	}
	.getInfoButtonContainer {
		text-align:right; 
		margin-top:-85px; 
		padding-bottom:20px;
	}
	</style>



	<style type="text/css">


	   ul.tab
	   {
	       list-style: none;
	       margin: 0;
	       padding: 0;
			float: right;
	   }
	   ul.tab li
	   {
	       display: inline;
	       padding: 10px;
	       color: #575758;
	       cursor: pointer;
	   }

	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 10;
	}

	/* You can customize to your needs  */
	.flag-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		width:300px;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

	/* You can customize to your needs  */
	.price-ranges-popup{
		display:none;
		background: #E9ECE9;
		padding: 10px;
		max-height: 300px; 	
		border: 2px solid #ddd;
		float: left;
		color: black;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}


	.review-popup{
		display:none;
		background: #E9ECE9;
		padding: 10px; 	
		border: 2px solid #e67b5a;
		float: left;
		color: black;
		max-width:600px;
		max-height:300px;
		position: fixed;
		width: 650px;
		top: 50%; left: 50%;
		z-index: 55;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

	.info-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #575758;
		float: left;
		font-size: 1.2em;
		color:#575758;
		position: fixed;
		width: 500px;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}



	a.price-ranges-window:active{color:#68c2d8}
	a.price-ranges-window:visited{color:#68c2d8}
	a.price-ranges-window:link{color:#68c2d8}
	a.price-ranges-window:hover{color:#e67b5a; background:none}

	a.review-window:active{color:#68c2d8}
	a.review-window:visited{color:#68c2d8}
	a.review-window:link{color:#68c2d8}
	a.review-window:hover{color:#e67b5a; background:none}

	#canEditBlurb {
		font-size:1.1em;
		font-family:Tahoma;
		color:#e67b5a;
		font-weight:bold; 
		margin-top:20px;
	}
	#show-contents { /* overarching container */
		margin-top:100px;
	}
	#tabContainer {
		padding-bottom:50px;
		float:right; 
		margin-right:175px; 
		margin-top:-75px;
	}
	#leftTabImage {
		width:125px; 
		min-width:125px;
	}
	#rightTabImage {
		width:125px; 
		position:absolute; 
		top:0px;
	}
	#reviewsContainer {
		float:center; 
		text-align:center; 
		margin:auto;
	}
	.reviewsAndInsightLabel {
		font-family:JosefinSlabRegular;
		font-size:4em; 
		line-height:1.7em; 
		margin-top:25px; 
		margin-bottom:25px; 
		color: #62acbd;
	}
	.listByLabel {
		font-size:1.5em; 
		color:#575758; 
		line-height:1.1em; 
		margin-left:40px; 
		font-weight:600;
	}
	#results {
		margin-left:30px; 
	}
	#pageViews {
		margin-top:20px; 
		margin-bottom:5px;
	}
	.infoNotDisclosedTitle {
		font-size:2em; 
		line-height:2em; 
		text-align:center; 
		color:#575758; 
		margin-top:-15px;
	}
	.infoNotDisclosedBlurb {
		font-family:JosefinSlabRegular;  
		font-size:1.1em; 
		line-height:1.2em; 
		color:#6aaeba; 
		margin-left:10px; 
		margin-right:10px; 
		text-align:center;
	}
	.priceRangesColumn {
		width:100px; 
		text-align:center;
	}
	.infoPopupBlurb {
		font-family:architectsDaughterRegular; 
		line-height:1.3em;
	}
	.flagPopupTitle {
		text-align:center; 
		font-size:1.2em; 
		font-family:cabinRegular; 
		margin-bottom:20px; 
		color:#575758;
	}
	.flagTextArea {
		height:115px; 
		font-size:0.9em; 
		font-style:italic; 
		margin:auto;
	}
	.flagSubmitContainer {
		text-align:center; 
		padding-top:15px;
	}
	</style>



	
<div class="container">
    <div class="row">
	<% if @can_edit%> 
			<div class="five columns" id="canEditBlurb">*All fields with a small pencil next to them are open for editing.  Just click on the content in that field to adjust as you see fit.  Click anywhere outside the textbox to complete and save your changes.</div><div class="seven columns"></div>
	<% end %>
	
	<div id="show-contents" class="contents">
		<div id="tabContainer" class="three columns">
            <ul class="tab">
				<li><a href="/organizations/<%= @presenter.this_organization.id%>"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/tabProfileYes.png" id="leftTabImage"></a></li>
				<li><a href="/organizations/<%= @presenter.this_organization.id%>/programs"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/tabProgramsNo.png" id="rightTabImage"></a></li>
            </ul>
        </div>
			
		
	<%= render :partial => "show_contents", :locals => {:organization => @presenter.this_organization, :overall => @presenter.overall, :presenter => @presenter}%>
	
	<div class="row">
			<div class="twelve columns" id="reviewsContainer">
			<p class="reviewsAndInsightLabel">REVIEWS &amp; INSIGHT</p>
			</div>
	</div>

	<div class="container">
		<div class="row">
			<div class = "eleven columns" class="contents">
	<div id="results">

	
				<% @presenter.reviews_of_organization.each do |f| %>
				<div>
					<%= render :partial => "results", :locals => {:f => f}%>
				</div>
				<% end %>
		
	</div>
			</div>
		</div>
	</div>
	
</div>
</div>
</div>
</div>

<div class = "container">
<div class = "row">
	<div id="reviews_pager">
	</div>
	<div id= "four columns" align="center" id="pageViews">
		<% if !(current_user.nil?) && current_user.admin? %>
		<%= link_to "edit", "/organizations/#{@presenter.this_organization.id}/edit"%>
		  | Page views: <%= @presenter.this_organization.page_views%>
		<% end %>
	</div>
</div>
</div>
</div>
</div>


	</div>
	</div>	
	<div class="price-ranges-popup" id="price-ranges-box" >
		<a href="#" class="close"><div id="closePriceRanges" class="close_image"></div></a>
		<div class="overflow">
		<% if (ProgramCostLengthMap.where(:organization_id => @presenter.this_organization.id).empty?)%>	
		<p class="infoNotDisclosedTitle">Information not disclosed</p>
		<p class="infoNotDisclosedBlurb">If we don't have this info, we weren't able to obtain it yet from the organization.  But we are still trying!</p>
		<% else %>	
		<table>
			<thead>
			<tr>
				<th class="priceRangesColumn">Time</th>
				<th class="priceRangesColumn">Min Cost</th>
				<th class="priceRangesColumn">Max Cost</th>
			</tr>
			</thead>
			<tbody>
			<% @presenter.cost_length_table_entries.each do |f|%>
			<tr>
				<td class="priceRangesColumn">
					
					<% if f[0] > 12 %>
						<% @months = ""+(f[0] / 4).floor.to_s+"months"%>
						<% if (f[0] % 4) != 0 %>
							<% @months += (", "+(f[0]%4).to_s+"weeks") %>
						<% end %>
						<%= @months %>
					<% else %>
						<%= "" + f[0].to_s + "weeks"%>
					<% end %>
					
				</td>
				<td class="priceRangesColumn"><%= "$#{number_with_precision(f[1].to_d, :precision => 2)}"%></td>
				<td class="priceRangesColumn"><%= "$#{number_with_precision(f[2].to_d, :precision => 2)}"%></td>
			</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
</div>
</div>
</div>
	<div class="info-popup" id="info-box">
		<a href="#" class="close"><div class="close_image"></div></a>
		<p class="infoPopupBlurb">We get the vast majority of our information directly from International Volunteer Organizations themselves.  We do a lot of research online, spend a lot of time on their websites, and are also in direct correspondence with many of the organizations on our site.  If we can’t fill in all the blanks from these direct resources, we consult public resources such as GuideStar, the Better Business Bureau, or equivalent organizations in other countries.  </p>
    </div>
</div>
</div>

<div id="flag-box" class="flag-popup">
	<a href="#" class="close"><div class="close_image"></div></a>
	<% if user_signed_in? %>
  	<%= form_for @flag do |g| %>
	    <p class="flagPopupTitle">Report this review for <br />inappropriate content</p>
	<br />

	<%=g.text_area :body, :class => "flagTextArea", :onclick => "if (this.value == 'Please describe.') {this.value = ''}; this.style.fontStyle = ('normal');", :value => "Please describe."%>

	    <%=g.hidden_field :flagger_id, :value => current_user.id %>

	    <%=g.hidden_field :poster_id, :id => "poster_id" %>

	    <%=g.hidden_field :review_id, :id => "review_id" %>

	    <p class="flagSubmitContainer"><%= image_submit_tag ("/assets/submitToVVI.png"), :height => "50px", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></p>
		<% end %>
	<% else %>
	<p>You must be signed in to flag a review.</p>
	<% end %>
</div>



	<script>
	//Scrolling for Lightbox2 plugin
	  jQuery(document).ready(function($) {
	      $('a').smoothScroll({
	        speed: 1000,
	        easing: 'easeInOutCubic'
	      });
	  });

	//close the review popup (called if user clicks "flag this review" from within the review popup)
	function removePopup() {
		$('#mask').fadeOut(300);
		$('.review-popup').fadeOut(300);
		$('#mask').remove();  
		return false;
	}


//jQuery for the "Flag a Review" popup
		$(document).ready(function() {
			$('a.flag-window').click(function() {

			            //Getting the variable's value from a link 
				var flagBox = $(this).attr('href');

				//Fade in the Popup
				$(flagBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(flagBox).height() + 24) / 2; 
				var popMargLeft = ($(flagBox).width() + 24) / 2; 

				$(flagBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() { 
			  $('#mask , .flag-popup').fadeOut(300 , function() {
				$('#mask').remove();  
			}); 
			return false;
			});


//jQuery for the "Get Info ?-mark" popup
			$('a.info-window').click(function() {

			            //Getting the variable's value from a link 
				var infoBox = $(this).attr('href');

				//Fade in the Popup
				$(infoBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(infoBox).height() + 24) / 2; 
				var popMargLeft = ($(infoBox).width() + 24) / 2; 

				$(infoBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() { 
			  $('#mask , .info-popup').fadeOut(300 , function() {
				$('#mask').remove();  
			}); 
			return false;
			});




//jQuery for the organization's "Price Breakdown" popup
			$('a.price-ranges-window').click(function() {

			            //Getting the variable's value from a link 
				var priceRangesBox = $(this).attr('href');

				//Fade in the Popup
				$(priceRangesBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(priceRangesBox).height() + 24) / 2; 
				var popMargLeft = ($(priceRangesBox).width() + 24) / 2; 

				$(priceRangesBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() { 
			  $('#mask , .price-ranges-popup').fadeOut(300 , function() {
				$('#mask').remove();  
			}); 
			return false;
			});
			
			
			
//jQuery for the organization's many "Review" popups			
			$('a.review-window').click(function() {

			            //Getting the variable's value from a link 
				var reviewBox = $(this).attr('href');

				//Fade in the Popup
				$(reviewBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(reviewBox).height() + 24) / 2; 
				var popMargLeft = ($(reviewBox).width() + 24) / 2; 

				$(reviewBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() { 
			  $('#mask , .review-popup').fadeOut(300 , function() {
				$('#mask').remove();  
			}); 
			return false;
			});
			



//Initialize smartpaginator's jQuery paginator on a div called "results"
	//the "reviews_pager" div is the "1-10 of 40 ----> 1 2 3 4 ..." pager
			
				$('#reviews_pager').smartpaginator({ totalrecords: <%=@presenter.reviews_of_organization.count%>, recordsperpage: 10, datacontainer: 'results', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });

		});
</script>
