<%= stylesheet_link_tag "/assets/smartpaginator.css"%>
<%= javascript_include_tag "/assets/jquery.js"%>
<%= javascript_include_tag "/assets/smartpaginator.js"%>

<style>
.orgResult {
	padding:0; 
	margin:0; 
	width:100%;
}
table {
	padding:0px;
	margin:0px;
	border-bottom:1px solid #575758; 
	background-color:#E9ECE9; 
	height:100px; 
	cursor:pointer;
}
tr, td {
	background-color:#E9ECE9; 
	cursor:pointer;
}
.orgSquareImageContainer, .orgSearchLinkContainer {
	margin-top:7px;
}
.orgSquareImage {
	height:75px;
	width:75px;
}
a.search_link {
	font-size:2em;
}
p.orgStarsContainer {
	text-align:right;
	float:right;
}
.orgStarsBasedOn {
	text-align:right; 
	font-family:architectsDaughterRegular; 
	color: #e67b5a; 
	font-size:.8em;
	clear:both;
}
.orgProgramsList {
	font-size:1.3em;
	color:#e67b5a;
	margin-top:-55px;
}

a.search_link:active{color:#68c2d8}
a.search_link:visited{color:#68c2d8}
a.search_link:link{color:#68c2d8}
a.search_link:hover{color:#9bce6c; background:none}

a.programLink:active{color:#e67b5a}
a.programLink:visited{color:#e67b5a}
a.programLink:link{color:#e67b5a}
a.programLink:hover{color:#68c2d8; background:none}


</style>

<style>
#top {
	margin-top:50px;
}
#pageTitle {
	margin-bottom:30px;
	text-align:center;
}
#sortAndBlurbContainer {
	width:100%;
}
#sortByContainer {
	width:30%;
	margin-top:20px;
}
#listByLabel {
	font-size:1.5em; 
	color:#575758; 
	line-height:1.1em; 
	margin-left:-20px;
}
#listBySelectDiv {
	margin-left:75px;
	height:30px; 
	width:228px; 
	overflow:hidden; 
	border-right:1px solid #575758; 
	border-left:1px solid #575758; 
	margin-top:-25px;
}
#sort_by {
	position:relative; 
	border: 1px solid #575758; 
	left:-5px; 
	width:255px; 
	height:30px; 
	background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; 
	background-color:white;
}
#blurbContainer {
	width:60%;
	float:left;
}
#blurb {
	font-family:architectsDaughterRegular;
	font-size:1.1em;
	float:right;
	text-align:center;
	margin-right:50px;
	color:#6aaeba;
	max-width:90%;
}
#organizationContents {
	width:100%;
	margin-top:40px;
}
#divOrg {
	width:100%;
	border-top:1px solid #575758;
	border-left:1px solid #575758;
	border-right:1px solid #575758;
}
</style>
<div class="container">
	<div class="row" id="top">
		<div class="twelve columns" id="pageTitle">
			<img src="/assets/RegisteredOrganizations.png">
		</div>
		<div class="twelve columns" id="sortAndBlurbContainer">
			<div class="six columns" id="sortByContainer">
				<%= form_tag "/organizations/show_all", :id => "org_sort" do %>
				<span id="listByLabel">List By: </span>
				<div class="select-div" id="listBySelectDiv">
					<select id="sort_by" name="sort_by">
						<option value="overall desc">Highest Rated</option>
						<option value="overall">Lowest Rated</option>
						<option value="reviewed_at">Recently Reviewed</option>
						<option value="created_at">Recently Profiled</option>
						<option value="name">Alphabetical A-Z</option>
						<option value="name desc">Alphabetical Z-A</option>
					</select>
				</div>
				<% end %>
			</div>
			<div class="four columns" id="blurbContainer">
				<div id="blurb">
					Here are all the organizations registered on our site (so far).  Go to "find a program" for a few other ways to search through organizations and their many projects.
				</div>
			</div>
		</div>
		<div class="twelve columns">
			<div class="contents" id="organizationContents">
				<div id="divOrg">
					<% @organizations.each do |org| %>
					<%= render :partial => "organization_result", :locals => {:f => org}%>
					<% end %>
				</div>
				<div id="org_pager"></div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$('#org_pager').smartpaginator({ totalrecords: <%=@organizations.count%>, recordsperpage: 20, datacontainer: 'divOrg', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
	
	$("#sort_by").change(function () {
		$("#org_sort").submit();
	});
	
	<% if !@sort_by.nil? %>
		$("#sort_by").val("<%= @sort_by %>");
	<% end %>

});

</script>				








