
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" type="text/css" />

<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn-history/r3882/trunk/themes/base/jquery.ui.autocomplete.css" type="text/css" />

<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>
<script src='http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/documentation.js' type="text/javascript"></script>


<script>
$(function() {
	var availableTags = [
		<% Organization.all.each do |f| %>
		"<%=f.name%>",
		<% end %>
		];
	$( "#tags" ).autocomplete({
		source: availableTags
	});
});

$(document).ready(function() {
var	ones = 0;
var	twos = 0;
var	threes = 0;
var	fours = 0;
var	fives = 0;
var	sixs = 0;
var	sevens = 0;
var	eights = 0;
var	nines = 0;
var	tens = 0;
var	count = 0;
	$('#checkBefore').hide();
	$('#checkTerms').hide();
	$('a.terms-window').click(function() {

                //Getting the variable's value from a link 
		var termsBox = $(this).attr('href');

		//Fade in the Popup
		$(termsBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(termsBox).height() + 24) / 2; 
		var popMargLeft = ($(termsBox).width() + 24) / 2; 

		$(termsBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:.5"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .terms-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
	
	$('a.qMark-window').click(function() {

                //Getting the variable's value from a link 
		var qMarkBox = $(this).attr('href');

		//Fade in the Popup
		$(qMarkBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(qMarkBox).height() + 24) / 2; 
		var popMargLeft = ($(qMarkBox).width() + 24) / 2; 

		$(qMarkBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:.5"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .qMark-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
		$('a.allCompanies-window').click(function() {

	                //Getting the variable's value from a link 
			var allCompaniesBox = $(this).attr('href');

			//Fade in the Popup
			$(allCompaniesBox).fadeIn(300);

			//Set the center alignment padding + border see css style
			var popMargTop = ($(allCompaniesBox).height() + 24) / 2; 
			var popMargLeft = ($(allCompaniesBox).width() + 24) / 2; 

			$(allCompaniesBox).css({ 
				'margin-top' : -popMargTop,
				'margin-left' : -popMargLeft
			});

			// Add the mask to body
			$('body').append('<div id="mask" style="opacity:.5"></div>');
			$('#mask').fadeIn(300);

			return false;
		});

		// When clicking on the button close or the mask layer the popup closed
		$('a.close, #mask').live('click', function() { 
		  $('#mask , .allCompanies-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
		});
		
			$('a.addPhotos-window').click(function() {

		                //Getting the variable's value from a link 
				var addPhotosBox = $(this).attr('href');

				//Fade in the Popup
				$(addPhotosBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(addPhotosBox).height() + 24) / 2; 
				var popMargLeft = ($(addPhotosBox).width() + 24) / 2; 

				$(addPhotosBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="opacity:.5"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() { 
			  $('#mask , .addPhotos-popup').fadeOut(300 , function() {
				$('#mask').remove();  
			}); 
			return false;
			});
		
	});

	var preparation = "notClicked";
	var support = "notClicked";
	var impact = "notClicked";
	var overall = "notClicked";
	var structure = "notClicked";


	function nameFile() {
		var str="";
		str= $("#review_photo").val();
		document.getElementById('filename').value = str.substring(12, str.length);
	}

	function clickReviewPhoto() {
		$("#review_photo").click();
	}


	function beforeCheck() {
		$('#checkBefore').toggle();
	}

	function termsCheck() {
		$('#checkTerms').toggle();
	}

	function removeTwoHundred() {
		if ($("#theBody").value == "Minimum 200 characters" ) {
			$("#theBody").value = "";
	    }
	}

	function backToTwoHundred() {
		if ($("#theBody").attr("value") == "" ) {
			$("#theBody").attr("value", "Minimum 200 characters");
	    }
	}

	function removePut() {
		if ($("#put").attr("value") == "  Put the organization's name here" ) {
			$("#put").attr("value", "");
	    }
	}

	function backToPut() {
		if ($("#put").attr("value") == "" ) {
			$("#put").attr("value", "  Put the organization's name here");
	    }
	}



	function setClicked(theVar) {
		if (theVar == 'preparation') {
			preparation = "clicked";
		}
		if (theVar == 'support') {
			support = "clicked";
		}
		if (theVar == 'impact') {
			impact = "clicked";
		}
		if (theVar == 'structure') {
			structure = "clicked";
		}
		if (theVar == 'overall') {
			overall = "clicked";
		}
	}


	function showRemove() {
		$("#removeThePhoto").toggle();
	}

	function changeCount(field) {
	if (field == "one") {
		if $("#"+field) {
			ones = 1;
		} else {
			ones = 0;
		}
	} else if (field == "two") {
		if $("#"+field) {
			twos = 1;
		} else {
			twos = 0;
		}
	} else if (field == "three") {
		if $("#"+field) {
			threes = 1;
		} else {
			threes = 0;
		}
	} else if (field == "four") {
		if $("#"+field) {
			fours = 1;
		} else {
			fours = 0;
		}
	} else if (field == "five") {
		if $("#"+field) {
			fives = 1;
		} else {
			fives = 0;
		}
	} else if (field == "six") {
		if $("#"+field) {
			sixs = 1;
		} else {
			sixs = 0;
		}
	} else if (field == "seven") {
		if $("#"+field) {
			sevens = 1;
		} else {
			sevens = 0;
		}
	} else if (field == "eight") {
		if $("#"+field) {
			eights = 1;
		} else {
			eights = 0;
		}
	} else if (field == "nine") {
		if $("#"+field) {
			nines = 1;
		} else {
			nines = 0;
		}
	} else if (field == "ten") {
		if $("#"+field) {
			tens = 1;
		} else {
			tens = 0;
		}
	}
		count = ones + twos + threes + fours + fives + sixs + sevens + eights + nines + tens;
		$("#total_count").attr("value", count);

	}
	
	function removePhoto(field) {
		$("#"+field).attr("value", "");
	}
	</script>








</head>


<body>
<div class="container" style="color:#575758">
	<div class="row" style="margin-top:50px;margin-bottom:20px" align="center">
<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/writeReview.png"%>
</div>
<br />


<% organizations_array = Organization.all.map { |org| [org.name, org.id] } %>
<% if @review.organization_id.nil?%>
<% programs_array = Program.all.map { |p| [p.name, p.id]}%>
<% else %>
<% programs_array = Program.where(:organization_id => @review.organization_id).map { |p| [p.name, p.id]}%>
<% end %>
<%= form_for @review do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<% if !(params[:created_at].nil?)%>
	<%= f.hidden_field :created_at, :value => params[:created_at]%>
	<% end %>
	<% if !(params[:updated_at].nil?)%>
	<%= f.hidden_field :updated_at, :value => params[:updated_at]%>
	<% end %>
	
	<% if !(params[:preparation].nil?)%>
	<%= f.hidden_field :preparation, :value => params[:preparation]%>
	<% end %>
	<% if !(params[:support].nil?)%>
	<%= f.hidden_field :support, :value => params[:support]%>
	<% end %>
	<% if !(params[:impact].nil?)%>
	<%= f.hidden_field :impact, :value => params[:impact]%>
	<% end %>
	<% if !(params[:structure].nil?)%>
	<%= f.hidden_field :structure, :value => params[:structure]%>
	<% end %>
	<% if !(params[:overall].nil?)%>
	<%= f.hidden_field :overall, :value => params[:overall]%>
	<% end %>



	<div class="row" >
		<div class="six columns" style="margin-top:20px;">
	<section class="selectCompany"><!--select a company box and blurb-->
		<section class="selectCompanyBox"><!-- select a company drop-down box-->
		<label for="review_Select a Company" style="font-size:2em; margin-left:3%">Select a Company:</label>
	<div style="margin-top: -30px; height:30px;">
				       
				<% if @review.organization_id.nil?%>
					
						<div width="200px">
						<input id="tags" style="float:right; margin-right:10px; margin-top:5px; width:200px; height:20px" name="review[organization_name]"></div>
				
				<% else %>
				<%= Organization.find(@review.organization_id).name%>
				<% end %>

				</div>
				<div style="margin-left:55%; margin-top:3px"><a href="#allCompanies-box" id="allCompaniesShow" class="allCompanies-window">List All</a> | <a href="/new_reviews/new" id="reviewNew">Review New Company</a>
					</div>
			</section><!--end selectCompanyBox-->
		</div>
		
	
		


	<div class="six columns" style=" margin-top:5px; font-family:ArchitectsDaughterRegular; font-size:0.85em; color:#62acbd;">

<article class="selectCompanyBlurb"><!-- select a comany blurb-->
		<p style="width:500px; padding-left:1%; line-height:1.7em">If the name of your organization isn’t here, we don’t know about them yet. Click ‘Review New Company’, and type their name in the box that appears. We’d really appreciate it. </p>
    </article><!--end selectCompanyBlurb-->

	</section><!--end selectCompany-->

	</div><!--end right columns-->

	</div><!--end row two-->


<div class="row"><!--row three-->

	<div class = "six columns" style="margin-top:75px; padding-right:25px; border-right:1px solid #e67b5a">
		<section class="writeDetails"><!-- The Details section of write a review page-->
		<div align="center" style="font-family:ArchitectsDaughterRegular; font-size:2.5em; color:#62acbd; margin-bottom: 30px;"> The Details </div>
	<section class="writeReviewContent">
		<div class="three columns" style="font-size:1.5em; line-height:1.25em; width:40%; margin-left:11%">How long did you work with them?</div>
		<div class="three columns" style="position:absolute; left:40%;top:57px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
			<select id="review_time_frame" name="review[time_frame]" style="position:absolute; left:-5px; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; border:1px solid #575758; background-color:white;" onchange="checkFields()" value="<%=params[:time_frame] unless (params[:time_frame].nil?)%>"><option value="">Select a Time Frame</option>
			<option value="1 week or less">1 week or less</option>
			<option value="2-4 weeks">2-4 weeks</option>
			<option value="5-8 weeks">5-8 weeks</option>
			<option value="9-12 weeks">9-12 weeks</option>
			<option value="3-6 months">3-6 months</option>
			<option value="6-12 months">6-12 months</option>
			<option value="1-2 years">1-2 years</option>
			<option value="2+ years">2+ years</option>
			
			</select>
</div>




	<div class="three columns" style="font-size:1.5em; line-height:1.25em; width:40%; margin-left:11%; margin-top:40px">Which Program?</div>
	<div class="three columns" style="position:absolute; left:40%; top:132px; height:30px; width:228px; overflow:hidden; border-right:1px solid #575758; border-left:1px solid #575758">
	<select id="review_program_id"  onchange="checkFields()" name="review[program_id]" style="position:absolute; left:-5px; border:1px solid #575758; width:255px; height:30px; background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; border:1px solid #575758; background-color:white;"><option value="">Select a Program</option>
		<% Program.all.each do |f|%>
			<option value="<%=f.id%>"><%=f.name%></option>
		<% end %></select>
		</div>


	<div class="three columns" style="font-size:1.5em; line-height:1.25em; width:40%; margin-left:11%; margin-top:60px">Your Experience</div>

	   <%= f.text_area :body, :style => "width:86%; font-style:italic; margin-left:11%; height:150px", :id => "theBody", :onfocus => "removeTwoHundred()", :onclick =>"if (this.value == 'Minimum 200 characters') {this.value = ''};this.style.fontStyle = 'normal' ", :onblur => "backToTwoHundred();checkFields(); if (this.value == 'Minimum 200 characters') {this.style.fontStyle = 'italic'} else {this.style.fontStyle = 'normal'}", :value => (if (params[:body].nil?); "Minimum 200 characters"; else params[:body]; end)%><br />
	
						<div style="margin-left:11%; margin-top:10px; margin-bottom:30px"><a href="#addPhotos-box" class="addPhotos-window"><%= image_tag "/assets/addPhotos.png"%></a>&nbsp;&nbsp;&nbsp; <div style="margin-top:-35px; margin-left:120px">You have <input id="total_count" disabled="true" style="width:20px; font-family:architectsDaughterRegular; height:20px; background:none; border:none;" value="0"/> photos attached</div></div>
		
		<% if !(params[:before].nil?)%>
		<br />
		<br />
		Volunteered with this company before? <font style="font-size:2em;"><%= params[:before]%></font>
		<br />

		<% else %>
	
		<image style="position:absolute; top:84%; left:10%; height:23px" id="checkBefore" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png">
		<div style="background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); background-repeat:no-repeat; margin-left:11%" onclick="$(beforeCheck())">
		<input id="review_before" name="review[before]" type="checkbox" onchange = "checkFields()" style=" opacity:0; height:25px; width:25px" value="<%=params[:before] unless (params[:before].nil?)%>"/>
		<label style="margin-left:8%; margin-top:-25px" for="review_I have volunteered with this company before">I have volunteered with this company before</label><br /><br /><br /></div>
		
		<%end%>


		<% if !(params[:terms].nil?)%>
		<br />
		Checked terms of use?<font style="font-size:2em"> <%= params[:terms]%></font>
		<% else %>
		
		
		<image style="position:absolute; height:23px; top:89.5%; left:10%" id="checkTerms" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png">
			<div style="background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); background-repeat:no-repeat; height:25px; margin-left:11%; margin-top:-45px;" onclick="$(termsCheck());">
		<input id="terms" name="review[terms]" type="checkbox" onchange = "checkFields()" style="opacity:0; height:25px; width:25px" value="<%=params[:terms] unless (params[:terms].nil?)%>"/>
		<label style="margin-left:8%; margin-top:-25px" for="review_I have read the terms of use">I have read and accept the <a href="#terms-box" class="terms-window" id="termsUse">terms of use </a></label></div><br /><br />
		<%end%>
		
	</section><!--end writeReviewContent-->


	</section><!--end writeDetails-->
	</div><!--end left columns-->

	<div class="six columns" style="float:right; margin-top:-577px">
		<section class="writeNumbers"><!-- Numbers section of write a review page-->
		<div align="center" style="font-family:ArchitectsDaughterRegular; font-size:2.5em; color:#62acbd; margin-bottom: 30px;"> The Numbers </div>
		<section class="writeReviewContent"><!-- overall styling the same for both The Details column and The Numbers column-->
		<div style="text-align:center; font-size:1.5em; line-height:2.5em;">
	Preparation/Orientation
	<br />
	

	<div style="margin-left:27%" onclick="setClicked('preparation'); checkFields();">
		<% if !(params[:preparation].nil?)%>
		<%= params[:preparation]%>
		<% else %>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "0.5"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "1"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "1.5"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "2"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "2.5"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "3"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "3.5"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "4"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "4.5"/>
	<input name="review[preparation]" type="radio" class="star {split:2}" id="preparation" value= "5"/>
	<% end %>
	</div>

	<br />


	Support
	<br />

	<div style="margin-left:27%" onclick="setClicked('support'); checkFields();">
		<% if !(params[:support].nil?)%>
		<%= params[:support]%>
		<% else %>
		
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "0.5"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "1"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "1.5"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "2"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "2.5"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "3"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "3.5"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "4"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "4.5"/>
	<input name="review[support]" type="radio" class="star {split:2}" id="support" value= "5"/>
	<% end %>
	</div>
	<br />


	Project Impact
	<br />

	<div style="margin-left:27%" onclick="setClicked('impact'); checkFields();">
		<% if !(params[:impact].nil?)%>
		<%= params[:impact]%>
		<% else %>
		
		
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "0.5"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "1"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "1.5"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "2"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "2.5"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "3"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "3.5"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "4"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "4.5"/>
	<input name="review[impact]" type="radio" class="star {split:2}" id="impact" value= "5"/>
	<% end %>
	</div>
	<br />


	


	Project Structure/Sustainability
	<br />

	<div style="margin-left:27%" onclick="setClicked('structure'); checkFields();">
		<% if !(params[:structure].nil?)%>
		<%= params[:structure]%>
		<% else %>
		
		
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "0.5"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "1"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "1.5"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "2"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "2.5"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "3"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "3.5"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "4"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "4.5"/>
		<input name="review[structure]" type="radio" class="star {split:2}" id="structure" value= "5"/>
		
		<%end%>
		</div>
<br />

	

	Overall?
	<br />

	<div style="margin-left:27%" onclick="setClicked('overall'); checkFields();">
		<% if !(params[:overall].nil?)%>
		<%= params[:overall]%>
		<% else %>
		
		
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "0.5"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "1"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "1.5"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value = "2"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "2.5"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value = "3"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "3.5"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value = "4"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value= "4.5"/>
		<input name="review[overall]" type="radio" class="star {split:2}" id="overall" value = "5"/>
		
		<% end %>
		</div>


	</section><!--end writeReviewContent-->


	</section><!--end writeNumbers-->

	</div><!--end right columns-->
	</div><!--end row three-->




	<div class="row"><!--row four-->
		<div class="twelve columns" align="center" style="margin-top:20px;">

	<section class="reviewSubmit"><!-- submit review button and FAQ link-->
		<div id="submitButtonHidden" style="display:none; float:center; margin-top:30px; color:#e67b5a"> <i>You cannot submit your review until<br /> all form fields are filled out <br />(except upload a photo, that one can be left blank)</i></div>
		<div style="text-align:center; margin-top:30px" id="submitButtonDiv"><%=image_submit_tag ("https://s3-us-west-1.amazonaws.com/volunteervoice/images/submit.png"), :id => "submitButton", :style => "cursor:pointer"%></div>

		<div style="margin-left:60%; margin-top:-60px">
		<article class="formFAQ"><!-- FAQ information/link-->
			 <a href="#qMark-box" class="qMark-window"><image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/QMarkForm.png"></a>
			</article><!--end formFAQ-->
		</div>
		</section><!--end reviewSubmit-->
		<br />


		
		<% if current_user.admin? %>
		<div class = "field" style="height:40px;">
		<%= f.check_box :show %>	Show on Homepage? 
		</div>
		<% end %>
		

		<div id="addPhotos-box" class="addPhotos-popup" style="text-align:left">
			<p style="font-size:1.6em; text-align:center;margin-top:15px; margin-bottom:20px">Add Photos</p>

		<%= f.file_field :photo, :onchange => "changeCount(one)", :id => "one" %> <a onclick="remove(one)">Remove</a><br /><br />
		<%= f.file_field :photo2, :onchange => "changeCount(two)", :id => "two"  %><a onclick="remove(two)">Remove</a><br /><br />
		<%= f.file_field :photo3, :onchange => "changeCount(three)", :id => "three"  %><a onclick="remove(three)">Remove</a><br /><br />
		<%= f.file_field :photo4, :onchange => "changeCount(four)", :id => "four"  %><a onclick="remove(four)">Remove</a><br /><br />
		<%= f.file_field :photo5, :onchange => "changeCount(five)", :id => "five"  %><a onclick="remove(five)">Remove</a><br /><br />
		<%= f.file_field :photo6, :onchange => "changeCount(six)", :id => "six"  %><a onclick="remove(six)">Remove</a><br /><br />
		<%= f.file_field :photo7, :onchange => "changeCount(seven)", :id => "seven"  %><a onclick="remove(seven)">Remove</a><br /><br />
		<%= f.file_field :photo8, :onchange => "changeCount(eight)", :id => "eight"  %><a onclick="remove(eight)">Remove</a><br /><br />
		<%= f.file_field :photo9, :onchange => "changeCount(nine)", :id => "nine"  %><a onclick="remove(nine)">Remove</a><br /><br />
		<%= f.file_field :photo10, :onchange => "changeCount(ten)", :id => "ten"  %><a onclick="remove(ten)">Remove</a><br /><br />

		<input type="image" src="/assets/done.png" onclick="return false" id="btn_close">


		</div>		

<% end %>


<div id="qMark-box" class="qMark-popup" style="text-align:left">

<p style="font-size:1.7em; text-align:center; color:#6aaeba"><u>Help! Write A Review Form</u></p>
<br /><p style="font-size:1.3em; font-weight:600">1. Select a Company</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>This is a smart-filter box, so as you type in the name of the Volunteer Organization that you worked for, it will filter the names for you. </li>
<li>Once you see the name of the Organization you are looking for, click on that name in the list to fill this box.</li>
<li>This box only works if you SPELL correctly! So make sure to check your spelling. If you spell the name of your organization incorrectly, it will not show up in the list.</li>
<li>This box is required information, and you cannot submit your form unless it is completed.</li>
</div>


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> What if I enter the correct name of my Organization and it's not listed?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>If the organization that you volunteered with is not registered on the site, then you need to select the "Review a New Company" option located below the smart-list in order to submit your review. </li>
<li>Clicking the "Review a New Company" option will bring you to another window where you can type in the name of the organization that you worked with. (Again, please check your spelling so that we can easily find this company and make a profile for them).</li>
</div>



<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I accidentally clicked on the wrong Organization, how do I change the name?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Just click and delete the Organization name to clear the box and start over. You can do this at any point while writing your review.</li>

</div>


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I clicked "Review A New Company" without meaning to. How do I return to the original page?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Click the "Cancel" text-link at the bottom, right of the second box to return to the original page.</li>

</div>


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I want to review an organization I worked with, but am not totally sure of the name or if I am spelling it correctly.  What should I do?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>If you are unsure of the name of the organization that you worked with, you can click the "Show All Companies" text-link below the "Review New Company" link and a pop-up will appear listing all the countries. From there you can find the organization you are thinking of, and proceed to type it in the smart-filter box. </li>
<li>This form will not save any information that you write on it, so don't write out your long, detailed review until you're going to submit it. Or, save that written information in a safe place on your own computer or email account.</li>
</div>




<br /><p style="font-size:1.3em; font-weight:600">2. How long did you work with them?</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Click the arrow on the right-hand side of this box to view the possible time-periods. Click to select whichever time period best describes the length of your trip in that country, and specifically the time period that best describes how long you spent working with an organization. </li>
<li><u>Example:</u> If you traveled in China for 1 year but only worked with an organization for three months, then please select the time category for "three months" time.</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Are these the only time periods to choose from? Do I have to select one of these?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Yes, and yes. This is the most simple, accurate way to collect this information.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Why do I have to say how long I worked with the organization?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>We want to encourage authenticity and accuracy in the reviews on this site. The point of writing these reviews is to help prospective volunteers research and decide on organizations to volunteer with, so the authenticity of these reviews is important. </li>
<li>This is very useful information to have for prospective volunteers. Someone looking to volunteer for six months will likely want to pay the most attention to reviews from people that volunteered for the same time period.  Someone looking to volunteer for two weeks will similarly want to pay attention to the reviews from people in that same period.</li>

</div>




<br /><p style="font-size:1.3em; font-weight:600">3. Which Programs?</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>This box automatically updates with available options, one you have selected which organization you are going to be reviewing. </li>
<li>Cilick the arrow on the right side of this box to activate the list of programs. Select the program name that best described what you did and where. This list is composed of all of the CURRENT programs that an organization offers. If your program is not there, and you volunteered with them a while ago, then unfortunately you won't be able to write a review. This feature is designed to keep all reviews about organizations up to date and relevant.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I don't see the program that I did. What do I do?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>If your program is not there and you volunteered with the organization over a year ago, then it is likely that the program you participated in is no longer offered, and you won't be able to review it. This feature is designed to keep all reviews about organizations up to date and relevant.</li>
<li>If your program is not there and you volunteered within the last year, then we might have messed up! Please contact us and let us know your organization and program names, and we will get back to you about whether that program is no longer offered, or if we made the humongous mistake of leaving it out.</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Why can't I review a program that is no longer offered?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>A central component of this site's value is founded in the idea of "information". But not just any information, a lot of accurate, organized, relevant, helpful information from multiple sources. Reviews are a form of this information, and it's very important that we keep reviews as accurate, relevant and helpful as possible - which <em>means</em>, not letting reviews for out-of-commission or unconfirmed programs affect the profile of a volunteer organization. </li>
<li>We would still love to hear your story, and there are other ways to share. WE are currently in the midst of developing a User blog post/travel essay system. Drop us a line, send us a write up, or pester us with complaints about your stifled review. Whatever suits your fancy. There are plenty of ways to share your voice.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u>Why do I have to specify which program I did?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>So many reasons! First of all, to make sure that you're reviewing a presently operating program and to keep the site information relevant.</li>
<li>Second of all, to be useful to other users who are checking out your review and looking up organizations.  Reading reviews about organizations themselves could be helpful in many ways, but an organization's programs can vary a lot in their quality and scope for different reasons. Being specific helps users in finding their ideal program.</li>

</div>





<br /><p style="font-size:1.3em; font-weight:600">4. Your Review</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Simply click in teh box and start typing. THis is the most important part of your review -- where you get to speak your mind! Please include here all the information and details that you care to. The more that you share, the more that you help.</li>
<li>There is a minimum of 200 characters in this box, a requirement that must be met in order to submit your review to the site.</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Why is there a minimum of 200 characters?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>The character minimum is designed to encourage users to share at LEAST one or two sentences of detail about their experience.  Again, we are just trying to encourage accuracy, authenticity, and helpful information flow. You don't have to write a whole essay, but hopefully you can think of at least a few sentences to describe your volunteer experience!</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I can't type anymore characters into the text box. What's going on?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>This box does have a maximum of 10,000 characters, so you've reached the limit. We're so happy that you have so much to say about your experience! But for the sake of space, try to figure out a way to say everything that you want to in 10,000 characters. Thank you! </li>

</div>





<br /><p style="font-size:1.3em; font-weight:600">5. I have volunteered with this company before</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this check box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Simply click the box to the left of this statement to fill the box with your check of affirmation.</li>
<li>Checking this box is required to submit your review to the site.</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> What's the point of this?'</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Authenticity! And to filter out dishonest reviews or spammers. We just want reviewers to own and confirm this statement to try and keep the reviews on this site as real as possible. </li>

</div>





<br /><p style="font-size:1.3em; font-weight:600">6. I have read and accept the Terms of Use</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this check box work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Simply click the box to the left of this statement to fill the box with your check of affirmation. </li>
<li>Checking this box is required to submit your review to the site.</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> What's the point of this?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>By clicking this box you are agreeing to abide by the rules/responsibilities laid out in our "Terms of Use". Basically, you are agreeing to be honest and responsible for what you say here, and not to write lewd or fake reviews for organizations, ESPECIALLY if you didn't actually volunteer with them. Again, just trying to keep it real. </li>

</div>




<br /><p style="font-size:1.3em; font-weight:600">7. Upload a Photo</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Click the "Upload" button. This will trigger a pop-up that allows you to browse your computer for image files. Click the image file you want to upload, make sure that the correct file name is highlighted, and then click "Select".
	<li style="margin-left:10px">NOTE: You can only upload photos that are located on your computer.</li> </li>
<li>Clicking "Select" will enter the image file name into the "Upload" box. And you're done!</li>

</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I'm trying to upload a photo and it's not working. What's going on?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Either the photo is not saved in the correct format (.jpg, .jpeg, .png, or .gif) or our upload application is malfunctioning. Send us the image you are trying to upload, and a description of what happens in your attempt to upload it to:help@volunteervoice.org, and we will figure out the problem.</li>
<li>We currently only have space for one photo per review, though we are looking to expand that number very soon. If you've already uploaded a photo, you can't upload another because we haven't built the space for it. Yet!</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Do I have to upload a photo?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Nope. This is the only part of the review form that is optional. You do not need to upload a photo in order to submit your review. </li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I uploaded a photo that I didn't mean to/don't want anymore. Can I remove it?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Yes, just click the "remove" link to the right of the name of the image.</li>
<li>Please note that you cannot upload new photos after submitting your review, so make sure to get the most important and helpful one on here before you submit your review.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Can I upload photos of anything I want?!</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>No! Please don't upload photos of you and your friends from home hanging out...at home. These photos are targeted at helping give users an idea about your VOLUNTEER TRIP, so please stick to photos that were taken on your trip.</li>
<li>Pictures of you and other volunteers, or your sleeping quarters, or your host family, or anything on your trip is a great idea. Markets, busses, food, anything in the "volunteer trip" category is perfect.</li>
<li><u>NOTE:</u> Please bear in mind that inappropriate or non-trip related photos may cause your review to be "flagged" by other Users, and result in the removal of your review. So choose your photos wisely!</li>

</div>





<br /><p style="font-size:1.3em; font-weight:600">8. Star-rating</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> How does this work?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Just use your mouse to click and fill in the stars for whatever rating you see fit. </li>
<li>At least 1/2 star is required for each category in order to submit your review to the site.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> What do the different star ratings mean?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>There is no exact chart, but basically:
	<li style="margin-left:10px">1/2 star = Bad. Worst rating possible.</li>
	<li style="margin-left:10px">2 and 1/2 star = Mediocre. Some good parts, some disappointing parts.</li>
	<li style="margin-left:10px">5 star = Awesome. Best company ever. High standards. Great experience.</li>
</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Can I give a zero-star review if I had a horrible time?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Sorry, but at least 1/2 star is required, and will get your point across. </li>
<li><u>NOTE:</u> Please try and remember that you are rating the COMPANY, and your experience with that company. If you hated the country's food and customs, try not to let that weigh in too much. If your organization didn't prepare you at all for the local culture, then certainly let it weigh in.</li>
</div>

<p style="margin-left:20px; font-size:1em;"><u>Q:</u> I selected a star rating I didn't mean to. Can I change it?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>Yes, you can change the star rating at any point in your review. Just click the stars.</li>

</div>




<br /><p style="font-size:1.3em; font-weight:600">9. Submit</p><br />


<p style="margin-left:20px; font-size:1em;"><u>Q:</u> Where is the submit button?</p>
<div style="margin-top:15px; margin-bottom:15px; margin-left:50px; line-height:1.2em">
<li>If you do not see the submit button, it is because some part of the form has not been completed. The only way to submit a review is to complete ALL FIELDS (except for uploading photos, that is optional). </li>
<li>Common mistakes to check for:
	<li style="margin-left:20px">SELECT A COMPANY: Make sure that you clicked the name from the list that appears below this box or entered the name exactly as it appeared. If you did this correctly, the name will become bolded. If not, the box becomes blank. So double check that there is an bolded name inside the "Select a Company" box.</li>
	<li style="margin-left:20px">REVIEW A NEW COMPANY: If you selected "Review A New Company", make sure that you entered the organization's name into the box on the right.  If you don't enter a name in this box, the form will be considered incomplete.</li>
	<li style="margin-left:20px">CHECKBOXES: Make sure that you have clicked and affirmed both of the checkboxes below the written review section. Both boxes deed to be "checked" or the form will be considered incomplete</li>
</li>
</div>


</div>



</div><!--end row four-->

</div><!-- end container -->


<br />
<br />

<div id="allCompanies-box" class="allCompanies-popup" style="text-align:left">
	<p style="font-size:1.6em; text-align:center;margin-top:15px; margin-bottom:20px">Company Name Lookup Table</p>
	
	<% @allOfTheOrgs = []%>
	<% Organization.all.each do |f| %>
	<% @allOfTheOrgs << f.name %>
	<% end %>
	
	<% @allOfTheOrgs.sort! { |a,b| a.downcase <=> b.downcase } %>
	
	<% @allOfTheOrgs.each do |o| %>
	<li style="line-height:1.3em; font-size:1.1em; color:#575758; margin-left:10px"><%=o%></li>
	<% end %>
	
	
</div>


	<style>
	
	a.forgotPassword:link{color:white}
	a.forgotPassword:active{color:white}
	a.forgotPassword:visited{color:white}
	a.forgotPassword:hover{color:#e67b5a}
	
	#termsUse:link{color:#6aaeba}
	#termsUse:active{color:#6aaeba}
	#termsUse:visited{color:#6aaeba}
	#termsUse:hover{color:#e67b5a}
	
	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 999;
	}

	/* You can customize to your needs  */
	.qMark-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #6aaeba;
		float: left;
		color:#575758;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		height:550px;
		width:500px;
		overflow: auto;
		
	}
	
	.allCompanies-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #6aaeba;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		height:550px;
		width:350px;
		overflow:auto;
	}
	
	.addPhotos-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #6aaeba;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		height:550px;
		width:350px;
		overflow:auto;
	}

	img.btn_close { Position the close button
		float: right; 
		margin: -28px -28px 0 0;
	}

	fieldset { 
		border:none; 
	}



	.button { 
		background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
		background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
		background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
		border-color:#000; 
		border-width:1px;
	        border-radius:4px 4px 4px 4px;
		-moz-border-radius: 4px;
	        -webkit-border-radius: 4px;
		color:#68c2d8;
		cursor:pointer;
		display:inline-block;
		padding:6px 6px 4px;
		margin-top:10px;
		font:12px; 
		width:214px;
	}
	.button:hover { background:#ddd; }
	
	</style>


<style>
#reviewNew:link{color: #6aaeba}
#reviewNew:active{color: #6aaeba}
#reviewNew:visited{color: #6aaeba}
#reviewNew:hover{color: #e67b5a}

#allCompaniesShow:link{color: #6aaeba}
#allCompaniesShow:active{color: #6aaeba}
#allCompaniesShow:visited{color: #6aaeba}
#allCompaniesShow:hover{color: #e67b5a}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.star-rating{float:left;width:45px;height:40px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.star-rating,div.star-rating a{background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/big_stars.png) no-repeat 0 0px;}
div.star-rating a{display:block;width:60px;height:100%;background-position:0 0px;border:0;}
div.star-rating-on a{background-position:0 -40px!important}
div.star-rating-hover a{background-position:0 -40px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important;}
/* END jQuery.Rating Plugin CSS */

</style>


	<div id="terms-box" class="terms-popup" style="color:#575758">

		<p style="font-family:chunkFiveRegular; color:#9bce6c; font-size:2em; margin:20px;" align="center">Terms of Use</p>

		<p style="color:#575758; font-size:1.5em; margin:20px;">1. Clause One</p>
		<p style="margin-left:15px">BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</p> <br /> <br />

		<p style="color:#575758; font-size:1.5em; margin:20px;">2. Clause Two</p>
		<p style="margin-left:15px">BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH </p><br /> <br />

		<p style="color:#575758; font-size:1.5em; margin:20px;">3. Clause Three</p>
		<p style="margin-left:15px">BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH </p><br /> <br />

		</div>
		</div>
		</div>
	
	</div>
	
	
	<style>
	
	a.forgotPassword:link{color:white}
	a.forgotPassword:active{color:white}
	a.forgotPassword:visited{color:white}
	a.forgotPassword:hover{color:#e67b5a}
	
	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 999;
	}

	/* You can customize to your needs  */
	.terms-popup{
		display:none;
		background: #E3E6D5;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		width:600px;
	}

	img.btn_close { Position the close button
		float: right; 
		margin: -28px -28px 0 0;
	}

	fieldset { 
		border:none; 
	}



	.button { 
		background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
		background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
		background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
		border-color:#000; 
		border-width:1px;
	        border-radius:4px 4px 4px 4px;
		-moz-border-radius: 4px;
	        -webkit-border-radius: 4px;
		color:#68c2d8;
		cursor:pointer;
		display:inline-block;
		padding:6px 6px 4px;
		margin-top:10px;
		font:12px; 
		width:214px;
	}
	.button:hover { background:#ddd; }
	
	</style>


