<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.top {
	font-size:1.3em; 
	line-height:2em;
}
.pageTitle {
	font-size:3em; 
	line-height:2em;
}
.subTitle {
	font-size:2em;
}
img.userPhoto {
	height:50px;
}
</style>


<% if user_signed_in? && current_user.admin?%>

<div class="container top">
	<div class="row">
		<div class="twelve columns">
<p align="center" class="pageTitle">Showing Review # <%= @review.id%></p><br />
</div>
<div class="eleven columns">
	<p class="subTitle">About the Review</p>
Created: <%= @review.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%>
<br />
Last updated: <%= @review.updated_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%><br />
<br />
	<p class="subTitle">About the User</p>
<%= image_tag @review.photo.url, :class => "userPhoto"%> <br />Username (link): <%= link_to User.find(@review.user_id).username, User.find(@review.user_id)%>
<br />
Volunteered With This Company Before? <b>
	<% if(@review.before)%> 
		yes 
	<%else%>
	 	no 
	<%end%>
	</b>
	<br />
Agreed to Terms and Conditions? (Should always read "yes"): 	<b>
		<% if(@review.terms)%> 
			yes 
		<%else%>
		 	no 
		<%end%>
		</b>
<br /><br />
<p class="subTitle">About the Program/Organization</p>
Organization: <%= @review.organization_name%><br />
Program: <%= Program.find(@review.program_id).name%><br />
Time frame: <%= @review.time_frame%><br /><br />

<p class="subTitle">Review Ratings:</p><br />
Preparation/Orientation: <%=@review.preparation%><br />
Support: <%=@review.support%><br />
Project Impact: <%=@review.impact%><br />
Project Structure/Sustainability: <%=@review.structure%><br />
Overall: <%=@review.overall%><br /><br />


<%= link_to 'Edit', edit_new_review_path(@review) %> | <%= link_to 'Destroy', @review, confirm: 'Are you sure?', method: :delete %>
</div>
</div>
</div>


<% else %>
Sorry, you must be an admin to view this page!
<% end %>