<%= stylesheet_link_tag "/assets/smartpaginator.css"%>
<%= javascript_include_tag "/assets/jquery.js"%>
<%= javascript_include_tag "/assets/smartpaginator.js"%>


<style>
.dateWritten {
	color:#e67b5a; 
	font-size:1.1em; 
	line-height:1.5em;
}
.reviewTable {
	border:1px solid #e67b5a; 
	width:970px; 
	margin:auto; 
	background-color:#E9ECE9;
}
.reviewProgramLabel {
	margin-top:5px; 
	font-size:1.1em;
	color:#575758;
}
.reviewHeaderProgram {
	font-family:architectsDaughterRegular;
}
.programData {
	width:45%;
}
.tripWasData {
	width:30%;
}
.starData {
	width:24%;
}
.tripWasLabel {
	margin-top:5px; 
	font-size:1.1em;
}
.reviewStarContainer {
	width:150px;
}
.reviewBodyContainer {
	color:#575758;
}
a.review-window {
	font-style:italic;
}
.reviewPhotos, .reviewSignature {
	margin:0;
	padding:0;
}
.usernameContainer {
	margin-top:-10px; 
	text-align:right;
	margin-right:75px; 
}
.usernameLink {
	color:#62acbd; 
	font-family:architectsDaughterRegular;
}
.flagContainer {
	margin-top:-15px; 
	float:right;
}
tr, td {
	background-color:#E9ECE9;
}
.reviewPopupCloseButton {
	text-align:right;
}
.reviewPopupCloseImage {
	height:30px;
	width:30px;
	margin-right:-5px;
	margin-top:-19px;
}
.reviewPopupLabel {
	font-size:1.1em;
}
.reviewPopupProgram, .reviewPopupTimeFrame {
	font-family:architectsDaughterRegular; 
	font-size:1.1em;
}
.reviewPopupDateWritten {
	margin-top:-19px; 
	text-align:right;
}
.reviewPopupUsername {
	text-align:right; 
	font-family:architectsDaughterRegular; 
	color:#6aaeba; 
	margin-right:30px;
}
.reviewPopupPhotos {
	height:30px;
}
.reviewPopupFooter {
	border-top:1px solid #575758;
}
.reviewPopupStarLabel {
	text-align:left;
}
.reviewPopupStarContainer { 
	margin-top:-15px;
	width:95px;
	max-width:95px;
}
.reviewPopupStar {
	width:90px;
	max-width:90px;
	text-align:center;
}
</style>


<style>
#top {
	margin-top:50px;
}
#pageTitle {
	margin-bottom:30px;
	text-align:center;
}
#listByLabel {
	font-size:1.5em; 
	color:#575758; 
	line-height:1.1em; 
	margin-left:-20px;
	margin-top:-20px;
}
#listBySelectDiv {
	margin-left:75px;
	margin-top:-25px;
	height:30px; 
	width:228px; 
	overflow:hidden; 
	border-right:1px solid #575758; 
	border-left:1px solid #575758; 
	z-index:6;
}
#sort_by {
	position:relative; 
	border: 1px solid #575758; 
	left:-5px; 
	width:255px; 
	height:30px; 
	background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; 
	background-color:white;
}
#blurb {
	max-width:320px;
	font-family:architectsDaughterRegular;
	font-size:1.1em;
	color:#575758;
	float:right;
	text-align:center;
	color:#6aaeba;
}
#reviewContents {
	width:100%;
	margin-top:40px;
}
#divreview {
	width:100%;
	border-top:1px solid #575758;
	border-left:1px solid #575758;
	border-right:1px solid #575758;
}
</style>

<div class="container">
	<div class="row" id="top">
		<div class="twelve columns" id="pageTitle">
			<img src="/assets/AllReviews.png">
		</div>
		<div class="twelve columns">
			<div class="six columns" id="sortByContainer">
				<%= form_tag "/reviews/show_all", :id => "review_sort" do %>
				<span id="listByLabel">List By: </span>
				<div class="select-div" id="listBySelectDiv">
					<select id="sort_by" name="sort_by">
						<option value="rating_high">Highest Rated</option>
						<option value="rating_low">Lowest Rated</option>
						<option value="review_recent">Recently Reviewed</option>
						<option value="alphabetical_az">Alphabetical A-Z</option>
						<option value="alphabetical_za">Alphabetical Z-A</option>
					</select>
				</div>
				<% end %>
			</div>
			<div class="five columns" id="blurbContainer">
				<div id="blurb">
					This is a nice little blurb. Blurbity blurb blurb blurb. More blurb stuff. Isn't this a cool page?! Winnie is so cute!!!
				</div>
			</div>
		</div>
		<div class="twelve columns">
			<div class="contents" id="reviewContents">
				<div class="twelve_columns" id="divReview">
					<% @reviews.each do |review| %>
						<%= render :partial => "result", :locals => {:f => review}%>
					<% end %>
				</div>
				<div id="review_pager"></div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$('#review_pager').smartpaginator({ totalrecords: <%=@reviews.count%>, recordsperpage: 20, datacontainer: 'divReview', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
	
	$("#sort_by").change(function () {
		$("#review_sort").submit();
	});
	
	<% if !@sort_by.nil? %>
		$("#sort_by").val("<%= @sort_by %>");
	<% end %>

});

</script>				














