<%= stylesheet_link_tag "/assets/smartpaginator.css"%>
<%= stylesheet_link_tag "/assets/lightbox.css"%>
<%= javascript_include_tag "/assets/jquery.js"%>
<%= javascript_include_tag "/assets/smartpaginator.js"%>
<%= javascript_include_tag "/assets/lightbox.js"%>


<style>
.dateWritten {
	color:#e67b5a; 
	font-size:1.1em; 
	line-height:1.5em;
	margin-top:-20px;
	width:30%;
	float:right;
	margin-right:10px;
}
.orgName {
	color:#575758; 
	font-size:1.2em; 
}
.reviewTable {
	border:1px solid #e67b5a; 
	width:970px; 
	margin:auto; 
	background-color:#E9ECE9;
}
.reviewProgramLabel {
	margin-top:5px; 
	font-size:1.1em;
	color:#575758;
}
.reviewHeaderProgram {
	font-family:architectsDaughterRegular;
}
.programData {
	width:45%;
}
.tripWasData {
	width:30%;
}
.starData {
	width:24%;
}
.tripWasLabel {
	margin-top:5px; 
	font-size:1.1em;
}
.reviewStarContainer {
	width:150px;
}
.reviewBodyContainer {
	color:#575758;
}
a.review-window {
	font-style:italic;
}
.reviewPhotos, .reviewSignature {
	margin:0;
	padding:0;
}
.usernameContainer {
	margin-top:-10px; 
	text-align:right;
	margin-right:75px; 
}
.usernameLink {
	color:#62acbd; 
	font-family:architectsDaughterRegular;
}
.flagContainer {
	margin-top:-15px; 
	float:right;
}
tr, td {
	background-color:#E9ECE9;
}
.reviewPopupCloseButton {
	text-align:right;
}
.reviewPopupCloseImage {
	height:30px;
	width:30px;
	margin-right:-5px;
	margin-top:-19px;
}
.reviewPopupLabel {
	font-size:1.1em;
}
.reviewPopupProgram, .reviewPopupTimeFrame {
	font-family:architectsDaughterRegular; 
	font-size:1.1em;
}
.reviewPopupDateWritten {
	margin-top:-19px; 
	text-align:right;
}
.reviewPopupUsername {
	text-align:right; 
	font-family:architectsDaughterRegular; 
	color:#6aaeba; 
	margin-right:30px;
}
.reviewPopupPhotos {
	height:30px;
}
.reviewPopupFooter {
	border-top:1px solid #575758;
}
.reviewPopupStarLabel {
	text-align:left;
}
.reviewPopupStarContainer { 
	margin-top:-15px;
	width:95px;
	max-width:95px;
}
.reviewPopupStar {
	width:90px;
	max-width:90px;
	text-align:center;
}
</style>


<style>
#top {
	margin-top:50px;
}
#pageTitle {
	margin-bottom:30px;
	text-align:center;
}
#sortAndBlurbContainer {
	width:100%;
}
#sortByContainer {
	width:30%;
	margin-top:20px;
}
#listByLabel {
	font-size:1.5em; 
	color:#575758; 
	line-height:1.1em; 
	margin-left:-20px;
}
#listBySelectDiv {
	margin-left:75px;
	height:30px; 
	width:228px; 
	overflow:hidden; 
	border-right:1px solid #575758; 
	border-left:1px solid #575758; 
	margin-top:-25px;
}
#sort_by {
	position:relative; 
	border: 1px solid #575758; 
	left:-5px; 
	width:255px; 
	height:30px; 
	background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; 
	background-color:white;
}
#blurbContainer {
	width:60%;
	float:left;
}
#blurb {
	font-family:architectsDaughterRegular;
	font-size:1.1em;
	float:right;
	text-align:center;
	margin-right:50px;
	color:#6aaeba;
	max-width:90%;
}
#reviewContents {
	width:100%;
	margin-top:40px;
}
#divreview {
	width:100%;
	border-top:1px solid #575758;
	border-left:1px solid #575758;
	border-right:1px solid #575758;
}
</style>

<style>
	a.review-window:active{color:#68c2d8}
	a.review-window:visited{color:#68c2d8}
	a.review-window:link{color:#68c2d8}
	a.review-window:hover{color:#e67b5a; background:none}
	
	a.organization_url:active{color:#68c2d8}
	a.organization_url:visited{color:#68c2d8}
	a.organization_url:link{color:#68c2d8}
	a.organization_url:hover{color:white; background:none}

	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 999;
	}

	/* You can customize to your needs  */
	.flag-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 2px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		max-height:300px;
	}


	.review-popup{
		display:none;
		background: #E9ECE9;
		padding: 10px; 	
		border: 2px solid #ddd;
		max-width:600px;
		float: left;
		color: black;
		position: fixed;
		width: 650px;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		max-height:300px;
	}

	a.usernameLink {
		color:#62acbd; 
		font-family:architectsDaughterRegular;
	}
	a.usernameLink:hover {
		color:#9bce6c;
	}
	
	.flagPopupTitle {
		text-align:center; 
		font-size:1.2em; 
		font-family:cabinRegular; 
		margin-bottom:20px; 
		color:#575758;
	}
	.flagBody {
		height:115px; 
		font-size:0.9em; 
		font-style:italic; 
		margin:auto;
	}
	.flagSubmitContainer {
		text-align:center; 
		padding-top:15px;
	}

</style>

<div class="container">
	<div class="row" id="top">
		<div class="twelve columns" id="pageTitle">
			<img src="/assets/AllReviews.png">
		</div>
		<div class="twelve columns" id="sortAndBlurbContainer">
			<div class="four columns" id="sortByContainer">
				<%= form_tag "/reviews/show_all", :id => "review_sort" do %>
				<span id="listByLabel">List By: </span>
				<div class="select-div" id="listBySelectDiv">
					<select id="sort_by" name="sort_by">
						<option value="overall desc">Highest Rated</option>
						<option value="overall">Lowest Rated</option>
						<option value="created_at">Most Recent</option>
						<option value="organization_name">Organization Name (A to Z)</option>
						<option value="organization_name desc">Organization Name (Z to A)</option>
					</select>
				</div>
				<% end %>
			</div>
			<div class="seven columns" id="blurbContainer">
				<div id="blurb">
					Reviews are a great way to get the low-down on programs all over the world.  Use them wisely! And don't forget to share the knowledge when you get back from your big trip.
				</div>
			</div>
		</div>
		<div class="twelve columns">
			<div class="contents" id="reviewContents">
				<div class="twelve_columns" id="divReview">
					<% @reviews.each do |review| %>
						<%= render :partial => "result", :locals => {:f => review}%>
					<% end %>
				</div>
				<div id="review_pager"></div>
			</div>
		</div>
	</div>
</div>


<div id="flag-box" class="flag-popup" align="center">
	<a href="#" class="close"><div class="close_image"></div></a>
	<% if user_signed_in? %>
  	<%= form_for @flag do |g| %>

	<tr><td colspan="2">
	    <p class="flagPopupTitle">Report this review for <br />inappropriate content</p></td></tr>

		<tr><td colspan="2">
	<%=g.text_area :body, :class => "flagBody", :onclick => "if (this.value == 'Please describe.') {this.value = ''}; this.style.fontStyle = ('normal');", :value => "Please describe."%>

	    <%=g.hidden_field :flagger_id, :value => current_user.id %>

	    <%=g.hidden_field :poster_id, :id => "poster_id" %>

	    <%=g.hidden_field :review_id, :id => "review_id" %>
		</td></tr>

		<tr><td colspan="2">
	    <p class="flagSubmitContainer"><%= image_submit_tag ("/assets/submitToVVI.png"), :height => "50px"%></p></td></tr>
		<% end %>
	<% else %>
	<tr><td>You must be signed in to flag a review.</td></tr>
	<% end %>
</div>


<script>
$(document).ready(function() {
	$('#review_pager').smartpaginator({ totalrecords: <%=@reviews.count%>, recordsperpage: 20, datacontainer: 'divReview', dataelement: 'div', initval: 0, next: 'Next', prev: 'Prev', first: 'First', last: 'Last', theme: 'black' });
	
	$("#sort_by").change(function () {
		$("#review_sort").submit();
	});
	
	<% if !@sort_by.nil? %>
		$("#sort_by").val("<%= @sort_by %>");
	<% end %>
	
	//jQuery for the "flag a review" popup
	$('a.flag-window').click(function() {

                //Getting the variable's value from a link 
		var flagBox = $(this).attr('href');

		//Fade in the Popup
		$(flagBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(flagBox).height() + 24) / 2; 
		var popMargLeft = ($(flagBox).width() + 24) / 2; 

		$(flagBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .flag-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});
	
	
	//jQuery for the "see full review" popup
	$('a.review-window').click(function() {

	            //Getting the variable's value from a link 
		var reviewBox = $(this).attr('href');

		//Fade in the Popup
		$(reviewBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(reviewBox).height() + 24) / 2; 
		var popMargLeft = ($(reviewBox).width() + 24) / 2; 

		$(reviewBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="display:block; opacity:.5;filter: alpha(opacity=50);"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
	  $('#mask , .review-popup').fadeOut(300 , function() {
		$('#mask').remove();  
	}); 
	return false;
	});

});

function removePopup() {
	$('#mask').fadeOut(300);
	$('.review-popup').fadeOut(300);
	$('#mask').remove();  
	return false;
}

</script>				














