<!-- A user is directed here from link to review an unregistered organization at reviews/new -->

<!-- jQuery -->
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.js' type="text/javascript"></script>
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js' type="text/javascript" language="javascript"></script>

<!-- jQuery Star Rating Plugin -->
<script src='http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.rating.js' type="text/javascript" language="javascript"></script>

<!-- jQuery UI -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


	<style>
	
	/** LINKS **/
	
	#cancel:link, 
	#cancel:active, 
	#cancel:visited,	
	#termsUse:link, 
	#termsUse:active, 
	#termsUse:visited {
		color: #6aaeba
	}
		
	#cancel:hover, 
	#termsUse:hover {
		color: #e67b5a
	}

	
	
	/********************/
	/* Top part of page */
	/********************/
	.top { /* gives container space at top and bottom */
		margin-top:50px;
		margin-bottom:20px;
	}
	.topLeftColumnContainer { /* contains selectCompanyLabel and newOrgTitleContainer 
								(left hand side of top part of page) */
		margin-top:20px;
	}
	.selectCompanyLabel { /* "Select a Company" label at top */
		font-size:1.5em; 
		margin-left:11%;
	}
	.newOrgTitleContainer { /* "Review a New Organization" label at top */
		margin-top: -25px;  
		margin-left:55%; 
		font-size:1.2em;
	}
	.topRightColumnContainer { /* contains orgNameBox and cancel 
								(right hand side of top part of page) */
		margin-top:5px; 
		font-family:ArchitectsDaughterRegular; 
		font-size:0.85em; 
		color:#62acbd;
	}
	.orgNameBox { /* text field where user enters the organization's name they are reviewing */
		height:25px; 
		width:250px;  
		font-style:italic; 
		margin-bottom:5px;
	}
	#cancel { /* link to cancel new review and go back to reviews/new */
		font-family:Arial; 
		margin-left:210px;
	}
	
	
	
	
	
	/***********************/
	/* Second part of page */
	/***********************/
	
	
	/********************/
	/* LEFT HAND COLUMN */
	/********************/
	#theDetailsColumn { /* left column, "The Details" */
		margin-top:75px; 
		padding-right:25px; 
		border-right:1px solid #e67b5a;
	}
	.theDetailsTitle{ /* left column title, reads: "The Details" */
		font-family:ArchitectsDaughterRegular; 
		font-size:2.5em; 
		color:#62acbd; 
		margin-bottom: 40px;
	}
	#howLongLabel { /* label for time frame select, reads: "How long did you work with them?" */
		font-size:1.5em; 
		line-height:1.25em; 
		width:40%; 
		margin-left:11%;
	}
	#timeFrameSelectDiv { /* div containing select box for time frame */
		position:absolute; 
		left:45%;
		top:65px; 
		height:30px; 
		width:228px; 
		overflow:hidden; 
		border-right:1px solid #575758; 
		border-left:1px solid #575758;
	}
	select { /* all selects (note there is only one select on this page: time frame) */
		position:absolute; 
		left:-5px; 
		width:255px; 
		height:30px; 
		background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right; 
		border:1px solid #575758; 
		background-color:white;
	}
	#whichProgramLabel { /* label for name of organization's program, reads: "Which Program?" */
		font-size:1.5em; 
		line-height:1.25em; 
		width:40%; 
		margin-left:11%; 
		margin-top:40px;
	}
	#whichProgramFieldContainer { /* contains text field for user to input with 
										which program they volunteered */
		position:absolute; 
		left:40%; 
		top:140px; 
		height:30px; 
		width:228px;
	}
	#programsField { /* text field for user to input with which program they volunteered */
		height:25px; 
		font-style:italic; 
		margin-top:2px; 
		width:228px;
	}
	#yourExperienceLabel { /* label for textarea, reads: "Your Experience" */
		font-size:1.5em; 
		line-height:1.25em; 
		width:80%; 
		margin-left:11%; 
		margin-top:42px;
	}
	.min200Blurb { /* little message next to yourExperienceLabel, reads: "Min 200 characters" */
		font-size:0.6em;
	}
	#theBody { /* textarea for user to describe their experience */
		margin-left:10px;
		width:400px; 
		font-style:italic; 
		height:150px; 
		resize:none; 
		color:gray; 
		border: 1px solid #575758;
	}
	.counter { /* character counter, bottom left of textarea */
		float:right;
	}
	#bottomSectionOfLeftColumn {
		clear:both;
		float:right;
	}
	.editImageContainer, /* container for button if user has already uploaded some photos, reads: "Edit Photos" */
	.addImageContainer { /* container for button if user has not uploaded any photos, reads: "Add Photos" */
		margin-top:10px; 
		margin-bottom:30px;
		margin-left:3%;
	}
	.photoCounterContainer { /* container for count of how many photos have been uploaded already */
		margin-top:-28px; 
		margin-left:120px;
	}
	input.photoCount { /* little number, counter of how many photos */
		width:17px; 
		font-family:architectsDaughterRegular; 
		height:20px; 
		background:none; 
		border:none; 
		font-size:1.3em;
	}
	.noPhotosMessage { /* container for message if user has not uploaded any photos yet,
							reads: "No photos attached" */
		margin-top:-28px; 
		margin-left:140px;
	}
	.checkMark { /* check mark image for 'I have volunteered...' and 'I have read and accept...' */
		position:absolute; 
		top:71.8%; 
		height:23px;
		left:2.7%;
	}
	#checkTerms { /* check mark image for terms & conditions check box */
		top:80.2%;
	}
	.checkBox { /* div containing the actual check box.
					background is the check box image & actual check box is hidden on top */
		background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png);
		background-repeat:no-repeat; 
		height:25px;
		margin-left:3%;
	}
	.hiddenCheckBox { /* actual check box that is hidden 
							on top of background of check box image */
		opacity:0;
		display:block; 
		filter: alpha(opacity=0);
		height:25px; 
		width:25px;
	}
	.checkBoxLabel { /* labels for check boxes */
		margin-left:8%; 
		margin-top:-25px;
	}
	
	
	
	/*********************/
	/* RIGHT HAND COLUMN */
	/*********************/
	#theNumbersColumn { /* right hand column */
		float:right; 
		margin-top:-555px;
	}
	.theNumbersTitle { /* right hand column's title, reads: "The Numbers" */
		font-family:ArchitectsDaughterRegular; 
		font-size:2.5em; 
		color:#62acbd; 
		margin-bottom: 25px;
		margin-
	}
	.starLabels { /* labels for star ratings */
		text-align:center; 
		font-size:1.5em; 
		line-height:2.5em;
	}
	.allStars { /* actual star rating images */
		margin-left:26%;
	}
	
	
	
	/******************/
	/* Bottom of page */
	/******************/
	
	#submitContainer { /* contains the submit button */
		margin-top:20px;
	}
	#submitButtonHidden { /* contains the gray/inactive submit button and
								little 'You cannot submit...' message below */
		text-align:center; 
		margin-top:30px; 
		color:#e67b5a;
	}
	#submitButtonDiv { /* contains the active/green submit button */
		text-align:center; 
		margin-top:30px; 
		display:none;
	}
	.qMarkContainer { /* contains the '? Click here to...' image link to popup */
		margin-left:75%;
		margin-top:-115px;
		padding-bottom:30px; 
	}
	
	
	
	
	/**************/
	/*** POPUPS ***/
	/**************/
	
	/*****************************/
	/** POPUP CONTAINERS & MASK **/
	/*****************************/
	
	/* Mask for popups' background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.8;
		z-index: 999;
	}
	
	/* all three popups */
	.addPhotos-popup,
	.terms-popup,
	.qMark-popup {
		display:none;
		color:#575758;
		padding: 10px; 	
		float: left;
		font-size: 1.1em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
		text-align:left;
		height:300px;
	}
	
	/* add photos to your new_review popup */
	.addPhotos-popup {
		background: #D9DEDA;
		border: 2px solid #6aaeba;
		width:350px;
	}
	

	/* Terms & Conditions popup  */
	.terms-popup{
		background: #E3E6D5;	
		border: 3px solid #575758;
		width:500px;
	}
	
	/* Question-mark link's popup describing how to use this page  */
	.qMark-popup{
		background: #D9DEDA;
		border: 2px solid #6aaeba;
		width:500px;
	}
	
	
	/**************************/
	/** ACTUAL POPUP CONTENT **/
	/**************************/
	
	
	/******** ADD PHOTOS POPUP ********/
	
	.popupTitle { /* title of add photos popup */
		font-size:1.6em; 
		text-align:center;
		margin-top:15px; 
		margin-bottom:20px;
	}
	.max512Blurb { /* subtitle of add photos popup */
		font-size:.5em; 
		font-family:architectsDaughterRegular;
	}
	.submitPhotoUploadsContainer { /* submit button container for adding photos popup
	 									reads: "Done" */
		margin-top:30px;
	}
	
	
	
	/******** Q-MARK & TERMS/CONDITIONS POPUPS ********/
	
	li { /* each bullet point. Note: only <li>s in q-mark and terms popups */
		margin-bottom:8px 
	}
	.popupQMarkTitle { /* title for q-mark and terms popups */
		font-size:1.7em; 
		text-align:center; 
		color:#6aaeba;
	}
	.bigTitle { /* a numbered subtitle outlining a big concept */
		font-size:1.3em; 
		font-weight:600;
	}
	.bigQuestion { /* a question under the numbered subtitle outlining a big question */
		margin-left:20px; 
		font-size:1em;
	}
	.answerContainer { /* contains a bulleted answer to a 'bigQuestion', 
							appears underneath its 'bigQuestion' */
		margin-top:15px; 
		margin-bottom:15px; 
		margin-left:50px; 
		line-height:1.2em;
	}
	.note { /* slightly more indented bullet 'note' about the answer */
		margin-left:10px;
	}
	.bigNote { /* even more indented 'note' about the answer */
		margin-left:20px;
	}
	
</style>




<!-- ERROR MESSAGES -->
<% if @new_review.errors.any? %>
<div class="flash alert">
	<%= pluralize value.length, "errors"%> prevented your review from being created:<br />
	<% @new_review.errors.full_messages.each do |e|%>
		* <%=e%><br />
	<% end %>
</div>
<% end %><!-- END ERROR MESSAGES -->




<div class="container">
	<!-- Page title -->
	<div class="row top" align="center">
		<%=image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/shareVoice.png"%>
	</div><!-- end page title -->
	<br />

	<!-- BEGIN NEW_REVIEW FORM -->
	<%= form_for(@new_review, :id => "theForm") do |f| %>
	
	<!-- hidden field that saves user's ID as a parameter -->
	<%= f.hidden_field :user_id, :value => current_user.id %>

	<!-- BEGIN TOP SECTION OF PAGE -->
	<div class="row" >
		<!-- left hand side of top part of page -->
		<div class="six columns" class="topLeftColumnContainer">
			<label for="new_review_organization" class="selectCompanyLabel">Select a Company:</label>
			<div class="newOrgTitleContainer">Review a New Organization</div>
		</div><!-- end left hand side -->

		<!-- right hand side of top part of page -->
		<div class="six columns" class="topRightColumnContainer">

		<!-- text field: organization name -->
			<%= f.text_field :organization, 
						 	 :id => "put", 
						 	 :value => (@new_review.organization || "  Put the organization's name here"), 
						 	 :class => "orgNameBox", 
						 	 :onclick => "$(removePut()); this.style.fontStyle = 'normal'", 
						 	 :onblur => "$(backToPut()); $(setFontStyleOnBlur(this));", 
						 	 :onchange => "checkFields()"%><!-- end organization name field -->
			<br />
		
			<!-- cancel link: back to write a review page -->
			<a href="/reviews/new" id="cancel">Cancel</a>

		</div><!--end right hand side of top -->

	</div><!--END TOP SECTION OF PAGE -->


	<!-- BEGIN MIDDLE SECTION OF PAGE -->
	<div class="row">
		<!-- left column, "The Details" -->
		<div class = "six columns" id="theDetailsColumn">
			<!-- "The Details" column title -->
			<div align="center" class="theDetailsTitle"> 
				The Details 
			</div><!-- end column title -->
			
			<!-- first field: time frame -->
			<div class="three columns" id="howLongLabel">How long did you work with them?</div>
			
			<!-- div containing select box.
				Note: div is shorter on left & right to hide the drop-down arrow & edge -->
			<div class="select-div" class="three columns" id="timeFrameSelectDiv">
				<!-- actual select box -->
				<select id="new_review_time_frame" onchange = "checkFields()" name="new_review[time_frame]">
					<option value="">Select a Time Frame</option>
					<option value="1 week or less">1 week or less</option>
					<option value="2-4 weeks">2-4 weeks</option>
					<option value="5-8 weeks">5-8 weeks</option>
					<option value="9-12 weeks">9-12 weeks</option>
					<option value="3-6 months">3-6 months</option>
					<option value="6-12 months">6-12 months</option>
					<option value="1-2 years">1-2 years</option>
					<option value="2+ years">2+ years</option>
				</select><!-- end select box -->
			</div><!-- end select div -->
			<!-- end first field: time frame -->
			
			<!-- second field: which program? -->
			<div class="three columns" id="whichProgramLabel">Which Program?</div>
			<div class="three columns" id="whichProgramFieldContainer">
				<%= f.text_field :program, 
								 :value => (@new_review.program || " eg. Tutoring children in Peru"), 
								 :id => "programsField", 
								 :onclick => "removePeru(); this.style.fontStyle = 'normal'", 
								 :onblur => "addPeru(); setFontStyleOnBlur(this)"%>
			</div>
			<!-- end second field: which program? -->

			<!-- third field: your experience (body) -->
			<section class="yourExperience">
				<div class="ten columns" id="yourExperienceLabel">
					Your Experience 
					<span class="min200Blurb">
						(Minimum 200 characters)
					</span>
				</div>

				<div class="eleven columns">
					<%= f.text_area :body, 
									:id => "theBody", 
									:onfocus => "removeTextAreaText()", 
									:onclick =>"setFontStyleOnClick(this)", 
									:onblur => "addTextAreaText();checkFields(); setFontStyleOnBlur(this);", 
									:value => (@new_review.body || "Tell it all! But please remember that offensive language will jeopardize whether your review stays published or not."), 
									:class => "word_count"%>

					<!-- Word counter (bottom right of text area) -->
					<span class="counter"></span>
					<br />
				</div><!-- end text area & counter -->
			</section><!-- end third field: your experience (body)-->
				
			<!-- bottom section of the left hand column
			 	 includes add/edit photos & checkboxes -->
			<div class="eleven columns" id="bottomSectionOfLeftColumn">
				
				<!-- edit image container (button & count). Visible after user has added photos -->	
				<div class="editImageContainer" id="editImage">
					
					<!-- edit photos button -->
					<a href="#addPhotos-box" class="addPhotos-window">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/editPhotos.png",
					 			  :onmousedown => "this.className = 'shadowed'", 
								  :onmouseup => "this.className = 'nothing'"%>
					</a><!-- end edit button -->
					
					&nbsp;&nbsp;&nbsp;
					
					<!-- photos counter & message --> 
					<div class="photoCounterContainer">
						You have 
							<!-- number of photos attached: (disabled input) -->
							<input id="total_count" disabled="true" class="photoCount" value="0"/> 
						photos attached
					</div><!-- end photos counter & message -->
				</div><!-- end edit image container -->

				<!-- add image container (button & 'no photos'). 
					Visible initially, and whenever user has no attached photos -->
				<div class="addImageContainer" id="addImage">
					
					<!-- add photos button -->
					<a href="#addPhotos-box" class="addPhotos-window">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/addPhotos.png",
					 			  :onmousedown => "this.className = 'shadowed'", 
								  :onmouseup => "this.className = 'nothing'"%>
					</a><!-- end add photos button -->
					
					&nbsp;&nbsp;&nbsp; 
					
					<!-- no photos message -->
					<div class="noPhotosMessage">No photos attached</div>
					
				</div><!-- end add image container -->
	
				<!-- BEGIN I HAVE VOLUNTEERED BEFORE CHECKBOX/MARK -->
				<!-- checkmark image for 'I have volunteered before' checkbox -->
				<image class="checkMark" 
					   id="checkBefore" 
					   src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png">
				
				<!-- checkbox container for 'I have volunteered before' -->
				<div class="checkBox" onclick="$(beforeCheck())">
					<%= f.check_box :before, :onchange => "checkFields()", :class => "hiddenCheckBox"%>
					<label class="checkBoxLabel" for="new_review_before">
						I have volunteered with this company before
					</label>
					
					<br /><br /><br />
				</div>
				
				<!-- END I HAVE VOLUNTEERED BEFORE CHECKBOX/MARK -->


				<!-- BEGIN I HAVE READ TERMS CHECKBOX/MARK -->
				<!-- checkmark image -->
				<image class="checkMark" 
					   id="checkTerms" 
					   src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png">
					
				<!-- checkbox container -->
				<div class="checkBox" onclick="$(termsCheck());" id="checkTermsBox">
					<%= f.check_box :terms, 
									:onchange => "checkFields()", 
									:class => "hiddenCheckBox", 
									:id => "terms"%>
									
					<label class="checkBoxLabel" for="new_review_terms">
						I have read and accept the 
						<a href="#terms-box" class="terms-window" id="termsUse">
							terms of use 
						</a>
					</label> 
				</div><!-- end checkbox container -->
				
				<br /><br />

			</div><!-- end bottomSectionOfLeftColumn -->
		</div><!--end left columns-->
		<!-- END "THE DETAILS" LEFT COLUMN -->

		<!-- BEGIN "THE NUMBERS" RIGHT COLUMN -->
		<div class="six columns" id="theNumbersColumn">
			<!-- column title "The Numbers" -->
			<div align="center" class="theNumbersTitle"> The Numbers </div>
			
			<!-- BEGIN STARS/LABELS -->
			<div class="starLabels">
				
				<!-- Preparation/Orientation stars -->
				Preparation/Orientation <br />
				<div class="allStars" onclick="setClicked('preparation'); checkFields();">
					<% [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |val| %>
					<input name="new_review[preparation]" 
						   type="radio" 
						   class="star {split:2}"  
						   value= "<%=val%>"/>
					<% end %>
				</div><!-- end Preparation/Orientation stars -->

				<br />

				<!-- Support stars -->
				Support<br />
				<div class="allStars" onclick="setClicked('support'); checkFields();">
					<% [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |val| %>
					<input name="new_review[support]" 
						   type="radio" 
						   class="star {split:2}" 
						   value= "<%=val%>"/>
					<% end %>
				</div><!-- end Support stars -->
				
				<br />

				<!-- Project Impact stars -->
				Project Impact<br />

				<div class="allStars" onclick="setClicked('impact'); checkFields();">
					<% [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |val| %>
					<input name="new_review[impact]" 
						   type="radio" 
						   class="star {split:2}" 
						   value= "<%=val%>"/>
					<% end %>
				</div><!-- Project Impact stars -->
				
				<br />

				<!-- Project Structure/Sustainability stars -->
				Project Structure/Sustainability<br />

				<div class="allStars" onclick="setClicked('structure'); checkFields();">
					<% [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |val| %>
					<input name="new_review[structure]" 
						   type="radio" 
						   class="star {split:2}" 
						   value= "<%=val%>"/>
					<% end %>
				</div>	<!-- end Project Structure/Sustainability stars -->
				
				<br />
				
				<!-- Overall stars -->
				Overall?<br />

				<div class="allStars" onclick="setClicked('overall'); checkFields();">
					<% [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |val| %>
					<input name="new_review[overall]" 
						   type="radio" 
						   class="star {split:2}" 
						   value= "<%=val%>"/>
					<% end %>
				</div><!-- end Overall stars -->

			</div><!-- end star labels -->
		</div><!--end right ("The Numbers") columns-->
	</div><!--end row three-->
	<!-- END MIDDLE SECTION OF PAGE -->



	<!-- BEGIN BOTTOM SECTION OF PAGE -->
	<div class="row">
		<div class="twelve columns" align="center" id="submitContainer">

			<!-- gray/inactive submit button container, showing until user fill our required fields -->
			<div id="submitButtonHidden"> 
				<img src="/assets/submitGray.png" />  <br>
					You cannot submit your review until<br /> 
					all form fields are filled out <br />
					(except uploading photos, that's optional)
				
			</div><!-- end gray/inactive submit button container -->
			
			<!-- green/active submit button container -->
			<div id="submitButtonDiv">
			<%=image_submit_tag ("https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png"), 
								:id => "submitButton", 
								:onmousedown => "this.className = 'shadowed'", 
								:onmouseup => "this.className = 'nothing'"%>
			</div><!-- end green/active submit button container -->
			<!-- "?" image link container: questions about form -->
			<div class="qMarkContainer">
				<!-- "?" image link to popup -->
				<a href="#qMark-box" class="qMark-window">
					<image src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/clickLearnForm.png" 
					onmousedown="this.className = 'shadowed'" 
					onmouseup = "this.className = 'nothing'" 
					id = "qMarkImage"/>
				</a>
			</div>
		</div><!-- end submit buttons -->
	</div><!-- end row -->
	<br />

</div><!-- END container -->



<!-- ********************* -->
<!-- BEGIN POPUPS CONTENT  -->
<!-- ********************* -->

<!-- add/edit photos popup -->
<div id="addPhotos-box" class="addPhotos-popup">
	<!-- container for icon to close popup window -->
	<a href="#" class="close">
		<div class="close_image" onclick="changeCount(); closePop()"></div>
	</a><!-- end close icon -->
	
	<!-- Title of add photos popup -->
	<p class="popupTitle">
		Add Photos 
		<span class="max512Blurb">(max: 512KB)</span>
	</p><!-- end title -->
	
	<!-- overflow is cut off at 250px & scrolled.
			houses the photo fields -->
	<div class="overflow">

		<%= f.file_field :photo, :id => "one" %>
		<a onclick="$('#one').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo2, :id => "two"  %>
		<a onclick="$('#two').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo3, :id => "three"  %>
		<a onclick="$('#three').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo4, :id => "four"  %>
		<a onclick="$('#four').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo5, :id => "five"  %>
		<a onclick="$('#five').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo6, :id => "six"  %>
		<a onclick="$('#six').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo7, :id => "seven"  %>
		<a onclick="$('#seven').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo8, :id => "eight"  %>
		<a onclick="$('#eight').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo9, :id => "nine"  %>
		<a onclick="$('#nine').attr('value', '')" >Remove</a><br /><br />
		
		<%= f.file_field :photo10, :id => "ten"  %>
		<a onclick="$('#ten').attr('value', '')" >Remove</a><br /><br />

		<!-- submit/done button for add photo popup -->
		<div align = "center" class="submitPhotoUploadsContainer">
			<input type="image" 
				   src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/done.png" 
				   onclick="closePop(); changeCount(); return false" 
				   onmousedown = "this.className = 'shadow'" 
				   onmouseup = "this.className='btn_close'">
		</div><!-- end submitPhotoUploadsContainer -->
	</div><!-- end overflow -->
</div><!-- end addPhotos-box -->		



<% end %><!-- end new_review form -->


<!-- popup for answers to questions about this page
	"?" image link takes user to this popup -->
<div id="qMark-box" class="qMark-popup">
	<%= render :partial => 'qMark_popup'%>
</div><!-- end qMark-box -->


<!-- terms and conditions popup -->
<div id="terms-box" class="terms-popup">
	<%= render :partial => 'terms_popup' %>
</div>
	
<script type="text/javascript">


$(document).ready(function() {


	//Terms of Use Popup JQuery
	$('a.terms-window, a.qMark-window, a.addPhotos-window').click(function() {

		//Getting the variable's value from a link 
		var termsBox = $(this).attr('href');

		//Fade in the Popup
		$(termsBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(termsBox).height() + 24) / 2; 
		var popMargLeft = ($(termsBox).width() + 24) / 2; 

		$(termsBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="opacity:.5"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close, #mask').live('click', function() { 
		$('#mask, .terms-popup, .qMark-popup, .addPhotos-popup').fadeOut(300 , function() {
			$('#mask').remove();  
		}); 
		return false;
	});



	//Set all fields to "not clicked" for javascript function (checkFields) that checks if form has been filled out to determine whether the submit button should appear yet
	var preparation = "notClicked";
	var support = "notClicked";
	var impact = "notClicked";
	var overall = "notClicked";
	var structure = "notClicked";



	//each number (ie. ones) represents that # photo upload (ie. photo1)
	var	ones = 0;
	var	twos = 0;
	var	threes = 0;
	var	fours = 0;
	var	fives = 0;
	var	sixs = 0;
	var	sevens = 0;
	var	eights = 0;
	var	nines = 0;
	var	tens = 0;
	var	count = 0;
	$('#editImage').hide(); //hide the "edit photos" image/div
	$('#checkBefore').hide(); //hide the "volunteered before" checkmark image
	$('#checkTerms').hide(); //hide the "terms" checkmark image

	//set time-frame drop-down to selected value
	<% if !(@new_review.time_frame.nil?) %>
	$('#new_review_time_frame').val("<%=@new_review.time_frame%>");
	<% end %>

	//jQuery that makes word count function
	$('.word_count').each(function(){
		var length = $(this).val().length;
		$(this).parent().find('.counter').html( length + ' characters');
		$(this).keyup(function(){
			var new_length = $(this).val().length;
			$(this).parent().find('.counter').html( new_length + ' characters');
		});
	});


});

//show the file name in the fake file-name text-box (disabled) when a file is uploaded
function nameFile() {
	var str="";
	str= $("#new_review_photo").val();
	document.getElementById('filename').value = str.substring(12, str.length);
}

//toggle visibility of check mark image of "volunteered before" checkbox when checkbox is clicked
function beforeCheck() {
	$('#checkBefore').toggle();
}

//toggle visibility of check mark image of "terms" checkbox when checkbox is clicked
function termsCheck() {
	$('#checkTerms').toggle();
}


//remove the "tell all!..." from the textArea
function removeTextAreaText() {
	if ($("#theBody").attr("value") == "Tell it all! But please remember that offensive language will jeopardize whether your review stays published or not.." ) {
		$("#theBody").attr("value", "");
	}
}

//add the "tell all!..." to the textArea
function addTextAreaText() {
	if ($("#theBody").attr("value") == "" ) {
		$("#theBody").attr("value", "Tell it all! But please remember that offensive language will jeopardize whether your review stays published or not.");
	}
}

//remove the "put the..." from the top textBox (org name)
function removePut() {
	if ($("#put").attr("value") == "  Put the organization's name here" ) {
		$("#put").attr("value", "");
	}
}

//add the "put the..." to the top textBox (org name)
function backToPut() {
	if ($("#put").attr("value") == "" ) {
		$("#put").attr("value", "  Put the organization's name here");
	}
}



function setFontStyleOnBlur(textField) {
	if ((textField.value == "  Put the organization's name here") || 
	(textField.value == ' eg. Tutoring children in Peru')) {

		textField.style.fontStyle = 'italic'

	} else if (textField.value == 'Tell it all! But please remember that offensive language will jeopardize whether your review stays published or not.') {

		textField.style.color = 'gray'
		textField.style.fontStyle = 'italic'

	} else {

		textField.style.fontStyle = 'normal'
	}
}

function setFontStyleOnClick(textField) {
	textField.style.color = 'black'
	textField.style.fontStyle = 'normal'
	if (textField.value == 'Tell it all! But please remember that offensive language will jeopardize whether your review stays published or not.') {
		textField.value = "";
	}

}


//set the var representing each set of stars to "clicked" if they have been clicked
function setClicked(theVar) {
	if (theVar == 'preparation') {
		preparation = "clicked";
	}
	if (theVar == 'support') {
		support = "clicked";
	}
	if (theVar == 'impact') {
		impact = "clicked";
	}
	if (theVar == 'structure') {
		structure = "clicked";
	}
	if (theVar == 'overall') {
		overall = "clicked";
	}
}

//check if the fields have been filled out, and show the submit button if needed
function checkFields(){
	if(($("#put").attr("value") != "  Put the organization's name here")
	&& ($("#new_review_time_frame").attr("value") != "Select a Time Frame")
	&& ($("#theBody").attr("value").length >= 200)
	&& ($("#terms").attr("value"))
	&& preparation == "clicked"
	&& support == "clicked"
	&& impact == "clicked"
	&& structure == "clicked"
	&& overall == "clicked")
	{
		$("#submitButtonDiv").show();
		$("#submitButtonHidden").hide();

	}
}

//add "Tutoring children..." to the "Which Program?" text box
function addPeru() {
	if ($("#programsField").attr("value") == "" ) {
		$("#programsField").attr("value", " eg. Tutoring children in Peru");
	}
}


//remove "Tutoring children..." from the "Which Program?" text box
function removePeru() {
	if ($("#programsField").attr("value") == " eg. Tutoring children in Peru" ) {
		$("#programsField").attr("value", "");

	}

}

//change the total count of images uploaded to display next to the "edit photos" or "add photos" images
// if more than 0 images uploaded, show the "edit photos" image and image count
// else show the "add photos" image and "No photos attached" next to it
function changeCount() {

	if ($("#one").attr("value") != "") {
		ones = 1;
	} else {
		ones = 0;
	}

	if ($("#two").attr("value") != "") {
		twos = 1;
	} else {
		twos = 0;
	}

	if ($("#three").attr("value") != "") {
		threes = 1;
	} else {
		threes = 0;
	}

	if ($("#four").attr("value") != "") {
		fours = 1;
	} else {
		fours = 0;
	}

	if ($("#five").attr("value") != "") {
		fives = 1;
	} else {
		fives = 0;
	}

	if ($("#six").attr("value") != "") {
		sixs = 1;
	} else {
		sixs = 0;
	}

	if ($("#seven").attr("value") != "") {
		sevens = 1;
	} else {
		sevens = 0;
	}

	if ($("#eight").attr("value") != "") {
		eights = 1;
	} else {
		eights = 0;
	}

	if ($("#nine").attr("value") != "") {
		nines = 1;
	} else {
		nines = 0;
	}

	if ($("#ten").attr("value") != "") {
		tens = 1;
	} else {
		tens = 0;
	}

	count = ones + twos + threes + fours + fives + sixs + sevens + eights + nines + tens;
	$("#total_count").attr("value", count);

	if (count > 0) {
		$("#editImage").show();
		$("#addImage").hide();
	} else {
		$("#editImage").hide();
		$("#addImage").show();
	}
}


//close the "addPhotos-popup"
function closePop() {
	$('#mask').fadeOut(300); 
	$('#mask').remove();
	$('.addPhotos-popup').fadeOut(300);
}


</script>

