<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.pageTitle {
	font-size:3.5em; 
	line-height:1.5em;
}
.dateTime { /* date and time of new_review */
	color:blue;
}
.good { /* overall rating = good */
	color:green;
}
.fair { /* overall rating = fair */
	color:orange;
}
.poor { /* overall rating = poor */
	color: red;
}

</style>

<div class="container">
	<div class="row">
		<div class="twelve columns">
			<p align="center" class="pageTitle">Listing new_reviews</p><br />

			<table>
				<thead>
					<tr>
						<th style="width:15%">User</th>
						<th style="width:10%;">Created At</th>
						<th style="width:5%;">Overall</th>
						<th style="width:40%;">Truncated Body</th>
						<th style="width:7%;">Publish?</th>
						<th style="width:5%">View?</th>
						<th style="width:5%;">Edit?</th>
						<th style="width:7%;">Destroy?</th>
					</tr>
				</thead>
				<tdata>
				<% @new_reviews.each do |new_review| %>

				<tr>
					<td><%= link_to User.find(new_review.user_id).username, User.find(new_review.user_id)%></td>
					<td><p class="dateTime"><%= new_review.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%></p></td>
					<td><% if new_review.overall >= 4%>
						<p class="good"><%= new_review.overall%></p>
						<% end %>
						<% if new_review.overall > 2 && new_review.overall < 4 %>
						<p class="fair"><%= new_review.overall%></p>
						<% end %>
						<% if new_review.overall <= 2 %>
						<p class="poor"><%= new_review.overall%></p>
						<% end %></td>
						<td><%= new_review.truncated100.html_safe%></td>
						<td><%= link_to (image_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/publishReview.png"), :controller => "reviews", :action =>"create", :review => new_review %></td>


						<td><%= link_to 'View', new_review %></td>
						<td><%= link_to 'Edit', edit_new_review_path(new_review) %></td>
						<td><%= button_to "Delete", new_review_path(new_review.id), :method => :delete %></td>
					</tr>
					<% end %>
				</tdata>
			</table>

			<br />

		</div>
	</div>
</div>
