<%= javascript_include_tag "/assets/jquery.js"%>

<style>
.top {
	font-size:1.3em; 
	line-height:2em;
}
.pageTitle {
	font-size:3em; 
	line-height:2em;
}
.subTitle {
	font-size:2em;
}
img.userPhoto {
	height:50px;
}
</style>

<div class="container top">
	<div class="row">
		<div class="twelve columns">
			<p align="center" class="pageTitle">Showing Review # <%= @new_review.id%></p><br />
		</div>
		<div class="eleven columns">
			<p class="subTitle">About the Review</p>
			Created: <%= @new_review.created_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%>
			<br />
			Last updated: <%= @new_review.updated_at.to_date.strftime("%m/%e/%Y").gsub(/^0/, '')%><br />
			<br />
			<p class="subTitle">About the User</p>
			<%= image_tag @new_review.photo.url, :class => "userPhoto"%> <br />Username (link): <%= link_to User.find(@new_review.user_id).username, User.find(@new_review.user_id)%>
			<br />
			Volunteered With This Company Before? <b>
				<% if(@new_review.before)%> 
				yes 
				<%else%>
				no 
				<%end%>
			</b>
			<br />
			Agreed to Terms and Conditions? (Should always read "yes"): 	<b>
				<% if(@new_review.terms)%> 
				yes 
				<%else%>
				no 
				<%end%>
			</b>
			<br /><br />
			<p class="subTitle">About the Program/Organization</p>
			Organization: <%= @new_review.organization%>&nbsp;&nbsp;&nbsp; How many NEW orgs with this exact name (self-including): <b><%= NewReview.where(:organization => @new_review.organization).count%></b><br />
			Program: <%= @new_review.program%><br />
			Time frame: <%= @new_review.time_frame%><br /><br />

			<p class="subTitle">Review Ratings:</p><br />
			Preparation/Orientation: <%=@new_review.preparation%><br />
			Support: <%=@new_review.support%><br />
			Project Impact: <%=@new_review.impact%><br />
			Project Structure/Sustainability: <%=@new_review.structure%><br />
			Overall: <%=@new_review.overall%><br /><br />


			<%= link_to 'Edit', edit_new_review_path(@new_review) %> | 
			<%= link_to 'Destroy', :controller => "new_reviews", :action => "destroy", :id => @new_review.id %> | 
			<%= link_to 'Publish', :controller => "reviews", :action =>"create", :review => @new_review %>
		</div>
	</div>
</div>