<!DOCTYPE HTML>

<html lang="en">

<head>
	<noscript>
		<meta http-equiv="refresh" content="0; url=https://s3-us-west-1.amazonaws.com/volunteervoice/error/enable_js.html">
	</noscript>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<meta charset="utf-8">

<title>Volunteer Voice International</title>

<script><!--for HTML5 syntax in IE-->
	document.createElement('header');
	document.createElement('footer');
	document.createElement('nav');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('section');
</script>		
		
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag "application", :media => :all%>
	<%= javascript_include_tag "application"%>
	
	
	<style>
	/** LINKS **/
	a.forgotPassword:link{color:white}
	a.forgotPassword:active{color:white}
	a.forgotPassword:visited{color:white}
	a.forgotPassword:hover{color:#e67b5a}
	
	a.login-window:link{color:white}
	a.login-window:active{color:white}
	a.login-window:visited{color:white}
	a.login-window:hover{color:#9bce6c}
	
	a.register:link{color:white}
	a.register:active{color:white}
	a.register:visited{color:white}
	a.register:hover{color:#e67b5a}
	
	a.logout:link{color:white}
	a.logout:active{color:white}
	a.logout:visited{color:white}
	a.logout:hover{color:#e67b5a}
	
	/** ACTUAL POPUP BOXES **/
	
	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.5;
		-moz-opacity: 0.50;
	}

	/* LOGIN  */
	.login-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}
	
	/** ORG REQUEST ACCOUNT **/
	.request-popup{
		display:none;
		background: #D9DEDA;
		padding: 5px; 	
		border: 3px solid #575758;
		width:560px;
		float: left;
		color:#575758;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}
	
	/** ORG LOGIN **/
	.org-login-popup{
		display:none;
		background: #c1dfdb;
		padding: 10px; 	
		border: 3px solid #e67b5a;
		float: left;
		color:#575758;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}


	 /****************************/
	/** POPUPS ACTUAL CONTENT **/
   /**************************/

	/**Login Popups (both)**/
	.popupFieldLabel {
		line-height:1.5em;
	}
	.popupTextField {
		height:15px;
	}
	.rememberMeCheckMark {
		position:absolute; 
		height:25px; 
		top:113px; 
		left:13px; 
		display:none;
	}
	.rememberMeCheckBox {
		background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); 
		background-repeat:no-repeat; 
		margin-left:5px; 
		margin-top:10px; 
		padding-bottom:5px;
	}
	.hiddenPopupCheckbox {
		display:block; 
		opacity:0;filter: alpha(opacity=0); 
		height:15px; 
		width:15px;
	}
	.rememberMeLabel {
		margin-left:33px; 
		margin-top:-20px; 
		font-size:.85em;
	}
	#userLoginButton {
		height:35px; 
	}
	.forgotPasswordLink {
		font-size:.85em;
	}
	
	
	/** Org Account Request Popup **/
	.accountRequestTitle {
		font-size:2em; 
		font-family:JosefinSlabRegular; 
		line-height:1.2em; 
		margin:10px;
	}
	.accountRequestBlurb {
		font-family:JosefinSlabRegular; 
		line-height:1.1em; 
		color:#68c2d8;
	}
	.accountRequestLeftColumnContainer {
		width:300px;
	}
	.accountRequestTextField {
		height:20px; 
		width:198px;
	}
	.accountRequestSelectDiv {
		position:absolute;
		top:92px; 
		height:30px; 
		width:198px; 
		overflow:hidden; 
		border-right:1px solid #575758; 
		border-left:1px solid #575758;
	}
	select.accountRequestSelect {
		position:absolute; 
		border:1px solid #575758; 
		left:-5px; 
		width:225px; 
		height:30px; 
		background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right;
	}
	.accountRequestURLLabelDiv {
		margin-top:50px;
	}
	.accountRequestRadioButtonsContainer {
		margin-top:5px;
	}
	.accountRequestSubmitContainer {
		margin-top:25px; 
		margin-left:205px;
	}
	.accountRequestSubmit {
		height:40px;
	}
	#request-right-column {
		margin-left:300px; 
		margin-top:-317px; 
		padding-left:30px; 
		width:250px;
	}
	.accountRequestSelectOneBlurb {
		float:right; 
		margin-right:50px; 
		margin-top:25px; 
		font-family:JosefinSlabRegular;
	}
	.accountRequestDividingLine {
		height:180px; 
		width:1px; 
		top:15px; 
		background-color: #575758; 
		position:absolute; 
		left:-10px;
	}
	</style>
	
</head>

	<body>
		<div id="pageWrap">
		<!-- Header-->
		<div class="container" id="header">
		<div class="row">
		<header class="header">
			
			<div class="four columns tippyTop">
			<a href="/"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png" alt="VolunteerVoice International logo" name="logo" id="headerLogo"></a>
			</div>
			
	<% if !(user_signed_in?) && !(organization_account_signed_in?) %>			
			<div class="three columns loginContainer">
			<div class="row login">
				<a href="#login-box" class="login-window">LOGIN</a>
				or <a href= "/sign_up" class="register">JOIN</a>
			</div>
			</div>
	<% else %>
			<div class="four columns loginContainer">
			<div class="row login">
					<% if user_signed_in?%>
						<a href="/users/profile"> <%=current_user.username%> 
							<% if current_user.unread_messages > 0 %>
								<span class="unreadMessagesCount">(<%=current_user.unread_messages%>)</span><% end %></a>&nbsp;&nbsp;
						<a href= "/signout" class="logout">LOGOUT</a>
					<% end %>
					<% if organization_account_signed_in?%>
						<a href="/organization_accounts/profile"> <%= Organization.find(current_organization_account.organization_id).name%></a>&nbsp;&nbsp;
						<a href="/signout" class="logout">LOGOUT</a>
					<% end %>
				
			</div>
			</div>
	<% end %>
			
			
			
			<% if user_signed_in? && current_user.admin?%>
			
			<div class="four columns adminContainer" id="adminNav">
			<div class="row adminLinks">
				<ul>
					<li><p class="adminLinksTitle">Admin Links</p>
						<div>
						<ul>
							<li><a href="/blog_posts/new">New Blog Post</a></li>
							<li><a href="/organizations/new">New Organization</a></li>
							<li><a href="/programs/new">New Program</a></li>
							<li><a href="/organizations">All Organizations</a></li>
							<li><a href="/feedbacks">All Feedbacks</a></li>
							<li><a href="/flags">All Flags</a></li>
							<li><a href="/reviews">All Reviews</a></li>
							<li><a href="/new_reviews">All New Reviews</a></li>
							<li><a href="/users">All Users</a></li>
							<li><a href="/searches">All Searches</a></li>
							<li><a href="/organization_accounts">All Org Accounts</a></li>
						</ul>
						</div>
					</li>
				</ul>
				
			</div>
			</div>
			
			
			
			<% end %>
			
			
			<% if !(user_signed_in?) && !(organization_account_signed_in?)%>
			<div class="four columns" class="loginContainer" id="orgLogin">
			<div class="row orgLogin" align="right">
					<ul>
						<li><p id="orgLogin-image"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/OrgLoginTabRedzz.png" onclick="show_org_drop();"></p> 
							<div>
								<ul id="orgLoginBox">
									<li><a href="#org-login-box" class="org-login-window">Login</a></li>
									<li><a href="#request-box" class="request-window">Make a Profile</a></li>
								</ul>
							</div>
						</li>
					</ul>
			</div>
			</div>
			<% end %>
			
			<div class="six columns" class="searchContainer">
				<% @search = Search.new%>
			<%= form_for @search do |f|%>
				<div class="magGlassSearchButton">
			    <%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/magGlass.png", :style => "margin-bottom:-57px", :id =>"searchbutton", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div>
				<div id="searchDiv">
				<input type="text" name="search[keywords]" id="searchfield"></div>
			<% end %>

		</div>
		</div>
		</header>
		</div>	
			
		<!-- end header-->

		<!-- Global Navigation-->
		
		<div class="container" id="globalNav">
		<div class="row">
		<nav class="nav">

		<ul>
		<li class="navs"><a href="/">home</a></li>
		<li class="navs" id="findProgramNav"><a id="shower" onclick="show_menu();">find a program</a>
			<div class="findProgramDropDown">
				<% if user_signed_in? || organization_account_signed_in? %>
			<ul id="drop_signed_in">
				<li class="navs"><a href="/pages/program_browse">browse things to do</a></li>
				<li class="navs"><a href="/programs">browse places to go</a></li>
				<li class="navs"><a href="/pages/search_machine">use advanced search</a></li>	
			</ul>
				<% else %>
				<ul id="drop_signed_out">
					<li class="navs"><a href="/pages/program_browse">browse things to do</a></li>
					<li class="navs"><a href="/programs">browse places to go</a></li>
					<li class="navs"><a href="/pages/search_machine">use advanced search</a></li>	
				</ul>
				<% end %>
			</div>
		</li>
		<li class="navs"><a href="/reviews/new">write a review</a></li>
		<li class="navs"><a href= "/pages/blogs">resources</a></li>
		</ul>
		
		<div class="dropdown_background"></div>

		</nav></div>
		</div><!--end navigation-->	

<%= yield%>

</div>
</div><!-- End PageWrap -->
</div>
</div>
<!-- Footer-->
<div class="container" id="footer">
<div class="row">
<footer class="footer">
<div class="three columns">
<article class="footerNav">
<h4 class="moreOnUsTitle">More on us...</h4>
<ul class="footerMoreOnUsLinks">
<li><%= link_to "About Us", "/pages/about"%></li>
<li><%= link_to "Contact Us", "/contacts/new"%></li>
<li><%= link_to "Terms of Use", "/pages/terms"%></li>
<li><%= link_to "Privacy Policy", "/pages/privacy"%></li>
<li><a href="/pages/faq">FAQ</a></li>
</ul>
</article></div><!--end footerNav-->
<div class="six columns" align="center">
<article class="spreadWord">
<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/spreadTheWord.png" alt="Help Spread The Word" width="300px">
<ul>
<li class="socialLinkFirst"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/facebook.png" class="socialLinkImage" alt="VolunteerVoice Facebook"></li>
<li class="socialLink"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/twitter.png" class="socialLinkImage" alt="VolunteerVoice Twitter"></li>
<li class="socialLink"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/google.png" class="socialLinkImage" alt="VolunteerVoice Google+"></li>
<li class="socialLink"><img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/rss.png" class="socialLinkImage" alt="VolunteerVoice RSS"></li>
</ul>

</article></div><!--end spreadWord-->
<div class="three columns">
<article class="ourCommunity facebookBox" align="right">

    <div class="fb-like-box" data-href="https://www.facebook.com/pages/VolunteerVoice-International/309769649039582" data-width="190" data-height="195" data-show-faces="true" data-border-color="#c1dfdb" data-stream="false" data-header="false"></div>


</article></div><!--end ourCommunity-->
<div class="row">
<div class="twelve columns">
<article class="copyright">

<p><small>Copyright 2012 by VolunteerVoice International. All rights reserved. Site design by Anna Smith from <a href="www.secretsnacking.com">Secret Snacking Media</a>.</small></p>

</article></div></div><!--end copyright-->
</footer></div><!-- end footer -->

</div>

</body>

</html>


<!--- POPUP PLUGIN -->


  	<div id="login-box" class="login-popup">
	<a href="#" class="close"><div class="close_image"></div></a>
	  	<%= form_for("user", :url => user_session_path) do |f| %>
		  <div class="popupFieldLabel">Email or Username:<br />
		  <%= f.text_field :login, :class => "popupTextField"%></div><br />

		  <div class="popupFieldLabel">Password:<br />
		  <%= f.password_field :password, :class => "popupTextField"%></div>

		    <image id="checkBefore2" class="rememberMeCheckMark" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" onclick="beforeCheck2()">
			<div class="rememberMeCheckBox" >
			<%= f.check_box :remember_me, :onclick => "$(beforeCheck2())", :class =>"hiddenPopupCheckbox"%></div><div id="rememberMe2Label"> Remember me</div><br />
	

		  <div align="center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/login.png", :id => "userLoginButton", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div><br />

		<a class="forgotPassword" class="forgotPasswordLink" href="/users/password/new">Forgot your password?</a>
		<%end%>
	
	
	</div>
	
	<div id="org-login-box" class="org-login-popup">
		<a href="#" class="close"><div class="close_image"></div></a>
	  	<%= form_for("organization_account", :url => organization_account_session_path) do |f| %>
		  <div class="popupFieldLabel">Email or Username:<br />
		  <%= f.text_field :login, :class => "popupTextField"%></div><br />

		  <div class="popupFieldLabel">Password:<br />
		  <%= f.password_field :password, :class => "popupTextField"%></div>

		    <image class="rememberMeCheckMark" id="checkBefore3" src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" onclick="beforeCheck3()">
			<div class="rememberMeCheckBox">
			<%= f.check_box :remember_me, :onclick => "$(beforeCheck3())", :class =>"hiddenPopupCheckbox"%></div><div class="rememberMeLabel"> Remember me</div><br />
	

		  <div align="center"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/login.png", :style => "height:35px; border-radius:10px", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div><br />

		<a class="forgotPassword" class="forgotPasswordLink" href="/organization_accounts/password/new">Forgot your password?</a>
		<%end%>
	
	
	</div>
	
		<div id="request-box" class="request-popup">
			<a href="#" class="close"><div class="close_image"></div></a>
			<% @contact = Contact.new %>
			<p class="accountRequestTitle" align="center">Account Request</p>
			<p class="accountRequestBlurb">Please complete all fields</p>
			<%= form_for @contact do |f| %>
			<div class="five columns" class="accountRequestLeftColumnContainer">

			  <div><%= f.label "Organization Name" %>
			  <%= f.text_field :organization_name, :class => "accountRequestTextField" %></div><br />
			<div>
<%= f.label :country %>
			  <div class="select-div accountRequestSelectDiv">
				 <select class="accountRequestSelect" id="contact_country" name="contact[country]">
					<option value=""> Select a Country</option>
					<% THECOUNTRIES.keys.each do |f| %>
					<option value="<%=f%>"><%= THECOUNTRIES[f]%></option>
					<% end %>
					</select>
			</div>
			<div class="accountRequestURLLabelDiv"><%= f.label "Website URL" %>
			  <%= f.text_field :organization_url, :class => "accountRequestTextField" %></div><br />
			<div class="accountRequestRadioButtonsContainer">
			 <%= f.radio_button :has_profile, :value => "Has profile needs access."%> I have a profile already, but need access. <br />
			<%= f.radio_button :has_profile, :value => "Needs profile and access."%> I don't have a profile, please make me one! <br /></div>
			
			
			</div>
			
			<div class="accountRequestSubmitContainer"><%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png", :class =>"accountRequestSubmit", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%></div>

			</div>
			<div class="five columns" id="request-right-column">

			  <div><%= f.label "Main Contact (First and Last Name)" %>
			  <%= f.text_field :main_contact, :class =>"accountRequestTextField"%></div><br />

			  <div><%= f.label "Contact's Position at Company" %>
			  <%= f.text_field :position_of_contact, :class =>"accountRequestTextField"%></div><br />

			  <div><%= f.label "Contact Email"%>
			  <%= f.text_field :contact_email, :class =>"accountRequestTextField" %></div>
			
			
			<div class="accountRequestSelectOneBlurb">&lt;&lt;&nbsp;&nbsp; Select one of these</div>
			
			<div class="accountRequestDividingLine"></div>
									
			<%= f.hidden_field :to_whom, :value => "request"%>
			<% end %>
		</div>
	</div>

	
		<script type="text/javascript">

		//Login Window Jquery
		$(document).ready(function() {

			$('a.login-window').click(function() {

		                //Getting the variable's value from a link 
				var termsBox = $(this).attr('href');

				//Fade in the Popup
				$(termsBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(termsBox).height() + 24) / 2; 
				var popMargLeft = ($(termsBox).width() + 24) / 2; 

				$(termsBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('#mask').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#login-box').fadeOut(300);
			  $('#mask').remove();
			  return false;
			});
			$('a.close').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#login-box').fadeOut(300);
			  $('#mask').remove(); 
			  return false;
			});
			
			
			//Account Request JQuery
			$('a.request-window').click(function() {

		                //Getting the variable's value from a link 
				var termsBox = $(this).attr('href');

				//Fade in the Popup
				$(termsBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(termsBox).height() + 24) / 2; 
				var popMargLeft = ($(termsBox).width() + 24) / 2; 

				$(termsBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('#mask').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#request-box').fadeOut(300);
			  $('#mask').remove();
			  return false;
			});
			$('a.close').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#request-box').fadeOut(300);
			  $('#mask').remove(); 
			  return false;
			});
			
			
			//Org Login Window Jquery
			$('a.org-login-window').click(function() {

		                //Getting the variable's value from a link 
				var termsBox = $(this).attr('href');

				//Fade in the Popup
				$(termsBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(termsBox).height() + 24) / 2; 
				var popMargLeft = ($(termsBox).width() + 24) / 2; 

				$(termsBox).css({ 
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
				$('#mask').fadeIn(300);

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close', '#mask').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#org-login-box').fadeOut(300);
			  $('#mask').remove();  
			  return false;
			});
			$('a.close').live('click', function() { 
			  $('#mask').fadeOut(300);
			  $('#org-login-box').fadeOut(300);
			  $('#mask').remove(); 
			  return false;
			});
			
			
			
			////BROWSER SNIFFING!!! AAHH!!!!
			////// some things looked funky in different browsers
			
			//Firefox - account request's right column is too low
			if ( $.browser.mozilla == true ) {
				$("#request-right-column").css("margin-top", "-333px");
			}
			
			//Opera - select box would not render formatting, so took it out
			if ($.browser.opera) {
				$(".select-div").css("border", "none");
				$(".select-div").css("overflow", "visible");				
			}
			
			//Android - org's login image is too low & find a program dropDown is too high
			var ua = navigator.userAgent.toLowerCase();
			var isAndroid = ua.indexOf("android") > -1;
			if (isAndroid) {
				$("#orgLogin-image").css("margin-top", "-15px");
				$("#drop_signed_in").css("top", "223px");
				$("#drop_signed_out").css("top", "230px");
			}
			
			//iOS - find a program dropDown is too high
			var agentID = ua.match(/(iphone|ipod|ipad)/);
			if (agentID) {
				$("#drop_signed_in").css("top", "183px");
				$("#drop_signed_out").css("top", "190px");
			}
				
		});
	</script>

	<script type="text/javascript">
	//User Login Remember me checkbox toggle if image is clicked
	function beforeCheck2() {
		$('#checkBefore2').toggle();
	}
	
	//Org Account Login Remember me checkbox toggle if image is clicked
	function beforeCheck3() {
		$('#checkBefore3').toggle();
	}
	
	//For touchscreens - show drop downs on click instead of hover
	function show_menu() {
		<% if user_signed_in? || organization_account_signed_in? %>
		if ($("#drop_signed_in").css("display") == "block") {
			$("#drop_signed_in").css("display", "none");
		} else {
			$("#drop_signed_in").css("display", "block");
		}
		<% else %>
		if ($("#drop_signed_out").css("display") == "block") {
			$("#drop_signed_out").css("display", "none");
		} else {
			$("#drop_signed_out").css("display", "block");
		}
		<% end %>
	}
	function show_org_drop() {
		if ($("#drop_org").css("display") == "block") {
			$("#drop_org").css("display", "none");
		} else {
			$("#drop_org").css("display", "block");
		}
	}
	</script>

