<!DOCTYPE HTML>

<html lang="en">

<head>
	
	<!-- if user does not have javascript enabled, send to enable_js page -->
	<noscript>
		<meta http-equiv="refresh" content="0; url=https://s3-us-west-1.amazonaws.com/volunteervoice/error/enable_js.html">
	</noscript>
	<!-- end enable_js -->

	<!-- facebook box plugin root -->
	<div id="fb-root"></div>
	<!-- end facebook root -->

	<meta charset="utf-8">		
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<%= csrf_meta_tag %>
	
	<!-- include all stylesheets & javascripts -->
	<%= stylesheet_link_tag "application", :media => :all%>
	<%= javascript_include_tag "application"%>


	<style>
	/** LINKS **/
	a.forgotPassword:link, 
	a.forgotPassword:active, 
	a.forgotPassword:visited,
	
	a.login-window:link,
	a.login-window:active,
	a.login-window:visited,
	
	a.register:link, 
	a.register:active, 
	a.register:visited,
	
	a.logout:link, 
	a.logout:active, 
	a.logout:visited 
	{ 
		color:white
	}
	
	a.forgotPassword:hover,
	a.logout:hover {
		color:#e67b5a
	}
	a.login-window:hover{
		color:#68c2d8
	}
	a.register:hover{
		color:#9bce6c
	}

	
	
	/*****************/
	/** POPUP BOXES **/
	/*****************/

	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000; 
		position: fixed; left: 0; top: 0; 
		z-index: 10;
		width: 100%; height: 100%;
		opacity: 0.5;
		-moz-opacity: 0.50;
	}

	/** USER LOGIN **/
	.login-popup{
		display:none;
		background: #D9DEDA;
		padding: 10px; 	
		border: 3px solid #575758;
		float: left;
		color:#6aaeba;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
		-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
		-moz-border-radius: 3px; /* Firefox */
		-webkit-border-radius: 3px; /* Safari, Chrome */
	}

	/** ORG REQUEST ACCOUNT **/
	.request-popup{
		display:none;
		background: #D9DEDA;
		padding: 5px; 	
		border: 3px solid #575758;
		width:560px;
		float: left;
		color:#575758;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
		-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
		-moz-border-radius: 3px; /* Firefox */
		-webkit-border-radius: 3px; /* Safari, Chrome */
	}

	/** ORG LOGIN **/
	.org-login-popup{
		display:none;
		background: #c1dfdb;
		padding: 10px; 	
		border: 3px solid #e67b5a;
		float: left;
		color:#575758;
		font-size: 1.1em;
		z-index:9999;
		position: fixed;
		top: 50%; left: 50%;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
		-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
		-moz-border-radius: 3px; /* Firefox */
		-webkit-border-radius: 3px; /* Safari, Chrome */
	}



	/***************************/
	/** POPUPS ACTUAL CONTENT **/
	/**************************/

	/**Login Popups (both user and org_account)**/
	.popupFieldLabel { /* label for text field (login & password fields) */
		line-height:1.5em;
	}
	.popupTextField { /* actual text fields (login * password fields) */
		height:15px;
	}
	.rememberMeCheckMark { /* check mark image for 'remember me' */
		position:absolute; 
		height:25px; 
		top:113px; 
		left:13px; 
		display:none;
	}
	.rememberMeCheckBox { /* check box image for 'remember me' */
		background:url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/box.png); 
		background-repeat:no-repeat; 
		margin-left:5px; 
		margin-top:10px; 
		padding-bottom:5px;
	}
	.hiddenPopupCheckbox { /* actual checkbox that is hidden behind check box image */
		display:block; 
		opacity:0;
		filter: alpha(opacity=0); 
		height:15px; 
		width:15px;
	}
	#rememberMeLabel { /* label for 'remember me' check box */
		margin-left:33px; 
		margin-top:-20px; 
		font-size:.85em;
	}
	#userLoginButton { /* login/submit button */
		height:35px; 
	}
	.forgotPasswordLink { /* link to passwords/new -> send password reset instructions */
		font-size:.85em;
	}


	/** Org Account Request Popup **/
	.accountRequestTitle { /* title of popup */
		font-size:2em; 
		font-family:JosefinSlabRegular; 
		line-height:1.2em; 
		margin:10px;
	}
	.accountRequestBlurb { /* blurb describing popup */
		font-family:JosefinSlabRegular; 
		line-height:1.1em; 
		color:#68c2d8;
	}
	.accountRequestLeftColumnContainer { /* contains the left column of the popup */
		width:300px;
	}
	#request-right-column { /* contains the right column of the account request popup content */
		margin-left:300px; 
		margin-top:-317px; 
		padding-left:30px; 
		width:250px;
	}
	.accountRequestTextField { /* text fields for the account request */
		height:20px; 
		width:198px;
	}
	.accountRequestSelectDiv { /* div containing the select menu for country 
								NOTE: div is smaller on left/right sides to hide features of original select */
		position:absolute;
		top:92px; 
		height:30px; 
		width:198px; 
		overflow:hidden; 
		border-right:1px solid #575758; 
		border-left:1px solid #575758;
	}
	select.accountRequestSelect { /* actual select box */
		position:absolute; 
		border:1px solid #575758; 
		left:-5px; 
		width:225px; 
		height:30px; 
		background: url(https://s3-us-west-1.amazonaws.com/volunteervoice/images/arrowReviews.png) no-repeat right;
		background-color:white;
	}
	.accountRequestURLLabelDiv { /* label for url of organization's site */
		margin-top:50px;
	}
	.accountRequestRadioButtonsContainer { /* type of organization (VPO or CBO) radio buttons */
		margin-top:5px;
	}
	.accountRequestSubmitContainer { /* contains the submit button */
		margin-top:25px; 
		margin-left:205px;
	}
	.accountRequestSubmit { /* actual submit button */
		height:40px;
	}
	.accountRequestSelectOneBlurb { /* blurb indicating the org to select VPO or CBO for their type */
		float:right; 
		margin-right:50px; 
		margin-top:25px; 
		font-family:JosefinSlabRegular;
	}
	.accountRequestDividingLine { /* line dividing the left column and the right column of the popup */
		height:180px; 
		width:1px; 
		top:15px; 
		background-color: #575758; 
		position:absolute; 
		left:-10px;
	}

	</style>

</head>

<body>
	<div class="pageWrap">	<!-- page wrapper for sticky footer -->
		
		<!-- BEGIN HEADER -->
		<div class="container" id="header">
			<div class="row">
				<header class="header">
					
					<!--**********************************************************-->
					<!--*********************************************** FIRST ROW -->
					<!--**********************************************************-->
					
					<!--*********************************************** LEFT HEADER-->
					
					<!-- LOGO -->
					<!-- different spacing for logo if orange 'organizations' tab is present -->
					<% if !(current_user.nil? || current_organization_account.nil?)%>
					<div class="four columns headerLogoContainer">
						<a href="/">
							<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png" 
								 alt="VolunteerVoice International logo" name="logo" id="headerLogo">
						</a>
					</div>
					<% else %>
					<div class="four columns headerLogoContainer" id="headerLogoSignedOut">
						<a href="/">
							<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/logo.png"
							 	 alt="VolunteerVoice International logo" name="logo" id="headerLogo">
						</a>
					</div>
					<% end %>
					<!-- END LOGO -->
					
					
					
					
					
					<!--*********************************************** RIGHT HEADER-->

					<!-- TOP RIGHT-HAND BOXES: LOGIN & REGISTER or USERNAME & LOGOUT -->
					<!-- IF USER NOT SIGNED IN: "Login or Register" -->
					<% if !(user_signed_in?) && !(organization_account_signed_in?) %>			
					<div class="three columns loginContainer" id="loginOrRegisterContainer">
						<div class="row login">

							<!-- link to open login popup -->
							<a href="#login-box" class="login-window">LOGIN</a>
							<!-- end popup link -->

							or <a href= "/sign_up" class="register">REGISTER</a>
						</div><!-- end row login -->
					</div><!-- end loginContainer -->
					<% else %>

					<!-- IF USER IS SIGNED IN: username:{link to profile} or Logout -->
					<!-- IF ORG IS SIGNED IN: org name:{link to profile} or Logout -->
					<div class="four columns loginContainer">
						<div class="row login">
							<!-- if user is logged in, display username & logout -->
							<% if user_signed_in?%>
							<!-- username link -->
							<a href="/users/profile"> 
								<!-- username -->
								<%=current_user.username%>
								
								<!-- unread messages count -->
								<% if current_user.unread_messages > 0 %>
								<span id="unreadMessagesCount">(<%=current_user.unread_messages%>)</span>
								<% end %><!-- end unread messages count -->
							</a><!-- end username link -->
							&nbsp;&nbsp;
							<!-- log out link -->
							<a href= "/signout" class="logout">LOGOUT</a>
							<!-- end log out link -->
							<% end %><!-- end if user_signed_in? -->
							
							
							<!-- if organization is logged in, display org name & logout -->
							<% if organization_account_signed_in?%>
							<!-- link to organization_account's profile page -->
							<a href="/organization_accounts/profile"> 
								<%= current_organization_account.organization.name %>
							</a><!-- end link to org_account profile -->
							&nbsp;&nbsp;
							<!-- link to log out -->
							<a href="/signout" class="logout">LOGOUT</a>
							<!-- end link to log out -->
							<% end %><!-- end if organization logged in -->

						</div><!-- end row login -->
					</div><!-- end loginContainer -->
					<% end %>
					
					<!-- END TOP RIGHT-HAND BOXES -->			


					
					
					
					
					
					<!--*********************************************** MIDDLE HEADER-->
						
					<!-- RED/ORANGE ORGANIZATION ACCOUNT LOGIN/REQUEST BOX (image) -->			
					<% if !(user_signed_in?) && !(organization_account_signed_in?)%>
					<div class="four columns loginContainer" id="orgLogin">
						<div class="row orgLogin" align="right">
							<ul>
								<li>
									<p id="orgLogin-image">
										<!-- red/orange org account image -->
										<img 
src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/OrgLoginTabRedzz.png" onclick="show_org_drop();">
										<!-- end org account image -->
									</p> 
									
									<!-- org account drop down menu -->
									<div>
										<ul id="orgLoginBox">
											<li><a href="#org-login-box" class="org-login-window">Login</a></li>
											<li><a href="#request-box" class="request-window">Make a Profile</a></li>
										</ul>
									</div><!-- end drop down menu -->
								</li>
							</ul>
						</div><!-- end row orgLogin -->
					</div><!-- end loginContainer -->
					<% end %>
					<!-- END ORGANIZATION ACCOUNT LOGIN BOX -->
					
					
					
					
					
					<!--*********************************************** MIDDLE (ADMIN) HEADER-->

					<!-- ADMIN NAVIGATION DROP-DOWN MENU -->			
					<% if user_signed_in? && current_user.admin?%>

					<div class="four columns adminContainer" id="adminNav">
						<div class="row adminLinks">
							<ul>
								<li>
									<!-- Title of drop down -->
									<p class="adminLinksTitle">Admin Links</p>
									
									<!-- drop down menu content -->
									<div>
										<ul>
											<li><a href="/blog_posts/new">New Blog Post</a></li>
											<li><a href="/organizations/new">New Organization</a></li>
											<li><a href="/programs/new">New Program</a></li>
											<li><a href="/organizations">All Organizations</a></li>
											<li><a href="/feedbacks">All Feedbacks</a></li>
											<li><a href="/flags">All Flags</a></li>
											<li><a href="/messages">All Messages</a></li>
											<li><a href="/reviews">All Reviews</a></li>
											<li><a href="/new_reviews">All New Reviews</a></li>
											<li><a href="/users">All Users</a></li>
											<li><a href="/searches">All Searches</a></li>
											<li><a href="/organization_accounts">All Org Accounts</a></li>
										</ul>
									</div><!-- end drop down menu content -->
								</li>
							</ul>

						</div><!-- end row adminLinks -->
					</div><!-- end row adminContainer -->		
					<% end %><!-- end admin logged in check -->
					<!-- END ADMIN NAVIGATION DROP-DOWN MENU -->
					
					
					
					<!--***********************************************************-->
					<!--*********************************************** SECOND ROW -->
					<!--***********************************************************-->
					
					
					<!--*********************************************** RIGHT SECOND ROW-->

					<!-- SEARCH BOX -->			
					<div class="six columns searchContainer">
						<!-- search form -->
						<% @search = Search.new%>
						<%= form_for @search do |f|%>
						
						<!-- magnifying glass search/submit button -->
						<div class="magGlassSearchButton">
							<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/magGlass.png", :style => "margin-bottom:-57px", :id =>"searchbutton", :onmousedown => "this.className = 'shadowed'", :onmouseup => "this.className = 'nothing'"%>
						</div><!-- end mag glass button -->
						
						<!-- search bar -->
						<div id="searchDiv">
							<input type="text" name="search[keywords]" id="searchfield">
						</div><!-- end search bar -->
						
						<% end %><!-- end search form -->

					</div><!-- END SEARCH BOX -->
					
				</header>
			</div>						
		</div><!-- END HEADER -->
			


		<!--**********************************************************-->
		<!--*********************************************** THIRD ROW -->
		<!--**********************************************************-->


		<!--*********************************************** GLOBAL NAV-->


		<!-- GLOBAL NAVIGATION -->

		<div class="container" id="globalNav">
			<div class="row">
				<!-- gray horizontal navigation bar -->
				<nav class="nav" id="navBar">
					<ul>
						<!-- navigation bar items -->
						
						<!-- HOME -->
						<li class="navs">
							<a href="/">home</a>
						</li>
						
						<!-- FIND A PROJECT (& DROP DOWN) -->
						<li class="navs" id="findProgramNav">
							<a id="shower" onclick="show_menu();">find a project</a>
							<!-- drop down menu -->
							<div class="findProgramDropDown">
								<ul id="program_drop_down">
									<!-- drop down menu items: -->
									<li class="navs"><a href="/searches/program_browse">projects by subject</a></li>
									<li class="navs"><a href="/searches/places">projects by location</a></li>
									<li class="navs"><a href="/searches/search_machine">use advanced search</a></li>	
								</ul>
							</div>
						</li>
						<!-- END FIND A PROJECT -->
						
						<!-- WRITE A REVIEW -->
						<li class="navs">
							<a href="/reviews/new">write a review</a>
						</li>
						
						<!-- RESOURCES -->
						<li class="navs">
							<a href= "/blog_posts/resources">resources</a>
						</li>
					</ul><!-- end navigation bar items -->

					<!-- div that holds the gray background color for navigation bar -->
					<div class="dropdown_background"></div>

				</nav>
			</div><!-- END ROW -->
		</div><!--END GLOBAL NAVIGATION-->	


		<!-- ******************************* -->
		<!-- YEILD CURRENT PAGE DATA/STUFF -->
		<%= yield%>
		<!-- END YEILD -->
		<!-- ******************************* -->

		<div class="push"></div> <!-- for sticky footer -->
		
	</div><!-- END PAGEWRAP -->




	<!-- FOOTER -->
	<div class="container" id="footer">
		<div class="row">
			<footer class="footer">
				
				<!-- LEFT MOST COLUMN (More On Us) -->
				<div class="three columns">
					<article class="footerNav">
						<h4 class="moreOnUsTitle">More on us...</h4>
						<ul class="footerMoreOnUsLinks">
							<li><%= link_to "About Us", "/pages/about"%></li>
							<li><%= link_to "Contact Us", "/contacts/new"%></li>
							<li><%= link_to "Terms of Use", "/pages/terms"%></li>
							<li><%= link_to "Privacy Policy", "/pages/privacy"%></li>
							<li><a href="/pages/faq">FAQ</a></li>
						</ul>
					</article>
				</div>
				<!-- END LEFT MOST COLUMN -->

				<!-- MIDDLE COLUMN (Social Icons/Links) -->
				<div class="six columns" align="center">
					<article class="spreadWord">
						<!-- "spread the word" text -->
						<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/spreadTheWord.png" alt="Help Spread The Word" width="300px"><!-- end spread word text -->
						
						<!-- begin social links list of icons/links -->
						<ul>
							<!-- FACEBOOK -->
							<li class="socialLinkFirst">
								<a href="http://www.facebook.com/pages/VolunteerVoice-International/309769649039582" target="_blank">
									<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/facebook.png" class="socialLinkImage" alt="VolunteerVoice Facebook">
							</li><!-- END FACEBOOK -->
							
							<!-- TWITTER -->
							<li class="socialLink">
								<a href="https://twitter.com/VolunteerVIntl" target="_blank">
									<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/twitter.png" class="socialLinkImage" alt="VolunteerVoice Twitter">
								</a>
							</li><!-- END TWITTER -->
							
							<!-- GOOGLE+-->
							<li class="socialLink">
								<a href="https://plus.google.com/b/107473193115458585770/107473193115458585770/posts" target="_blank">
									<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/google.png" class="socialLinkImage" alt="VolunteerVoice Google+">
								</a>
							</li><!-- END GOOGLE+-->
							
							<!-- RSS -->
							<li class="socialLink">
								<img src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/rss.png" class="socialLinkImage" alt="VolunteerVoice RSS">
							</li><!-- END RSS -->
						</ul><!-- end list of icons -->

					</article><!-- end spreadWord -->
				</div><!-- end six columns -->
				<!-- END MIDDLE COLUMN -->

				<!-- RIGHT MOST COLUMN (Donate box) -->
				<div class="three columns">
					<article class="ourCommunity" align="right">
						<div class="fundCause">
							Fund the cause!
							<br>
							<img src="/assets/DonateButton.png" id="donateButton">
							<br>
							And give a little <br>LOVE
						</div>
					</article>
				</div>
				<!-- END RIGHT MOST COLUMN -->


				<!-- ANNA's COPYRIGHT MESSAGE -->
				<div class="row">
					<div class="twelve columns">
						<article class="copyright">

							<p><small>Copyright 2012 by VolunteerVoice International. All rights reserved. Site design by Anna Smith from <a href="www.secretsnacking.com">Secret Snacking Media</a>.</small></p>

						</article>
					</div>
				</div>
				<!-- END ANNA -->

			</footer>
		</div>
	</div><!-- END FOOTER -->

</body>

</html>





<!--****************-->
<!--- POPUP PLUGINS -->
<!--****************-->


<!-- User Login Popup -->
<div id="login-box" class="login-popup">
	<!-- Close button -->
	<a href="#" class="close">
		<div class="close_image"></div>
	</a><!-- end close button -->
	
	<!-- form for user session -->
	<%= form_for("user", :url => user_session_path) do |f| %>
	
	<!-- Login (email/username) field -->
	<div class="popupFieldLabel">Email or Username:<br />
		<%= f.text_field :login, :class => "popupTextField"%>
	</div><!-- end login field -->
	
	<br />

	<!-- Password field -->
	<div class="popupFieldLabel">Password:<br />
		<%= f.password_field :password, :class => "popupTextField"%>
	</div><!-- end password field -->

	<!-- BEGIN CHECK BOX/REMEMBER ME -->
	
	<!-- check mark image -->
	<image id="checkBefore2" 
		   class="rememberMeCheckMark" 
		   src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" 
		   onclick="beforeCheck2()" />
	<!-- end check mark image -->
	
	<!-- check box (actual check box is hidden. div background is image of a check box)-->
	<div class="rememberMeCheckBox" >
		<%= f.check_box :remember_me, 
						:onclick => "$(beforeCheck2())", 
						:class =>"hiddenPopupCheckbox"%>
	</div><!-- end check box -->
	
	<!-- remember me label -->
	<div id="rememberMeLabel"> Remember me</div>
	
	<!-- END CHECK BOX/REMEMBER ME -->
	
	<br />

	<!-- login/submit button -->
	<div align="center">
	<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/login.png", 
		:id => "userLoginButton", 
		:onmousedown => "this.className = 'shadowed'", 
		:onmouseup => "this.className = 'nothing'"%>
	</div><!-- end login/submit button -->
	
	<br />

	<!-- "forgot your password?" link -->
	<a class="forgotPasswordLink" href="/users/password/new">Forgot your password?</a>
	<%end%>	<!-- end form -->
				
				
</div><!-- End User Login Popup -->




<!-- Org Login Popup -->	
<div id="org-login-box" class="org-login-popup">
	<!-- Close button -->
	<a href="#" class="close">
		<div class="close_image"></div>
	</a><!-- end close button -->
	
	<!-- form for organization account session -->
	<%= form_for("organization_account", :url => organization_account_session_path) do |f| %>
	
	<!-- Login (email/username) field -->
	<div class="popupFieldLabel">Email or Username:<br />
		<%= f.text_field :login, :class => "popupTextField"%>
	</div><!-- end login field -->
	
	<br />

	<!-- Password field -->
	<div class="popupFieldLabel">Password:<br />
		<%= f.password_field :password, :class => "popupTextField"%>
	</div><!-- end password field -->

	<!-- BEGIN CHECK BOX/REMEMBER ME -->
	
	<!-- check mark image -->
	<image class="rememberMeCheckMark" 
		   id="checkBefore3" 
		   src="https://s3-us-west-1.amazonaws.com/volunteervoice/images/checkmark.png" 
		   onclick="beforeCheck3()" /><!-- end check mark image -->
		
	<!-- check box (actual check box is hidden. div background is image of a check box)-->
	<div class="rememberMeCheckBox">
		<%= f.check_box :remember_me, 
						:onclick => "$(beforeCheck3())", 
						:class =>"hiddenPopupCheckbox"%>
	</div><!-- end check box -->
	
	<!-- remember me label -->
	<div id="rememberMeLabel"> Remember me</div>
	
	<br />
	<!-- END CHECK BOX/REMEMBER ME -->

	<!-- login/submit button -->			
	<div align="center">
		<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/login.png", 
			:style => "height:35px; border-radius:10px", 
			:onmousedown => "this.className = 'shadowed'", 
			:onmouseup => "this.className = 'nothing'"%>
	</div><!-- end login/submit button -->
	
	<br />

	<!-- "forgot your password?" link -->
	<a class="forgotPassword forgotPasswordLink" href="/organization_accounts/password/new">
		Forgot your password?
	</a>
	<%end%><!-- end form -->
	
	
</div><!-- End Org Login Popup -->





<!-- Org Request an Account Popup -->	
<div id="request-box" class="request-popup">
	<!-- Close button -->
	<a href="#" class="close">
		<div class="close_image"></div>
	</a><!-- end close button -->
	
	<!-- preparing for account request form -->
	<% @contact = Contact.new %>
	
	<!-- popup title -->
	<p class="accountRequestTitle" align="center">Account Request</p>
	
	<!-- popup blurb -->
	<p class="accountRequestBlurb">Please complete all fields</p>
	
	<!-- form for account request 
		Note: form sends a "contact_us" email to admin with request information -->
	<%= form_for @contact do |f| %>
	
	<!-- popup left hand column -->
	<div class="five columns" class="accountRequestLeftColumnContainer">
		
		<!-- organization's name field -->
		<div>
			<%= f.label :organization_name, "Organization Name" %>
			<%= f.text_field :organization_name, :class => "accountRequestTextField" %>
		</div><!-- end organization name field -->
		
		<br />
		
		<!-- country select field -->
		<div>
			<%= f.label :country %>
			<div class="select-div accountRequestSelectDiv">
				
				<!-- actual select country box -->
				<select class="accountRequestSelect" id="contact_country" name="contact[country]">
					<option value=""> Select a Country</option>
					<% THECOUNTRIES.keys.each do |f| %>
					<option value="<%=f%>"><%= THECOUNTRIES[f]%></option>
					<% end %>
				</select><!-- end select box -->
				
			</div><!-- end select-div -->
		</div><!-- end country select field -->
			
		<!--url of organization's site field -->
		<div class="accountRequestURLLabelDiv">
			<%= f.label "Website URL" %>
			<%= f.text_field :organization_url, :class => "accountRequestTextField" %>
		</div><!-- end url field -->
		
		<br />
		
		<!-- is the organization already in our database field -->
		<div class="accountRequestRadioButtonsContainer">
			<%= f.radio_button :has_profile, :value => "Has profile needs access."%> I have a profile already, but need access. <br />
			<%= f.radio_button :has_profile, :value => "Needs profile and access."%> I don't have a profile, please make me one! <br />
		</div><!-- end already field -->

		<!-- submit account request button -->
		<div class="accountRequestSubmitContainer">
			<%= image_submit_tag "https://s3-us-west-1.amazonaws.com/volunteervoice/images/submitGreen.png", 
				:class =>"accountRequestSubmit", 
				:onmousedown => "this.className = 'shadowed'", 
				:onmouseup => "this.className = 'nothing'"%>
		</div><!-- end submit button -->

	</div><!-- end left column -->
	
	
	<!-- popup right hand column -->
	<div class="five columns" id="request-right-column">
		
		<!-- main contact's name field -->
		<div>
			<%= f.label "Main Contact (First and Last Name)" %>
			<%= f.text_field :main_contact, :class =>"accountRequestTextField"%>
		</div><!--end main contact's name field -->
		
		<br />

		<!-- main contact's position with company/organization -->
		<div>
			<%= f.label "Contact's Position at Company" %>
			<%= f.text_field :position_of_contact, :class =>"accountRequestTextField"%>
		</div><!-- end main contact's position -->
		
		<br />

		<!-- main contact's email -->
		<div>
			<%= f.label "Contact Email"%>
			<%= f.text_field :contact_email, :class =>"accountRequestTextField" %>
		</div><!-- end main contact's email -->

		<!-- label for radio buttons for whether your org 
					already has a profile in our database -->
		<div class="accountRequestSelectOneBlurb">
			<!-- << arrow -->
			&lt;&lt;&nbsp;&nbsp; 
			
			Select one of these
		</div><!-- end label for radio buttons -->

		<!-- line dividing left column and right column in popup -->
		<div class="accountRequestDividingLine"></div>

		<!-- hidden field determining what VVI email to send the contact to -->
		<%= f.hidden_field :to_whom, :value => "request"%>
		<% end %><!-- end form -->
	</div><!-- end right column -->
	
</div><!-- End Org Request an Account Popup -->


<!--for HTML5 syntax in IE-->
<script>
document.createElement('header');
document.createElement('footer');
document.createElement('nav');
document.createElement('article');
document.createElement('aside');
document.createElement('section');
</script>

<script type="text/javascript">
// facebook box plugin
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk')
);


//Login Window Jquery
$(document).ready(function() {


	$('a.login-window').click(function() {

		//Getting the variable's value from a link 
		var termsBox = $(this).attr('href');

		//Fade in the Popup
		$(termsBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(termsBox).height() + 24) / 2; 
		var popMargLeft = ($(termsBox).width() + 24) / 2; 

		$(termsBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('#mask').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#login-box').fadeOut(300);
		$('#mask').remove();
		return false;
	});
	$('a.close').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#login-box').fadeOut(300);
		$('#mask').remove(); 
		return false;
	});


	//Account Request JQuery
	$('a.request-window').click(function() {

		//Getting the variable's value from a link 
		var termsBox = $(this).attr('href');

		//Fade in the Popup
		$(termsBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(termsBox).height() + 24) / 2; 
		var popMargLeft = ($(termsBox).width() + 24) / 2; 

		$(termsBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('#mask').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#request-box').fadeOut(300);
		$('#mask').remove();
		return false;
	});
	$('a.close').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#request-box').fadeOut(300);
		$('#mask').remove(); 
		return false;
	});


	//Org Login Window Jquery
	$('a.org-login-window').click(function() {

		//Getting the variable's value from a link 
		var termsBox = $(this).attr('href');

		//Fade in the Popup
		$(termsBox).fadeIn(300);

		//Set the center alignment padding + border see css style
		var popMargTop = ($(termsBox).height() + 24) / 2; 
		var popMargLeft = ($(termsBox).width() + 24) / 2; 

		$(termsBox).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});

		// Add the mask to body
		$('body').append('<div id="mask" style="display:block; opacity:.5; filter: alpha(opacity=50);"></div>');
		$('#mask').fadeIn(300);

		return false;
	});

	// When clicking on the button close or the mask layer the popup closed
	$('a.close', '#mask').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#org-login-box').fadeOut(300);
		$('#mask').remove();  
		return false;
	});
	$('a.close').live('click', function() { 
		$('#mask').fadeOut(300);
		$('#org-login-box').fadeOut(300);
		$('#mask').remove(); 
		return false;
	});



	////BROWSER SNIFFING!!! AAHH!!!!
	////// some things looked funky in different browsers

	//Firefox - account request's right column is too low
	if ( $.browser.mozilla == true ) {
		$("#request-right-column").css("margin-top", "-333px");
	}

	//Opera - select box would not render formatting, so took it out
	if ($.browser.opera) {
		$(".select-div").css("border", "none");
		$(".select-div").css("overflow", "visible");				
	}

	//Android - org's login image is too low & find a program dropDown is too high
	var ua = navigator.userAgent.toLowerCase();
	var isAndroid = ua.indexOf("android") > -1;
	if (isAndroid) {
		$("#orgLogin-image").css("margin-top", "-15px");
		$("#program_drop_down").css("top", "223px");
	}

	//iOS - find a program dropDown is too high
	var agentID = ua.match(/(iphone|ipod|ipad)/);
	if (agentID) {
		$("#program_drop_down").css("top", "183px");
	}

});

//User Login Remember me checkbox toggle if image is clicked
function beforeCheck2() {
	$('#checkBefore2').toggle();
}

//Org Account Login Remember me checkbox toggle if image is clicked
function beforeCheck3() {
	$('#checkBefore3').toggle();
}

//For touchscreens - show drop downs on click instead of hover
function show_menu() {
	if ($("#program_drop_down").css("display") == "block") {
		$("#program_drop_down").css("display", "none");
	} else {
		$("#program_drop_down").css("display", "block");
	}
}

//For touchscreens - shows the drop down menu for orange organizations block on click instead of hover
function show_org_drop() {
	if ($("#drop_org").css("display") == "block") {
		$("#drop_org").css("display", "none");
	} else {
		$("#drop_org").css("display", "block");
	}
}
</script>

